[2021-04-16 02:11] wenxin-01 commented on #1766
issue fixed

[2021-04-16 02:11] #1766 closed

[2021-04-16 03:02] yuswift opened #1800 "user with `workspace-self-provisioner` permission can not create alert policies"
**General remarks**

**Describe the bug**

![1618541981227](https://user-images.githubusercontent.com/37265389/114965423-21459c00-9ea3-11eb-9e77-4e06dab61e36.jpg)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:latest
**Expected behavior**
There should be a button for the user to create alert policies.

[2021-04-16 03:03] yuswift commented on #1800
/assign @harrisonliu5
/milestone 3.1.0

[2021-04-16 07:17] benjaminhuo commented on #1619
/close

[2021-04-16 07:17] #1619 closed

[2021-04-19 02:42] harrisonliu5 commented on #1800
/kind need-to-verify

[2021-04-19 06:05] liuyp2018 commented on #1666
/remove-kind priority/low
/priority high

[2021-04-19 09:20] JohnNiang opened #1810 "Stage agent label is reset while drawer is blur in pipeline graphic editor"
**Describe the bug**

Stage agent label is reset while drawer is blur in pipeline graphical interface.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

1 master: 4c/8g
1 node: 4c/8g

**To Reproduce**

[2021-04-19 09:20] JohnNiang commented on #1810
/priority medium
/area devops

[2021-04-19 13:31] wenxin-01 opened #1813 "The permissions list of 'Workspace Setting' is wrong"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `dev:latest`

**Preset conditions**
there is a workspace named 'test'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'test'
2. Click on 'workspace setting'
3. Click on 'Workspace Roles'
4. click on 'create'
5. click on 'Edit Permissions' after input name
6. clcik on 'Workspace Settings'

**Expected behavior**
there are 'v

[2021-04-19 14:28] zheng1 opened #1815 "application template and repo status bouncing"
**What would you like to be added**:
1. Its status should be bouncing in yellow when the application template is installing and upgrading
2. Its status should be bouncing in yellow when the repo is syncing

https://user-images.githubusercontent.com/4156721/115252493-1a967d80-a15e-11eb-963f-587114728ff0.mov

https://user-images.githubusercontent.com/4156721/115252581-2bdf8a00-a15e-11eb-83c2-345d779

[2021-04-20 03:51] junotx opened #1816 "namespaced_resources_filter param should not be used in namespace-level monitoring apis"
**Describe the bug**

`namespaced_resources_filter` is not supported for the namespace-level monitoring apis, please use `resources_filter` instead.

![image](https://user-images.githubusercontent.com/49136171/115334507-186c0780-a1ce-11eb-98e5-7bc2d849cf6e.png)

/area monitoring
/priority high

[2021-04-20 03:53] junotx commented on #1816
/assign @harrisonliu5

[2021-04-20 06:02] #1815 closed

[2021-04-20 07:18] LinuxSuRen opened #1818 "The navigation button confused people due to the gray color"
**What would you like to be added**:
Set a common color of the clickable button on the Metering and Billing page. Please see the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/115353376-0351a180-a1eb-11eb-9b51-5b03b8b474c3.png)

**Why is this needed**:
As I mentioned in the title, the navigation button on the Metering and Billing page confused people due to the g

[2021-04-21 02:36] harrisonliu5 commented on #1816
/kind need-to-verify

[2021-04-21 02:47] junotx commented on #1816
verified

[2021-04-21 02:47] #1816 closed

[2021-04-21 03:32] zryfish opened #1824 "volume status icon is keeping blinking even in Bound status"
**Describe the bug**
Clusters Management -> Storages -> Volumes, the volume list status icon is keeping blinking even the volume is in status Bound. Please see following

https://user-images.githubusercontent.com/3326354/115492772-043f0d80-a295-11eb-9b5a-62e5acd06e85.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0-nightly20210420
Kubernetes: (If KubeSphere installer used, you can

[2021-04-21 03:50] wenxin-01 opened #1825 "Add cluster upgrade prompt information in metering and billing."
**Environment**
`dev:latest`

![image](https://user-images.githubusercontent.com/68640256/115493917-30f42480-a297-11eb-995a-774e64a1f559.png)
![image](https://user-images.githubusercontent.com/68640256/115493962-449f8b00-a297-11eb-8744-72a24204145d.png)

**Expected behavior**

For non-3.1 clusters, use the prompt information and identification in the figure below.
![image](https://user-images.gith

[2021-04-21 08:07] wenxin-01 opened #1827 "UI adjustment for Metering and Billing"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `dev:latest`

![image](https://user-images.githubusercontent.com/68640256/115518615-f8664200-a2ba-11eb-8869-8e93003c4ea3.png)

![image](https://user-images.githubusercontent.com/68640256/115518705-12a02000-a2bb-11eb-923f-971886555bf2.png)

/kind bug
/assign @harrisonliu5
/milestone 3.1.0
/priority low

[2021-04-21 09:57] Sherlock113 opened #1829 "the Alert Monitoring section is not available to project-regular"
For the same alerting policy, the Alert Monitoring section is not available to project-regular (`operator` role in the project) but admin can see it.

Environment: KubeSphere 3.1.0 latest

![Xnip2021-04-21_17-52-46](https://user-images.githubusercontent.com/65327072/115534886-d1b00780-a2ca-11eb-9acb-b35ab7098d7c.png)
<img width="1328" alt="Xnip2021-04-21_17-53-00" src="https://user-images.githubus

[2021-04-21 09:57] Sherlock113 commented on #1829
/assign @harrisonliu5
/cc @junotx

[2021-04-21 10:07] junotx commented on #1829
The api `/namespaces/{namespace}/targets/query` should be called to query expr for the alerting rules under the projects. A similar situation exists in the following page of one project. @harrisonliu5

![image](https://user-images.githubusercontent.com/49136171/115536095-fce72680-a2cb-11eb-8c5b-a5e4b2208ed5.png)

[2021-04-21 10:15] junotx commented on #1829
/area alerting
/priority high

[2021-04-21 10:17] junotx opened #1830 "screenshots of app template were still deleted when delete screenshots but not to save"
**Describe the bug**

Screenshots of app template were still deleted when edit template and click  "delete all" to delete screenshots but not to save

![image](https://user-images.githubusercontent.com/49136171/115532924-d378cb80-a2c8-11eb-8efb-9872c16cb0f3.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: latest(20210421)

**Expected behavior**

Screeshots should be deleted if and only

[2021-04-22 02:38] junotx opened #1832 "app template version was set to chinese and submitted successfully"
**Describe the bug**

set version to a chinese string when submit app template to review, and it can be submitted successfully

![image](https://user-images.githubusercontent.com/49136171/115647128-dd94db80-a355-11eb-877e-c732503b01bb.png)
![image](https://user-images.githubusercontent.com/49136171/115647170-f00f1500-a355-11eb-8ec2-0d8cfdf1cba1.png)

**Versions used(KubeSphere/Kubernetes)**

KubeS

[2021-04-22 07:27] junotx opened #1837 "display names of the alerting page in english are not correct"
**Describe the bug**

Please rename the display name **Type** to **Severity**,  and **Major** to **Error** in the following pages.
- alerting rule list page for cluster-level(including built-in rules) and project-level
![image](https://user-images.githubusercontent.com/49136171/115671452-1bf1c100-a37d-11eb-9f25-0a682dc0570b.png)
- add and edit popups for alerting rules
![image](https://user-images

[2021-04-22 07:27] harrisonliu5 commented on #1824
/kind need-to-verify

[2021-04-22 07:31] junotx commented on #1837
/unassign @harrisonliu5
/assign @Sherlock113

[2021-04-22 07:35] junotx commented on #1837
In addition, in the chinese pages corresponding to the above pages, please rename **告警类型** to **告警级别** @Sherlock113

[2021-04-22 08:13] #1837 closed

[2021-04-22 09:56] #1829 closed

[2021-04-23 02:11] zryfish commented on #1824
verified as fixed
/close

[2021-04-23 02:11] #1824 closed

[2021-04-23 02:44] junotx commented on #1638
This issue may be regressed by https://github.com/kubesphere/console/pull/1819.
Only in **the pod list page in one node**, use `namespaced_resources_filter` param instead of `resources_filter`.
Please fix it when you have time @harrisonliu5
/unassign @leoendless
/assign @harrisonliu5

[2021-04-23 03:15] junotx opened #1843 "search box for app store are not cleaned up when click x"
**Describe the bug**

1. click **X** after searching by keyword `om`
![image](https://user-images.githubusercontent.com/49136171/115812274-b6a4db00-a423-11eb-8a98-e3ce25d248e5.png)
2. content in seach box are not cleaned up although the list is refreshed
![image](https://user-images.githubusercontent.com/49136171/115812372-d5a36d00-a423-11eb-9030-7158fc5f30fe.png)
3. search can not be finished whe

[2021-04-23 03:22] zryfish commented on #1843
/priority medium

[2021-04-23 07:18] TinaSprunt opened #1844 "After creating a long user name in KubeSphere 3.0, deleting the user will cause the system to crash."
**General remarks**

KubeSphere 3.0 installed with ks-installer,after creating a long user name in KubeSphere 3.0, deleting the user will cause the system to crash.

**Describe the bug**

The back-end code of this issue is being repaired,details about:

[#3796](https://github.com/kubesphere/kubesphere/issues/3796)
[#3784](https://github.com/kubesphere/kubesphere/issues/3784)

![2222](https://user-

[2021-04-23 10:23] junotx opened #1845 "legends not show for monitoring dashboard chart"
**Describe the bug**

The legends not show below the chart but they exists in the response data

![image](https://user-images.githubusercontent.com/49136171/115857601-744dbf00-a460-11eb-9bfc-46939561ce56.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: latest(20210423)
Kubernetes: v1.20.4

**Environment**

allinone: 8cpu/16g

**Expected behavior**

The legends below the chart should sho

[2021-04-23 10:54] junotx commented on #1845
Please ignoring this issue. The metric name and labels did not show because i renamed the legend
![image](https://user-images.githubusercontent.com/49136171/115861156-0788f380-a465-11eb-8b11-a468313bb077.png)

[2021-04-23 10:54] #1845 closed

[2021-04-25 04:04] junotx opened #1847 "app template review list has more entries than limit"
**Describe the bug**

It was more than the limt in the application template review list

![image](https://user-images.githubusercontent.com/49136171/115980124-dae7ef80-a5bc-11eb-8da4-f6b62b5013d5.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: latest(20210425)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the detail page of  app template
2. Submit for review and then canc

[2021-04-26 00:46] #1797 closed

[2021-04-26 10:39] wansir opened #1855 "Failed to logout from authorization server"
**Describe the bug**

Failed to logout from authorization server.

[code]

[2021-04-26 14:33] JohnNiang commented on #1794
The second checkbox doesn't work now as follows:

![image](https://user-images.githubusercontent.com/16865714/116100012-1d095200-a6df-11eb-812e-8b7e543469c4.png)

Please have an inspect of this issue @harrisonliu5

[2021-04-27 01:56] moweiwei opened #1856 "Why does the resource list call the api twice？"
The first call is in this.routing.history.subscribe => getData()
The second call is in initWebsocket of  withList.js file, => _getData

example:
url: /workspaces/xxx/projects
get namespaces

@leoendless  thanks

[2021-04-27 02:03] moweiwei commented on #1856
Is there any reason for this design？

[2021-04-27 04:14] harrisonliu5 commented on #1794
https://user-images.githubusercontent.com/17872673/116184230-ea4c7180-a751-11eb-9d9f-65bef11eccd7.mp4

[2021-04-27 04:15] harrisonliu5 commented on #1794
please give a environment for me

[2021-04-27 05:00] JohnNiang commented on #1794
Wait a second please. I'll build a latest environment for you.

[2021-04-27 06:19] wenxin-01 opened #1857 "When a user's global-role is 'users manager', the workspace permissions assigned to him do not work."
**Versions Used**
KubeSphere:  `dev:latest`

**Environment**
http://139.198.121.240:30888/

**Preset conditions**
There is a user 'test' with global-role 'user-manager' and workspace role 'wx-admin'

**How To Reproduce**
Steps to reproduce the behavior:
1. use user 'test' login ks
2. Click on 'Workbanch'

**Expected behavior**
see workspace 'ws'

**Actual behavior**
see 'Access Control'

https://u

[2021-04-27 06:42] JohnNiang commented on #1794
@harrisonliu5 Sorry about that. It works very well in latest environment.

[2021-04-27 06:42] #1794 closed

[2021-04-27 07:10] JohnNiang commented on #1810
/assing @harrisonliu5

[2021-04-27 07:11] JohnNiang commented on #1810
/assign @harrisonliu5

[2021-04-27 09:35] wenxin-01 opened #1858 "The 'Last Login' time is real time in workbench page."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `dev:latest`

**Expected behavior**

Last login time shows the `actual login time` of the user.

![image](https://user-images.githubusercontent.com/68640256/116219612-60ff6400-a77e-11eb-9109-b670797451f1.png)
![image](https://user-images.githubusercontent.com/68640256/116219683-71afda00-a77e-11eb-90ef-d7d630cd825d.png)

/priority low
/kind bug

[2021-04-28 03:01] wenxin-01 opened #1861 "Text modification."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `dev:latest`

![image](https://user-images.githubusercontent.com/68640256/116339785-a1a7bd80-a810-11eb-9311-02e69e6f7765.png)
![image](https://user-images.githubusercontent.com/68640256/116339953-ec293a00-a810-11eb-9bcd-8d4f7e889d4b.png)

/priority low
/kind bug
/assign @harrisonliu5

[2021-04-28 08:13] wenxin-01 opened #1862 "The cluster information of 'system-workspace' error in metering and billing."
**Describe the bug**
Single cluster environment with multi-cluster function enabled, the cluster information of 'system-workspace' error in metering and billing.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `dev:latest`
multi-cluster function enabled

**Environment**

http://139.198.121.240:30888/

**Preset conditions**
There is a user 'test' with global-role `workspaces-manager` or `work

[2021-04-29 08:35] liuyp2018 commented on #1708
/close

[2021-04-29 08:35] #1708 closed

[2021-04-29 08:41] wenxin-01 opened #1864 "The creation time of workspace changed after upgrade."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0 --> 3.1

**Preset conditions**
There is a workspace 'wx-ws' in ks3.0

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade ks3.0 to ks 3.1
2. view worksapce 'wx-ws' after upgrade complete

**Expected behavior**
The creation time of workspace did not changed

**Actual behavior**
The creation time of workspace changed

![image](https:/

[2021-04-29 08:44] liuyp2018 commented on #1703
/close

[2021-04-29 08:44] #1703 closed

[2021-04-29 08:49] liuyp2018 commented on #1689
/close

[2021-04-29 08:49] #1689 closed

[2021-04-29 08:53] liuyp2018 commented on #1674
/close

[2021-04-29 08:53] #1674 closed

[2021-04-29 08:55] liuyp2018 commented on #1656
/close

[2021-04-29 08:55] #1656 closed

[2021-04-29 08:55] liuyp2018 commented on #1654
/close

[2021-04-29 08:55] #1654 closed

[2021-04-29 08:56] liuyp2018 commented on #1653
/close

[2021-04-29 08:56] #1653 closed

[2021-04-29 08:56] liuyp2018 commented on #1652
/close

[2021-04-29 08:56] #1652 closed

[2021-04-29 08:57] liuyp2018 commented on #1650
/close

[2021-04-29 08:57] #1650 closed

[2021-04-29 08:57] liuyp2018 commented on #1641
/close

[2021-04-29 08:57] #1641 closed

[2021-04-29 08:58] liuyp2018 commented on #1621
/close

[2021-04-29 08:58] #1621 closed

[2021-04-29 08:59] liuyp2018 commented on #1607
/close

[2021-04-29 08:59] #1607 closed

[2021-04-29 09:15] RolandMa1986 commented on #1538
/close

[2021-04-29 09:15] #1538 closed

[2021-04-30 03:00] LinuxSuRen opened #1865 "Cannot select metric items on the custom monitoring page"
**General remarks**

**Describe the bug**
When I try to add metrics of argocd, it's not able to get all metrics due the UI issues.

![image](https://user-images.githubusercontent.com/1450685/116642887-6806bc00-a9a2-11eb-9a63-b861569b120e.png)

![image](https://user-images.githubusercontent.com/1450685/116642942-82d93080-a9a2-11eb-94a5-6dbe04e881b7.png)

**Versions used(KubeSphere/Kubernetes)**
Kub

[2021-04-30 03:01] LinuxSuRen commented on #1865
/priority high

[2021-05-06 03:19] wenxin-01 commented on #1813
/assign @harrisonliu5

[2021-05-08 10:30] SKII-SU opened #1871 "你好，console项目有相关的文档可以阅读吗？"
**What would you like to be added**:

**Why is this needed**:
我是一个来自中国的使用者，一直使用vue没有用过react，上个月接到公司的任务需要使用这个项目。在二次开发过程中遇到了很多的问题，最令人头疼的是为了保持ui风格的统一需要用到项目封装的组件，自己对react不太熟练，在使用项目内组件上遇到很多小问题，请问有没有类似ant Design类似的文档可以让我参考呢？

[2021-05-09 04:46] kangkang721 commented on #403
请问解决了么？我也遇到同样得问题了?

[2021-05-10 02:19] konglingjiao0414 commented on #403
当时这个问题，是因为前后端的版本不一致搞成的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/console"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月9日(星期天) 中午12:47
***@***.***&gt;;
***@***.******@***.***&gt;;

[2021-05-11 03:06] wenxin-01 opened #1876 "Deleted workspace roles can be used in 'Department Management'"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks3.1`

**Preset conditions**
There is a workspace role 'test-role' in workspace 'test'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'test'
2. Click on 'Workspace Settings'
3. Click on 'Department Management'
4. Click on 'Set Department'
5. Create a department named 'test-group' use workspace role 'test-role'
6. Delete

[2021-05-11 03:41] benjaminhuo commented on #793
The delete button should appear only if an svc is selected.
Editing an svc and then click update will deselect the svc

[2021-05-11 04:05] LinuxSuRen opened #1877 "The multi-branch Pipeline run API is incorrect"
**General remarks**

**Describe the bug**
As you can see, the API calling is incorrect.

The incorrect API address: `http://ip:port/kapis/devops.kubesphere.io/v1alpha2/devops/{devops}/pipelines/{pipeline}/runs`

The correct API address: `http://ip:port/kapis/devops.kubesphere.io/v1alpha2/devops/{devops}/pipelines/{pipeline}/branches/{branch}/runs`

![image](https://user-images.githubusercontent.co

[2021-05-11 04:44] LinuxSuRen commented on #1877
What makes me feel confused is that GitHub multi-branch Pipeline is fine.

[2021-05-11 06:25] LinuxSuRen opened #1878 "Add support to filter branch name for Gitlab multi-branch Pipeline"
**What would you like to be added**:
As you can see the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/117767764-fc570580-b263-11eb-969c-397c7f596bda.png)

/area devops
/priority high

**Why is this needed**:
It's very useful when there're a lot of branches.

See also the original link https://kubesphere.com.cn/forum/d/4401-ks-v31gitlab

[2021-05-11 08:44] harrisonliu5 commented on #1843
https://user-images.githubusercontent.com/17872673/117786469-1bf82900-b278-11eb-9596-2ded6d2b8b39.mp4

@junotx

[2021-05-11 09:43] harrisonliu5 commented on #1639
[#1832](https://github.com/kubesphere/console/issues/1832)

[2021-05-11 09:49] wenxin-01 commented on #1864
It can't be repeated

/close

[2021-05-11 23:50] moliqingwa opened #1884 "How to specify the sub-path of console"
**What would you like to be added**:
While configuring my new kubesphere console setup, I had to spend some time figuring out how to get the kubesphere UI to correctly serve on a sub-path, e.g. example.com/kubeshpere/

**Why is this needed**:
Because we want to expose all console web UI to use one host address, Thanks anyway:)

[2021-05-12 01:00] calvinyv commented on #1871
refer to  https://design.kubesphere.io/ as a temporary solution，also https://github.com/kube-design is under initialization stage,  the community is planning to provide similar website like ant.design.

[2021-05-12 01:02] LinuxSuRen commented on #1871
/retitle Is there any design document for the front-end?

[2021-05-12 06:37] harrisonliu5 commented on #1858
/kind need-to-verify

[2021-05-12 07:16] harrisonliu5 commented on #1813
`kapis/iam.kubesphere.io/v1alpha2/workspaces/testliu/workspaceroles?label=iam.kubesphere.io/role-template=true`

there is two 'Workspace Setting' return from this API.

/assign @wansir

[2021-05-12 07:35] harrisonliu5 commented on #1782
The condition for displaying tracing is that the cluster needs to enable the logging module。

![image](https://user-images.githubusercontent.com/17872673/117936623-a8b5ec00-b337-11eb-9b56-f5afee8873ad.png)

@zackzhangkai

[2021-05-12 07:42] harrisonliu5 commented on #1832
/kind need-to-verify

[2021-05-12 08:28] harrisonliu5 commented on #1383
#1858

[2021-05-12 08:30] harrisonliu5 commented on #1795
/kind need-to-verify

[2021-05-12 08:54] harrisonliu5 commented on #1810
This problem is not reproduced in the current console environment @JohnNiang

[2021-05-12 08:58] JohnNiang commented on #1810
1. Change stage agent label:

![image](https://user-images.githubusercontent.com/16865714/117947731-11569600-b343-11eb-9c76-db7dd6b54b81.png)

2. Blur (Do not click confirm button) the drawer, and then check the label:

![image](https://user-images.githubusercontent.com/16865714/117947927-3ba85380-b343-11eb-8785-66085126779b.png)

[2021-05-12 08:58] harrisonliu5 commented on #1856
After the operation of the data like create, delete, etc. the data through the WebSocket to refresh.

[2021-05-12 09:05] harrisonliu5 commented on #1847
This problem is not reproduced in the current console environment @junotx

[2021-05-12 09:07] harrisonliu5 commented on #1810
sorry, I sent a comment message in the wrong place.

[2021-05-12 23:43] zackzhangkai commented on #1782
Just take servicemesh as the condition, no need to verify logging.
@harrisonliu5

[2021-05-13 02:04] tpiperatgod commented on #1795
![image](https://user-images.githubusercontent.com/2360535/118067101-7d340f80-b3d2-11eb-9f14-000f90f63f94.png)

It works!

[2021-05-13 02:04] #1795 closed

[2021-05-13 09:20] harrisonliu5 commented on #1861
/kind need-to-verify

[2021-05-14 04:18] fuchunlan commented on #793
/kind need-to-verify

[2021-05-14 05:34] #793 closed

[2021-05-14 08:20] harrisonliu5 commented on #1827
![image](https://user-images.githubusercontent.com/17872673/118242839-51974f00-b4d0-11eb-8562-b686cbac129c.png)

[2021-05-14 08:30] harrisonliu5 commented on #1827
![image](https://user-images.githubusercontent.com/17872673/118243939-98397900-b4d1-11eb-84e3-ef953f98acb0.png)

[2021-05-14 08:38] harrisonliu5 commented on #1825
![image](https://user-images.githubusercontent.com/17872673/118244956-c1a6d480-b4d2-11eb-824d-390af920cc87.png)

[2021-05-17 03:08] LinuxSuRen opened #1898 "Incorrect select items of multi-branch Pipeline Trusted User"
**Describe the bug**
As I mentioned in the title, please see the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/118427275-69a0e580-b6ff-11eb-8622-c2843fcbe0db.png)

/priority medium
/area devops
/milestone 3.1.1

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce th

[2021-05-17 04:46] #1543 closed

[2021-05-17 07:34] LinuxSuRen commented on #1877
I just tested it again. It always failed when you create a multi-branch (Gitlab or GitHub) that has the Pipeline parameters.

In case of anyone who wants to try it, you can use [this repo](https://github.com/devops-ws/learn-pipeline-java) with `Jenkinsfile-parameters.groovy`

[2021-05-17 08:50] harrisonliu5 commented on #1810
/kind need-to-verify

[2021-05-17 09:15] JohnNiang commented on #1810
/remove-kind need-to-verify
/close

[2021-05-17 09:15] #1810 closed

[2021-05-17 09:24] harrisonliu5 commented on #1898
https://user-images.githubusercontent.com/17872673/118465665-ae933f00-b734-11eb-9a44-25cd4fc23af5.mp4

[2021-05-17 09:58] fuchunlan commented on #1830
/assign @fuchunlan

[2021-05-17 15:06] JohnNiang opened #1903 "Cannot modify config inside config map detail"
**Describe the bug**
Cannot modify config inside config map detail

![image](https://user-images.githubusercontent.com/16865714/118511247-4bb99c00-b764-11eb-9e67-c8214113aad2.png)

[code]
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0

**Environment**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/8g
1 nodes: 4cpu/8g

(and other info are welcomed to hel

[2021-05-18 01:01] LinuxSuRen commented on #1898
https://user-images.githubusercontent.com/1450685/118574640-6f5a0200-b7b7-11eb-8b11-a092d57ad7eb.mp4

[2021-05-18 01:04] LinuxSuRen commented on #1898
https://user-images.githubusercontent.com/1450685/118574896-fdce8380-b7b7-11eb-9b19-963c7983c8cc.mp4

[2021-05-18 06:46] fuchunlan commented on #1830
/kind need-to-verify

[2021-05-18 07:35] JohnNiang opened #1907 "Content is reset while editing credential with kubeconfig type in DevOps project"
**Describe the bug**
Content is reset while editing credential with kubeconfig type in DevOps project.

![image](https://user-images.githubusercontent.com/16865714/118609683-8f0c1d00-b7ed-11eb-8c80-697cc505a608.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0

**Environment**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/8g
1 nodes: 4cpu/4g

(and o

[2021-05-18 07:35] JohnNiang commented on #1907
/assign @harrisonliu5

[2021-05-18 08:14] fuchunlan commented on #1865
/assign @fuchunlan

[2021-05-18 08:35] JohnNiang opened #1908 "`Build Environment` isn't set automatically in `Build a New Service from Source Code Repository`"
**Describe the bug**
`Build Environment` isn't set automatically in `Build a New Service from Source Code Repository` when I don't select it manually. However, It works after selecting manually.

![image](https://user-images.githubusercontent.com/16865714/118619272-03978980-b7f7-11eb-9ce5-7bbce6ec752a.png)

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSpher

[2021-05-18 15:10] JohnNiang commented on #1257
* Correct log format
![image](https://user-images.githubusercontent.com/16865714/118676591-1d07f800-b82e-11eb-83ef-9b9c7e5f1947.png)

* Log in container log window
![image](https://user-images.githubusercontent.com/16865714/118676666-2beeaa80-b82e-11eb-96fc-c083744fd765.png)

[2021-05-18 15:18] JohnNiang commented on #1257
/priority high

[2021-05-19 03:04] wenxin-01 opened #1910 "Can not set false in CRD."
**Environment**
`kubesphere3.1`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cluster 'default'
2. Click on 'CRDs'
3. Go to ClusterConfiguration detail page
4. Edit yaml
5. Modify any 'true' to 'false' or delete any 'false' and then input 'false'
6. Clcik on 'Update'

**Expected behavior**
Update successfully

**Actual behavior**
![image](https://user-images.githubusercontent.com/686

[2021-05-19 04:30] wenxin-01 commented on #1910
remove-assign xuliwenwenwen
/assign @harrisonliu5

[2021-05-19 04:48] wenxin-01 commented on #1910
/remove-assign xuliwenwenwen

[2021-05-19 04:58] wenxin-01 commented on #1910
/remove-assign @xuliwenwenwen

[2021-05-19 06:59] harrisonliu5 commented on #1910
/assign  @fuchunlan

[2021-05-19 10:31] JohnNiang commented on #1907
/close

[2021-05-20 01:54] fuchunlan commented on #1910
/kind need-to-verify

[2021-05-20 07:49] fuchunlan commented on #1903
/assign @fuchunlan

[2021-05-20 12:52] Caelebs commented on #93
nice

[2021-05-21 02:55] liuboaibc commented on #1908
/assign @liuboaibc

[2021-05-21 03:10] JohnNiang commented on #1877
I'm going to close this issue due to the [fix](https://github.com/kubesphere/console/pull/1900). Please feel free to reopen this issue if you have the same problem.

[2021-05-21 03:10] JohnNiang commented on #1877
/close

[2021-05-21 03:10] #1877 closed

[2021-05-21 07:44] calvinyv opened #1915 "No web terminal for the containers under system-workspace"
**General remarks**

**Describe the bug**
No web terminal for the containers under system-workspace

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'system-workspace', drill down to any container

**E

[2021-05-21 09:40] JohnNiang commented on #1908
/milestone 3.1.1

[2021-05-21 09:41] JohnNiang commented on #1908
/milestone v3.1.1

[2021-05-23 13:10] #1908 closed

[2021-05-23 13:35] JohnNiang commented on #1903
/close

[2021-05-23 13:35] #1903 closed

[2021-05-24 02:15] harrisonliu5 commented on #1898
/kind need-to-verify

[2021-05-24 02:18] harrisonliu5 commented on #1865
/kind need-to-verify

[2021-05-24 02:19] harrisonliu5 commented on #1825
/kind need-to-verify

[2021-05-24 02:32] harrisonliu5 commented on #1862
/kind need-to-verify

[2021-05-24 09:43] harrisonliu5 opened #1916 "Optimize the editing config yaml of resources in multi-cluster projects"
**What would you like to be added**:
Add 'Edit Config Template' in 'Application Workloads' and 'Volumes'.

**Why is this needed**:
Editing the configuration YAML of a single resource cannot be edited with a step-by-step visual configuration like a normal project.

- [x] Workloads    @xuliwenwenwen
- [x] Services       @harrisonliu5
- [x] Routes          @xuliwenwenwen
- [x] Volume         @fuchunl

[2021-05-26 06:16] harrisonliu5 commented on #1782
/kind need-to-verify

[2021-05-26 08:52] LinuxSuRen opened #1919 "Inconsistent button name in the ImageBuilder page"
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/1450685/119631285-50f0a800-be42-11eb-89d5-1501a7636f27.png)

/area devops
/priority high

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the ImageBui

[2021-05-26 09:18] zackzhangkai commented on #1782
verified.

[2021-05-26 09:18] #1782 closed

[2021-05-27 02:46] fuchunlan commented on #1915
/assign @fuchunlan

[2021-05-27 06:42] fuchunlan commented on #1919
/assign @fuchunlan

[2021-05-27 09:53] wanminny opened #1923 "yarn start error"
mac osx
➜  console git:(master) ✗ yarn -v
1.17.3
➜  console git:(master) ✗ node -v
v16.2.0
➜  console git:(master) ✗ npm -v
7.13.0
➜  console git:(master) ✗

yarn
➜  console git:(master) ✗ yarn
yarn install v1.17.3
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistenc

[2021-05-28 03:48] yuswift commented on #1800
/close
verifie

[2021-05-28 03:48] #1800 closed

[2021-05-28 03:48] yuswift commented on #1800
/milestone clear

[2021-05-28 05:58] wanminny commented on #1923
![image](https://user-images.githubusercontent.com/6701531/119937085-be284880-bfbc-11eb-855c-29849984500a.png)

[2021-05-28 06:01] wanminny commented on #1923
![image](https://user-images.githubusercontent.com/6701531/119937301-21b27600-bfbd-11eb-8cd8-72d66ad5d3d9.png)

[2021-05-29 09:30] wanminny commented on #1923
![image](https://user-images.githubusercontent.com/6701531/120065378-9e1f8480-c0a3-11eb-8105-3c81d95b77fb.png)

[2021-05-31 05:40] LinuxSuRen opened #1924 "Unable to get the node label list of member cluster"
**Describe the bug**
Having a multi-cluster environment. The node label list is empty when users try to create a Pipeline with graphic mode. The Pipeline belongs to a member cluster. As you can see below, the API request got a 404 response.

![image](https://user-images.githubusercontent.com/1450685/120144564-b82ca480-c214-11eb-9028-9d461843a11a.png)

According to my tests. The following API reque

[2021-05-31 05:44] LinuxSuRen commented on #1924
/cc @kubesphere/sig-devops

[2021-06-01 01:18] LinuxSuRen commented on #1924
hi @kubesphere/sig-console team, please take a look at this issue.

[2021-06-01 02:35] LiteSun commented on #1919
As #1922 is merged, This issue can be closed. cc @fuchunlan

[2021-06-01 02:38] fuchunlan commented on #1919
/kind need-to-verify

[2021-06-01 10:36] Code2Life opened #1926 "反馈一些个人的使用体验"
我是一个使用了Kubesphere几个月的用户，**Kubesphere的功能非常棒**，解决了我的很多问题，非常感谢这样的开源项目！另外，我在使用过程中想到了一些体验优化点，在这里反馈一下：

（我的使用场景主要是：提供给开发人员管理多个Kubernetes集群，方便开发环境的日常的开发测试工作）

前端：
1. 日志 和 终端 这两个按钮比较小，也有点隐蔽，没有label说明按钮功能，一些新用户看到图标不知道意思；
2. Pod状态Not Ready时，是开发最想要进去执行Shell命令来Debug的时候，但Not Ready Pod没有Terminal按钮，只能用kubectl工具直接执行kubectl exec来实现进入Not Ready Pod；
3. 从Workload跳到Pod，再跳到Container，需要层层点进去，步骤有点多。而且Deployment -> Replic

[2021-06-01 16:26] VioZhang commented on #1926
Thanks for your feedback and we will give serious thought to your advice. We are very grateful that more and more users put forward their proposals after experiensing the KubeSphere so that we could make our product better. But could you please transit your advice to English so that more friends at github could see or join our discussing? You can also move these advice on our Chinese community at

[2021-06-02 02:28] JohnNiang commented on #1257
And many redundant and unexpected blank lines may be included into the log content.

[2021-06-02 02:29] JohnNiang commented on #1257
/cc @kubesphere/sig-console

[2021-06-02 02:37] JohnNiang commented on #1257
/area console

[2021-06-03 03:29] wenxin-01 commented on #1924
If both host and member clusters have enabled `devops`,  this problem is not found, but only member cluster has enabled `devops`, which will cause this problem.

[2021-06-03 03:45] JohnNiang opened #1928 "Couldn't go back one page at pipeline detail page"
**Describe the bug**

Couldn't go back one page at pipeline detail page.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: latest-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example:
1 masters:  8cpu/16g

(and other info are welcomed to help us debugging)

**To Reproduce**
Steps to reproduce the behavi

[2021-06-03 05:56] LinuxSuRen commented on #1924
hi @wenxin-01 , thanks for the additional information.

[2021-06-03 07:07] harrisonliu5 commented on #1827
/kind need-to-verify

[2021-06-03 08:47] fuchunlan commented on #1915
/kind need-to-verify

[2021-06-03 09:57] JohnNiang commented on #1928
/cc @kubesphere/sig-console

[2021-06-04 02:37] fuchunlan commented on #1844
We can not type more than 32 characters in the username input box now, please check it.
![image](https://user-images.githubusercontent.com/63338728/120737199-385a4f00-c520-11eb-8287-55ded1d1c8b3.png)

[2021-06-04 02:47] fuchunlan commented on #1844
/assign @fuchunlan

[2021-06-05 04:14] JohnNiang opened #1930 "Cannot drag and drop tasks to sort in pipeline editor"
**Describe the bug**
I cannot drag and drop tasks to sort in pipeline editor.

![image](https://user-images.githubusercontent.com/16865714/120879606-3b743e80-c5f7-11eb-9f1b-3b8fe11ab250.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pipeline Editor'
2. Create some tasks
3. Try to drag and drop tasks to sort
4. No effec

[2021-06-05 04:15] JohnNiang commented on #1930
/cc @kubesphere/sig-console

[2021-06-07 02:36] harrisonliu5 commented on #1928
It would be more intuitive to illustrate this bug for a screenshot or short video, thanks.

[2021-06-07 03:16] JohnNiang commented on #1928
@harrisonliu5

This page won't be went back to `Pipeline List` page while I click the `Go back` button.

![image](https://user-images.githubusercontent.com/16865714/120954307-76a27900-c781-11eb-8d1e-1d0d75b51992.png)

[2021-06-07 07:04] LinuxSuRen commented on #1930
hi @harrisonliu5 , I don't know if the feature exists. I'd suggest turning this issue to be a feature request. Anyway, in my opinion, the incorrect description does not block anyone. So I prefer the priority of this issue is low.

[2021-06-07 08:08] #1924 closed

[2021-06-07 08:11] fuchunlan commented on #1735
/assign @fuchunlan

[2021-06-07 08:21] JohnNiang commented on #1930
@LinuxSuRen Here is a explanation about the feature facing performance issue: <https://github.com/kubesphere/console/pull/1931#issuecomment-855659642>.

[2021-06-07 08:59] #1930 closed

[2021-06-07 12:46] #1928 closed

[2021-06-07 12:59] JohnNiang commented on #1923
You nodejs version is too high, please use LTS nodejs instead.

[2021-06-07 13:19] JohnNiang commented on #1919
I've confirmed that the issue has been fixed by #1922.

[2021-06-07 13:20] JohnNiang commented on #1919
/remove-kind need-to-verify
/close

[2021-06-07 13:20] #1919 closed

[2021-06-08 02:51] fuchunlan commented on #1818
/assign @fuchunlan

[2021-06-08 09:24] wenxin-01 opened #1937 "Can not use ConfigMap or Secret in Environment Variables of 'Diff Settings'"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks-console: harrisonliu5/ks-console:fedEdit`

https://user-images.githubusercontent.com/68640256/121159631-ebf37400-c87d-11eb-899e-9c6187b9b906.mov

/kind bug
/assign @harrisonliu5
/priority medium

**Expected behavior**
You can select values after select ConfigMap or Secret.

[2021-06-08 09:57] wenxin-01 opened #1938 "Should not set resource-requests greater than resource-limits through 'Diff Settings'."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `ks-console: harrisonliu5/ks-console:fedEdit`

**Preset conditions**
There is a deployment named 'test' in `multi-project`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deployment 'test'
2. Click on 'more' and click on 'Edit Config Template'
3. Click on 'Diff Settings'
4. Click on 'container image'
5. Select anyone container and se

[2021-06-09 07:31] wenxin-01 opened #1942 "Remove 'service port' edit entry from deployment."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `ks-console: harrisonliu5/ks-console:fedEdit`

![image](https://user-images.githubusercontent.com/68640256/121319689-093c4700-c93f-11eb-9acb-7cec256a22dc.png)

![image](https://user-images.githubusercontent.com/68640256/121319842-2ec95080-c93f-11eb-96e2-7fa47b76e649.png)

/kind bug
/assign @harrisonliu5
/priority medium

[2021-06-09 08:15] wenxin-01 opened #1943 "Can not set internet access."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks-console: harrisonliu5/ks-console:fedEdit`

**Preset conditions**
There is a service 'nginx' and do not set internet access.

**Expected behavior**
![image](https://user-images.githubusercontent.com/68640256/121317468-e6a92e80-c93c-11eb-9151-600b639419b5.png)

**Actual behavior**
'Edit internet Access' `not worked` and after Click on 'diff s

[2021-06-10 03:32] #1844 closed

[2021-06-10 06:31] JohnNiang commented on #1257
/remove-priority high
/priority medium

[2021-06-10 06:38] harrisonliu5 commented on #1735
/kind need-to-verify

[2021-06-10 06:38] harrisonliu5 commented on #1383
/kind need-to-verify

[2021-06-10 06:41] harrisonliu5 commented on #1818
/kind need-to-verify

[2021-06-11 02:54] wenxin-01 commented on #1937
issue fixed `harrisonliu5/ks-console:fedEdit`

[2021-06-11 02:54] #1937 closed

[2021-06-11 03:06] wenxin-01 commented on #1943
issuse fixed `harrisonliu5/ks-console:fedEdit`

[2021-06-11 03:06] #1943 closed

[2021-06-11 06:30] wenxin-01 opened #1946 "In multi-cluster service, when the internet access of a node is edited, the internet access port of other nodes will also change."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks3.1`

**Expected behavior**
Some nodes of the service have been enabled Internet access

**Expected behavior**
Only the port of the edited node changes.

**Actual behavior**

https://user-images.githubusercontent.com/68640256/121640532-a2469b80-cac0-11eb-960f-f99001aa687a.mov

![image](https://user-images.githubusercontent.com/68640256/12164

[2021-06-11 08:36] JohnNiang commented on #1908
/milestone 3.1

[2021-06-11 08:59] JohnNiang commented on #1908
/milestone v3.1

[2021-06-15 02:21] wanminny commented on #1923
it is ok,done,thx.
you are a good boy.
perfect nice !

[2021-06-15 03:46] RolandMa1986 opened #1951 "DNS optimization"
**What would you like to be added**:
1. Use `ks-apiserver` Service Name directly instead of `ks-apiserver.kubesphere-system.svc` as API's URL.
2. Add a DNS cache plugin to caching the DNS results, or find a common way to caching the DNS results.

**Why is this needed**:
1. Currently NodeJs is used by ks-console to serve the web pages and at the same time it's also using the NodeJs to proxy `ks-api

[2021-06-15 03:46] RolandMa1986 commented on #1951
/good-first-issue

[2021-06-15 04:01] VioZhang commented on #1926
最后一个问题能描述的详细些吗，比如具体哪些组件？
Could you please describe the last issue in detail ?

[2021-06-15 08:36] Sherlock113 commented on #827
/cc @kubesphere/sig-docs

[2021-06-15 10:52] LinuxSuRen opened #1952 "Inconsistent image name validation when creating a new service from s2i"
**Describe the bug**

See from the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/122040339-40f93200-ce0a-11eb-8e56-3548ec177e80.png)

![image](https://user-images.githubusercontent.com/1450685/122040174-160ede00-ce0a-11eb-8c0d-0f2f5da36d29.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.1

**Environment**
This is not an environmental issue.

**To

[2021-06-15 11:00] LinuxSuRen commented on #1952
/priority medium

[2021-06-15 13:57] calvinyv commented on #1383
it's still the same problem on v3.1.0
/assign @zheng1 @harrisonliu5

[2021-06-16 02:19] wenxin-01 commented on #1942
issue fixed  `harrisonliu5/ks-console:fedEdit`

[2021-06-16 02:19] #1942 closed

[2021-06-16 02:27] wenxin-01 commented on #1938
issue fixed `harrisonliu5/ks-console:fedEdit`

[2021-06-16 02:27] #1938 closed

[2021-06-16 03:25] wenxin-01 commented on #1910
issue fixed `nightly-20210610`

[2021-06-16 03:25] #1910 closed

[2021-06-16 03:32] wenxin-01 commented on #1861
issue fixed `nightly-20210610`

[2021-06-16 03:32] #1861 closed

[2021-06-16 03:34] wenxin-01 commented on #1858
issue fixed `nightly-20210610`

[2021-06-16 03:38] wenxin-01 commented on #1825
issue fixed `ks3.1`

[2021-06-16 03:38] #1825 closed

[2021-06-16 03:45] wenxin-01 commented on #1827
Need to optimize

![image](https://user-images.githubusercontent.com/68640256/122154689-19e94180-ce98-11eb-97bc-d03c42ef83d8.png)

[2021-06-16 07:52] wenxin-01 opened #1960 "'Undo' and 'Cancel' not worked in container quota"
KubeSphere:  `ks-console: harrisonliu5/ks-console:fedEdit`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**

https://user-images.githubusercontent.com/68640256/122179858-78271c00-ceba-11eb-9ec4-afc2475b65f8.mov

![image](https://user-images.githubusercontent.com/68640256/122180238-d227e180-ceba-11eb-90f1-48ec8fa9a27d.png)

/kind bug
/assig

[2021-06-16 08:58] yuswift commented on #1960
/cc @harrisonliu5

[2021-06-17 02:50] dongxiaokui commented on #1923
win10
![image](https://user-images.githubusercontent.com/45056165/122323395-9728bb00-cf59-11eb-9c3a-994077363f6e.png)
what is this?
and
![image](https://user-images.githubusercontent.com/45056165/122323456-af98d580-cf59-11eb-904d-d4f6b0c4497b.png)
![image](https://user-images.githubusercontent.com/45056165/122323486-bcb5c480-cf59-11eb-929b-1796cab017fe.png)
单独启动可以
yarn start 报错

[2021-06-17 02:51] serenashe opened #1962 "Browser compatibility–Modules are not completely shown when zooming out using Safari"
**What would you like to be added**:
**Describe the bug**
**Steps**:
1. Log in to the console using **Safari**.
2. Go to **Cluster Management** or just randomly click a module on the upper left corner.
2. Zoom out the pages to the smallest.

**Expected results**:
The pages are normally shown with modules shown completely.

**Actual results**:
Some modules are only half shown and some descriptions

[2021-06-17 02:54] serenashe commented on #1962
kind/bug

[2021-06-17 03:00] serenashe commented on #1962
/remove-kind feature

[2021-06-17 03:25] dongxiaokui commented on #1923
Where is the another issue?

[2021-06-17 03:30] dongxiaokui commented on #1923
win10
![image](https://user-images.githubusercontent.com/45056165/122323395-9728bb00-cf59-11eb-9c3a-994077363f6e.png)
i dont know why
and
![image](https://user-images.githubusercontent.com/45056165/122323456-af98d580-cf59-11eb-904d-d4f6b0c4497b.png)
![image](https://user-images.githubusercontent.com/45056165/122323486-bcb5c480-cf59-11eb-929b-1796cab017fe.png)
Start the two commands separately to s

[2021-06-17 05:31] JohnNiang commented on #1923
Please rediect to <https://github.com/kubesphere/console/issues/new/choose>.

[2021-06-17 06:36] dongxiaokui opened #1963 "yarn start error"
consle: master
![image](https://user-images.githubusercontent.com/45056165/122344014-e8947280-cf78-11eb-9e31-5fbee97fcd7f.png)
yarn start get a error
but
if i use yarn dev:eclient  and with another terminal yarn dev:server
it is ok
![image](https://user-images.githubusercontent.com/45056165/122344210-1aa5d480-cf79-11eb-860d-e9ecd09269c8.png)
![image](https://user-images.githubusercontent.com/45056

[2021-06-17 06:38] dongxiaokui commented on #1923
ok

[2021-06-17 06:55] VioZhang opened #1964 "There is"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and

[2021-06-17 07:24] wenxin-01 commented on #1960
issue fixed `harrisonliu5/ks-console:fedEdit`

[2021-06-17 07:24] #1960 closed

[2021-06-17 07:32] harrisonliu5 commented on #1813
fixed by https://github.com/kubesphere/kubesphere/issues/3754

[2021-06-17 07:57] wenxin-01 opened #1966 "'service settings' not work in 'Diff Settings' of stateful service"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks-console: harrisonliu5/ks-console:fedEdit`

https://user-images.githubusercontent.com/68640256/122355443-7c1f7080-cf84-11eb-875e-6f65cd69f1f6.mov

/kind bug
/assign @harrisonliu5
/priority high

[2021-06-17 08:35] harrisonliu5 commented on #1946
/cc @yuswift

[2021-06-17 09:37] VioZhang commented on #1964
/assign @benjaminhuo

[2021-06-17 09:39] benjaminhuo commented on #1964
/assign @junotx
@junotx Is this by design?

[2021-06-17 14:35] yuswift commented on #1946
/assign

[2021-06-21 03:53] zheng1 commented on #1132
/unassign @leoendless

[2021-06-21 03:59] zheng1 commented on #365
/assign @viozhang

[2021-06-21 04:54] zryfish opened #1972 "Container log only showed the previous container logs, not current container's"
**Describe the bug**
In pod detail page, click into container details, view container log. It only showed the previous container log, the request like the following

[code]

the request parameter `previous=true` means to retrieve the previous container log.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**Expected behavior**
Shows the current container log

/kind bug

[2021-06-21 04:55] zryfish commented on #1972
/milestone v3.1

[2021-06-21 04:55] zryfish commented on #1972
/assign @harrisonliu5

[2021-06-21 06:24] calvinyv commented on #333
/needs-triage

[2021-06-21 06:28] ks-ci-bot opened #1985 "[release-3.1] fix: Deleted workspace roles can not be used in Department Management"
Manual cherrypick required.

#1899 failed to apply on top of branch "release-3.1":
[code]

[2021-06-21 06:36] ks-ci-bot opened #1991 "[release-3.1] fix: Modify the EditYaml module and EditBasicInfo module"
Manual cherrypick required.

#1912 failed to apply on top of branch "release-3.1":
[code]

[2021-06-21 06:36] ks-ci-bot opened #1992 "[release-3.1] fix: Remove the console error"
Manual cherrypick required.

#1913 failed to apply on top of branch "release-3.1":
[code]

[2021-06-21 09:30] XiaohuiSept commented on #333
**About this issue**
The variation of series is not clear because the Intervals of y-axis is relatively largre, so that the data fluctuates less obviously at different times.

**Suggestion**
Basing on the data range of the current monitoring data, we can select the appropriate data interval on the Y-axis to see a more obvious trend of data changes. The details of the optimisation can be discussed

[2021-06-21 09:34] calvinyv commented on #333
/cc sig-console

[2021-06-21 09:48] zheng1 commented on #333
/cc @kubesphere/sig-console

[2021-06-21 09:49] zheng1 commented on #333
/assign @kubesphere/sig-console

[2021-06-22 03:11] harrisonliu5 commented on #1876
/kind need-to-verify

[2021-06-22 03:42] harrisonliu5 commented on #1843
/kind need-to-verify

[2021-06-22 03:51] #1985 closed

[2021-06-22 06:23] liuyp2018 opened #2007 "The version number on the page needs to be changed to v3.1.1"
**Describe the bug**
In the environment of ks v3.1.1,The version number on the page needs to be changed to v3.1.1

![image](https://user-images.githubusercontent.com/36271543/122873245-1bb57800-d364-11eb-8e89-7bb07722e48e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.1
ks-console image : kubespheredev/ks-console:latest

/kind bug
/assign @harrisonliu5
/priority high
/milestone v3

[2021-06-22 08:10] harrisonliu5 commented on #2007
![image](https://user-images.githubusercontent.com/17872673/122888294-4c9da900-d374-11eb-958d-2c2d8a65d844.png)

please check the version of globals

[2021-06-22 08:45] #1991 closed

[2021-06-22 08:46] #1992 closed

[2021-06-22 09:29] liuyp2018 opened #2010 "editing container configuration template page, the input box validation rule is incorrect"
**Describe the bug**
**steps:**
1.Go to the Workload -- Edit the Configuration Template page
2.Modify update policy - Number of container groups when updating
3.Enter the quantity in the input box to save

**Expected behavior:**
It can be successfully saved

**actual results:**
Unable to save successfully. Error message appears on page

![image](https://user-images.githubusercontent.com/36271543/1

[2021-06-22 09:45] liuyp2018 commented on #2010
and suggestion that  optimizing  the text prompts:
![image](https://user-images.githubusercontent.com/36271543/122902900-77422e80-d381-11eb-85b9-49f3e7fb49d4.png)

[2021-06-23 07:39] VioZhang opened #2014 "The resource management from the user's view"
Background & User story:
    There is a user scenario in which the user will create many  namespaces and there are many users in the namespaces. Sometimes the users forgot where the resource such as the deploy or service they created was , so it would be better that there is a user center where the users could manage their resource .

[2021-06-23 07:45] VioZhang commented on #2014
/kind feature-request
/cc @sig-console

[2021-06-24 09:57] #1878 closed

[2021-06-25 03:39] harrisonliu5 commented on #1972
/kind need-to-verify

[2021-06-25 03:39] harrisonliu5 commented on #1966
/kind need-to-verify

[2021-06-25 11:09] harrisonliu5 commented on #1847
/kind need-to-verify

[2021-06-25 11:10] harrisonliu5 commented on #1916
/kind need-to-verify

[2021-06-26 07:46] #2014 closed

[2021-06-28 03:23] fuchunlan commented on #1952
/assign @fuchunlan

[2021-06-28 03:48] Patrick-LuoYu opened #2035 "Do not translate "ConfigMap" into "配置" and "Secret" into "密钥"."
![image](https://user-images.githubusercontent.com/76198553/123577234-0332db00-d806-11eb-8ca8-171951c1a9b2.png)
"密钥" means a private key or public key used to encrypt or decrypt certain information.
"配置" means a software or hardware configuration.
Both are too general and misleading. ConfigMap and Secret are concepts unique to Kubernetes, and we should not translate them.
/priority Medium
/milesto

[2021-06-28 09:36] liuyp2018 opened #2040 "need to add close button for adding application template window"
**Describe the bug**
need to add close button for adding application template window
![image](https://user-images.githubusercontent.com/36271543/123614412-e367db00-d836-11eb-9b1f-43693809fee7.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks v3.1.1

/assign @harrisonliu5
/priority Medium
/milestone 3.1.0
/area console

[2021-06-29 02:18] harrisonliu5 commented on #2040
/kind need-to-verify

[2021-06-29 02:32] ks-ci-bot opened #2047 "[release-3.1] chore: Add fuchunlan reviewers"
Manual cherrypick required.

#2032 failed to apply on top of branch "release-3.1":
[code]

[2021-06-29 02:35] yuswift commented on #2047
please cherry-pick #2032 manually @fuchunlan
/close

[2021-06-29 02:35] #2047 closed

[2021-06-29 02:59] liuyp2018 commented on #2040
need to add close button for this dialog
![image](https://user-images.githubusercontent.com/36271543/123730499-05aa3900-d8c9-11eb-911b-e91c4876446f.png)

/remove-kind need-to-verify

[2021-06-29 03:47] fuchunlan commented on #1544
[#kubesphere/kubesphere/3755](https://github.com/kubesphere/kubesphere/issues/3755)

[2021-06-29 05:41] wenxin-01 commented on #1876
issue fixed in `kubesphere v3.1.1-rc.0`
![image](https://user-images.githubusercontent.com/68640256/123743306-98ee6900-d8df-11eb-9a96-d55e409d3196.png)

[2021-06-29 05:41] #1876 closed

[2021-06-29 05:49] wenxin-01 commented on #1813
issue fixed `kubesphere v3.1.1-rc.0`

![image](https://user-images.githubusercontent.com/68640256/123744038-c0920100-d8e0-11eb-83f0-cb641c400c36.png)

[2021-06-29 05:49] #1813 closed

[2021-06-29 05:59] wenxin-01 commented on #1966
issue fixed

[2021-06-29 05:59] #1966 closed

[2021-06-29 07:04] moweiwei opened #2051 "UI bug"
**Describe the bug**
1. App Introduction and App Description are reversed
2. no scroll bar, so the screenshot of the application cannot be displayed completely. When the introduction of the application is a lot of content

<img width="783" alt="1" src="https://user-images.githubusercontent.com/40727882/123751502-66963900-d8ea-11eb-9502-0baefdc21bd6.png">
<img width="832" alt="2" src="https://user-

[2021-06-29 08:22] wenxin-01 commented on #1858
issue has not been fixed in `v3.1.1-rc.0`   @harrisonliu5

[2021-06-29 08:42] liuyp2018 opened #2055 "The edit extranet access button needs to be removed from the stateful service detail page"
**Describe the bug**
The edit extranet access button needs to be removed from the stateful service detail page
![image](https://user-images.githubusercontent.com/36271543/123766026-df03f680-d8f8-11eb-9163-c7268e63b984.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks v3.1.1

/kind bug
/assign @harrisonliu5
/priority Low
/milestone v3.1

[2021-06-29 09:14] wenxin-01 opened #2057 "User role is not displayed"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.1.1-rc.0`

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/123770869-360bca80-d8fd-11eb-8614-48ef499f47b3.mov

![image](https://user-images.githubusercontent.com/68640256/123771061-58054d00-d8fd-11eb-8528-55eb0d634c00.png)

/kind bug
/assign @harrisonliu5
/priority Medium
/milestone 3.1.

[2021-06-30 06:03] liuyp2018 commented on #1830
the issue is fixed

[2021-06-30 06:19] zheng1 commented on #1830
/close

[2021-06-30 06:20] #1830 closed

[2021-06-30 06:30] liuyp2018 commented on #1832
verified and fixed

[2021-06-30 06:30] fuchunlan commented on #1485
/assign @fuchunlan

[2021-06-30 06:36] liuyp2018 commented on #1847
The problem has not been reproduced. Please confirm whether the problem exists @junotx

[2021-06-30 06:39] liuyp2018 commented on #1843
Verify that the problem has been fixed

[2021-06-30 07:27] #1832 closed

[2021-06-30 07:28] #1843 closed

[2021-06-30 07:33] VioZhang opened #2065 "It is kind of hard to understand the revision number of the workload."
How about associalting the number with the created time ，such as #history version1 #history version2.

![工作负载版本回退问题.png](https://i.loli.net/2021/06/30/T4cMZWitKFx1IXl.png)

/area console
/kind feature-request

[2021-06-30 08:07] wansir commented on #2010
Do not include quotation marks in numeric types.

[2021-06-30 08:11] #2055 closed

[2021-06-30 08:21] liuyp2018 opened #2071 "the kubesphere version is not correctly shown in cluster manage page"
**Describe the bug**
 the kubesphere version is not correctly shown in cluster manage page
![image](https://user-images.githubusercontent.com/36271543/123926921-f1e0fe80-d9be-11eb-9b57-4ed5d50d36ae.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:ks v3.1.1
ks-console image: kubespheredev/ks-console:v3.1.1-rc.0

/assign @harrisonliu5
/kind bug
/priority Medium

[2021-06-30 08:30] wansir commented on #2071
Not a valid issue, this is the version of `ks-apiserver` which generated by git tag and commits.

[2021-06-30 09:59] moweiwei opened #2072 "When creating the service, the container port should be optional"
![1](https://user-images.githubusercontent.com/40727882/123940951-4474e780-d9cc-11eb-8ce6-d5bf355157a7.png)

in edit service， container port  can be delete, then edit success。
but，in create service，container port is required，

In fact, there are many scenarios where you don’t need to input the container port

[2021-06-30 10:09] fuchunlan commented on #2010
Other issues need to be fixed in the background

[2021-07-01 02:24] #2072 closed

[2021-07-01 03:20] VioZhang opened #2080 "The cursor should be clickable when we move it on the project area."
We could switch the project by moving the cursor to the left upper corner，but it would be better that the cursor will change the shape to show the area is clickable，or we can set a entrypoint at the area.
![项目切换光标.png](https://i.loli.net/2021/07/01/LnZgQMp2xGbAjBR.png)

/area console
/kind feature-request
/cc @kubesphere/sig-console

[2021-07-02 02:27] wenxin-01 commented on #1858
issue fixed  `v3.1.1-rc.1`

[2021-07-02 02:27] #1858 closed

[2021-07-02 03:59] liuyp2018 commented on #1671
fixed

[2021-07-02 03:59] #1671 closed

[2021-07-02 06:39] liuyp2018 commented on #1898
Verified and fixed in v3.1.1-rc.1

[2021-07-02 06:41] liuyp2018 commented on #1915
verified and fixed in v3.1.1-rc.1

[2021-07-02 06:48] liuyp2018 commented on #1818
not fixed in v3.1.1-rc.1

[2021-07-02 07:09] harrisonliu5 commented on #1818
This PR does not merge into v3.1.1-rc1. @liuyp2018

[2021-07-05 02:33] fuchunlan commented on #1224
/assign @fuchunlan

[2021-07-05 03:09] fuchunlan commented on #1544
/kind need-to-verify

[2021-07-05 03:33] wenxin-01 commented on #1544
issue fixed `v3.1.1-rc.1`
![image](https://user-images.githubusercontent.com/68640256/124414162-b9597000-dd84-11eb-8d63-31dda6b988cf.png)

[2021-07-05 03:33] #1544 closed

[2021-07-05 03:38] fuchunlan commented on #1116
![image](https://user-images.githubusercontent.com/63338728/124414321-1b19da00-dd85-11eb-8833-5aad7ac8a1d3.png)
The problem has been solved in the new version, please check it, thanks.

[2021-07-05 03:49] wenxin-01 commented on #1862
issue fixed `v3.1.1-rc.1`
![image](https://user-images.githubusercontent.com/68640256/124415256-0e968100-dd87-11eb-99c2-ade0e6ccbfec.png)

[2021-07-05 03:49] #1862 closed

[2021-07-05 08:01] moweiwei opened #2091 "Uncheck Container Image checkbox，The container settings modal does not disappear"
create service  - diff settings step

![1](https://user-images.githubusercontent.com/40727882/124437712-e9673a00-dda9-11eb-8e17-4543afbf6521.png)

[2021-07-05 08:31] #2051 closed

[2021-07-05 09:23] bright-1iu commented on #1963
I have the same problem. Has it been solved?

[2021-07-05 09:24] wenxin-01 opened #2092 "Summary of multi cluster configuration problems"
**Versions Used**
KubeSphere: `v3.1.1-rc.1`

`Resource requests should not be greater than resource limits`

https://user-images.githubusercontent.com/68640256/124448586-33a1e880-ddb5-11eb-8950-530df3a09dc1.mov

`Service Settings error`

https://user-images.githubusercontent.com/68640256/124448855-74016680-ddb5-11eb-9f8d-a121d8ec235e.mov

`Environment Variables error`

https://user-images.githubus

[2021-07-06 03:00] harrisonliu5 commented on #2092
/kind need-to-verify

[2021-07-06 03:39] wenxin-01 commented on #2092
`Resource requests should not be greater than resource limits`  did not fix @harrisonliu5

[2021-07-06 03:41] harrisonliu5 commented on #2092
It will be fixed in the next version .

[2021-07-07 07:25] wenxin-01 opened #2094 "Missing gitlab option in 'Select Code Repository'."
KubeSphere: `v3.1.1-rc.1`

![image](https://user-images.githubusercontent.com/68640256/124717295-93c09800-df37-11eb-9bb4-a0cd5cea6cec.png)

/kind bug
/assign @harrisonliu5
/priority High
/milestone 3.1.1

[2021-07-08 03:37] wenxin-01 opened #2099 "Project quota setting error."
**General remarks**

KubeSphere:  `v3.1.1-dirty`

**To Reproduce**
`Only when all the quotas are set can it be saved`

https://user-images.githubusercontent.com/68640256/124858253-49472600-dfe0-11eb-9591-ae82a0e904cc.mov

/kind bug
/assign @harrisonliu5
/priority High
/milestone 3.1.1

[2021-07-08 06:10] harrisonliu5 commented on #2099
/kind need-to-verify

[2021-07-12 10:34] yinmin090922 opened #2102 "Setting workspace/ project/pod quota error"
Describe the bug
Two issues occurred when setting resource requests and resource limits with the keyboard in the workspace/ project/pod quota.

Versions used
KubeSphere: v3.1.1-dirty

To Reproduce
Steps to reproduce the behavior:
1. Go to page 'The workspace/project/pod quota'
2. Use the keyboard to set resource requests and resource limits.
3. The first issue:
    When you need to enter a decimal

[2021-07-13 02:53] yinmin090922 opened #2104 "Setting resource quota error"
Describe the bug
One issue occurred when setting resource quota with the keyboard in the project quota.

Versions used
KubeSphere: v3.1.1-dirty

To Reproduce
Steps to reproduce the behavior:
1. Go to page 'The workspace/project/pod quota'
2. Use the keyboard to set resource quota.
3. When the input value is infinite, the result is "Infinity".
4. Click "save".The resource quota is "0".
![image](htt

[2021-07-13 08:12] harrisonliu5 commented on #2094
/kind need-to-verify

[2021-07-13 10:22] wenxin-01 opened #2105 "When creating a workload on the cluster management page, you should not be able to select multi-cluster projects"
**Describe the bug**

When creating a workload on the cluster management page, you should not be able to select multi-cluster projects

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `3.1.1`

https://user-images.githubusercontent.com/68640256/125435184-c70b4fd8-4e74-4304-9f8d-54df9d7be7d3.mov

**Actual behavior**
You can select multi-project through input multi-project name

**Except behavio

[2021-07-14 08:19] dongxiaokui commented on #1963
no,
I still use two terminal to start this project
The problems maybe resulted by use windows .

[2021-07-14 08:54] dongxiaokui commented on #1963
 "start": "concurrently -k --raw \"yarn dev:client\" \"yarn dev:server\"",
with this change can solve the problem.

[2021-07-16 07:15] wenxin-01 opened #2106 "The url of job records in 'CronJobs' is wrong"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `3.1.1`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/125907661-a154cd8a-90f8-4cc0-be6f-323dae900c06.png)

/kind bug
/assign @kubesphere/sig-console
/priority medium

[2021-07-16 07:27] harrisonliu5 commented on #2106
/assign @weili520

[2021-07-16 08:26] liuyp2018 commented on #2040
also need to add  close button for this dialog
![image](https://user-images.githubusercontent.com/36271543/125917054-40c8ee4f-8a1a-4c13-a93b-b9bae50480c8.png)

[2021-07-20 01:40] calvinyv opened #2110 "'About' window can't be closed automatically when moving mouse and clicking out of 'About' window"
**General remarks**

**Describe the bug**
'About' window can't be closed automatically when moving mouse and clicking out of 'About' window

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
1 masters:  8cpu/8g
2 nodes: 8cpu/16g

(and other info are welcomed to h

[2021-07-20 01:41] calvinyv commented on #2110
/assign @kubesphere/sig-console

[2021-07-20 01:41] calvinyv commented on #2110
/good-first-issue

[2021-07-20 01:45] calvinyv commented on #2110
/sig kubesphere/sig-console

[2021-07-20 01:46] calvinyv commented on #2110
/milestone v3.2

[2021-07-20 02:10] Felixnoo commented on #2094
Same issue in KubeSphere v3.1.1.

[2021-07-20 02:47] fuchunlan commented on #1657
/assign @fuchunlan

[2021-07-20 03:39] VioZhang opened #2112 "The support of the lifecyle management consisting of the poststart and the prestop on console."
As title.

/assign

[2021-07-20 10:33] LinuxSuRen commented on #2110
/area console

[2021-07-20 14:05] #1700 closed

[2021-07-20 14:05] #1704 closed

[2021-07-21 02:12] fuchunlan commented on #2110
/assign @fuchunlan

[2021-07-21 03:21] harrisonliu5 commented on #1001
/good-first-issue

[2021-07-21 03:22] harrisonliu5 commented on #2035
/good-first-issue

[2021-07-21 03:24] harrisonliu5 commented on #2105
/area console

[2021-07-21 03:24] harrisonliu5 commented on #2106
/area console

[2021-07-21 03:25] harrisonliu5 commented on #2104
/area console

[2021-07-21 08:12] harrisonliu5 commented on #2040
This is the same as #2110

[2021-07-21 08:16] harrisonliu5 commented on #1781
/kind need-to-verify

[2021-07-21 08:31] harrisonliu5 commented on #1485
/kind need-to-verify

[2021-07-21 08:40] harrisonliu5 commented on #1224
/kind need-to-verify

[2021-07-21 08:42] harrisonliu5 commented on #1132
/good-first-issue

[2021-07-21 08:49] zheng1 opened #2115 "Specify the annotation of the pod in create workload modal"
**What would you like to be added**:

When creating a workload, we want to be able to specify the annotation of the pod

![image](https://user-images.githubusercontent.com/4156721/126459649-d027b835-b7a9-4931-b580-2e67dd645828.png)

![image](https://user-images.githubusercontent.com/4156721/126459620-79bf5faa-413d-4a5b-88b4-c023e569371a.png)

**Why is this needed**:

When using multus, it is neces

[2021-07-21 08:53] zheng1 opened #2116 "Support to display multiple ip's of pods"
**What would you like to be added**:

Support to display multiple ip's of pods

![image](https://user-images.githubusercontent.com/4156721/126460685-13d7bfe7-542a-4add-8660-4c5447de1e2a.png)

![image](https://user-images.githubusercontent.com/4156721/126460699-729e58d9-e1b4-4e15-a721-be1e80b64b57.png)

**Why is this needed**:

When using multus, the pod will have one or more ip
https://github.com/

[2021-07-21 09:14] harrisonliu5 commented on #827
/assign @Patrick-LuoYu

[2021-07-21 09:17] harrisonliu5 commented on #493
/good first issue

[2021-07-21 09:18] harrisonliu5 commented on #493
/good-first-issue

[2021-07-22 02:58] fuchunlan commented on #2104
/assign @fuchunlan

[2021-07-23 01:28] lshmouse opened #2120 "Build failed for different webpack version"
**General remarks**

**Describe the bug**
console build failed for new version webpack
[code]
see: https://stackoverflow.com/questions/65592541/webpack-when-run-in-terminal-it-gives-an-error-error-unknown-option-p
option '-p' should be changed to "--mode production"

[code]

**Environment**
Build console in Ubuntu 18.04.5 LTS with
[code]
**To Reproduce**
[code]
**Expected behavior**

[2021-07-23 02:47] lshmouse opened #2121 "Add Self-built Kubernetes cluster provider type"
**What would you like to be added**:
Add Self-built Kubernetes cluster provider type

**Why is this needed**:
In xiaomi, we have many self-built k8s clusters and we want to manage them using kubesphere

[2021-07-23 08:49] fuchunlan commented on #2105
/assign @fuchunlan

[2021-07-26 06:54] harrisonliu5 commented on #2106
/kind need-to-verify

[2021-07-26 06:56] harrisonliu5 commented on #2105
/kind need-to-verify

[2021-07-27 07:26] weili520 commented on #2102
/assign @weili520

[2021-07-27 08:13] RolandMa1986 commented on #1557
/assign @harrisonliu5

[2021-07-27 08:16] VioZhang commented on #2112
The design drawing as follow：
https://www.figma.com/file/vFx0DrJ1zRM3pCPvGIs3HH/Lifecycle-Hooks?node-id=2%3A539

[2021-07-28 03:15] harrisonliu5 commented on #2040
/kind need-to-verify

[2021-07-28 03:16] harrisonliu5 commented on #1685
/kind need-to-verify

[2021-07-28 03:21] harrisonliu5 commented on #1685
/remove kind need-to-verify

[2021-07-29 03:23] fuchunlan commented on #2080
/assign @fuchunlan

[2021-07-29 09:03] weili520 commented on #1962
/assign @weili520

[2021-07-30 03:24] zhanglin-doudou commented on #2120
There may be a problem with your global `webpack` and `webpack-cli` version. You could have a try to uninstall them. Then, it will run with console`s dev version.

I tried to recreate the problem on ubuntu with the same version as yours. But it worked well on my VM.
### Environment
[code]
### See more
you could compare webpack command line interface of [V4](https://v4.webpack.js.org/api/cli/) with

[2021-07-30 03:55] Mrxyy commented on #1670
/cc @kubesphere/sig-testing

[2021-07-30 06:06] Mrxyy commented on #1670
I haven't found this problem in the process of fixing
/cc @kubesphere/sig-testing

[2021-07-30 10:16] zhanglin-doudou commented on #1685
### Not reappearance
I created a CRD named cronTab.
![image](https://user-images.githubusercontent.com/15157210/127638007-6675e50e-c3b2-4ca3-bccc-198c2b0c4ffd.png)
![image](https://user-images.githubusercontent.com/15157210/127638087-9924ffde-e1b4-4262-a85b-6037b385aac0.png)

And open two pages, one is detials the other is list. I deleted  cronTab CRD.
![image](https://user-images.githubuserconten

[2021-07-30 10:17] zhanglin-doudou commented on #1685
@liuyp2018

[2021-07-30 10:29] LinuxSuRen commented on #1898
hi @liuyp2018 , thanks for helping to verify this issue. I'm going to close it.
/close

[2021-07-30 10:29] #1898 closed

[2021-07-30 10:41] LinuxSuRen opened #2131 "Request to fix the potential secret leak"
**What would you like to be added**:

It's possible to let other users get my personal token when I created a credential on the DevOps page. As you can see from the following screenshot.

![image](https://user-images.githubusercontent.com/1450685/127640847-df1141e8-4b89-4e2e-8f29-b04e6f2f809f.png)

**Why is this needed**:

It's a big problem if the secret was leaked.

## Proposal

I'd like to sugg

[2021-07-30 10:42] LinuxSuRen commented on #2131
/milestone v3.2

[2021-07-30 10:43] LinuxSuRen commented on #2131
/priority high

[2021-07-30 10:46] LinuxSuRen commented on #2131
/area devops

[2021-08-02 03:06] Mrxyy commented on #1673
/assign @Mrxyy

[2021-08-02 03:28] xuliwenwenwen commented on #2080
/lgtm

[2021-08-02 06:08] VioZhang commented on #2112
The drawing design:
https://www.figma.com/file/vFx0DrJ1zRM3pCPvGIs3HH/Lifecycle-Hooks?node-id=2%3A539

[2021-08-02 06:41] harrisonliu5 commented on #1639
/kind need-to-verify

[2021-08-02 08:16] zhanglin-doudou commented on #2091
please update to latest, the interaction has been changed.

[2021-08-02 09:21] zhanglin-doudou commented on #1673
The problem is out of date.

[2021-08-03 06:18] VioZhang opened #2135 "It would be better that there are "+" and "-" to show the number of replicas is clickable."
![image](https://user-images.githubusercontent.com/41519383/127967214-dd1058ae-c815-42a4-a163-6c56c06a8c89.png)

[2021-08-03 07:24] VioZhang commented on #2135
The design drawing：
https://www.figma.com/file/rirJFVvCK1A9S2iBUpxpvL/GPU-scheduling-%26-monitoring?node-id=151%3A116603

[2021-08-03 07:29] VioZhang commented on #2135
/cc @kubesphere/sig-console

[2021-08-03 08:43] wenxin-01 opened #2136 "Pop up window cannot be closed"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.1.1`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/127985142-8ced024d-aea5-4ea6-a04d-1f1cf5e2ba20.png)

https://user-images.githubusercontent.com/68640256/127985895-21de16a0-45f0-49a3-a006-35a58ab6759d.mov

/kind bug
/assign @kubesphere/sig-console
/priority low

[2021-08-04 07:03] xuliwenwenwen commented on #2135
Does the button have a mouse hover state?

[2021-08-04 13:16] LinuxSuRen commented on #2094
/area devops

[2021-08-05 02:16] wenxin-01 opened #2138 "When using GitHub code repository to create a pipeline, and the selected credential type is not 'account credential', the page does not respond."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.1.1`

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/128280218-e7aabe0c-6cc3-4087-b47f-d86c59998099.mov

**Expected behavior**
Prompt credential type error

/kind bug
/assign @kubesphere/sig-console
/priority medium

[2021-08-05 02:48] LinuxSuRen commented on #2138
/area devops

[2021-08-05 03:04] harrisonliu5 opened #2140 "Remove statistics on the number of pods in the fedProject overview"
**Describe the bug**
A clear and concise description of what the bug is.

It is not easy to display the pods' resources of the FedProject separately, so it is recommended to remove the statistics of the pods

For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/17872673/128283952-201b68ea-311c-4d99-824b-84d8b09e48c1.png)

**Versions u

[2021-08-05 07:24] wenxin-01 opened #2141 "Some places where you can't deselect all."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.1.1`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/128308576-7d13aae4-c7d6-4586-ad08-e0e93e389636.png)
![image](https://user-images.githubusercontent.com/68640256/128308577-950d6124-2891-437c-82c9-8a44d6bb4ed2.png)
![image](https://user-images.githubusercontent.com/68640256/128

[2021-08-05 07:29] harrisonliu5 commented on #2141
These are the default data in the platform, may be  can't delete.

[2021-08-06 02:49] harrisonliu5 commented on #2140
/kind need-to-verify

[2021-08-06 03:15] harrisonliu5 commented on #2116
the address  of UI is https://www.figma.com/file/ME6F2CvFfiXLcmnCriA3s7/Uncategorized-Requirements?node-id=4%3A5044

[2021-08-06 03:16] harrisonliu5 commented on #2116
/assign @xuliwenwenwen

[2021-08-06 03:39] xyz-li opened #2145 "app store management enhancement when workspace has been delete."
**What would you like to be added**:
1.  When workspace has been deleted, `app store management` should display `(workspace deleted)`.
  ![image](https://user-images.githubusercontent.com/6263928/128452172-c184df27-50d3-4568-988d-cc205899b678.png)
2. `app store management`  should provide button to delete app when the workspace has been deleted.
![image](https://user-images.githubusercontent.com/6

[2021-08-06 03:48] xyz-li commented on #2145
/area app-management

[2021-08-06 04:15] VioZhang commented on #2135
Sure,I can update the design drawing later.

[2021-08-06 05:24] VioZhang commented on #2135
![image](https://user-images.githubusercontent.com/41519383/128460224-c3beb894-be6f-4918-b7b7-5bfb9ecc8879.png)
updated

[2021-08-06 08:45] fuchunlan commented on #2104
/kind need-to-verify

[2021-08-08 17:17] fajaryanw opened #2146 "GUI Display for role and cluster role in RBAC"
**What would you like to be added**:

Add GUI view role and cluster role for RBAC.
[kubevious](https://kubevious.io/) has like a picture below

![image](https://user-images.githubusercontent.com/6999559/128639658-d67db17d-5529-4f53-a863-6081fdbcf9b7.png)

**Why is this needed**:
view use GUI will be convenient without access kubectl.
it'll be nicer if can edit too.

[2021-08-09 03:06] harrisonliu5 commented on #1657
/kind need-to-verify

[2021-08-09 03:10] harrisonliu5 commented on #1298
/kind need-to-verify

[2021-08-09 03:14] harrisonliu5 commented on #1257
/kind need-to-verify

[2021-08-10 03:05] VioZhang opened #2148 "Show the status such as "evicted" of the pod at the pod list."
![image](https://user-images.githubusercontent.com/41519383/128801999-572a1f9a-6ccf-4026-b54c-69529aa50305.png)

/triage needs-information

[2021-08-10 03:46] LinuxSuRen opened #2149 "Unclear description about old branches discard on the multi-branch Pipeline setting page"
**Describe the bug**

Screenshot from Jenkins:
![image](https://user-images.githubusercontent.com/1450685/128804676-da45b41f-989c-4737-ae21-e8d466814ba2.png)

Screenshot from DevOps page:
![image](https://user-images.githubusercontent.com/1450685/128804622-3d1a868c-6659-4b77-b8e7-1fb698d18ebe.png)

This feature will remove those plugins that have been deleted from the git repository.

## Typo

`Di

[2021-08-10 07:44] harrisonliu5 commented on #2148
which key of data should be used? @VioZhang

![image](https://user-images.githubusercontent.com/17872673/128828377-c2595796-0ab1-43f3-ae30-b89c8a78c132.png)

[2021-08-10 08:14] #2149 closed

[2021-08-10 09:14] harrisonliu5 commented on #2116
/kind need-to-verify

[2021-08-12 03:38] weili520 commented on #1600
/assign @weili520

[2021-08-13 08:25] f10atin9 opened #2158 "Change the way console get the storageCapability"
**What would you like to be added**:
The Console can judged by the "allowVolumeExpansion" in the StorageClass yaml and the "storageclass.kubesphere.io/support-snapshot"and "storageclass.kubesphere.io/support-clone" in the annotation.
And we need user can manage storage capabilities in console.
![image](https://user-images.githubusercontent.com/36705019/130721681-d6a8af1b-56fc-4903-a880-e0b8f263f64

[2021-08-13 08:36] f10atin9 opened #2159 "Manage pv in console"
**What would you like to be added**:
Some pages in ks-console which can get pv infomation and delete pv.
![image](https://user-images.githubusercontent.com/36705019/130722130-5e2bb69b-447e-48fe-ae1b-0bf47f344636.png)
Please see this link for specific design: https://www.figma.com/file/8og5Ad5IX0qToDef9VO7bU/Storage?node-id=2%3A2

**Why is this needed**:
Sometimes the user need to view and manage t

[2021-08-17 03:06] weili520 commented on #2158
/assign @weili520

[2021-08-17 03:31] harrisonliu5 commented on #2010
/kind need-to-verify

[2021-08-17 07:11] VioZhang opened #2162 "Disclaimer at app store."
Add a description of risk warning and the way to get support when downloading app from app center.
Inform the user the risk about the app downloaded from the app store.
After legal verification，we have the description in Chinese as follow
“（1）您会遵守该软件的开源协议；
（2）您下载并安装该软件导致的任何后果将由您自行承担。
如果需要相关支持服务请联系KubeSphere.cloud”.

The drawing design ：https://www.figma.com/file/ME6F2CvFfiXLcmnCriA3s7/Uncategorize

[2021-08-17 08:55] yinmin2020 opened #2164 "Support editing node affinity on console after creating a deployment"
**Describe the bug**
The runtime Deployment in the workload does not support the affinity modification Settings for the UI, which are available when Deployment is created
![image](https://user-images.githubusercontent.com/65068467/129695550-ff4fdd18-091e-4c27-a112-153a56c7d9be.png)
![image](https://user-images.githubusercontent.com/65068467/129695641-0323fe3c-4e5d-44cb-956f-1e780f19aa46.png)

[2021-08-18 04:40] serenashe opened #2168 "Wrong data shown under Access Type on the Edit Service page"
**Describe the bug**
The **Access Type** shown on the **Edit Service** page is not in accordance with the one on the basic info page. The **Service Type** and **Access Type** are supposed to be the same.
![image](https://user-images.githubusercontent.com/75245999/129836846-4de63c75-9419-4195-8051-b28e506a7975.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**Environment**
Single

[2021-08-18 04:40] serenashe commented on #2168
/ assign @harrisonliu5

[2021-08-18 06:44] harrisonliu5 commented on #2135
/kind need-to-verify

[2021-08-18 06:47] harrisonliu5 commented on #2080
/kind need-to-verify

[2021-08-18 06:55] yyt6200 opened #2169 "Can you provide a function to maintain LB default annotations"
Currently, the porterlb used on the platform is used as lb, but each time Lb is selected, KS will fill in two default annotations by default, which need to be manually modified to lb.kubesphere.io/v1alpha1: Porter and protocol.porter.kubesphere.io/v1alpha1: layer2。 Could you consider providing a place to maintain LB? When selecting lb, you can further select the type of LB and assign default annot

[2021-08-18 06:55] harrisonliu5 commented on #2136
/kind need-to-verify

[2021-08-18 06:58] harrisonliu5 commented on #2110
/kind need-to-verify

[2021-08-18 06:59] harrisonliu5 commented on #2091
/kind need-to-verify

[2021-08-18 07:32] FeynmanZhou commented on #2169
/milestone v3.2

[2021-08-18 08:11] FeynmanZhou commented on #2169
IMO, the default LoadBalancer annotations are filled out with QingCloud LB, this is not suitable and flexible. We might need to provide a configuration list for users to choose and configure the LB annotations.

![image](https://user-images.githubusercontent.com/40452856/129858218-6a88a97f-f45b-4b52-a630-8df72be75787.png)

[2021-08-18 08:12] FeynmanZhou commented on #2169
/kind optimization

[2021-08-18 08:14] FeynmanZhou commented on #2169
/cc @kubesphere/sig-console

[2021-08-19 02:29] yuswift commented on #2164
/help

[2021-08-19 02:29] yuswift commented on #2164
/remove-kind bug
/kind feature

[2021-08-19 02:30] yuswift commented on #2164
/good-first-issue

[2021-08-19 06:09] yuswift commented on #2164
/remove-kind bug

[2021-08-19 06:09] yuswift commented on #2164
/kind feature

[2021-08-19 06:09] yuswift commented on #2164
/good-first-issue

[2021-08-19 06:12] yuswift commented on #2164
/retitle Support editing node affinity on console after creating a deployment

[2021-08-19 06:15] yuswift commented on #2164
@harrisonliu5 Could you provide some suggestions to help the new contributors? (e.g. the code dir that should be updated)

[2021-08-19 10:50] VioZhang commented on #2162
/triage needs-information

[2021-08-20 02:25] wenxin-01 commented on #2141
Yes, it's reasonable that they can't delete. I mean, clicking the select all button again can deselect the selected content. @harrisonliu5

[2021-08-20 02:33] wenxin-01 opened #2175 "It is recommended to cancel the jump function of clicking pod in PVC detail page of multi-cluster"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.1.1  multi-cluster`

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/130169977-5f20b7be-17e0-4cec-b540-ab786d242d3c.mov

**Expected behavior**
Pod can not click

/kind bug
/assign @kubesphere/sig-console
/priority medium

[2021-08-20 07:25] harrisonliu5 commented on #2168
/kind need-to-verify

[2021-08-20 07:34] serenashe commented on #2168
On the **Edit Service** page, the content under **Service Type** becomes blank no matter I edit a Headless Service or a Virtual IP one.

[2021-08-20 07:34] serenashe commented on #2168
![image](https://user-images.githubusercontent.com/75245999/130197382-1449788f-450f-449f-8904-ff1b36c8e16e.png)
On the Edit Service page, the content under Service Type becomes blank no matter I edit a Headless Service or a Virtual IP one.

[2021-08-22 00:57] runkecheng opened #2180 "[feature] Support selecting endpoint when custom monitoring mysql"
**What would you like to be added**:

A select box to select the endpoint. It is best to support renaming the endpoint.

**Why is this needed**:

Sometimes a target contains multiple endpoints, but the mysql panel in custom monitoring can only display all endpoints at the same time.

[2021-08-23 06:55] f10atin9 opened #2182 "Support multiple snapshotclass in console when taking snapshot"
**What would you like to be added**:
Just like the storageclass, user might want to create multiple different snapshotclass and take snapshot by each. So we need to support this scenario in console. Maybe just adding a dropdown list to choose the different snapshotclass.
**Why is this needed**:
![image](https://user-images.githubusercontent.com/36705019/130402932-c34a6301-11c0-4a5b-9be2-4c19c8e322

[2021-08-23 06:58] f10atin9 opened #2183 "Change pvc access modes to list"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
Current the access mode is a single selection, but it should be a string array in fact.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/36705019/130403870-cd3c4c25-4384-41eb-a124-4686e0f8ef91.png)

**Versions used(KubeSphere/Kubernetes)**

[2021-08-23 06:59] f10atin9 commented on #2183
/good-first-issue

[2021-08-23 07:09] harrisonliu5 commented on #1604
/kind need-to-verify

[2021-08-23 07:10] f10atin9 commented on #2182
/milestone v3.2

[2021-08-23 07:11] f10atin9 opened #2184 "Supports more object fields in console when creating storageclass"
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/36705019/130405426-05cf3bad-dd37-4936-8d3d-8a1a2abfe21a.png)
The ks-console doesn't support edit below fields:
- volumebindingmode

https://github.com/kubesphere/kubesphere/issues/4092
/milestone v3.2

[2021-08-24 04:39] mingshun opened #2186 "yarn start error"
[code]

Run from master branch. How to resolve this?

[2021-08-24 05:49] zheng1 commented on #2186
/assign @harrisonliu5 @fuchunlan

[2021-08-25 02:27] harrisonliu5 commented on #1600
/kind need-to-verify

[2021-08-25 02:36] harrisonliu5 commented on #2186
What is the version of Node in your current environment.  @mingshun

[2021-08-25 03:24] mingshun commented on #2186
v14.16.0

[2021-08-25 03:32] harrisonliu5 commented on #2186
Please switch to 12.18.3 and try again.

[2021-08-25 03:46] f10atin9 commented on #2159
/require-ui-text-review

[2021-08-25 03:49] f10atin9 commented on #2159
/require-ui-text-review

[2021-08-25 03:54] f10atin9 commented on #2159
/assign @harrisonliu5 @VioZhang

[2021-08-25 06:41] mingshun commented on #2186
Still encounter the same error.

[code]

[2021-08-25 06:58] harrisonliu5 commented on #2186
Maybe you can try typing the `npx browserslist@latest --update-db`, and you can get  more answers with https://stackoverflow.com/questions/55271798/browserslist-caniuse-lite-is-outdated-please-run-next-command-npm-update-cani

[2021-08-25 08:03] supu2 opened #2189 "OIDC non ascii username login problem"
**General remarks**

**Describe the bug**
Enable auht oidc with keycloak, i encountered some user login issue like below. After sso login user faced empty page with status code 500. Some research over github i found same [ problem.](https://github.com/koajs/koa/issues/740#issuecomment-221459155)
Problem is sso return non ascii username like  "Škoda" to console server .
We need to replace non  asci

[2021-08-27 03:24] serenashe opened #2197 "Hammer icon moves out of the textbox when adding an empty key-value pair"
**Describe the bug**
The hammer icon moves to the lower part of the text box when you add an empty key-value pair.

The following screenshot shows the issue:
![image](https://user-images.githubusercontent.com/75245999/131065840-bd42595f-ea9d-418d-974e-1c3e5c5f8961.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Cluster

[2021-08-30 02:44] wengzhisong-hz opened #2198 "When click the condition filter component for the first time, the pop-up window will disappear"
**General remarks**

**Describe the bug**
When click the condition filter component for the first time, the pop-up window will disappear

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0

**To Reproduce**
The bug happends at 15 seconds:
https://user-images.githubusercontent.com/14542348/131277704-1ba819bb-4d29-49d8-8490-9b08574bc681.mov

[2021-08-30 02:46] wengzhisong-hz commented on #2198
env:
Google Chrome 92.0.4515.159
mac

[2021-08-30 09:05] f10atin9 commented on #2184
![image](https://user-images.githubusercontent.com/36705019/131315130-9301dcf0-6f6f-4607-b490-bde860e4dd88.png)
See link for details ：https://www.figma.com/file/8og5Ad5IX0qToDef9VO7bU/Storage?node-id=47%3A61516

[2021-08-30 09:06] f10atin9 commented on #2182
![image](https://user-images.githubusercontent.com/36705019/131315375-8951a90c-d467-476f-939d-2584317918fb.png)
See link for details：https://www.figma.com/file/8og5Ad5IX0qToDef9VO7bU/Storage?node-id=47%3A61516

[2021-08-30 09:40] serenashe opened #2201 "Node module in Cluster Status should be removed"
**Describe the bug**
As the node status is already shown on the left of **Component Status**, an additional **Node** module seems to be redundant. Besides, a node is not a  component. The node module in **Component Status** should be removed.

![image](https://user-images.githubusercontent.com/75245999/131318998-eb092d85-4a94-4ad6-8fad-99c954924ff7.png)

**To Reproduce**
Steps to reproduce the beh

[2021-08-30 11:15] sunjiesama commented on #2186
Is it resolved? I also encountered the same problem

[2021-08-31 01:49] weili520 commented on #2159
/assign @weili520

[2021-09-01 03:44] fuchunlan commented on #2197
/assign @fuchunlan

[2021-09-01 05:35] calvinyv opened #2207 "[qkcp]allow to disable all the external links on console"
**General remarks**

**Describe the bug**
Allow disabling all the external links on the console

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and other info are welcomed to help us debugging)

**To Reproduce**

[2021-09-01 05:46] wansir opened #2208 "Support for custom page redirect after successful login"
**Why is this needed**:

We planed to [support the OIDC protocol in v3.2](https://github.com/kubesphere/kubesphere/issues/3378). Currently, I found that some redirect behavior of the console is not as expected. The following logic will cause CORS security risks.  Redirect based on XHR response is incorrect.

https://github.com/kubesphere/console/blob/v3.1.1/src/utils/request.js#L148-L152
[code]

[2021-09-01 07:22] fuchunlan commented on #2141
/assign @fuchunlan

[2021-09-01 09:06] VioZhang commented on #88
https://www.figma.com/file/ME6F2CvFfiXLcmnCriA3s7/Version-3.2-Related?node-id=604%3A64232
/require-ui-text-review

[2021-09-01 09:41] serenashe opened #2209 "Unbind cluster module should be disabled on the Host Cluster page"
**Describe the bug**
In a multi-cluster environment, there's an option for users to **Unbind Cluster** on the basic information page of the host cluster. After this operation is performed, the host cluster is unbound for a few seconds, and then reappears.

The following screenshot shows the issue:
<img width="1415" alt="1" src="https://user-images.githubusercontent.com/75245999/131646067-f4ec6bd0-

[2021-09-02 04:20] VioZhang opened #2212 "The color about the quota note doesn‘t suit the function."
![image](https://user-images.githubusercontent.com/41519383/131781061-8858d00b-bc01-4482-9992-a975d2e6faa0.png)
The yellow means warning.

[2021-09-02 04:48] serenashe opened #2213 "Editing the type of a Secret that already exists should not be allowed"
**Describe the bug**
An error message from the backend appears when I try to change the Secret type.

The following screenshots show the issue:
![image](https://user-images.githubusercontent.com/75245999/131782405-a8417313-4d3c-4854-a3ed-3e55de0daeef.png)
![image](https://user-images.githubusercontent.com/75245999/131782501-e52c04c6-f425-4f21-91de-65ea3df0d928.png)

**To Reproduce**
Steps to repro

[2021-09-03 02:33] weili520 commented on #2182
/assign @weili520

[2021-09-03 06:08] JohnNiang opened #2217 "Content will be cleared after clicking confirm button on shell modal"
**Describe the bug**

Content will be cleared after clicking confirm button on shell modal.

![78f5d35d7333e423335aaba71bbbb27](https://user-images.githubusercontent.com/16865714/131957729-2c3dde3a-8425-49fc-b5a9-a5892c0daf0d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: latest
Kubernetes: (If KubeSphere installer used, you can skip this)

**To Reproduce**
Steps to reproduce the behav

[2021-09-04 13:14] VioZhang opened #2224 "The number in the input of the quota doesn't match the slider input."
![image](https://user-images.githubusercontent.com/41519383/131291984-8c1a0cef-85fe-42e2-9239-3cec5f22bd86.png)

[2021-09-06 05:48] yinmin2020 opened #2228 "The KS console does not log in for a long time. The cookie is invalid"
**Describe the bug**
If you do not log in to the console for a long time, cookies will be invalid. You need to press CTRL +F5 to refresh the web page forcibly to log in. Otherwise, the login is in request state.
![image](https://user-images.githubusercontent.com/65068467/132166184-ff8701ca-5ca6-4a96-811a-5ee0e13e86aa.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.1.0

(and other info

[2021-09-06 06:17] yinmin2020 opened #2229 "Viewing the container log page often pops up"
**Describe the bug**
The console page often flashes when you click on a successfully deployed container to view logs. This happens irregularly with both Win and MAC
![image](https://user-images.githubusercontent.com/65068467/132169297-705b0559-68a0-4bd4-a97d-3e9afade57ec.png)

[2021-09-06 07:53] harrisonliu5 commented on #2197
/kind need-to-verify

[2021-09-06 07:55] weili520 commented on #2198
if you give it some time to fetch data ,it will not disapper automaticly.

[2021-09-06 07:55] harrisonliu5 commented on #2209
/kind need-to-verify

[2021-09-06 07:57] weili520 commented on #2198
if you give it some time to fetch data ,it will not disapper automaticly.

[2021-09-06 08:50] weili520 commented on #2175
/assign @weili520

[2021-09-06 08:51] yinmin2020 opened #2231 "New configMap configurations are not automatically updated to the ingress"
**Describe the bug**
The nginx-configMap configuration automatically generated by the modification project is not automatically updated to the entry
You need to manually redeploy the ingress for this to take effect

![image](https://user-images.githubusercontent.com/65068467/132171039-2953c8e9-c48d-4215-9217-feedd236dc1d.png)
![image](https://user-images.githubusercontent.com/65068467/132188650-a0

[2021-09-07 02:51] weili520 commented on #2184
/assign @weili520

[2021-09-07 07:41] serenashe commented on #2209
/lgtm

[2021-09-07 07:45] serenashe commented on #2197
![image](https://user-images.githubusercontent.com/75245999/132304924-17a65abc-697f-4e3f-a1de-85a558567879.png)
I wonder if it is possible to make the size of the empty key-value pair box the same as a non-empty one. I guess this would look prettier.

[2021-09-07 07:47] f10atin9 opened #2235 "Snapshot events can't display"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
Events can't display correctly
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/36705019/132305049-f7bf5a50-6514-4217-a368-5e987f8c468c.png)
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, yo

[2021-09-07 08:04] weili520 commented on #2235
/assign @weili520

[2021-09-08 03:06] weili520 commented on #2213
/assign @weili520

[2021-09-08 07:45] weili520 commented on #2201
/assign @weili520

[2021-09-08 08:07] xinnicai opened #2240 "登录cookie在什么地方修改？"
请求中显示登录通过'/login'登录
![image](https://user-images.githubusercontent.com/30997380/132470552-abb1ce80-2b5e-46c6-8b4d-e1108b4658cb.png)
找到路由
![image](https://user-images.githubusercontent.com/30997380/132470665-c9cbccce-864d-4cdd-b6ce-f31aeed93a0e.png)

![image](https://user-images.githubusercontent.com/30997380/132470803-7fac42ed-d980-499a-93c2-9e996c3258b1.png)

调试使用的是vscode
![image](https://user-im

[2021-09-09 02:32] #2182 closed

[2021-09-09 02:32] #2159 closed

[2021-09-09 02:33] #2158 closed

[2021-09-09 02:33] #2184 closed

[2021-09-09 03:24] weili520 commented on #2240
1. use vscode build-in function to debug as fllows.
![截屏2021-09-09 09 35 21](https://user-images.githubusercontent.com/33231138/132607740-2fb40213-a2fc-478f-befa-9804394db768.png)

2. add a launch.json to start debug.
[code]

[2021-09-09 03:48] liuyp2018 opened #2243 "The cancel button is missing in the Gateway Settings page"
**Describe the bug**
Unable to exit the popup page due to the lack of a cancel button

![image](https://user-images.githubusercontent.com/36271543/132618979-14f4e92a-b6ed-495c-be20-40de840e3cec.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/area console
/assign @harrisonliu5
/priority medium

[2021-09-09 03:50] harrisonliu5 commented on #2235
/kind need-to-verify

[2021-09-09 03:55] harrisonliu5 commented on #2217
https://user-images.githubusercontent.com/17872673/132619800-002e56f4-868f-4af7-8527-ab68ad2aaef7.mp4

please try it later

[2021-09-09 06:13] JohnNiang commented on #2217
I confirmed that ks-console with docker image id [docker.io/kubespheredev/ks-console@sha256:25c78f80b7a972ed547811d1a87b981d373278b387de09b39704d1abc6f75b97](https://hub.docker.com/layers/kubespheredev/ks-console/master/images/sha256-25c78f80b7a972ed547811d1a87b981d373278b387de09b39704d1abc6f75b97?context=explore) worked well.

/close

[2021-09-09 06:13] #2217 closed

[2021-09-09 07:20] xinnicai commented on #2240
how to set node version?(node 10.10.0)

[2021-09-09 07:52] weili520 commented on #2240
install [nvm](https://www.google.com.hk/search?q=+nvm+mac&newwindow=1&ei=17w5YdF_mtH5BsCyksAE&oq=+nvm+mac&gs_lcp=Cgdnd3Mtd2l6EAMyBAgAEEMyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgQIABAKMgQIABAKOgcIABBHELADOgcIABCABBAMSgQIQRgAULnTAVj76AFg8O8BaAVwAngAgAHxAYgB5wqSAQUwLjMuNJgBAKABAbABAMgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwiRx9-NtPHyAhWaaN4KHUCZBEgQ4dUDCA4&uact=5) to manage node

[2021-09-09 07:56] xinnicai commented on #2240
nono ，i use terminal command nvm use node 10.10.0 and yarn start,is ok
but in launch is useless

[2021-09-09 08:29] weili520 commented on #2240
how about switch node version to 12.18+ ?

[2021-09-09 08:45] weili520 commented on #2240
how about switching to version 12.18+ ?
![截屏2021-09-09 09 35 21](https://user-images.githubusercontent.com/33231138/132653459-74283e35-55c0-4fad-ad78-a24cc3cc70e4.png)

[2021-09-10 01:13] xinnicai commented on #2240
the computer reboot is ok，thankyou

[2021-09-10 01:13] #2240 closed

[2021-09-10 09:19] weili520 commented on #2243
/assign  @weili520

[2021-09-13 02:33] VioZhang opened #2246 "Optimize the rolling update section when creating the workload."
Devide the section into a group to show their relationship.
![image](https://user-images.githubusercontent.com/41519383/133015049-b312a33d-c41a-43fc-a295-86bdbd6c7252.png)

[2021-09-13 02:37] VioZhang opened #2247 "It is no need to show "Node" at the Component Status and there is no "DevOps" component when we have installed it."
![image](https://user-images.githubusercontent.com/41519383/133015678-517cf7e0-94d7-43b3-aa32-32f6beeba410.png)

[2021-09-13 02:39] VioZhang commented on #2247
The drawing design:
https://www.figma.com/file/8Le5pz18Rtf1UhOha29uvp/Other?node-id=1%3A54383

[2021-09-13 02:39] VioZhang commented on #2246
The drawing design:
https://www.figma.com/file/8Le5pz18Rtf1UhOha29uvp/Other?node-id=0%3A1

[2021-09-13 02:58] serenashe opened #2248 "The monitoring metrics list is barely shown when unfolding the drop-down list"
**Describe the bug**
The **Monitoring Metrics** list is barely shown when you unfold its drop-down list.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/75245999/133016857-9c90732d-b6cb-481b-9a77-dd9887f91dc9.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-09-14 08:10] stoneshi-yunify opened #2250 "search string becomes [object object] in ks-console"
**General remarks**

**Describe the bug**
in ks-console, the search keyword `contract` becomes `[object object]` in search result.

![image](https://user-images.githubusercontent.com/70880165/133220494-018ac958-0714-4da5-9e48-ced699507193.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes a

[2021-09-14 16:34] VioZhang commented on #2201
@weili520 There is a better solution https://github.com/kubesphere/console/issues/2247

[2021-09-15 10:13] harrisonliu5 commented on #2247
/assign @weili520

[2021-09-15 10:14] harrisonliu5 commented on #2213
/kind need-to-verify

[2021-09-16 09:23] serenashe commented on #2213
/lgtm Good job! This looks good to me.

[2021-09-17 06:52] wansir opened #2256 "Require client authentication for confidential clients"
ks-console use [Resource Owner Password Credentials Grant Flow](https://datatracker.ietf.org/doc/html/rfc6749#section-4.3)  issuing access_token. For security reasons, client authentication for confidential clients is required when posting an access token request. `client_secret` and `client_id` are configurable.

Related to: https://github.com/kubesphere/kubesphere/pull/3525

Example:

[code]

[2021-09-17 06:53] wansir commented on #2256
/cc @harrisonliu5

[2021-09-17 09:29] #2231 closed

[2021-09-17 12:56] #2256 closed

[2021-09-22 03:01] Patrick-LuoYu opened #2273 "No related resource is returned in the workload deletion dialog box."
**Describe the bug**
No related resource is returned in the workload deletion dialog box.
![image](https://user-images.githubusercontent.com/76198553/134276549-080db69a-eeb7-4835-a611-c2f7e14fb405.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: current console/master

**Expected behavior**
![image](https://user-images.githubusercontent.com/76198553/134276694-6838144d-4d96-4047-9374-6e4f

[2021-09-22 05:40] jioce opened #2274 "When creating a workload setting container group, do not select the GPU type. Clicking to confirm is invalid"
**Describe the bug**
1. Click Create Workload, set a name, click Next
2. set image,click the √，The page is not responding
![image](https://user-images.githubusercontent.com/88183150/134281303-644d5b6b-ae7e-4c9c-88bf-44cf860c863d.png)

Versions Used
KubeSphere: v3.2.0-alpha.0

/kind bug
/assign @harrisonliu5
priority medium
/milestone v3.2

[2021-09-22 10:10] weili520 commented on #2274
##2272

[2021-09-23 02:42] wenxin-01 opened #2278 "platform version is wrong"
**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.0-alpha.0`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/134447424-3e731728-6f06-4d9d-b225-3a3befce2463.png)

**Expected behavior**
pla

[2021-09-23 02:45] liuyp2018 opened #2279 "The notification button function is invalid"
**Describe the bug**
1.Click the notification switch button, Notification not enabled

![image](https://user-images.githubusercontent.com/36271543/134447624-493e400b-dd97-481a-b9df-979635a68c31.png)

2. Click the check box, it is not checked
![image](https://user-images.githubusercontent.com/36271543/134449137-1cf625e4-a9e1-48f2-bcb0-c7be55d50a3c.png)

**Versions used(KubeSphere/Kubernetes)**
Kube

[2021-09-23 02:57] harrisonliu5 commented on #2279
/assign @xuliwenwenwen

[2021-09-23 02:57] jioce opened #2280 "The time selector of the resource status in the project overview shows an error"
**Describe the bug**
1. Click on overview,Time display error
2. to choose time,Refresh the interface,Time display error
![image](https://user-images.githubusercontent.com/88183150/134448062-a2fd07a3-f6d5-4d5f-95d1-ad5c98b496be.png)

**Expected behavior**

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:v3.2.0-alpha.0
/kind bug
/assign @harrisonliu5
priority medium
/milestone v3.2

[2021-09-23 03:10] liuyp2018 opened #2281 "The message on the email notification setting page needs to be optimized"
**Describe the bug**
The message on the email notification setting page needs to be optimized
![image](https://user-images.githubusercontent.com/36271543/134449436-e0dbf695-2830-42dc-9edb-0f34f460187b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks3.2 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @xuliwenwenwen
/priority low

[2021-09-23 03:15] harrisonliu5 commented on #2274
/kind need-to-verify

[2021-09-23 03:19] jioce opened #2282 "Multi-cluster workload editing container group template crashes"
**Describe the bug**
1. Click on more，Click Edit Configuration Template
2. Click on the pod template,Exit the editing interface

https://user-images.githubusercontent.com/88183150/134450071-e158b898-4987-4624-95eb-eeddf2be515c.mp4

**Versions used@harrisonliu5 ubeSphere/Kubernetes)**
KubeSphere:v3.2.0-alpha.0

/kind bug
/assign @harrisonliu5
priority medium
/milestone v3.2

[2021-09-23 03:59] liuyp2018 opened #2284 "The notification needs to be optimized on the notification Settings page"
**Describe the bug**
The prompts need to be optimized
![image](https://user-images.githubusercontent.com/36271543/134451872-6c443a0c-e1bf-4de0-ad53-abae4fdde786.png)

![image](https://user-images.githubusercontent.com/36271543/134452089-173a3ebd-1953-4bf2-bcce-8b073dc7a95c.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks3.2 alpha
Kubernetes: (If KubeSphere installer used, you can skip

[2021-09-23 04:07] liuyp2018 opened #2285 "The describe information is incorrect on webhook setting page"
**Describe the bug**
The describe information is incorrect on webhook setting page
![image](https://user-images.githubusercontent.com/36271543/134453208-c1b4c5f8-5350-4c21-8097-dac905c1a617.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks3.2 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @xuliwenwenwen
/priority low

[2021-09-23 05:52] wenxin-01 opened #2286 "DevOps information display error"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.0-alpha.0`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/134460058-3d29dc0f-f19e-4b04-9319-ab08718e199c.png)

![image](https://user-images.githubusercontent.com/68640256/134466805-b8903fb8-2747-4759-94fe-4f0fea19d875.png)

![image](https://user-images.githubusercontent.com/6

[2021-09-23 05:58] liuyp2018 opened #2287 "If no group robot is set, the check fails"
**Describe the bug**
1. In the dingding notification Settings page
2. Setting session Information
3. If no group robot is set, the check fails

![image](https://user-images.githubusercontent.com/36271543/134460494-0d6936d2-184a-400c-aad1-f019f46542c6.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks3.2 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assi

[2021-09-23 06:04] jioce opened #2288 "An error occurred in the container setting resource quota input box"
**Describe the bug**
1. Click Edit Configuration Template, click Differentiated Configuration
2. Select container image, edit resource quota
3. The resource reservation is deleted after input, and it shows that it is not reserved and cannot be modified
4. The resource reservation is deleted after input, and it shows that it is not reserved and cannot be modified

https://user-images.githubusercont

[2021-09-23 07:01] LinuxSuRen commented on #2286
/area devops

[2021-09-23 08:27] JohnNiang opened #2291 "Request to upgrade DevOps APIs"
**What would you like to be added** / **Why is this needed**:

In the upcomming [ks-devops](https://github.com/kubesphere/ks-devops) v3.2.0, we've provided some new APIs about PipelineRun. Please see also <https://github.com/kubesphere/ks-devops/issues/41>.

Before we release v3.2.0, we need to adapt some APIs to imporve DevOps performance. The following is a list of API changes we need to adapt:

[2021-09-23 09:53] zryfish opened #2292 "Three cancel buttons on Project gateway editing page"
**Describe the bug**
There are three duplicated `cancel` buttons on gateway editing page.

![截屏2021-09-23 17 51 39](https://user-images.githubusercontent.com/3326354/134487629-01ab4827-d2a3-4bb1-b83f-d35344389ca7.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-alpha.0
Kubernetes: v1.21.5

**Environment**
How many nodes and their hardware configuration:

/kind bug

[2021-09-23 10:05] zryfish opened #2293 "Still can enable project gateway even when cluster gateway is enabled"
**Describe the bug**
 When there is a cluster gateway, shouldn't allow user to enable project gateway.
![截屏2021-09-23 18 03 12](https://user-images.githubusercontent.com/3326354/134489106-983eb2f6-4e2c-45be-9c0d-428dc0588093.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-alpha.0
Kubernetes: v1.21.5

/kind bug

[2021-09-23 10:12] JohnNiang opened #2294 "Request to upgrade Pipeline list API"
**What would you like to be added** / **Why is this needed**:

In the upcomming [ks-devops](https://github.com/kubesphere/ks-devops) v3.2.0, we've provided some new APIs about PipelineRun. Please see also <https://github.com/kubesphere/ks-devops/issues/41>.

Before we release v3.2.0, we need to adapt some APIs to imporve DevOps performance. The following is one of API changes we need to adapt:

-

[2021-09-23 10:13] JohnNiang opened #2295 "Request to upgrade Pipeline activities list API"
**What would you like to be added** / **Why is this needed**:

In the upcomming [ks-devops](https://github.com/kubesphere/ks-devops) v3.2.0, we've provided some new APIs about PipelineRun. Please see also <https://github.com/kubesphere/ks-devops/issues/41>.

Before we release v3.2.0, we need to adapt some APIs to imporve DevOps performance. The following is one of API changes we need to adapt:

-

[2021-09-23 10:14] JohnNiang opened #2296 "Request to upgrade Pipeline activity detail API"
**What would you like to be added** / **Why is this needed**:

In the upcomming [ks-devops](https://github.com/kubesphere/ks-devops) v3.2.0, we've provided some new APIs about PipelineRun. Please see also <https://github.com/kubesphere/ks-devops/issues/41>.

Before we release v3.2.0, we need to adapt some APIs to imporve DevOps performance. The following is one of API changes we need to adapt:

-

[2021-09-23 10:15] JohnNiang commented on #2291
I'm going to close this issue due to separated issues(#2294  #2295 #2296 ) created.

/close

[2021-09-23 10:15] #2291 closed

[2021-09-23 10:20] LinuxSuRen opened #2297 "Remove the unnecessary API calling v1alpha2/crumbissuer"
**What would you like to be added**:

![image](https://user-images.githubusercontent.com/1450685/134491021-b0377d64-bde5-4364-8b9d-bba1faf38e33.png)

**Why is this needed**:

This API will call Jenkins API directly. And it's not necessary.

/priority high
/area devops

[2021-09-23 11:29] carefree666 opened #2298 "Integrated OIDC, set Chinese provider_name login error"
**Describe the Bug**
Integrated OIDC  set Chinese provider_name login error   The prompt content is “{"status":"ERR_UNESCAPED_CHARACTERS","message":"Request path contains unescaped characters"}”
The configuration screenshot is as follows:
![image](https://user-images.githubusercontent.com/46175700/134497542-708e88e8-cb3a-4c28-92f7-11b199030112.png)
![image](https://user-images.githubusercontent.co

[2021-09-24 02:03] liuyp2018 opened #2299 "Value not saved after notification filter condition is saved"
**Describe the bug**
Value not saved after notification filter condition is saved
![image](https://user-images.githubusercontent.com/36271543/134607129-28b45a2f-d2a7-4168-8864-240cd99176da.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @xuliwenwenwen
/priority Medium

[2021-09-24 02:41] jioce opened #2300 "Multi-cluster project overview Chinese display error"
**Describe the bug**
1. Click for overview,there are untranslated parts

![image](https://user-images.githubusercontent.com/88183150/134609652-eb825567-72b6-4695-bd63-fc0ed14d6f02.png)

Versions used@harrisonliu5 ubeSphere/Kubernetes)
KubeSphere:v3.2.0-alpha.0

/kind bug
/@kubesphere/sig-console
priority medium

[2021-09-24 03:05] ks-ci-bot opened #2301 "[release-3.1] feat: Website static link control"
Manual cherrypick required.

#2251 failed to apply on top of branch "release-3.1":
[code]

[2021-09-24 03:13] #2301 closed

[2021-09-24 03:18] jioce opened #2302 "Project quota memory limit input error"
**Describe the bug**
1.Click Quota Management, click Edit Quota
2. Edit the memory limit, enter, and the Input greater than 8 fails

https://user-images.githubusercontent.com/88183150/134612952-6a65495b-1b05-4732-a78c-4f0388d5d0d5.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:v3.2.0-alpha.0

/kind bug
/@kubesphere/sig-console

[2021-09-24 03:26] xuliwenwenwen commented on #2299
Support inputting multiple values, need enter keypress appends items to the list, I will add usage tips later.

[2021-09-24 03:30] JohnNiang commented on #2294
/assign @ruibaby

[2021-09-24 03:30] JohnNiang commented on #2295
/assign @ruibaby

[2021-09-24 03:30] JohnNiang commented on #2296
/assign @ruibaby

[2021-09-24 06:10] liuyp2018 opened #2303 "click the grafana template, the console reports error"
**Describe the bug**

click  the grafana template, the console reports an error

![image](https://user-images.githubusercontent.com/36271543/134626505-4ed41b2a-bf79-4718-aa86-537c0879b232.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority High

[2021-09-24 06:35] liuyp2018 opened #2304 "Prompt optimization"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/134627619-9b1f5252-db2f-47fc-b2a6-a14388b67fc2.png)

![image](https://user-images.githubusercontent.com/36271543/134628009-5fbd2055-2f8d-4a07-af71-f6468fb05e33.png)

![image](https://user-images.githubusercontent.com/36271543/134628550-12b4f721-780f-4514-950c-0779a318050a.png)

![image](https://user-images.githubuser

[2021-09-24 06:39] liuyp2018 commented on #2303
the test grafana url is: https://grafana.com/api/dashboards/12776/revisions/2/download

[2021-09-24 07:14] liuyp2018 opened #2307 "The value of the storage capability field is inconsistent"
**Describe the bug**
The value displayed in the storage type list is inconsistent with that in the configuration file
![image](https://user-images.githubusercontent.com/36271543/134633044-610d425b-7d97-4f60-a979-02c97d82c3e5.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/priority Medium
/assign @harrisonliu5
/Mil

[2021-09-24 07:14] liuyp2018 commented on #2307
the same problem:
![image](https://user-images.githubusercontent.com/36271543/134633679-60c3726d-7b25-4f2f-b709-0698ed6aadd0.png)

[2021-09-24 08:04] wenxin-01 opened #2308 "Some error in 'Advanced Settings' of Create Pipeline"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `ks3.2.0-alpha.0`

**To Reproduce**
Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/68640256/134640838-7c215a22-f5dd-4262-a05f-79c08d03af2f.png)

/kind bug
/assign @kubesphere/sig-console
/priority medium

[2021-09-24 08:04] liuyp2018 opened #2309 "Storage type field value display problem"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/134639705-4c2fb023-9e3c-485b-a428-307e11a9930d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Low

[2021-09-24 08:16] ks-ci-bot opened #2310 "[release-3.1] feat: Support notification filter key custom"
Manual cherrypick required.

#2269 failed to apply on top of branch "release-3.1":
[code]

[2021-09-24 08:30] #2310 closed

[2021-09-24 09:52] liuyp2018 opened #2312 "the delete button should be disabled for the bound pv"
**Describe the bug**

the delete button should be disabled for the bound pv
![image](https://user-images.githubusercontent.com/36271543/134655340-08940403-4ea0-4b02-aac6-5ca78f1d0444.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Medium
/Milestone v3.2

[2021-09-24 14:05] live77 commented on #2183
Hi,

Hi, I would like to resolve this issue, may I start working on it ?
I would like to make sure that this issue is just about a front-end feature, nothing related to the modify the backends(the ks-api stuffs).

[2021-09-24 14:23] weili520 commented on #2183
yes, nothing related to backend, it just a ui issue.

[2021-09-24 15:04] live77 commented on #2183
cool. thanks .

[2021-09-24 15:08] f10atin9 commented on #2183
Looking forward to your contribution! 😃

[2021-09-26 06:04] serenashe opened #2315 "The SSL Secure Connection checkbox cannot be selected"
**Describe the bug**
The SSL Secure Connection button is invalid when configuring the email notifications.

The screenshot that shows the issue:
![image](https://user-images.githubusercontent.com/75245999/134795432-f3842e75-fac5-425b-bc72-76a4b2ee6230.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Platform Settings**

[2021-09-26 06:04] serenashe commented on #2315
/assign @xuliwenwenwen

[2021-09-26 06:07] #2213 closed

[2021-09-26 06:07] #2209 closed

[2021-09-26 06:20] RolandMa1986 opened #2316 "Traffic data not shown on the side bar and Grayscale Release Job"
**Describe the bug**
When upgrading kiali to v1.38, The traffic data no longer shows on the following page.

![20210926141511](https://user-images.githubusercontent.com/1720333/134795993-4c2a93d4-ac4f-43fc-82f1-ec911995de03.png)

![20210926141549](https://user-images.githubusercontent.com/1720333/134795991-5e866737-5941-4a64-bafb-1b1a1232af2d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphe

[2021-09-26 06:49] liuyp2018 opened #2317 "The deleted PV still exists in the list"
**Describe the bug**
In the pv list, the deleted data still exists in the list. the delete data exists in the list unless manually refresh the list.
![image](https://user-images.githubusercontent.com/36271543/134796801-abeae042-1ead-499d-967e-6da7d4ad6ed9.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind b

[2021-09-26 06:52] harrisonliu5 commented on #2317
/assign @weili520

[2021-09-26 06:52] harrisonliu5 commented on #2312
/assign @weili520

[2021-09-26 06:53] harrisonliu5 commented on #2309
/assign @weili520

[2021-09-26 06:53] harrisonliu5 commented on #2307
/assign @weili520

[2021-09-26 06:53] #2307 closed

[2021-09-27 05:00] liuyp2018 opened #2320 "GPU resource limits should restrict the input of decimals"
**Describe the bug**
when setting the GPU resource limits input with a decimal number, the console report error
GPU resource limits should restrict the input of decimals
![image](https://user-images.githubusercontent.com/36271543/134844405-d03bf8b7-6312-40ec-91ef-a41c72e155bd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha
Kubernetes: (If KubeSphere installer used, you can

[2021-09-27 05:44] LinuxSuRen opened #2321 "Hide the branch column if the Pipeline is not a multi-branch Pipeline"
**What would you like to be added**:
As you can see from the following screenshot, this is a non-multi-branch Pipeline. So the column `branch` is useless.

![image](https://user-images.githubusercontent.com/1450685/134851129-711b9f84-bee5-4d23-8980-3945e8027fa4.png)

/area devops
/good-first-issue

**Why is this needed**:

Just let our users see the useful information.

[2021-09-27 06:30] harrisonliu5 commented on #2320
/assign @weili520

[2021-09-27 07:10] liuyp2018 opened #2324 "The input box cannot input numbers properly"
**Describe the bug**
1.In the project quota Settings page
2. Enter number 10 in the input box
**Expected Results:**
can enter 10
**Actual results:**
Cannot enter 10

https://user-images.githubusercontent.com/36271543/134860702-014563bd-cbb2-4d66-bc6e-1d2c9f7ff6d6.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/a

[2021-09-27 07:47] LinuxSuRen opened #2325 "Call the same API twice in the Pipelien page"
**What would you like to be added**:

The following API was called twice:

`devops.kubesphere.io/v1alpha3/devops/testxpj48/pipelines/parallel-cockatoofluff

![image](https://user-images.githubusercontent.com/1450685/134865840-6cdc2c4c-c615-4c77-a8c5-eae956ea20bb.png)

**Why is this needed**:

It's unnecessary to call the same API twice.

/area devops
/priority high

[2021-09-27 07:54] LinuxSuRen commented on #2325
Same problem in the pipeline log page

![image](https://user-images.githubusercontent.com/1450685/134867096-27c8b5ab-9ba0-4ed1-adce-cd4953914fc2.png)

[2021-09-27 09:07] serenashe opened #2326 "The skip TLS verificaition checkbox cannot be selected"
**Describe the bug**
The **Skip TLS verification.** checkbox cannot be selected, and if it is somehow selected, the checkbox cannot be cleared.

The following screenshots show the issue:
![image](https://user-images.githubusercontent.com/75245999/134877660-43c734ce-d958-4dc7-a814-0179c02afed8.png)
![image](https://user-images.githubusercontent.com/75245999/134878102-6f0c55d8-b708-444c-bd07-d4263bb

[2021-09-27 09:40] f10atin9 opened #2327 "Update storageClass Capability logic"
**What would you like to be added**:
Add the following logic about storage Classcapability:
if console can not find annotations,  treat it as false.
And if the storageClass have no annotations about capability, the user cannot set it to true on the console.
**Why is this needed**:
Reduce the possibility of user error operation

[2021-09-27 09:41] f10atin9 commented on #2327
/cc @weili520

[2021-09-27 10:08] calvinyv opened #2328 "Show related events on first page for not-running pod or not-ready node"
**What's it about?**

Show related events on first page for not-running pod or not-ready node
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* For KS or K8s rookies, they always post some question like 'why my pod/node's is not running', and the community is always telling them that 'you need to check the related event, then

[2021-09-28 02:31] liuyp2018 opened #2332 "the display should be Chinese on the Edit Project Quota page"
**Describe the bug**
In Chinese environment, the display should be Chinese on the Edit Project Quota page
![image](https://user-images.githubusercontent.com/36271543/135012595-a6a0c191-2538-4cac-845c-8a214ca3dfc6.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/pri

[2021-09-28 02:46] zhu733756 opened #2333 "Statefulset workload can not be custom naming, and the headless svc would not delete while this sts is deleted on the console."
**Environment**
1 master 1 node:  8cpu/16g

**To Reproduce**
Build a statefulset workload by using container `mysql:latest` on the console. Would post a statefulset workload generated and a headless svc generated.

But the headless svc can not be custom naming, its name may be generated randomly by the js script. In addition, this headless svc would not delete while this sts is deleted.

Although

[2021-09-28 02:48] zhu733756 commented on #2333
/cc @harrisonliu5

[2021-09-28 03:06] #2274 closed

[2021-09-28 03:39] jioce opened #2335 "An error message appears when creating a FederatedDeployment"
**Describe the bug**
1. Click create FederatedDeployment
2. Set the name, click Next
3. Set the image, click Next
4. Do not mount the volume, click Next，An error message appears on the page
5. Click create，FederatedDeployment created successfully

https://user-images.githubusercontent.com/88183150/135019098-79859d11-a59e-4b2c-bbce-1b8d68a6786b.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphe

[2021-09-28 03:46] liuyp2018 opened #2337 "some module names of project role are not displayed in Chinese in the Chinese environment"
**Describe the bug**

On the role creation page, some module names are not displayed in Chinese in the Chinese environment
![image](https://user-images.githubusercontent.com/36271543/135019948-8eab11f7-8d8b-4e56-8e8a-ca2b4b6d58af.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console
/mi

[2021-09-28 05:31] weili520 commented on #2302
/assign @weili520

[2021-09-28 05:31] weili520 commented on #2324
/assign @weili520

[2021-09-28 05:36] weili520 commented on #2302
this problem has been resolved. [fix: Resource limit input bug](https://github.com/kubesphere/console/pull/2268#issue-999971661)

[2021-09-28 05:38] weili520 commented on #2324
/need-to-verfiy

[2021-09-28 05:55] liuyp2018 opened #2338 "The default time range is displayed incorrectly on the overview page"
**Describe the bug**
The default time range is displayed incorrectly on the overview page
![image](https://user-images.githubusercontent.com/36271543/135030987-6dfa1c2b-76f6-41d8-b38a-744a075e0732.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/milestone v3.2
/priority Medium

[2021-09-28 06:35] harrisonliu5 commented on #2326
/assign @xuliwenwenwen

[2021-09-28 06:36] harrisonliu5 commented on #2302
/kind need-to-verify

[2021-09-28 06:36] harrisonliu5 commented on #2324
/kind need-to-verify

[2021-09-28 06:37] harrisonliu5 commented on #2315
/kind need-to-verify

[2021-09-28 06:39] harrisonliu5 commented on #2287
/kind need-to-verify

[2021-09-28 06:40] serenashe commented on #2315
/lgtm

[2021-09-28 06:40] #2315 closed

[2021-09-28 06:41] harrisonliu5 commented on #2286
/assign @serenashe

[2021-09-28 06:49] serenashe commented on #2286
/assign @kubesphere/sig-docs @Felixnoo I guess the UI text optimization of this module is in progress. Please take a look.

[2021-09-28 06:51] #2201 closed

[2021-09-28 06:52] #2197 closed

[2021-09-28 06:52] #1962 closed

[2021-09-28 06:58] weili520 opened #2339 "resource limits is equal to requests if just set requests in container default quota modal"
**General remarks**

**Describe the bug**
resource limits is equal to requests  if just set requests  in container default quota modal.

https://user-images.githubusercontent.com/33231138/135037840-7dcbb8cd-1db6-4b8e-aeeb-5d053c0ce9f8.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  v3.2.0-alpha.0

**Environment**
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

**To Reproduce**

[2021-09-28 06:59] Patrick-LuoYu commented on #2286
This issue is a known issue and will be fixed in later PRs. UI text optimization is still in progress.

[2021-09-28 07:36] weili520 commented on #2320
/kind need-to-verify

[2021-09-28 07:41] weili520 commented on #2337
/kind need-to-verfiy

[2021-09-28 08:43] jioce opened #2343 "Failed to mount config or secret for federatedDeployment"
**Describe the bug**
The config and secret already exist in the federal project
1. click more,click Edit Config Template
2. click on vloume,click Edit Config Template
3. Click the drop-down box，the resource is not displayed

![image](https://user-images.githubusercontent.com/88183150/135049876-3f22cf30-2cbf-4ff4-87d2-ba6530b5255f.png)

![image](https://user-images.githubusercontent.com/88183150/13

[2021-09-28 09:41] jioce opened #2345 "FederatedDeployment volume name is displayed incorrectly"
**Describe the bug**
FederatedDeployment volume name is displayed incorrectly

<img width="958" alt="存储卷名称错误1" src="https://user-images.githubusercontent.com/88183150/135063455-6e1ed872-f738-4713-a26c-fce258dfeca0.png">

<img width="961" alt="存储卷名称错误2" src="https://user-images.githubusercontent.com/88183150/135063465-edf25732-0b10-4b23-a15f-7756a0e1cee3.png">

**Versions used(KubeSphere/K
KubeSphe

[2021-09-28 10:01] wenxin-01 commented on #2136
issue fixed `nightly-20210927`

[2021-09-28 10:01] #2136 closed

[2021-09-28 10:01] jioce opened #2346 "Multi-cluster projects create resource typesetting errors in English environment"
**Describe the bug**

![image](https://user-images.githubusercontent.com/88183150/135066378-56d1ac16-8bf9-48a0-9fdd-c7291b19a2d6.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20210927

/kind bug
/@kubesphere/sig-console
/priority medium

[2021-09-28 10:09] wenxin-01 commented on #2106
issue fixed `nightly-20210927`

[2021-09-28 10:09] #2106 closed

[2021-09-28 11:47] live77 commented on #2183
😄, I just submitted a pull request, wish it would help.

[2021-09-29 04:27] VioZhang opened #2349 "We should redesign the logging page for the overall arrangement is not rational."
**What would you like to be added**:
The area of the log area should be larger because the people who search for the log will focus on the content.

![image](https://user-images.githubusercontent.com/41519383/135203075-a5bf8145-6065-4531-a301-74c47c8c4dca.png)

[2021-09-29 05:54] liuyp2018 opened #2351 "The user-defined filtering field rule is incorrect"
**Describe the bug**
The user-defined filtering field rule is incorrect
![image](https://user-images.githubusercontent.com/36271543/135210826-b43d8064-477e-4da6-9134-eaeb95e319fd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @xuliwenwenwen
/area console
/kind bug
/kind Medium

[2021-09-29 06:04] VioZhang commented on #2349
related：https://kubesphere.com.cn/forum/d/5681

[2021-09-29 06:26] jioce opened #2353 "The StatefulSets list shows an error"
**Describe the bug**

![image](https://user-images.githubusercontent.com/88183150/135214308-62b3c4da-304d-4672-9c3e-312a2903e3fc.png)

![image](https://user-images.githubusercontent.com/88183150/135213534-bc6121d0-e339-4526-acc1-dbdfdd5252af.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20210927

/kind bug
/@kubesphere/sig-console
/priority medium

[2021-09-29 06:40] jioce opened #2355 "Edit the federated service to specify the workload display error"
**Describe the bug**
1. click more,click Edit Config Template
2. click specify workload,display a list of workloads,There are two StatefulSets
![image](https://user-images.githubusercontent.com/88183150/135215368-edeb7688-0ab7-41ec-b8c2-bf824537a749.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20210927

/kind bug
/@kubesphere/sig-console
/priority medium

[2021-09-29 07:03] liuyp2018 commented on #2351
the same problem:
![image](https://user-images.githubusercontent.com/36271543/135219215-4cef3559-ed0b-476b-84fa-3b621e3c640e.png)

[2021-09-29 07:07] harrisonliu5 commented on #2338
/kind need-to-verify

[2021-09-29 07:08] harrisonliu5 commented on #2327
/kind need-to-verify

[2021-09-29 07:08] harrisonliu5 commented on #2309
/kind need-to-verify

[2021-09-29 07:08] harrisonliu5 commented on #2312
/kind need-to-verify

[2021-09-29 07:09] harrisonliu5 commented on #2299
/kind need-to-verify

[2021-09-29 07:10] harrisonliu5 commented on #2285
/kind need-to-verify

[2021-09-29 07:10] harrisonliu5 commented on #2281
/kind need-to-verify

[2021-09-29 07:10] harrisonliu5 commented on #2279
/kind need-to-verify

[2021-09-29 07:10] f10atin9 commented on #2327
Verified

[2021-09-29 07:10] #2327 closed

[2021-09-29 07:11] #2235 closed

[2021-09-29 07:11] harrisonliu5 commented on #2162
/kind need-to-verify

[2021-09-29 07:19] liuyp2018 opened #2356 "suggestion that prompting the user to save the configuration when switching tabs"
**Describe the bug**
1. Go to the dingding notification configuration page
2. Configure the service information correctly
3. Click Send test information
4. Switch to the enterprise wechat configuration page

**Expected Results:**
Prompt the user to save the configuration

**Actual results:**
The user is not prompted to save the configuration, and the previous pin Settings are cleared after the swi

[2021-09-29 07:21] jioce opened #2357 "Edit federated service tag selector error"
**Describe the bug**
1. click more,click Edit Config Template
2. delete the key, click save,click to confirm
3. The update is successful, check that the resource status has not changed

![image](https://user-images.githubusercontent.com/88183150/135220190-ca1f00ee-1ed4-4f94-9be5-944baf958e2b.png)

![image](https://user-images.githubusercontent.com/88183150/135221417-2af39457-f79e-42b0-a04a-5c7465e

[2021-09-29 07:30] Patrick-LuoYu commented on #2162
The following wording should be better:
应用安装需知
* 该应用为开源软件，您必须遵守该应用的开源协议。
* 您下载或安装该应用导致的任何后果将由您自行承担。
如果需要相关支持服务，请访问 kubeSphere.cloud。
In addition, we might require advices from a legal expert.

[2021-09-29 07:31] jioce opened #2358 "Edit the federatedService to add the same port successfully"
**Describe the bug**
1. Edit the federation service to add the same port，click save
2. The update is successful, check the config, the added port information already exists
3. click service access,the cluster port information is not updated
![image](https://user-images.githubusercontent.com/88183150/135222467-3fd12b3b-f34c-429c-a78d-a1d027b18bcc.png)

![image](https://user-images.githubusercontent

[2021-09-29 07:40] yinmin2020 opened #2360 "Pipeline edit information re-select change account option stealth"
**General remarks**
Line edit information re-select change account options stealth, need to move the mouse to the blank will be displayed and the page is too wide need to drag past
![image](https://user-images.githubusercontent.com/65068467/135224273-1fd7d208-4b9f-40fa-81ee-c099c5b849d3.png)
![image](https://user-images.githubusercontent.com/65068467/135224435-0989f64c-4e76-4f18-9411-d3fb1f1ad827.

[2021-09-29 07:50] #2294 closed

[2021-09-29 07:50] #2295 closed

[2021-09-29 07:50] #2296 closed

[2021-09-29 07:50] #2297 closed

[2021-09-29 07:56] yinmin2020 opened #2361 "Add container startup check did not take effect"
**General remarks**
1. Create a workload
2. Select the health checker
3. Select the container to start the check
4. Enter a value randomly
5. After the container is started, check whether the container is started
![image](https://user-images.githubusercontent.com/65068467/135226667-280c62d0-2c60-43b9-ba0d-f55c0733867f.png)
![image](https://user-images.githubusercontent.com/65068467/135226686-b0dbf

[2021-09-29 08:03] liuyp2018 opened #2362 "The enterprise wechat notification switch cannot be enabled successfully"
**Describe the bug**

The enterprise wechat notification switch cannot be enabled successfully

https://user-images.githubusercontent.com/36271543/135227901-c77d7175-a2ff-4a87-999a-70ea14c9e9ea.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20210927
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @xuliwenwenwen
/area console
/kind bug
/kind Medium

[2021-09-29 08:04] liuyp2018 commented on #2362
/priority Medium

[2021-09-29 08:15] liuyp2018 commented on #2362
enable slack and webhook has the same problem

[2021-09-29 08:34] liuyp2018 opened #2364 "suggestion that adding a button to view the password in plaintext"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/135232546-ef15b484-c3b1-435e-8b03-44bcc15af80d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @xuliwenwenwen
/area console
/kind bug
/priority low

[2021-09-29 08:52] JohnNiang commented on #2360
/area devops

[2021-09-29 08:54] LinuxSuRen commented on #2360
duplicated with https://github.com/kubesphere/console/issues/1781
/close

[2021-09-29 08:54] #2360 closed

[2021-09-29 08:59] jioce opened #2365 "Federated routing rules display error"
**Describe the bug**
1. Create federated routing，set rules
2. Click on the route name to enter the details interface ，check the route information, and the routing rules are displayed incorrectly

![image](https://user-images.githubusercontent.com/88183150/135236934-740611f1-5771-4aa5-9a33-425c4da46b8c.png)

![image](https://user-images.githubusercontent.com/88183150/135237051-ee21b4e5-ea9e-47c6-8e

[2021-09-29 10:07] #2183 closed

[2021-09-29 10:27] jioce opened #2367 "The federatedStatefulSet set update strategy Ordinal for Dividing Pod Replicas input error"
**Describe the bug**
1. click more,click Edit Config Template,click Rolling Update Settings
2. enter “-”，click save,click to confirm
3. Edit the config， and change the container port，click update
4. FederatedStatefulSet is not updated
5. Change the Ordinal for Dividing Pod Replicas to 0，FederatedStatefulSet updating

https://user-images.githubusercontent.com/88183150/135251323-ad54d780-47db-4ad3-b

[2021-09-30 05:51] wenxin-01 commented on #1600
issue fixed `ks nightly-20210928`
![image](https://user-images.githubusercontent.com/68640256/135394961-f4648a30-1a2c-455a-8b06-71c119ffcb7e.png)

[2021-09-30 05:51] #1600 closed

[2021-09-30 06:05] wenxin-01 commented on #2302
Hi @harrisonliu5 ,The issue remains in `nightly-20210928`
**How To Reproduce**
Steps to reproduce the behavior:
1、Click Quota Management，delete 'No request'
2、select ‘No request’
3、delete 'No request'
4、can not delete 'No request'

https://user-images.githubusercontent.com/68640256/135396394-7ed3ea96-9dbf-4e25-a77a-300adaffe282.mov

[2021-09-30 06:07] wenxin-01 commented on #2099
issue fixed `ks nightly-20210928`

[2021-09-30 06:07] #2099 closed

[2021-09-30 06:08] weili520 commented on #2302
get it.

[2021-09-30 06:08] wenxin-01 commented on #2094
issue fixed `ks nightly-20210928`

[2021-09-30 06:08] #2094 closed

[2021-09-30 06:09] jioce opened #2372 "Differentiated editing federatedservice port error"
**Describe the bug**
1. click more,click differentiated setting,choose port setting
2. Change the port of a container in the host cluster，click save，both container port information is changed
3. click to confirm,check service access,the host cluster has only one port information

https://user-images.githubusercontent.com/88183150/135396178-01bcfa1b-648f-43a0-8ccc-17858537e42d.mp4

**Versions used(

[2021-09-30 06:41] weili520 commented on #2302
@harrisonliu5
if we set the input number is 0, the component will replace it as text 'No Request', in addition the input component disallow input string value. I think there is no better way to solve it at now. How do you think about it?

[2021-09-30 06:42] jioce opened #2373 "Create service differentiation editing inmgeusing default port error"
**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and other info are welcom

[2021-09-30 07:10] wenxin-01 opened #2374 "Did not display the resource related to service when delete service."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks-console nightly-20210929`

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/135404264-dd51822f-7298-41d0-8014-9c8f40e77463.png)

![image](https://user-images.githubusercontent.com/68640256/135404316-22011e21-8442-4aac-a3db-97ae5ccf5097.png)

/kind bug
/assign @harrisonliu5
/priori

[2021-09-30 07:12] wenxin-01 commented on #2092
issue fixed `ks-console nightly-20210929`
![image](https://user-images.githubusercontent.com/68640256/135404773-b4eb6d5c-6eb2-47fa-a31c-1a819169c8d8.png)

[2021-09-30 07:12] #2092 closed

[2021-09-30 07:13] wenxin-01 commented on #2374
/milestone v3.2

[2021-09-30 07:20] liuyp2018 opened #2375 "suggestion giving the prompt when there are no associated resources under workload"
**Describe the bug**
1. Deleting workloads
2. When there are no associated resources under the workload, suggestion giving the prompt 'no associated resources'

![image](https://user-images.githubusercontent.com/36271543/135405415-85f079d7-d107-48d9-9fc7-af7e2ff3155f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this

[2021-09-30 08:09] wenxin-01 commented on #2141
issue fixed `ks-console nightly-20210929`

[2021-09-30 08:09] #2141 closed

[2021-09-30 08:53] liuyp2018 opened #2378 "'Accout' is not displayed in Chinese"
**Describe the bug**
'accout' is not displayed in Chinese
![image](https://user-images.githubusercontent.com/36271543/135417574-69859a50-a6c7-4196-91f7-03fc6aadbd46.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority low

[2021-10-02 09:34] live77 commented on #2321
Hi, I would like to resolve this issue ;)

[2021-10-05 09:17] FeynmanZhou opened #2380 "KubeSphere Console i18n Support"
KubeSphere console has supported four languages in [locales](https://github.com/kubesphere/console/tree/master/locales), including English, Simplified Chinese, Traditional Chinese, Spanish. As the UI copywriting has huge updates in English and Simplified Chinese from v3.2.0, the existing version of **Traditional Chinese** and **Spanish** are supposed to be updated accordingly.

We are also looking

[2021-10-05 10:52] himanshu007-creator commented on #2380
Hi , i would like to work on <code>Hindi</code> translations

[2021-10-07 15:24] FeynmanZhou opened #2381 "Hindi (Assignee: @Himanshu)"

[2021-10-07 15:35] FeynmanZhou commented on #2381
Thanks @himanshu007-creator , you have started the first step with the [KubeSphere Hacktoberfest 2021](https://github.com/kubesphere/kubesphere/discussions/4322)!

[2021-10-08 02:45] f10atin9 opened #2384 "Update text when creating snapshot"
**What would you like to be added**:

If there is an AccessMode annotation item in StorageClass but the map is empty, treat as if there are no annotations.
**Why is this needed**:

![image](https://user-images.githubusercontent.com/36705019/136489693-d527e36a-8e31-4b0e-81c2-62b2b1e11f9a.png)
There is no option to choose when the user selects again after canceling the selection.
![image](https://us

[2021-10-08 02:47] f10atin9 commented on #2384
/assign @weili520

[2021-10-08 03:20] harrisonliu5 commented on #2345
/assign @weili520

[2021-10-08 03:22] liuyp2018 opened #2385 "The cluster gateway is shown in the project Gateway"
**Describe the bug**
**steps**
1. Create a cluster gateway in the cluster Settings
2. Enter the project and view the cluster gateway displayed in the project gateway
![image](https://user-images.githubusercontent.com/36271543/136492795-0627d9b5-ada2-41dd-8ca9-ebe7963394bc.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harr

[2021-10-08 03:26] serenashe opened #2386 "The operation title of App Categories pages is ambiguous"
**Describe the bug**
The title **Category** should be changed to **Create Category**.
![image](https://user-images.githubusercontent.com/75245999/136493426-771986a3-b377-4c52-8818-6538c677b39f.png)

And the title **Category** should be changed to **Edit Category**.
![image](https://user-images.githubusercontent.com/75245999/136493492-1ca2536a-d81d-4ed7-98f8-ab49b03943ae.png)

**Versions used(KubeS

[2021-10-08 03:27] stoneshi-yunify opened #2387 "unable to select multicluster pvc's project"
**General remarks**

**Describe the bug**
See the screenshots.

pvc1 is in demo-test project, but this project is not shown in the dropdown list.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks 3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
https://console.kubesphere.io/clusters/host/volumes/Volumes

![Screen Shot 2021-10-08 at 11 24 52 AM](http

[2021-10-08 03:28] harrisonliu5 commented on #2131
/kind need-to-verify

[2021-10-08 03:31] harrisonliu5 commented on #2243
/kind need-to-verify

[2021-10-08 03:32] harrisonliu5 commented on #2250
/assign @weili520

[2021-10-08 03:33] harrisonliu5 commented on #2280
/kind need-to-verify

[2021-10-08 03:38] harrisonliu5 commented on #2292
/kind need-to-verify

[2021-10-08 03:38] harrisonliu5 commented on #2293
/kind need-to-verify

[2021-10-08 03:38] wansir opened #2388 "Failed to fetch node list"
**Describe the bug**

![image](https://user-images.githubusercontent.com/8263040/136494186-e2c9a41b-01e1-48ee-823c-76984775967e.png)

The correct API path should be `/kapis/resources.kubesphere.io/v1alpha3/nodes`

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-alpha.1

[2021-10-08 03:43] stoneshi-yunify opened #2389 "incorrect link for multi-cluster pvc"
**General remarks**

**Describe the bug**
for a multi-cluster pvc, when I click a cluster name (`shire` in this case), it jumps to `https://console.kubesphere.io/clusters/shire/projects/demo-test/persistentvolumeclaims/pvc1` ,  I think this is wrong, it should jump to `/volumes/pvc1`, not `/persistentvolumeclaims/pvc1`.

![Screen Shot 2021-10-08 at 11 24 58 AM](https://user-images.githubuserconten

[2021-10-08 03:44] liuyp2018 opened #2390 "the gateway address and node port are not displayed"
**Describe the bug**
After the gateway is created, the gateway address and node port are not displayed
![image](https://user-images.githubusercontent.com/36271543/136494690-dfb88554-e4d6-414a-85fc-075b9a4f2e62.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Medium

[2021-10-08 03:44] harrisonliu5 commented on #2325
There are different APIs.

[2021-10-08 03:46] harrisonliu5 commented on #2388
https://github.com/kubesphere/console/issues/2335

[2021-10-08 04:00] Patrick-LuoYu commented on #2300
This issue has been fixed. UI text optimization is still in progress.

[2021-10-08 06:00] liuyp2018 opened #2391 "the route address is incorrect"
**Describe the bug**
**steps**
1. enter the cluster configuration page, creating Cluster Gateway
2. Enter the project manage page and create an application
3. Creating an Application Route
4. View the address of the application route

**the problem**
the route address is incorrect

![image](https://user-images.githubusercontent.com/36271543/136505804-b6a42914-c403-46cc-84f0-88f84519935c.png)

**Ve

[2021-10-08 06:45] Felixnoo opened #2392 "Improve the Service Topology Details Layout for a Specific Service"
**What would you like to be added**:

Currently, when clicking a specific Service listed on the **Service Topology** page, a details form will be displayed on the right as shown in the following screenshot.
![en](https://user-images.githubusercontent.com/75110798/136509824-4448bf44-17f6-4b88-804d-3ab133faa4af.png)

The information shown on that form is not organized well and it is also difficult t

[2021-10-08 09:06] liuyp2018 opened #2400 "The prompt information on the gateway page is incorrect"
**Describe the bug**
The prompt information on the gateway page is incorrect
![image](https://user-images.githubusercontent.com/36271543/136529642-420d3d94-12ba-428d-836d-329acfce82e8.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority low

[2021-10-08 09:08] liuyp2018 commented on #2400
also need to modify this prompt:
![image](https://user-images.githubusercontent.com/36271543/136529912-04163568-747f-4010-8b45-ac67c8bc0ed1.png)

[2021-10-08 09:34] stoneshi-yunify commented on #2389
/priority high

[2021-10-08 09:34] stoneshi-yunify commented on #2387
/priority high

[2021-10-08 09:41] harrisonliu5 commented on #2384
/kind need-to-verify

[2021-10-08 09:59] #2300 closed

[2021-10-08 10:05] jioce commented on #2280
/version v3.2.0-alpha.1

[2021-10-09 01:30] RolandMa1986 commented on #2391
@liuyp2018 For Auto Generate Domain Name, the Router must be created when the router is ready. So can you confirm that the Gateway was ready when you creating the Router?

[2021-10-09 01:54] stoneshi-yunify opened #2405 "Unable to edit or take snapshot for multi-cluster PVC"
**General remarks**

**Describe the bug**
Compare a multi-cluster PVC with a normal PVC, the multi-cluster PVC doesn't have `编辑信息`  `更多操作` buttons. So how can I edit this pvc or take snapshot for it?

![image](https://user-images.githubusercontent.com/70880165/136639463-a43fa4a5-466b-474a-9224-d2b49cdef238.png)

![image](https://user-images.githubusercontent.com/70880165/136639484-d30b21e9-bba5-48

[2021-10-09 01:58] f10atin9 commented on #2405
/assign @weili520

[2021-10-09 03:20] liuyp2018 opened #2407 "the default annotation needs to be removed"
**Describe the bug**
the default annotation needs to be removed
![image](https://user-images.githubusercontent.com/36271543/136642375-f1373ca7-8f92-4f8e-8ce3-ba516be95219.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console
/kind bug
/priority Medium

[2021-10-09 03:42] jioce opened #2408 "Edit the replica scheduling mode error of the federatedDeployment"
**Describe the bug**
1. choose custom rules,no rule is set, click save, no response
2. Set rules, click save,click to confirm
3. Re-enter the editing interface,delete rule,click save,click to confirm,update completed

https://user-images.githubusercontent.com/88183150/136642959-1419196d-7763-49c9-8641-ad6f428c8ac8.mp4

**Version used**
KubeSphere: v3.2.0-alpha.1

**Expected behavior**
Need to add

[2021-10-09 05:46] wenxin-01 opened #2413 "Can not access 'service access'"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/136645687-109e1e76-0405-4c93-baf1-390995721693.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  host:  `v3.2.0-alpha.1`  k8s:  `v1.20.6`

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/136645744-610d8ed6-d810-4069-986c-6e3db405d2f4.mov

/kind bug
/assig

[2021-10-09 05:48] wenxin-01 commented on #2413
/milestone v3.2

[2021-10-09 06:16] xuliwenwenwen commented on #2362
/kind need-to-verify

[2021-10-09 06:22] liuyp2018 opened #2415 "prompt optimization for gateway"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/136646570-144d1216-0efb-4419-a2ad-4803f7d9bff1.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority low

[2021-10-09 07:12] jioce commented on #2355
**Describe the bug**
     There is no DaemonSet in a multi-cluster project，DaemonSet needs to be deleted

![image](https://user-images.githubusercontent.com/88183150/136648230-250dcc78-b83f-41c1-9ab3-b41d2bc5d4ec.png)

[2021-10-09 07:13] jioce commented on #2346
/version v3.2.0-alpha.1

[2021-10-09 07:20] harrisonliu5 commented on #2325
/kind need-to-verify

[2021-10-09 07:24] harrisonliu5 commented on #2385
/kind need-to-verify

[2021-10-09 07:46] wenxin-01 opened #2418 "Can not access KS in safari"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/136649244-21cfee35-183a-42b4-876b-27ec17d65eb4.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `nightly-20211008`
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority high
/milestone V3.2

[2021-10-09 07:46] jioce opened #2419 "Error in routing details interface"
**Describe the bug**
1. create route,click route name,page error

![image](https://user-images.githubusercontent.com/88183150/136649336-62d3366b-82a5-4b0b-a655-336299149981.png)

**Version used**
KubeSphere: v3.2.0-alpha.1

/kind bug
/@kubesphere/sig-console
/priority high

[2021-10-09 07:48] jioce commented on #2419
/test-cxl/federatedprojects/test/ingresses/ss/resource-status

[2021-10-09 07:58] wenxin-01 commented on #2175
issue fixed  `nightly-20211008`

[2021-10-09 07:58] #2175 closed

[2021-10-09 08:01] wenxin-01 commented on #2105
issue fixed `ks 3.2 alpha.1`

[2021-10-11 02:20] harrisonliu5 commented on #2413
/kind need-to-verify

[2021-10-11 02:23] harrisonliu5 commented on #2407
/kind need-to-verify

[2021-10-11 02:24] harrisonliu5 commented on #2405
/kind need-to-verify

[2021-10-11 03:39] liuyp2018 opened #2426 "the value in the UI is not synchronized after the configuration file is modified"
**Describe the bug**

After the storage type capability in the configuration file is modified, the value in the UI is not synchronized

https://user-images.githubusercontent.com/36271543/136729690-889c951a-6cfc-4559-bfc9-1f7d06dc0e17.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console

[2021-10-11 05:43] jioce commented on #2282
/version ks-console:nightly-20211010

[2021-10-11 05:44] #2343 closed

[2021-10-11 05:54] jioce commented on #2288
**Describe the bug**
  1.Edit container quota, the default is “no request” and cannot be deleted
  2. Set resource limit to unlimited, display “no limit”,and cannot be deleted
![image](https://user-images.githubusercontent.com/88183150/136739322-52026d44-797d-44b1-9a9d-f52b6a93a679.png)

![image](https://user-images.githubusercontent.com/88183150/136739765-4f891c5e-e087-4458-8256-122a470d747d.png)

[2021-10-11 06:35] liuyp2018 opened #2427 "PV in the bound state should cannot be deleted"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/136743360-a0170a34-b3e7-4ee3-a365-d80d2bbdca2d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @weili520
/priority Medium
/Milestone v3.2

[2021-10-11 06:49] jioce opened #2428 "Container startup probe is not showing"
**Describe the bug**
1. Add startup probe，click save,click to confirm
2. View pod details，Startup probe not showing

![image](https://user-images.githubusercontent.com/88183150/136744523-74b2c7e5-e051-4674-a341-247dcba699be.png)

![image](https://user-images.githubusercontent.com/88183150/136744390-8c2fe620-8ca7-4369-8584-36f74579e3cf.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nigh

[2021-10-11 08:01] liuyp2018 opened #2429 "The drop - down box cannot show all items"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/136753837-d7460e36-566b-4b9d-a9af-ca01d05dca28.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Medium
/Milestone v3.2

[2021-10-11 09:28] jioce opened #2430 "Mount config or secret selection specific key path input error"
**Describe the bug**
1. Mount the config, select a specific key, and enter the path "/data1"
2. click save,click to confirm,pod does not update
3. Change the path to "data1",click save,click to confirm
4. pod updated successfully

https://user-images.githubusercontent.com/88183150/136767018-74f1980b-10f8-41d5-b87e-d82d0c164219.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks-console:ni

[2021-10-11 09:35] liuyp2018 opened #2431 "After the verification fails, users cannot be allowed to proceed to the next step"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/136767787-909b5454-7608-4e1a-ad06-6c3f261e5db2.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority Low

[2021-10-11 10:13] liuyp2018 commented on #2309
/remove-kind neet-to-verify

[2021-10-12 03:17] JohnNiang opened #2438 "Request to refine APIs related DevOps"
**What would you like to be added**:

- [ ] Pipeline list API

PR https://github.com/kubesphere/ks-devops/pull/282 has been merged, so annotations (`pipeline.devops.kubesphere.io/jenkins-metadata`) of Pipeline CR contain Pipeline metadata which can be rendered by Pipeline list.

Please use `/kapis/devops.kubesphere.io/v1alpha3/devops/{devops_project}/pipelines` instead.

![image](https://user-imag

[2021-10-12 03:42] jioce opened #2439 "Edit federatedService to modify the Workload Selector pod display error"
**Describe the bug**

https://user-images.githubusercontent.com/88183150/136887516-0722b2ff-71c7-425a-8861-7fb1197b65dc.mp4

https://user-images.githubusercontent.com/88183150/136887543-6bf39692-7b7d-481e-8eb7-106d8c050132.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-alpha.1

/kind bug
/@kubesphere/sig-console
/priority medium

[2021-10-12 05:37] JohnNiang commented on #2438
/assign @harrisonliu5

[2021-10-12 05:54] JohnNiang opened #2441 "Request to remove domain show in credential detail page"
![image](https://user-images.githubusercontent.com/16865714/136898533-b2b86dd5-7f9f-474b-a6a0-b470f6bca9d8.png)

The domain field is always `-` and meaningless here. Meanwhile, we should try to avoid using Jenkins API directly.

/area devops
/assign @harrisonliu5
/priority medium

[2021-10-12 06:00] LinuxSuRen opened #2442 "Remove unnecessary API call on the DevOps credential page"
**What would you like to be added**:

The API `devops.kubesphere.io/v1alpha2/devops/test6r9qx/credentials/admin/usage` will returns private data from Jenkins. It's not helpful for us. So, I'd like to suggest we remove it.

![image](https://user-images.githubusercontent.com/1450685/136899593-e4b283e8-69cb-471f-8889-a56550e6960a.png)

**Why is this needed**:

/area devops
/priority high

Why do I th

[2021-10-12 06:20] #2131 closed

[2021-10-12 14:33] #2418 closed

[2021-10-13 01:48] wenxin-01 commented on #2374
issue fixed in `nightly-20211011`
![image](https://user-images.githubusercontent.com/68640256/137052758-d5d4a60a-7aab-4669-a03c-f6085041b550.png)

[2021-10-13 01:48] #2374 closed

[2021-10-13 01:51] wenxin-01 commented on #2413
issue fixed in `nightly-20211011`
![image](https://user-images.githubusercontent.com/68640256/137053105-df3d8285-c82d-42c2-981b-6c5b7eea3cd7.png)

[2021-10-13 01:51] #2413 closed

[2021-10-13 01:59] #2419 closed

[2021-10-13 02:36] jioce commented on #2365
**Describe the bug**
  Deleting routing rules does not take effect

![image](https://user-images.githubusercontent.com/88183150/137057090-f66b6036-f99e-4164-934b-d4b9b0a6eb19.png)

![image](https://user-images.githubusercontent.com/88183150/137057169-2565b494-c5e6-4efb-93a6-bbb15dbec6f4.png)

[2021-10-13 03:03] serenashe commented on #2326
/lgtm

[2021-10-13 03:03] #2326 closed

[2021-10-13 03:58] harrisonliu5 commented on #2365
/assign @RolandMa1986

[2021-10-13 06:06] JohnNiang opened #2452 "Request to remove Labels show in credential detail page"
`Labels` show in credential detail page is meaningless here and there is no way to label the credential by end users. So I request to remove the `Labels` show. If anyone could provide more details about the labels, please feel free to correct me.

Please see the following screenshot:

![image](https://user-images.githubusercontent.com/16865714/137075919-cc88efc2-0109-49ec-8117-591532ef2b55.png)

/

[2021-10-13 06:24] RolandMa1986 commented on #2365
/unassign @RolandMa1986
I can't reproduce this issue with v3.2.0-alpha.1. @jioce

[2021-10-13 06:34] JohnNiang opened #2456 "Incorrectly rendering selector of "Behavioral Strategy" in "Create Pipeline" modal"
**Describe the bug**

Incorrectly rendering selector of "Behavioral Strategy" in "Create Pipeline" modal for multi branch Pipeline.

![image](https://user-images.githubusercontent.com/16865714/137078242-f247f1c4-44b3-4a9e-b3e0-2bdd3f4aae9b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `nightly-20211012`
Kubernetes: `v1.19.8`

**Environment**
How many nodes and their hardware configura

[2021-10-13 07:06] JohnNiang opened #2457 ""Enable regular expression" checkbox should be within "Behavioral Strategy""
**Describe the bug**

"Enable regular expression" checkbox should be within "Behavioral Strategy" instead of "Repository Scan Trigger".

![image](https://user-images.githubusercontent.com/16865714/137083263-6d96d2b7-5ed7-42be-bb3f-038fc2ef17df.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `nigthly-20211012`
Kubernetes: `v1.19.8`

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2021-10-13 08:50] harrisonliu5 commented on #2317
/kind need-to-verify

[2021-10-13 08:52] harrisonliu5 commented on #2427
/kind need-to-verify

[2021-10-13 09:51] harrisonliu5 commented on #2439
/assign @xuliwenwenwen

[2021-10-13 10:02] harrisonliu5 commented on #2273
/assign @weili520

[2021-10-13 10:03] harrisonliu5 commented on #2102
/kind need-to-verify

[2021-10-14 08:06] liuyp2018 opened #2464 "UI display error on log search page"
**Describe the bug**
UI display error
![image](https://user-images.githubusercontent.com/36271543/137276261-e63c3db6-f262-4a35-9bfa-7124aef579e1.png)

![image](https://user-images.githubusercontent.com/36271543/137276395-ed0d6fe8-5ebe-470c-a71f-497da6663299.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip thi

[2021-10-14 08:09] Patrick-LuoYu opened #2465 "Incorrect OS icons in the grayscale release job creation dialog box."
**Describe the bug**

Grayscale Release > Canary Release > Create Grayscale Release Job

The OS icons are incorrect.

![image](https://user-images.githubusercontent.com/76198553/137277055-1d560787-66fe-4d38-bccd-cbd7641ff907.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: 3.2 alpha 1

**Expected behavior**

Correct OS icons.

/assign @harrisonliu5

[2021-10-14 08:36] liuyp2018 opened #2466 "Input box input problem"
**Describe the bug**

https://user-images.githubusercontent.com/36271543/137294195-2d7ff212-c02a-4326-9be3-766ef9d9c697.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Medium

[2021-10-14 08:40] jioce opened #2467 "Mount hostpath volume error"
**Describe the bug**
1. Mount the hostpath volume, view pod details, the volume type is incorrect
2. Modify the storage volume type to temporary volume，Other information remains unchanged
3. pod does not update,view pod details,Storage volume information has not changed
4. Modify volume mount path, pod update,view pod details,volume information has been changed

![image](https://user-images.github

[2021-10-14 09:04] wenxin-01 commented on #2278
issue fixed in `nightly-20211013`
![image](https://user-images.githubusercontent.com/68640256/137286419-eb56769c-3bc0-4137-8cfd-4e617deddfef.png)

[2021-10-14 09:04] #2278 closed

[2021-10-14 09:27] liuyp2018 opened #2468 "display problem in the gateway log search input box"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137290144-3cae5c8d-63a1-49c6-b0e8-4fb4d83d1792.png)

**Versions used(KubeSphere/Kubernetes)**
Versions Used
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Medium

[2021-10-14 09:53] liuyp2018 opened #2469 "Modify the mouse display mode"
**Describe the bug**

The log cannot be clicked. need to change the display mode

https://user-images.githubusercontent.com/36271543/137294572-165ef1da-5200-4150-b45e-3b3489f8872c.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-10-14 10:00] liuyp2018 opened #2470 "When querying logs, the time range is not set, and error occurs on the console."
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137295528-dfb0316c-2897-4dca-9f32-85890aefe58d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-10-14 10:12] liuyp2018 commented on #2464
![image](https://user-images.githubusercontent.com/36271543/137297999-247009d3-3562-4b49-9753-b967ec59e8eb.png)

[2021-10-14 10:15] harrisonliu5 commented on #2464
/assign @Patrick-LuoYu

[2021-10-15 02:21] liuyp2018 opened #2472 "The search function is disabled on the gateway details page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137421977-49f28f90-4ad4-44b4-811e-030ab1bd4578.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 nightly-20211013
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Medium
/Milestone v3.2

[2021-10-15 03:09] liuyp2018 opened #2473 "suggestion adding a message indicating that there is no data on gateway details page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137426111-af528b64-9e0a-46c5-b98c-abe8863611b2.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Low
/Milestone v3.2

[2021-10-15 06:01] mangoGoForward commented on #1629
Hi, The picture is lost in your description, could you please provide a new one? @LinuxSuRen

[2021-10-15 06:04] LinuxSuRen commented on #1629
Thanks for being interested in this issue. But could you please be more clear? I still can see the screenshot from the first comment.

[2021-10-18 02:08] liuyp2018 opened #2478 "Application governance enabling options are missing"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/137658429-c6efb3ec-984f-428e-a7b6-e0a0f3b56aae.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20211016
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority Medium

[2021-10-18 02:37] liuyp2018 opened #2479 "The default vendor value is recommended for the loadBalancer creating page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137660658-028fd769-17e5-44b2-bd46-a856786c948f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20211016
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority Low

[2021-10-18 03:46] liuyp2018 opened #2483 "The multi-cluster project is not displayed in the user project list of the host cluster"
**Describe the bug**
The multi-cluster project is not displayed in the user project list of the host cluster
![image](https://user-images.githubusercontent.com/36271543/137666239-bef7d285-7fc6-431f-b86c-ca7ac40828b3.png)
![image](https://user-images.githubusercontent.com/36271543/137666280-7b240562-75b7-4ab7-b89a-9a736b9cb43b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20211

[2021-10-18 03:56] liuyp2018 opened #2484 "need to verify the input GPU limit value"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137666986-6d1640c6-7639-4580-9039-4cd67d915b1c.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20211016
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priorityLow

[2021-10-18 07:00] liuyp2018 opened #2485 "The GPU quota is not displayed on the deployment page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/137683409-ad9a9446-7aeb-40a1-9c69-09bce074e086.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: nightly-20211016
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console
/kind bug
/priority Low

[2021-10-19 02:11] harrisonliu5 commented on #2457
/kind need-to-verify

[2021-10-19 02:12] harrisonliu5 commented on #2456
/kind need-to-verify

[2021-10-19 02:13] harrisonliu5 commented on #2438
/kind need-to-verify

[2021-10-19 02:15] JohnNiang commented on #2457
I confirmed that this issue had been fixed by #2471.

[2021-10-19 02:15] #2457 closed

[2021-10-19 02:16] harrisonliu5 commented on #2390
/assign @RolandMa1986

[2021-10-19 02:18] harrisonliu5 commented on #2365
/kind need-to-verify

[2021-10-19 02:21] harrisonliu5 commented on #2316
/kind need-to-verify

[2021-10-19 02:22] harrisonliu5 commented on #2273
/kind need-to-verify

[2021-10-19 04:44] wenxin-01 commented on #2308
issue fixed in `nightly-20211018`

[2021-10-19 04:44] #2308 closed

[2021-10-19 06:20] serenashe opened #2490 "Modules on container log details page needs to be improved"
/assign @VioZhang
Hello Vio, I have some enhancement advice for the designers.

1. Click the toolbox icon on the lower-right of the KubeSphere console and select **Log Search**.
2. Go to the details page of a log.

As you can see from the following screenshot:
1. The first line of the **Refresh Rate** column was partly visible, the width should be wider.
2. I think the designer should choose a lig

[2021-10-19 09:26] mangoGoForward commented on #1629
It seems this issue had resolved by harrisonliu5 @harrisonliu5 in 2021/4/13

[2021-10-20 02:04] mangoGoForward opened #2496 "The link of prettierrc in CONTRIBUTING.md is error"
**Describe the bug**
The link of  prettierrc in CONTRIBUTING.md is error, It should link to `.prettierrc` in the root of project

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-10-20 02:08] mangoGoForward commented on #2496
And the link of `.eslintrc.js` also jump to error page

[2021-10-20 02:11] mangoGoForward commented on #2496
/hacktoberfest

[2021-10-20 02:41] mangoGoForward opened #2498 "Word spelling problem in `CONTRIBUTING.md`"
**Describe the bug**
In `CSS, SCSS Styleguide` title, the `fommat` of spelling is error( `Using Prettier to fommat css and scss files` ), and how about change `Styleguides` to `Style Guides`?

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-10-20 02:41] mangoGoForward commented on #2498
/assign

[2021-10-20 02:48] JohnNiang opened #2499 "Number of branch should not be 0 if the Pipeline is not a multi-branch Pipeline"
**Describe the bug**

Number of branch should not be 0 if the Pipeline is not a multi-branch Pipeline.

![image](https://user-images.githubusercontent.com/16865714/138019573-7f70d1f2-b111-4cda-be8c-e04629cb0630.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.2.0-rc.1`
Kubernetes: `1.21.5`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pipelines page
2. Create a simple P

[2021-10-20 02:50] JohnNiang commented on #2499
/cc @kubesphere/sig-console

[2021-10-20 02:50] jioce commented on #2365
**Describe the bug**
     route requires at least one routing rule,After deleting all the routing rules, the confirmation button cannot be clicked

![image](https://user-images.githubusercontent.com/88183150/138019736-bb3f832a-4702-4759-8385-8f6c300e0982.png)

![image](https://user-images.githubusercontent.com/88183150/138020078-39fbe622-22d2-403a-892c-1668b036b572.png)

[2021-10-20 02:51] #2441 closed

[2021-10-20 02:52] JohnNiang commented on #2456
This issue has been fixed by #2471 . I'm going to close it.

/close

[2021-10-20 02:52] #2456 closed

[2021-10-20 02:53] #2438 closed

[2021-10-20 03:54] harrisonliu5 commented on #948
/area devops

[2021-10-20 03:54] harrisonliu5 commented on #948
/kind need-to-verify

[2021-10-20 04:00] harrisonliu5 commented on #2286
/assign @Felixnoo

[2021-10-20 15:26] JohnNiang opened #2509 "Parameters defined in Jenkinsfile dosen't show up."
**Describe the bug**

Parameters defined in Jenkinsfile dosen't show up.

![image](https://user-images.githubusercontent.com/16865714/138122080-01c3be2e-e3cd-4fb3-ad65-0e39fe0b5646.png)

But actually, the Blue Ocean UI will promote a dialog to input parameters.

![image](https://user-images.githubusercontent.com/16865714/138121814-968abf7a-e3f1-48ed-a20c-8940f6210002.png)

**Versions used(KubeSphe

[2021-10-21 01:52] JohnNiang commented on #2499
/good-first-issue

[2021-10-21 02:43] liuyp2018 opened #2511 "Prompt message optimization"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/138014145-1f79b566-29f7-4f3a-9ea5-425a2bd0cd3e.png)

![image](https://user-images.githubusercontent.com/36271543/138024223-fb4a8748-75aa-4f76-8ab8-76dbf3ae851a.png)

![image](https://user-images.githubusercontent.com/36271543/138024588-38cb5b7b-0bb3-4105-8247-7686290846a1.png)

![image](https://user-images.githubuserc

[2021-10-21 02:56] harrisonliu5 commented on #2439
/kind need-to-verify

[2021-10-21 03:04] VioZhang opened #2513 "There should not be a "v" in front of the version."
There should not be a "v" in front of the version.

![image](https://user-images.githubusercontent.com/41519383/138204263-cfdf1333-b307-4a7c-8adc-1231a6ce2d9b.png)

[2021-10-21 03:18] jioce commented on #2439
/version v3.2.0-rc.1

[2021-10-21 03:20] #2439 closed

[2021-10-21 03:42] liuyp2018 opened #2514 "EKS lack hint annotations"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/138207652-2733b5a7-1c56-47dd-a087-2ef310de9fcf.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority Medium

[2021-10-21 03:42] jioce opened #2515 "Edit routing rules to delete all routing errors"
**Describe the bug**

https://user-images.githubusercontent.com/88183150/138207713-3a9dd034-64d7-46d5-929b-ac2cd9b0e97b.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-rc.1

**Expected behavior**
Confirm button cannot be clicked

[2021-10-21 03:45] harrisonliu5 commented on #2514
Amazon EKS doesn't have the init annotations.

[2021-10-21 03:47] #2353 closed

[2021-10-21 06:36] liuyp2018 opened #2516 "Edit application template page, text display issues"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/138223844-26c517fe-85b5-444f-9326-031fba51fb99.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority Medium

[2021-10-21 07:31] harrisonliu5 commented on #2516
/assign @Patrick-LuoYu

[2021-10-21 08:15] hchenc opened #2521 "Can't close the About page"
**Describe the bug**
There is no close button to close the About page

![console-bug](https://user-images.githubusercontent.com/11419617/138238224-b9ccf4f9-8750-4b81-944d-575ed63191cc.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.1.1
Kubernetes: v1.20.6

/kind bug

[2021-10-21 08:51] stoneshi-yunify opened #2523 "servicemonitor settings shows incorrect data"
**General remarks**

**Describe the bug**
in application workloads -> service -> edit monitoring exporter, change interval to 3m, expired time to 10s, save it.
re-edit this exporter, found interval is still 1m, expired time is 10s (the default values).

![Screen Shot 2021-10-21 at 4 49 01 PM](https://user-images.githubusercontent.com/70880165/138244409-7394c0c6-b96b-4215-9e9e-38e759f84881.png)
![S

[2021-10-22 02:04] #2468 closed

[2021-10-22 02:06] liuyp2018 commented on #2426
fixed

[2021-10-22 02:06] #2426 closed

[2021-10-22 02:08] liuyp2018 commented on #2427
fixed

[2021-10-22 02:08] #2427 closed

[2021-10-22 02:11] liuyp2018 commented on #2391
fixed

[2021-10-22 02:11] #2391 closed

[2021-10-22 02:13] liuyp2018 commented on #2400
fixed

[2021-10-22 02:13] #2400 closed

[2021-10-22 02:14] liuyp2018 commented on #2407
fixed

[2021-10-22 02:22] liuyp2018 opened #2526 "advised to add message: Set the GPU limit to blank and cancel the limit"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/138382887-cf1b047c-1b76-454e-838e-456120d9554b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console
/kind bug
/priority low

[2021-10-22 02:26] liuyp2018 commented on #2332
fixed

[2021-10-22 02:26] #2332 closed

[2021-10-22 02:30] liuyp2018 commented on #2338
fixed

[2021-10-22 02:30] #2338 closed

[2021-10-22 02:30] #2362 closed

[2021-10-22 02:31] liuyp2018 commented on #2378
fixed

[2021-10-22 02:31] liuyp2018 commented on #2385
fixed

[2021-10-22 02:37] liuyp2018 commented on #1604
fixed

[2021-10-22 02:37] #1604 closed

[2021-10-22 02:40] liuyp2018 commented on #2007
fixed

[2021-10-22 02:41] liuyp2018 commented on #2010
fixed

[2021-10-22 02:41] #2010 closed

[2021-10-22 02:43] liuyp2018 commented on #2312
fixed

[2021-10-22 02:44] liuyp2018 commented on #2309
/remove-kind need-to-verify

[2021-10-22 02:46] liuyp2018 commented on #2303
fixed

[2021-10-22 02:46] #2303 closed

[2021-10-22 02:46] liuyp2018 commented on #2299
fixed

[2021-10-22 02:46] #2299 closed

[2021-10-22 02:47] #2285 closed

[2021-10-22 02:47] liuyp2018 commented on #2281
fixed

[2021-10-22 02:47] #2281 closed

[2021-10-22 02:47] liuyp2018 commented on #2279
fixed

[2021-10-22 02:47] #2279 closed

[2021-10-22 02:48] liuyp2018 commented on #2243
fixed

[2021-10-22 02:49] liuyp2018 commented on #2040
fixed

[2021-10-22 02:49] #2040 closed

[2021-10-22 02:52] liuyp2018 commented on #2415
The problem has not been fixed
<img width="914" alt="d4052c8097506c690316ba6c8e4572d" src="https://user-images.githubusercontent.com/36271543/138385665-02150390-a8d4-4a2f-bc05-33f23fde584b.png">

/remove-kind need-to-verify

[2021-10-22 02:53] liuyp2018 commented on #2317
The problem has not been fixed
/remove-kind  need-to-verify

[2021-10-22 03:08] wenxin-01 commented on #2302
issue fixed in `nightly-20211021`
![image](https://user-images.githubusercontent.com/68640256/138387043-dd93bcdb-5944-4a19-bfe0-9e10e9892823.png)

[2021-10-22 03:13] liuyp2018 commented on #2351
fixed

[2021-10-22 03:13] #2351 closed

[2021-10-22 03:20] #2302 closed

[2021-10-22 03:34] liuyp2018 commented on #2483
The problem is still exists in v3.2.0-rc.1. please take a look at this.
/remove-kind need-to-verify

[2021-10-22 06:13] liuyp2018 opened #2527 "In the multi-cluster project, the rules for applying routes are not displayed"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/138402375-9389dd0c-af92-42d4-874f-7c965cf8d403.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Medium
/Milestone v3.2

[2021-10-22 07:13] liuyp2018 opened #2529 "gateway information is not displayed in multi-cluster env"
**Describe the bug**
1. In multi-cluster environment, cluster gateways are configured for both the host cluster and member cluster
2. In multi-cluster project, create an application and add an application route
3. After the application route is created, view the application route details page
4. The gateway information is not displayed

![image](https://user-images.githubusercontent.com/36271543/1

[2021-10-25 04:09] Patrick-LuoYu opened #2533 "Remove the Activity option in the operation drop-down list of the pipeline list page."
**Describe the bug**

The **Activity** option as shown in the following figure is redundant and should be removed, because its only function is to go the **Activity** tab of the pipeline details page.

![image](https://user-images.githubusercontent.com/76198553/138633034-8822ec3a-92d2-4118-9a5b-d3be33ab2db2.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.2 alpha 1

**Expected behavior

[2021-10-25 08:13] wenxin-01 opened #2536 "Features that are not enabled and should not be displayed in the toolbox"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.2.0-rc.1`
Kubernetes:  `v1.20.4`

![image](https://user-images.githubusercontent.com/68640256/138658958-a7e43d07-f248-4aab-a3dc-a0472cee0ea3.png)
![image](https://user-images.githubusercontent.com/68640256/138659022-b9940392-e44d-4e43-931c-a35a5f031b28.png)
![image](https://user-images.githubusercontent.com/68640256/138658823-f9c134a8-07a3

[2021-10-27 03:15] Patrick-LuoYu opened #2546 "Change UI element layout in the pipeline creation dialog box."
**Describe the bug**

**Clone Depth** should be a child element of **Enable shallow clone**, as shown in the following figure.

![image](https://user-images.githubusercontent.com/76198553/138993765-2b383091-19d9-4521-9f63-e23eaf810c5e.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: 3.2 alpha 1

**Expected behavior**

![image](https://user-images.githubusercontent.com/76198553/138993991

[2021-10-28 06:17] Felixnoo opened #2551 "Remove the Menu Item of Update for Cluster Gateway"
**General remarks**

**Describe the bug**
Cluster Gateway is a new feature in KubeSphere 3.2. Therefore, no need to have an **Update** item for a cluster gateway as shown in the following screenshot.

![Xnip2021-10-28_14-10-06](https://user-images.githubusercontent.com/75110798/139197317-8791e972-d9b1-4e37-ac53-f3e715dd89ef.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-rc.1
Kub

[2021-10-29 14:17] liuyp2018 opened #2569 "Incorrect verification rule"
**Describe the bug**
Incorrect verification rule

![image](https://user-images.githubusercontent.com/36271543/139450712-9cea5862-8da1-470d-893c-729410ad54c1.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: release-3.2
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area logging
/kind bug
/priority Low

[2021-11-01 02:34] weili520 commented on #2324
/kind need-to-verify

[2021-11-01 02:37] weili520 commented on #2333
/kind need-to-verify

[2021-11-01 02:37] weili520 commented on #2333
/remove-good-first-issue

[2021-11-01 03:22] mangoGoForward commented on #2499
/assign

[2021-11-01 07:03] jioce opened #2576 "Failed to mount configMap in federatedDeployment"
**Describe the bug**
1.Click edit settings, select mount volume, click mount configMap or secret
2. Mount the configurationMap, select the existing configMap cc1, set it to read and write, and the mount path is “/data”
3. click save，return to the setting interface, display the mount type as secret
4. click edit,Exit the editing interface

<img width="960" alt="a2b7d246fafbd5ee5ac2c3a419cdc47" src=

[2021-11-01 07:28] wenxin-01 commented on #2576
/priority high

[2021-11-01 07:30] wenxin-01 commented on #2576
/Milestone 3.2.0

[2021-11-01 07:55] weili520 commented on #2576
/assign @weili520

[2021-11-01 08:18] MukulKolpe commented on #2533
Sorry, I'm stuck with some other work right now...It will be better if someone else takes it. Sorry for taking your time.

[2021-11-01 08:24] LinuxSuRen commented on #2533
Totally understand that. And thanks for letting us know it. Please feel free to join us once you are free.

[2021-11-01 09:38] weili520 commented on #2467
/assign @weili520

[2021-11-02 00:46] weili520 commented on #2576
/need-to-verify

[2021-11-02 01:59] jioce commented on #2576
version used: nightly-20211101

![image](https://user-images.githubusercontent.com/88183150/139774404-f4e38542-5aac-41d6-8ed4-41f83eae4ec3.png)

[2021-11-02 01:59] #2576 closed

[2021-11-02 02:05] 123liubao commented on #2533
/assign

[2021-11-02 07:45] weili520 commented on #2309
/kind need-to-verify

[2021-11-02 07:47] weili520 commented on #2309
![截屏2021-11-02 15 46 53](https://user-images.githubusercontent.com/33231138/139806073-d35a9746-5055-4870-a7a5-f154e240534f.png)

[2021-11-03 03:15] calvinyv commented on #2228
/cc @kubesphere/sig-console

[2021-11-04 03:25] LeonDevLifeLog opened #2586 "a <br/> in tip text"
**Describe the bug**

![image](https://user-images.githubusercontent.com/28891919/140252569-00e798d5-ad84-4512-9ca7-d9b93dc6f7e7.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.2.0

**Environment**
1 masters:  2cpu/16g

**To Reproduce**
Steps to reproduce the behavior:
1. create Traffic Mirroring job page
2. See error

**Expected behavior**
remove `<br/>` and create new line

[2021-11-04 10:46] 123liubao commented on #2586
/assign

[2021-11-08 07:20] #2499 closed

[2021-11-08 07:29] #2586 closed

[2021-11-08 09:17] #2533 closed

[2021-11-09 16:01] JohnNiang opened #2591 "Incorrect status display of DevOps Projects"
**Describe the bug**

Incorrect status display of DevOps Projects. Please see the screenshot:

![image](https://user-images.githubusercontent.com/16865714/140958949-85010db5-e9ef-4a7d-99d1-5c3dffe7ad3b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0
Kubernetes: v1.21.5

**To Reproduce**
Steps to reproduce the behavior:
1. Stop Deployment `devops-jenkins`
2. Create a DevOps Projec

[2021-11-09 16:02] JohnNiang commented on #2591
/cc @kubesphere/sig-console

[2021-11-10 12:03] VioZhang opened #2592 "Support search the pod,workload,service or other k8s source by the status."
as title.

[2021-11-11 01:50] JohnNiang commented on #2591
/cc @kubesphere/sig-devops

[2021-11-11 05:50] LinuxSuRen opened #2593 "Pipeline running status and log cannot be updated automatically"
**Describe the bug**
As I mentioned in the title. Users must refresh the browser manually to see the latest status.

/area devops
/priority high

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the DevOps page
2. Create a Pipeline and run it.
3. Wait and check the running st

[2021-11-11 05:52] LinuxSuRen commented on #2593
/cc @kubesphere/sig-devops

[2021-11-11 08:17] wenxin-01 opened #2595 "KS3.2 document address jump error"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.0`
Kubernetes: (If KubeSphere installer used, you can skip this)

**To Reproduce**
Steps to reproduce the behavior:
1. Install KS3.2
[code]
2. Go to KS console
3. Click on 'User Manual'
4. See error, Go to
[code]

**Expected behavior**
Go to KS3.2 documents

/kind bug
/assign @kubesphere/sig-console
/priority medium

[2021-11-11 08:31] 123liubao commented on #2595
/assign

[2021-11-12 03:15] gongysh2004 opened #2597 "please show kind information on view volume instance yaml page"
**What would you like to be added**:
the view yaml page of volume instance is missing kind information, likely like this:

kind: PersistentVolume
apiVersion: v1

**Why is this needed**:

[2021-11-12 03:50] #2595 closed

[2021-11-12 06:39] weili520 commented on #2467
/kind need-to-verify

[2021-11-12 06:44] xuliwenwenwen commented on #2569
/assign @serenashe
Tip text translation error.

[2021-11-12 06:52] xuliwenwenwen commented on #2569
/cc @kubesphere/sig-docs

[2021-11-12 06:57] serenashe commented on #2569
The minimum synchronization period is 180 seconds, which equals to **3** minutes. This is why it reported with error when you enter **2** seconds.

[2021-11-12 07:03] serenashe commented on #2569
And if the tips should be varied according to the unit the users choose, I guess we need to add a few lines of code with the help of @xuliwenwenwen.

[2021-11-12 07:05] xuliwenwenwen commented on #2569
It translates to a synchronization period of at least 3 minutes and at most 24 hours. Isn't it better to understand

[2021-11-12 07:12] serenashe commented on #2569
Ok, I'll change the descriptions.

[2021-11-12 08:22] weili520 commented on #2551
/assign @weili520

[2021-11-12 08:25] #2569 closed

[2021-11-15 04:08] JohnNiang commented on #2591
Exactly, we should improve the `status` part of CRD `DevOpsProject`. Just like below:

[code]

---

But I suggest using this temporary solution now: using annotation `devopsproject.devops.kubesphere.io/syncstatus` to display the DevOps Project status in the table.

[2021-11-15 04:39] JohnNiang commented on #2593
/need-to-verify

[2021-11-15 04:39] JohnNiang commented on #2593
/kind need-to-verify

[2021-11-15 05:41] mangoGoForward commented on #2591
assign

[2021-11-15 05:41] JohnNiang commented on #2591
/assign @mangoGoForward

[2021-11-15 08:12] LinuxSuRen commented on #1865
I cannot select the item with version v3.2.0. See the screenshot

![image](https://user-images.githubusercontent.com/1450685/141745403-96bf5fa3-2784-48b6-9ef3-6835ee392f57.png)

[2021-11-16 02:23] jioce commented on #2467
version used: nightly-20211115
![image](https://user-images.githubusercontent.com/88183150/141884305-5ec9826b-f221-4931-9ca6-30bbe19ae33b.png)

[2021-11-16 02:36] weili520 commented on #2467
/remove need-to-verify

[2021-11-16 02:43] weili520 commented on #2467
/remove need-to-verify

[2021-11-16 02:48] weili520 commented on #2467
/remove-kind need-to-verify

[2021-11-16 03:25] mangoGoForward commented on #2546
/assign

[2021-11-16 06:26] LinuxSuRen opened #2612 "Request to mark `kubernetesDeploy` as deprecated"
See the details from https://github.com/kubesphere/website/issues/2096

/area devops
/priority high

[2021-11-16 08:54] XiaohuiSept commented on #2392
Drawing design as follow:
https://www.figma.com/file/G6LDkjRMGtHq1NGkr5bIyI/Design-Requirements-Pool?node-id=78%3A146477
/cc @harrisonliu5

[2021-11-16 08:54] showjason opened #2614 "Invalid parameter “template” in edit mode of service"
**General remarks**

**Describe the bug**
When I create a service,  after filling the name and project, then switch to edit mode, a invalid parameter "template"
appeared in the yaml panel, as below pic:
![image](https://user-images.githubusercontent.com/27723125/141943312-1b9ed564-52cc-4218-9c25-c52f3f6eb6aa.png)
Even though this service still can be created successfully through ks-console, if I c

[2021-11-16 09:06] XiaohuiSept commented on #2490
Drawing design as follow:
https://www.figma.com/file/G6LDkjRMGtHq1NGkr5bIyI/Design-Requirements-Pool?node-id=2%3A603
/cc @harrisonliu5

[2021-11-17 05:44] #2591 closed

[2021-11-17 06:49] #2546 closed

[2021-11-17 06:52] JohnNiang commented on #2591
Hi @harrisonliu5 , please help let this issue into milestone v3.2.

[2021-11-17 08:03] harrisonliu5 commented on #2591
/cherrypick release-3.2

[2021-11-17 08:04] harrisonliu5 commented on #2591
Done

[2021-11-18 03:00] jioce commented on #1298
issue fixed v3.2.0
/closed

[2021-11-18 03:14] jioce commented on #1224
issue fixed v3.2.0
/closed

[2021-11-18 03:34] jioce commented on #1257
issue still exists
![image](https://user-images.githubusercontent.com/88183150/142346914-15f66df7-2a76-49a3-80c6-88375986bc5f.png)

![image](https://user-images.githubusercontent.com/88183150/142346973-4af6b690-db41-44a8-be20-499c0e3b51d5.png)

version used:
kubesphere: v3.2.0

[2021-11-18 03:34] jioce commented on #749
issue fixed v3.2.0
/closed

[2021-11-18 03:40] liuyp2018 commented on #2529
fixed

[2021-11-18 03:40] #2529 closed

[2021-11-18 03:41] liuyp2018 commented on #2527
fixed

[2021-11-18 03:41] #2527 closed

[2021-11-18 03:48] liuyp2018 commented on #2523
this issue has been fixed ,Please close it if you confirmed that

[2021-11-18 03:49] liuyp2018 commented on #2514
fixed

[2021-11-18 03:49] #2514 closed

[2021-11-18 03:53] liuyp2018 commented on #2484
![image](https://user-images.githubusercontent.com/36271543/142348705-bedea8a6-138b-4c95-822d-f5c035f3fa12.png)

/rm-kind need-to-verify

[2021-11-18 03:55] liuyp2018 commented on #2473
fixed

[2021-11-18 03:55] #2473 closed

[2021-11-18 03:56] liuyp2018 commented on #2479
fixed

[2021-11-18 03:56] #2479 closed

[2021-11-18 03:57] liuyp2018 commented on #2484
/remove-kind need-to-verify

[2021-11-18 03:58] liuyp2018 commented on #2324
fixed

[2021-11-18 03:58] #2324 closed

[2021-11-18 03:59] zryfish commented on #2521
Fixed in v3.2.0
/close

[2021-11-18 03:59] #2521 closed

[2021-11-18 03:59] zryfish commented on #2516
/kind documentation

[2021-11-18 05:48] jioce commented on #1383
issue fixed v3.2.0
/closed

[2021-11-18 06:02] jioce commented on #1657
issue fixed v3.2.0
/closed

[2021-11-18 06:05] jioce commented on #1657
issue fixed v3.2.0
/closed

[2021-11-18 06:06] liuyp2018 commented on #2309
not fixed in released v3.2.0
![image](https://user-images.githubusercontent.com/36271543/142361394-7df0756b-7d00-402a-8730-fa9975931fe7.png)

[2021-11-18 06:10] jioce commented on #1485
issue fixed v3.2.0
/closed

[2021-11-18 06:12] liuyp2018 commented on #2293
this issue has been fixed ,Please close it if you confirmed that

[2021-11-18 06:14] jioce commented on #1670
issue fixed v3.2.0
/closed

[2021-11-18 06:20] jioce commented on #1668
issue fixed v3.2.0
/closed

[2021-11-18 06:20] jioce commented on #1735
issue fixed v3.2.0
/closed

[2021-11-18 06:21] liuyp2018 commented on #2292
this issue has been fixed and can be closed

[2021-11-18 06:22] liuyp2018 commented on #2273
this issue has been fixed and can be closed

[2021-11-18 06:23] liuyp2018 commented on #2110
this issue has been fixed and can be closed

[2021-11-18 06:23] jioce commented on #1818
issue fixed v3.2.0
/closed

[2021-11-18 06:25] jioce commented on #1827
issue fixed v3.2.0
/closed

[2021-11-18 06:34] liuyp2018 commented on #2389
In released v3.2, this problem does not exist, please confirm and close it

[2021-11-18 06:34] jioce commented on #1847
issue fixed v3.2.0
/closed

[2021-11-18 06:35] wenxin-01 commented on #1827
/close

[2021-11-18 06:35] #1827 closed

[2021-11-18 06:37] jioce commented on #749
/close

[2021-11-18 06:39] liuyp2018 commented on #2091
not fixed in released v3.2.0, please check it . @harrisonliu5
/remove-kind need-to-verify

[2021-11-18 06:46] liuyp2018 commented on #2135
this issue is fixed in released v3.2.0 , please check and close it.

[2021-11-18 06:48] liuyp2018 commented on #2140
This issue has been fixed in released v3.2.0, please check and close it.

[2021-11-18 06:51] liuyp2018 commented on #2162
In released v3.2.0, it is shown as this, please check it and  close this issue if it's ok. @VioZhang
![image](https://user-images.githubusercontent.com/36271543/142366503-69114028-ac60-43d8-a2f0-5a6f448f9493.png)

[2021-11-18 06:54] liuyp2018 commented on #2309
/remove-kind need-to-verify

[2021-11-18 06:57] liuyp2018 commented on #2247
This issue has been fixed in released v3.2.0 and can be closed.

[2021-11-18 07:08] liuyp2018 commented on #2333
In released v3.2.0,  svc can be deleted together with the sts . But the headless svc can not be custom naming. Whether this problem can be fixed?
/remove-kind need-to-verify

[2021-11-18 07:55] jioce commented on #2335
issue fiixed v3.2.0

[2021-11-18 07:55] #2335 closed

[2021-11-18 08:08] wenxin-01 commented on #749
/close

[2021-11-18 08:08] #749 closed

[2021-11-18 08:10] wenxin-01 commented on #1224
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:10] #1224 closed

[2021-11-18 08:10] wenxin-01 commented on #1298
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:10] #1298 closed

[2021-11-18 08:11] wenxin-01 commented on #1383
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:11] #1383 closed

[2021-11-18 08:13] wenxin-01 commented on #1485
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:13] #1485 closed

[2021-11-18 08:13] wenxin-01 commented on #1657
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:13] #1657 closed

[2021-11-18 08:13] wenxin-01 commented on #1668
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:14] #1668 closed

[2021-11-18 08:14] wenxin-01 commented on #1670
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:14] #1670 closed

[2021-11-18 08:14] wenxin-01 commented on #1735
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:14] #1735 closed

[2021-11-18 08:15] wenxin-01 commented on #1818
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:15] #1818 closed

[2021-11-18 08:15] wenxin-01 commented on #1847
issue fixed in  `v3.2.0`

/close

[2021-11-18 08:15] #1847 closed

[2021-11-18 08:16] wenxin-01 commented on #1915
/close

[2021-11-18 08:16] #1915 closed

[2021-11-18 08:17] wenxin-01 commented on #1916
issue fixed in `v3.2.0`
/close

[2021-11-18 08:17] #1916 closed

[2021-11-18 08:18] wenxin-01 commented on #1972
issue fixed in `v3.2.0`
/close

[2021-11-18 08:18] #1972 closed

[2021-11-18 08:18] wenxin-01 commented on #2080
issue fixed in `v3.2.0`
/close

[2021-11-18 08:18] #2080 closed

[2021-11-18 08:18] wenxin-01 commented on #2102
issue fixed in `v3.2.0`
/close

[2021-11-18 08:18] #2102 closed

[2021-11-18 08:19] wenxin-01 commented on #2104
issue fixed in `v3.2.0`
/close

[2021-11-18 08:19] #2104 closed

[2021-11-18 08:19] wenxin-01 commented on #2110
/close

[2021-11-18 08:19] #2110 closed

[2021-11-18 08:20] wenxin-01 commented on #2135
/close

[2021-11-18 08:20] wenxin-01 commented on #2140
/close

[2021-11-18 08:20] #2140 closed

[2021-11-18 08:21] liuyp2018 commented on #2523
/close

[2021-11-18 08:21] #2523 closed

[2021-11-18 08:21] wenxin-01 commented on #2247
/colse

[2021-11-18 08:22] wenxin-01 commented on #2273
issue fixed in `v3.2.0`
/close

[2021-11-18 08:22] liuyp2018 commented on #2293
/close

[2021-11-18 08:22] jioce commented on #2365
issue fiixed
version used:
ks-console:nightly-20211116

[2021-11-18 08:22] #2273 closed

[2021-11-18 08:22] #2293 closed

[2021-11-18 08:22] #2365 closed

[2021-11-18 08:22] wenxin-01 commented on #2284
issue fixed in `v3.2.0`
/close

[2021-11-18 08:22] liuyp2018 commented on #2292
/close

[2021-11-18 08:22] #2284 closed

[2021-11-18 08:22] #2292 closed

[2021-11-18 08:23] wenxin-01 commented on #2316
issue fixed in `v3.2.0`
/close

[2021-11-18 08:23] #2316 closed

[2021-11-18 08:23] #2355 closed

[2021-11-18 08:24] wenxin-01 commented on #2387
issue fixed in `v3.2.0`
/close

[2021-11-18 08:24] #2387 closed

[2021-11-18 08:24] liuyp2018 commented on #2389
/close

[2021-11-18 08:24] #2389 closed

[2021-11-18 08:24] wenxin-01 commented on #2388
issue fixed in `v3.2.0`
/close

[2021-11-18 08:24] #2388 closed

[2021-11-18 08:24] wenxin-01 commented on #2405
issue fixed in `v3.2.0`
/close

[2021-11-18 08:24] #2405 closed

[2021-11-18 08:25] wenxin-01 commented on #2536
issue fixed in `v3.2.0`
/close

[2021-11-18 08:25] #2536 closed

[2021-11-18 08:37] wenxin-01 commented on #2247
/close

[2021-11-18 08:37] #2247 closed

[2021-11-18 08:38] liuyp2018 commented on #2247
/close

[2021-11-18 08:41] liuyp2018 commented on #1952
fixed in release v3.2.0
/close

[2021-11-18 08:41] #1952 closed

[2021-11-18 08:44] wenxin-01 commented on #1781
issue fixed in `v3.2.0`
/close

[2021-11-18 08:44] #1781 closed

[2021-11-18 08:49] liuyp2018 commented on #1865
fixed in release v3.2.0
/close