[2019-12-02 10:27] Carlosfengv opened #19 "支持 Security Context 策略"
设计稿
zpl://screen?sid=5dd24a47c5060b624f9ac5ff&pid=5cbd3e2d21c1ba7ba1eb412a

/area console
/kind design
/milestone 2.1.1

[2019-12-02 12:37] leoendless commented on #19
/kind design

[2019-12-03 02:52] magicsong commented on #19
/area console
/kind design
/milestone 2.1.1

[2019-12-03 03:29] Carlosfengv opened #20 "Refactor the account login process"
**Prototype Link**
zpl://screen?sid=5dc5218250731722a4c2f30c&pid=5cbe7fbc2f55d8b73f56811b

**flow**
https://kpl2mk.axshare.com

**content**

- [ ] Initialize the login Settings
- [ ] Registration process
- [ ] Forget Password
- [ ] Login

/area console
/kind design
/milestone 3.0.0

[2019-12-03 03:53] ellaye opened #21 "The node taint become common taint when select a node and check taint management"
Reproduce steps：
1、select a node and add a Taint
2、select the node and click [Taint Management] button
Actual  result：the taint in step is common taint
Expected result：the taint in step1 is node taint

![image](https://user-images.githubusercontent.com/57089340/70019163-58275480-15c3-11ea-95d0-3ee6b49a1b99.png)

[2019-12-03 03:54] ellaye commented on #21
/assign @leoendless
/kind bug

[2019-12-03 03:55] ellaye commented on #21
/area console
/milestone 2.1.1

[2019-12-03 12:18] Carlosfengv opened #22 "Refactor historical version comparisons"
RT;
**Prototype Link**
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5dd6358bc380610b76120a7e

/area console
/kind design
/milestone 2.1.1

[2019-12-04 04:07] shaowenchen opened #24 "DevOps 删除的参数，依然显示在页面上"
版本：2.1
模块：DevOps
复现方法：修改流水线参数，删除一部分，增加一部分
相关截图：

![image](https://user-images.githubusercontent.com/43693241/70111878-9b022e80-168e-11ea-9ad6-3bfbb0edccc4.png)

/assign @leoendless
/area devops

[2019-12-05 07:40] minghaoye commented on #24
修改jenkinsfile 里的 parameters属性后重新返回的pipeline-detail里好像没有更新，需要手动触发一次运行后才可以 @runzexia

[2019-12-05 07:53] shaowenchen commented on #24
在 staging 环境，已经触发很多次了。

[2019-12-05 09:04] minghaoye commented on #24
触发后要刷新一下页面，我修复一下

[2019-12-09 06:54] mikexu-github opened #31 "next page display items which displayed in prev page (分页显示不正确BUG)"
Total 12 records, first page 10 items,  so next page should display left 2 items, but  what i'got are 2 items displayed in prev.  page.
(共有12条记录，分两页。第一页显示10-条，第二页显示2页，但点击第二页时，看到的却是在第一页上看到的记录)
![BUG-显示排序-1](https://user-images.githubusercontent.com/58680457/70413983-b9ec3080-1a93-11ea-8801-60e312d8232a.png)
![BUG-显示排序-2](https://user-images.githubusercontent.com/58680457/70413987-bbb5f400-1a93-11ea

[2019-12-09 09:34] #24 closed

[2019-12-10 07:54] guoh1988 opened #32 "右下角的工具箱有时候无法进入，且无法退出"
KubeSphere: 2.1.1
Kubernetes: 1.13.7
**To Reproduce(复现步骤)**
1.使用GitHub上前端代码编译替换之前的前端镜像发现
2.右下角工具箱有时候无法进入到终端，报错如下图
![1210](https://user-images.githubusercontent.com/28557169/70505997-52ea7c80-1b64-11ea-8f6f-5efae406da89.png)

3.就算进入点击X按钮也无法退出，截图如下
![12102](https://user-images.githubusercontent.com/28557169/70506021-5c73e480-1b64-11ea-9516-39e749529f98.png)
4.编译的log
yarn run v1.19.1
$ rimraf dist
$

[2019-12-11 03:30] luomoyisheng opened #33 "开发前端页面没有示例账号/密码，用以查看界面修改效果"
使用的是doc/development-with-docker.md进行部署的。
![image](https://user-images.githubusercontent.com/30659251/70589050-a82c9980-1c09-11ea-9a8f-5695803f3bdc.png)

[2019-12-12 02:36] leoendless commented on #33
这个同你连接的 kubesphere cluster 一样的登录密码。
如何连接后端服务：https://github.com/kubesphere/console/blob/master/docs/access-backend.md

[2019-12-12 02:40] leoendless commented on #32
在开发模式下( yarn start )和本地 serve (yarn build && yarn serve)时，有同样的问题吗

[2019-12-12 02:40] leoendless commented on #31
@wansir 应该是后端api 返回异常

[2019-12-12 03:26] luomoyisheng commented on #33
好的，谢谢，我目前已经安装您给的这个文档暴露gateway了，但是访问404，是需要还做什么操作吗？

[2019-12-12 05:38] leoendless commented on #33
检查下集群所在主机的防火墙, 看是否有开放 gateway service 的端口

[2019-12-12 05:41] luomoyisheng commented on #33
防火墙和selinux都是关闭的，而且这个是可以访问到的，不过是404，没找到页面。

[2019-12-12 05:49] leoendless commented on #33
可以按一下步骤来检查问题所在
1. 确保主机上可以访问 ks 集群里的 gateway service
2. 确保你的本地环境可以访问集群所在主机的外网 ip

[2019-12-12 05:54] luomoyisheng commented on #33
恩恩，您说的这些问题我可以确定是没问题的，但我的问题是按照文档暴露ks-apigateway后，访问
![image](https://user-images.githubusercontent.com/30659251/70686284-d59b4500-1ce6-11ea-966a-bdd2b9acbab9.png)
node_ip:30881访问到的是404页面，是我的访问路径有问题吗？

[2019-12-12 06:06] leoendless commented on #33
后面接 /kapis/v1alpha1/configz 看看能否正常返回数据

[2019-12-12 06:08] luomoyisheng commented on #33
![image](https://user-images.githubusercontent.com/30659251/70686963-b2719500-1ce8-11ea-97e5-bd8134673f30.png)
可以访问到的
![image](https://user-images.githubusercontent.com/30659251/70687013-df25ac80-1ce8-11ea-9e65-c8fa145584e3.png)
这个也是可以访问da到的

[2019-12-12 06:09] leoendless commented on #33
那就可以直接写到 server/local_config.yaml 里了

[2019-12-12 06:11] luomoyisheng commented on #33
这个我已经写进去了，并且重新yarn start了

[2019-12-12 06:12] leoendless commented on #33
现在有什么问题呢

[2019-12-12 06:13] luomoyisheng commented on #33
![image](https://user-images.githubusercontent.com/30659251/70687219-7985f000-1ce9-11ea-8131-89795aeb0dfc.png)k刚才图片是不是没显示出来，我重发一下

[2019-12-12 06:13] luomoyisheng commented on #33
目前是这个问题
![image](https://user-images.githubusercontent.com/30659251/70687263-99b5af00-1ce9-11ea-8545-77c23bfd7c75.png)

[2019-12-12 06:14] leoendless commented on #33
现在你在本地起开发环境，登录后就行了

[2019-12-12 06:14] leoendless commented on #33
这个是因为没有登录，api 返回401 是正常的

[2019-12-12 06:16] luomoyisheng commented on #33
嗯嗯，谢谢，是本地起console前端的开发环境吧，起动后，我通过访问哪个url去登陆？用户名/密码是哪个？

[2019-12-12 06:18] leoendless commented on #33
一般是 http://localhost:8000, 环境默认登录方式是
用户名：admin
密码：P@88w0rd

[2019-12-12 06:20] luomoyisheng commented on #33
好的，非常感谢您的帮助。

[2019-12-12 06:22] #33 closed

[2019-12-12 07:04] guoh1988 commented on #32
@leoendless
一样的两种情况都试了的

[2019-12-12 07:31] justahole commented on #32
@guoh1988 正在抢修，请稍后

[2019-12-12 07:53] luomoyisheng opened #35 "登陆前端显示用户名和密码错误"
我暴露gateway端口后，不小心获取了token
![image](https://user-images.githubusercontent.com/30659251/70692842-329ef700-1cf7-11ea-9ade-7b9047cef25c.png)，我现在访问http://localhost:8000/使用默认的用户名和密码登陆显示账号和密码错误，我该怎么操作。

[2019-12-12 10:18] minghaoye commented on #35
看一下本地terminal的报错

[2019-12-12 10:22] luomoyisheng commented on #35
![image](https://user-images.githubusercontent.com/30659251/70704119-5587d600-1d0c-11ea-96c8-34a1411d8351.png)

[2019-12-12 10:23] luomoyisheng commented on #35
{ code: 401,
  message: 'LDAP Result Code 49 "Invalid Credentials": ',
  statusText: 'Unauthorized' }

[2019-12-12 10:25] minghaoye commented on #35
再次确认下账号密码

[2019-12-12 10:27] luomoyisheng commented on #35
账号密码是使用的默认的，
![image](https://user-images.githubusercontent.com/30659251/70704468-02625300-1d0d-11ea-8d02-696a6f08bf03.png)我是执行完make dev访问的。是不是因为这是开发环境，所以没有账号和密码。

[2019-12-12 10:32] minghaoye commented on #35
有账号密码的，在线版可以登录么

[2019-12-12 10:34] luomoyisheng commented on #35
我试一下吧，因为我们这边想开发前端，所以想使用的dev环境来开发

[2019-12-12 11:02] luomoyisheng commented on #35
在线的没问题

[2019-12-16 10:08] leoendless commented on #35
开发问题的化可以参考下这个https://github.com/kubesphere/console/issues/33

[2019-12-16 10:10] luomoyisheng commented on #35
好的，谢谢

[2019-12-17 02:57] zhengxh247 commented on #32
更新了代码报错：

ERROR in ./src/stores/terminal.js
Module build failed (from ./node_modules/happypack/loader.js):
SyntaxError: /data/console/kubesphere-console/src/stores/terminal.js: Unexpected token (87:0)

[2019-12-17 03:01] justahole commented on #32
@zhengxh247 打包失败？

[2019-12-17 03:02] zhengxh247 commented on #32
@justahole 是的

[2019-12-17 03:16] justahole commented on #32
@zhengxh247 那需要另开一个issue哦，因为与本issue无关

[2019-12-19 08:05] huamaolin opened #39 "监控中心告警策略"
报警规则和通知规则 不能修改

[2019-12-19 08:07] huamaolin commented on #39
后端缺少patch alert_status api

[2019-12-20 04:37] justahole commented on #39
@huamaolin 目前还没有这样的功能，我们会进行协商，如果可以会提供。

[2019-12-20 04:42] #32 closed

[2019-12-20 06:10] guoh1988 opened #41 "进入企业空间的项目/服务/资源状态 点击更多操作，点击编辑外网访问/编辑配置文件 无法打开对话框"
KubeSphere: 2.1.0
Kubernetes: 1.13.7
To Reproduce(复现步骤)
1.使用GitHub上前端代码编译替换之前的前端镜像发现
2.进入企业空间的项目/服务/资源状态 点击更多操作，点击编辑外网访问/编辑配置文件 无法打开对话框
![鏈嶅姟](https://user-images.githubusercontent.com/28557169/71234043-7961a200-2332-11ea-9080-8605ac4f4f62.png)

[2019-12-20 06:18] guoh1988 opened #42 "修改弹性伸缩的副本提示一定要输入内存限制数（第一次保存时没有输入）"
KubeSphere: 2.1.0
Kubernetes: 1.13.7
To Reproduce(复现步骤)
1.点击工作负载，选择一个工作负载，点击更多操作，选择弹性伸缩，填入CPU百分比和最大副本数，点击确认（不要填入内存限制数）
2.点击弹性伸缩，修改最大副本数，发现如下报错，提示一定要输入内存限制数

![HPA](https://user-images.githubusercontent.com/28557169/71234470-03f6d100-2334-11ea-8040-56f5c6c1bc63.png)

[2019-12-20 06:49] minghaoye commented on #42
如果没有内存限制需要把自动填充的0给删掉，稍后修复一下

[2019-12-20 06:51] leoendless commented on #41
编译完镜像后可以使用 ./docker-run 脚本再本地用 docker 运行。看下页面是否正常吧

[2019-12-20 06:53] leoendless commented on #41
请问下你的 ks-console 是多副本的吗，每个副本的 container image 是一样的吗，建议尝试新的镜像时，重新起一个新的 deployment 和 service，不要覆盖原有稳定版 的 ks-console 服务。

[2019-12-20 07:40] rayzhou2017 opened #43 "Should throw correct error message"
* [ ] When no backend service of KubeSphere is configured, it throws internal error. It should never throw such error to end user.
![Screen Shot 2019-12-20 at 3 41 31 PM](https://user-images.githubusercontent.com/28859385/71238500-2b9f6680-233f-11ea-8ce0-382656077b33.png)

[2019-12-20 08:26] guoh1988 commented on #41
@leoendless
.编译的log
yarn run v1.19.1
$ rimraf dist
$ yarn build:client && yarn build:server
$ yarn lego && webpack -p --config scripts/webpack.prod.js --display errors-only
$ webpack -p --config scripts/webpack.lego.js
✔ success webpack compiled in 779ms
Hash: 0f19b80ca984b9617454
Version: webpack 4.30.0
Time: 788ms
Built at: 2019-12-10 07:51:11
Asset Size Chunks Chunk Names
lego.css 370 KiB 0 [em

[2019-12-20 08:27] guoh1988 commented on #41
@leoendless
在开发模式下( yarn start )和本地 serve (yarn build && yarn serve)时，都有同样的问题，我这边使用的是单管理节点，不存在镜像不一样的情况

[2019-12-20 08:47] leoendless commented on #41
麻烦贴一下 yarn start 时页面的报错吧

[2019-12-23 03:39] leoendless opened #48 "日志时间顺序混乱"
**General remarks**

**Describe the bug(描述下问题)**
在全局日志里查询日志，开启实时后，顺序混乱。如下图，时间顺序 11:36:53 -> 11:36:08 -> 11:37:08

![image](https://user-images.githubusercontent.com/8739949/71334299-84a60f00-2578-11ea-92ed-976950087682.png)
![image](https://user-images.githubusercontent.com/8739949/71334315-94255800-2578-11ea-921e-8947528e6be9.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: v2.1.0
Ku

[2019-12-23 07:24] leowucn opened #49 "构建镜像功能中，无法删除条目"
**Describe the bug(描述下问题)**
构建镜像功能中，选择条目进行删除，本来是要填写条目名然后确定删除，现在是在填写条目名时对话框迅速自动切换为确认框，完全没法填写条目，这种情况下，点击确认框的确认按钮，无反应。
我随后点击那个条目，进去后，在左上角下拉菜单里删除了这个条目
<img width="1632" alt="Snipaste_2019-12-23_15-24-12" src="https://user-images.githubusercontent.com/16133390/71342637-50dae180-2598-11ea-8028-f4c5d8da3847.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environ

[2019-12-23 08:18] guoh1988 commented on #41
r: _this$props$options$f is undefined[详细了解]  common.js%20line%202967%20%3E%20eval:83:11
	BtnGroup/_this.handleMoreClick webpack:///./src/core/containers/Base/Detail/BaseInfo/BtnGroup/index.jsx?:83:11
	Menu/< webpack:///./node_modules/@pitrix/lego-ui/lib/components/Menu/Menu.js?:97:9
	MenuItem/< webpack:///./node_modules/@pitrix/lego-ui/lib/components/Menu/MenuItem.js?:81:7
	callCallback webpack://

[2019-12-23 09:38] minghaoye commented on #49
谢谢反馈，已复现，正在更新的任务选中后，更新状态后选中状态会丢失。可以在右侧按钮删除
![Screen Shot 2019-12-23 at 5 34 46 PM](https://user-images.githubusercontent.com/22934997/71349902-01ea7780-25ab-11ea-91ce-63386053f277.png)

2.1.1会修复

[2019-12-23 09:46] #49 closed

[2019-12-23 10:04] #42 closed

[2019-12-23 10:11] leowucn opened #51 "应用管理->应用分类界面 不方便点击下一页"
**Describe the bug(描述下问题)**
在浏览器页面上下翻动时，往上翻页下一页按钮和工具按钮很容易混在一起，往下翻页下一页按钮就跑到页面底部看不到了。导致很难点击下一页按钮。希望能优化下，谢谢
<img width="1632" alt="Snipaste_2019-12-23_18-11-11" src="https://user-images.githubusercontent.com/16133390/71351820-9fe04100-25af-11ea-845a-5fb4287a4863.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their h

[2019-12-24 03:03] #41 closed

[2019-12-24 05:02] Carlosfengv commented on #51
工具按钮是可以拖动的，可以移开

[2019-12-24 05:59] leowucn commented on #51
哈哈哈，好吧

[2019-12-24 05:59] #51 closed

[2019-12-24 08:13] leowucn opened #56 "创建资源时，镜像名功能优化的建议"
**Describe the bug(描述下问题)**
我在测试灰度发布功能时，不小心把镜像名后面的空格也复制了并粘贴到了设置窗口中，然后就review v2服务就一直起不来，只能进集群查看replicaset才能发现问题。镜像名后面多一个空格本来就是一个错误，希望前端在接受用户输入时把镜像名前后的空格都去掉
<img width="731" alt="Snipaste_2019-12-24_16-09-40" src="https://user-images.githubusercontent.com/16133390/71402606-51db4400-2668-11ea-9d80-8e385de38ff3.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

*

[2019-12-24 13:28] huanggze opened #59 "容器组模板编辑菜单“删除/编辑“栏与资源限制信息重叠"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/22350668/71414948-4e5db200-2694-11ea-9ddd-f21f1009b48d.png)

![image](https://user-images.githubusercontent.com/22350668/71414955-5a497400-2694-11ea-9db0-b11bdd46aee5.png)

**Versio

[2019-12-25 07:51] huanggze opened #60 "告警规则监控列表这里不是全部"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

需要检查 resource kapi，应该做了分页（默认 limit=10，page=1）。api 返回里写了 total_count=12）。没有处理分页，所以只展示了10个item，而不是全部监控目标

![image](https://user-images.githubusercontent.com/22350668/71437774-00958800-272e-11ea-8ecb-83e3ef5977f0.png)

![image](https:/

[2019-12-25 07:56] huanggze commented on #60
/kind bug
/milestone 2.1.1
/assign @justahole

[2019-12-25 10:01] huanggze opened #61 "告警详情中，监控目标数量两处不一致"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

这一处来源于告警模块：
![image](https://user-images.githubusercontent.com/22350668/71442243-1318bd00-2740-11ea-99b5-8d580d5f8777.png)

这一处来源于 resource kapi:
![image](https://user-images.githubusercontent.com/22350668/71442272-32174f00-2740-11e

[2019-12-25 10:01] huanggze commented on #61
/bug
/assign @Carlosfengv @justahole
/milestone 2.1.1

[2019-12-25 10:06] huanggze commented on #61
/assign @Ma-Dan

[2019-12-25 10:55] leowucn opened #62 "图形化创建流水线时，无法拖动任务进行排序"
**Describe the bug(描述下问题)**
如下图，当我开始编辑这个流水线时，我能拖动任务进行排序但是鼠标松开后就恢复到原来顺序了。第二次再要拖动时，那里已经固定无法操作了。
<img width="1579" alt="Snipaste_2019-12-25_18-54-41" src="https://user-images.githubusercontent.com/16133390/71443806-0b5d1680-2748-11ea-81c5-5a402e0f1306.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
1 masters:  4cpu/16g
3 nodes: 4cpu/16

[2019-12-26 03:14] minghaoye commented on #62
非嵌套的任务拖拽有bug，已提交pr

[2019-12-26 03:16] leowucn commented on #62
好的

[2019-12-26 03:16] #62 closed

[2019-12-27 02:24] huanggze opened #65 "支持 CRD 配置界面上可配"
feature request

https://kubesphere.com.cn/forum/d/537

[2019-12-27 10:03] #48 closed

[2019-12-27 10:29] leoendless commented on #59
By design.

[2020-01-02 04:59] Luckywannnnng commented on #33
{ code: 401,
  statusText: 'Unauthorized',
  message: '401 Unauthorized\n' } 登录控制台报错，如何解决

[2020-01-02 05:02] Luckywannnnng commented on #33
{ code: 401,
  statusText: 'Unauthorized',
  message: '401 Unauthorized\n' }请问登录控制台报这个如何解决

[2020-01-02 05:19] Mockingbird1234 opened #67 "Lego-UI"
官方的Lego-UI文档打算开源么？？

[2020-01-02 07:07] leoendless commented on #33
请提个新的 issue, 并补充详细的信息

[2020-01-08 08:31] leoendless commented on #67
由于开源的维护成本较大，暂未做这方面的考虑。
目前在 npm 上可以直接使用 ``@pitrix/lego-ui``。
我们会在之后补全 lego-ui 的使用文档及 ks-console 里的组件文档。

[2020-01-09 02:58] Carlosfengv opened #77 "增加 访问记录 页面"
**功能描述:**
浏览器中记录用户最近访问的  集群、企业空间、 项目、 DevOps工程。在用户开启访问记录的页面时可以快速切换之前访问的层级资源

**原型地址:**
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5e09a8be734c3d972510a296

[2020-01-09 07:16] #59 closed

[2020-01-09 08:26] zryfish opened #82 "Existed ingresses not showing if a project's gateway not created"
![image](https://user-images.githubusercontent.com/3326354/72050648-9c152400-32fc-11ea-9c20-51fdb677e79a.png)

**Suggestions:**  Disable creating of new ingresses, but allow editing existed ingresses.

[2020-01-09 09:10] Carlosfengv commented on #82
可以与Ingress的Init状态的Issue 一起优化一下
原型地址：
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5e16ed8c9a13e098670643f4

[2020-01-10 02:58] leoendless commented on #19
Fixed by https://github.com/kubesphere/console/pull/72

[2020-01-10 02:58] #19 closed

[2020-01-10 06:57] leoendless commented on #22
/milestone 3.0.0

[2020-01-10 06:58] #35 closed

[2020-01-10 14:43] calvinyv opened #88 "Enhance: provide a secret setup link when setting env of a container"
For UI issues please also add a screenshot that shows the issue.
<img width="1099" alt="Jietu20200110-224046" src="https://user-images.githubusercontent.com/28883416/72161030-4d4db400-33fa-11ea-8633-fd5d37518f53.png">

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Go to 'Deployment'
2. Click on 'Create' button
3. add a sample image, for example, tomcat,
4. Config env variable for this

[2020-01-10 14:43] calvinyv commented on #88
/assign @leoendless

[2020-01-11 06:54] guoh1988 opened #89 "界面是否可以添加初始化容器（initcontainer）"
在部署服务或者deploy的时候容器添加并没有initcontainer，感觉部署带有initcontainer的服务很不方便
![镜像](https://user-images.githubusercontent.com/28557169/72241452-df83d100-3621-11ea-95b3-511551a3e1f2.PNG)

[2020-01-13 07:30] shaowenchen opened #90 "创建外部服务时，关联应用操作，拉取列表异常"
版本：2.1

操作：

1，创建示例应用 bookinfo
2，在服务中创建【外部服务】

![image](https://user-images.githubusercontent.com/43693241/72238559-0d184c80-3619-11ea-9c90-057357f43b48.png)

查看不到第一步中创建的应用。

![image](https://user-images.githubusercontent.com/43693241/72238610-2f11cf00-3619-11ea-93ea-58da80cdbdff.png)

尝试的方法：

1，刷新页面，无法出现列表
2，反复点击应用列表，可以看到 bookinfo 应用

预期：

创建外部服务时，点击高级设置，能查看当前项目下的完整应用列表。

/area console
/assign @l

[2020-01-13 07:32] shaowenchen commented on #90
如果能拉取到 svc 列表进行关联，会不会更好些

[2020-01-13 12:19] huanggze opened #92 "logging search: type '=' causes blank web page"
![image](https://user-images.githubusercontent.com/22350668/72255554-fb976a80-3641-11ea-981c-b78da1bbce20.png)

[2020-01-13 12:19] huanggze commented on #92
/assign @justahole
/milestone 2.1.1
/kind bug

[2020-01-14 12:49] arraycto opened #93 "yarn start然后报错，在线等哈"
vscode执行的时候，已经在我的电脑中配置了yarn的环境变量
yarn start然后报错如下：

PS G:\代码例子\daima\console> yarn start
yarn run v1.21.1
$ concurrently -k --raw 'yarn dev:client' 'yarn dev:server'
''yarn' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
文件名、目录名或卷标语法不正确。
''yarn' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
文件名、目录名或卷标语法不正确。
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
PS G

[2020-01-14 13:12] arraycto opened #94 "运行后localhost后的用户名和密码默认是啥？无法登陆啊"
运行后localhost后的用户名和密码默认是啥？无法登陆啊

[2020-01-14 13:25] arraycto commented on #94
admin / P@88w0rd. 无法登陆，出现 Internal Server Error

[2020-01-15 04:54] leoendless commented on #94
感觉像是 gateway server 的配置问题
可以参考这里：
https://github.com/kubesphere/console/blob/master/docs/access-backend.md

[2020-01-15 04:57] leoendless commented on #93
需要参考 https://github.com/kubesphere/console/blob/master/README.md#preparation 来搭建开发环境

[2020-01-15 04:58] leoendless commented on #89
Fixed in https://github.com/kubesphere/console/pull/76. Will be released in v2.1.1.

[2020-01-15 04:58] #89 closed

[2020-01-16 00:38] #60 closed

[2020-01-20 14:02] yunkunrao commented on #43
/testing

[2020-01-20 14:14] yunkunrao commented on #43
By applying pr #103 , this issue was fixed in dev env, and need to be verfied finally in 2.1.1 official release.

[2020-02-04 02:03] #94 closed

[2020-02-04 02:03] #93 closed

[2020-02-04 02:54] runzexia opened #114 "用户在使用私有仓库镜像时，镜像名称需要处理scheme"
2.1.1 将允许镜像名称包含 scheme，具体来说，镜像仓库密钥地址包含以下两种情况。

1. 不带scheme
例如： `dockerhub.qingcloud.com`
在这种情况下前端无需特殊处理，镜像名称可能为 `dockerhub.qingcloud.com/runzexia/hello:latest`
2. https/http
例如 `https://dockerhub.qingcloud.com`
在这种情况下前端需要去除镜像仓库地址中的scheme
错误示例： `https://dockerhub.qingcloud.com/runzexia/hello:latest`
 `http://dockerhub.qingcloud.com/runzexia/hello:latest`
正确示例:
`dockerhub.qingcloud.com/runzexia/hell

[2020-02-04 02:54] runzexia commented on #114
assign @minghaoye

[2020-02-04 02:54] runzexia commented on #114
/milestone 2.1.1

[2020-02-04 02:54] runzexia commented on #114
/kind bug

[2020-02-04 03:00] runzexia commented on #114
cc @soulseen

[2020-02-04 07:57] yunkunrao commented on #43
Verified with release-2.1 image tag.

[2020-02-04 07:59] yunkunrao commented on #43
Verified with release-2.1 image tag.

[2020-02-04 08:52] soulseen commented on #114
为了更加全面，后端对scheme也做了处理

[2020-02-04 08:56] soulseen commented on #114
第二种情况应该是只有使用http时才需要指定加上http协议头，其他情况默认使用https，手动加上了https也是没有关系的吧

[2020-02-04 08:59] runzexia commented on #114
@soulseen 现在在创建部署的时候可以选择镜像仓库，如果secret里面包含了 `https://` 会导致用户最终部署的 image 字段为 `https://docker.io/nginx:latest`，这个地方需要前端做处理。

[2020-02-04 09:00] soulseen commented on #114
嗯，

[2020-02-05 02:56] ellaye commented on #21
fixed
/close

[2020-02-05 02:56] #21 closed

[2020-02-06 06:13] minghaoye commented on #114
/label need-to-verify

[2020-02-06 06:26] #43 closed

[2020-02-06 08:13] runzexia opened #124 "流水线参数名称需要是必填"
/kind bug
/milestone 2.1.1
/assign @minghaoye
![image](https://user-images.githubusercontent.com/31230341/73917975-8561ed00-48fb-11ea-8b13-a9f57d34a8d6.png)

[2020-02-06 08:28] ellaye opened #125 "Mail setting page expose mail password"
1、login kubesphere system with admin account
2、open devtools about chrome
3、open mail setting page
excepted result ： cannot find mail password
actual result： can find mail password

[2020-02-06 08:30] ellaye commented on #125
/assign @justahole
/kind bug
/milestone 2.1.1

[2020-02-06 09:58] leowucn opened #126 "本地无法运行代码"
2.1.0分支最新代码，本地Node版本1.13.7，yarn版本1.21.1。不知道是不是我的环境哪里有问题，请帮忙看下下面的错误，谢谢
[code]

[2020-02-07 08:11] runzexia opened #128 "没有开启日志组件的情况下，s2i页面在启动时查询日志bad request"
![image](https://user-images.githubusercontent.com/31230341/74012083-5cf1f580-49c4-11ea-8c74-62613e2bfc1b.png)
/kind bug
/assign @minghaoye
/milestone 2.1.1

[2020-02-07 08:14] runzexia commented on #128
建议参考日志页面状态
![image](https://user-images.githubusercontent.com/31230341/74012279-d4278980-49c4-11ea-8f83-6c28712b0183.png)

[2020-02-07 08:30] runzexia opened #129 "s2ibuilder s2irun 前端创建时名称不应超过63个字符"
![image](https://user-images.githubusercontent.com/31230341/74013277-0508be00-49c7-11ea-84fe-df3293c7b5b3.png)
文案有小错误。

[2020-02-07 08:30] runzexia commented on #129
/assign @minghaoye

[2020-02-10 01:11] leoendless commented on #126
nodejs 版本需要升到 10 以上

[2020-02-10 02:10] leowucn commented on #126
@leoendless 不好意思，我的Nodejs版本写错了，是13.7.0。仍然有这个错

[2020-02-10 02:26] leoendless commented on #126
应该是 yarn 安装的依赖与 node 13 不兼容的问题。
可以有两种方法：
1. 删除 yarn.lock ，重新执行 yarn install
2. node 版本切换到 10

[2020-02-10 06:54] leowucn commented on #126
我装了12.15.0版本的Nodejs，现在可以了，谢谢

[2020-02-10 06:54] #126 closed

[2020-02-10 08:53] runzexia commented on #124
fix
/close

[2020-02-10 08:53] #124 closed

[2020-02-10 08:56] runzexia commented on #114
fix
/close

[2020-02-10 08:56] #114 closed

[2020-02-10 08:57] runzexia commented on #129
/close

[2020-02-10 08:57] #129 closed

[2020-02-10 09:00] runzexia commented on #128
/close

[2020-02-10 09:00] #128 closed

[2020-02-10 11:21] shaowenchen commented on #90
应用已经创建出来：

![image](https://user-images.githubusercontent.com/43693241/74145638-540a5980-4c3a-11ea-8384-56e67c1b2e62.png)

但是依然无法拉取应用的列表：

![image](https://user-images.githubusercontent.com/43693241/74145661-62f10c00-4c3a-11ea-9781-d0fb15108867.png)

是我使用方式不对吗？

[2020-02-10 11:22] huanggze opened #135 "app deleting status translation issue"
![image](https://user-images.githubusercontent.com/22350668/74145779-99c72200-4c3a-11ea-867d-c197c99004c2.png)

[2020-02-10 11:23] huanggze commented on #135
/milestone 2.1.1
/assign @whDongRui

[2020-02-10 11:24] shaowenchen commented on #90
/remove-need-to-verify

[2020-02-10 12:36] huanggze commented on #92
/remove-milestone 2.1.1
/milestone 3.0.0

[2020-02-11 02:28] shaowenchen commented on #90
![image](https://user-images.githubusercontent.com/43693241/74207132-41833500-4cb9-11ea-96e7-09b6f5c2c298.png)

OK

/close

[2020-02-11 02:28] #90 closed

[2020-02-11 07:05] runzexia opened #140 "get not exist image cause a strange page"
/assign @minghaoye
![image](https://user-images.githubusercontent.com/31230341/74216623-f3cdf300-4cdf-11ea-8df7-a8ea05ec6c0f.png)

[2020-02-11 14:04] minghaoye commented on #140
/label  need-to-verify

[2020-02-12 08:20] runzexia commented on #140
/close

[2020-02-12 08:20] #140 closed

[2020-02-13 00:37] gdzy1987 opened #147 "TypeError: Cannot read property 'concat' of undefined"
# yarn
yarn install v1.22.0
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
[4/5] 🔗  Linking dependencies...
warning " > react-hot-loader@4.12.19" has unmet peer dependency "@types/react@^15.0.0 || ^16.0.0".
warning " > babel-jest@23.6.0" has unmet peer dependency "babel-core@^6.0.0 || ^7.0.0-0".
[5/5] 🔨  Building fresh packages...
success Saved loc

[2020-02-13 02:51] huanggze opened #148 "fail to create Deployment"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

Click "create" button, get no response.
![image](https://user-images.githubusercontent.com/22350668/74396957-82608280-4e4e-11ea-8621-fa7c79706bdf.png)

And an warning pops up when I expand "Add metadata"
![image](https://user-images.githubusercontent.com/22350668/74396975-8be9ea80-4e4e-11ea-8e63-2

[2020-02-13 02:51] huanggze commented on #148
/milestone 2.1.1
/kind bug
/assign @leoendless

[2020-02-14 03:09] justahole commented on #125
kind/need-to-verify

[2020-02-16 07:32] huanggze commented on #148
So this happens when editing workload in yaml mode. When you switch back to the UI mode, you will get this error

[2020-02-17 03:31] leoendless commented on #147
can you print the nodejs version ?

[2020-02-17 04:01] ellaye commented on #125
fixed
/close

[2020-02-17 04:01] #125 closed

[2020-02-17 04:52] huanggze commented on #148
verified

[2020-02-17 04:52] #148 closed

[2020-02-17 05:13] huanggze commented on #61
verified

[2020-02-17 05:13] #61 closed

[2020-02-17 07:44] gdzy1987 commented on #147
$ node --version
v13.6.0

# MacBook-Pro in ~ [15:43:58]
$ yarn -v
1.22.0

[2020-02-17 07:57] leoendless commented on #147
The reason is an incompatible dependency version locked by ``yarn.lock`` with nodejs v13.x.

we recommend a nodejs version such as v8.x or v10.x (keeping in line with our local env), or try to delete ``yarn.lock`` then execute ``yarn install``.

[2020-02-18 03:36] runzexia opened #167 "could not edit secret yaml"
![image](https://user-images.githubusercontent.com/31230341/74701797-edd99400-5242-11ea-998e-23f07cf3f5c0.png)
/kind bug
/milestone 2.1.1
/cc @leoendless

[2020-02-18 08:01] runzexia commented on #167
/close

[2020-02-18 08:01] #167 closed

[2020-02-18 08:59] leoendless commented on #147
Has the problem been solved ? @gdzy1987

[2020-02-18 09:02] leoendless commented on #135
Fixed

[2020-02-18 09:09] leoendless opened #171 "Test for slack integration"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2020-02-18 09:09] leoendless commented on #171
test

[2020-02-18 09:10] #171 closed

[2020-02-27 09:02] calvinyv opened #193 "Display clear data if KubeSphere can't get pv capacity usage for nfs sc"
**General remarks**
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.1
The default storage class is nfs

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
As nfs limitation, there's no API provided from nfs to get mounted volume usage f

[2020-02-27 09:03] calvinyv commented on #193
/assign @leoendless @wnxn
/kind bug

[2020-02-27 09:13] wnxn commented on #193
In KS 2.1.x, mounted volume usage feature is only supported by QingCloud CSI. NFS storage plugin does not support this feature.

[2020-02-29 14:45] leowucn opened #196 "页面无法登陆"
**Describe the bug(描述下问题)**
在多master集群部署kubesphere后无法登陆，提示用户名或密码错误。

看了下kubesphere项目的login函数并测试了一下，`err = conn.Bind(dn, password)`会去openldap认证当前登录用户，这里传入的密码应该是用户的未加密密码，测试时发现传入的密码是加密后的。
再看了下前端代码，在handlerLogin函数的如下代码段中
[code]
`ctx.session.salt`参数打印是`undefined`，怀疑问题出在这里，没有成功对密码进行解密。不清楚这个salt参数为`undefined`是偶然还是必然。请帮忙确认下，谢谢

For UI issues please also add a screenshot that shows the issue.

**Versions u

[2020-02-29 15:10] leoendless commented on #196
salt 会在登录页被请求时，由 node server 生产并写入登录页面和 ctx.session 中，如果使用 login api, 是没有 salt 的。

login 时不传 entry 可以跳过密码的混淆，直接传 username，password 即可。

[2020-02-29 15:16] leowucn commented on #196
我现在看到的情况是login时调用了login api，params对象中有encrypt字段，在随后的decryptPassword函数中，并没有对密码解密，于是params.password就有了加密后的密码，并且把这个加密密码传到了后端。请问这个是预期的吗

[2020-02-29 15:22] leoendless commented on #196
1. 是在本地开发吗？
2. 是在登录页面里点击登录的吗？

[2020-02-29 15:24] leowucn commented on #196
不是，是部署用来测试的，但是多集群部署后一直有问题，先是处理了redis问题，然后登陆页面就一直无法登陆。看了下代码，现在问题定位到代码那里了

[2020-02-29 15:25] leoendless commented on #196
ctx.session 和 redis 相关，如果没有读到 session 的值的话，可能和 redis 有关

[2020-02-29 15:31] leowucn commented on #196
3个，pvc也是3个

[2020-02-29 15:32] leowucn commented on #196
[code]

[2020-02-29 15:32] leowucn commented on #196
现在改的配置里其实是没有用到redis-ha-haproxy的

[2020-02-29 15:34] leoendless commented on #196
@zheng1 @zryfish 帮看下这个高可用问题吧

[2020-03-01 02:27] zheng1 commented on #196
你好，这个环境是原先非高可用部署后来修改过去的吗？下面是正常的高可用部署情况下的配置
[code]

其中 `ks-account/ks-apigateway/ks-console` 的replica应该为3，但是在你的环境中并不是

[2020-03-01 02:50] leowucn commented on #196
@zheng1 这个集群是多master集群，部署时默认就是高可用部署了。replica只是我为了方便看日志才修改为了1。等我重新部署下，再给你看看

[2020-03-01 03:05] leowucn commented on #196
@zheng1 刚重新部署完Kubesphere
[code]
redis-ha-server-0的初始化容器有报错，日志如下：
[code]
看起来是redis-ha服务不通。
[code]
所以redis-ha服务能匹配到的pod只有redis-ha-server-0，但是redis-ha-server-0的初始化容器启动时就需要redis-ha服务可以访问，但是没有pod处于就绪状态，因为还在初始化容器步骤，这样就形成了死循环。

[2020-03-01 05:02] leowucn commented on #196
@zheng1

[2020-03-01 12:54] wansir commented on #196
可以对照这个 values.yaml 重新部署一下 redis，我看一些 service 都没有了。 或者直接使用单副本的redis，确保 redis.kubesphere-system.svc:6379 可以访问到redis

https://github.com/kubesphere/ks-installer/blob/master/roles/common/templates/custom-values-redis.yaml.j2

`helm upgrade --install ks-redis ./redis-ha  custom-values-redis.yaml --set fullnameOverride=redis-ha --namespace kubesphere-system`

https://github.com/kubesphere/ks-installer/t

[2020-03-01 14:22] leowucn commented on #196
@wansir 我没用过Playbook，你发的那条命令是需要我在`ks-installer/tree/master/roles/common/files`目录下执行吗

[2020-03-01 14:44] leowucn commented on #196
@wansir 这个issue最开始部署的那个kubesphere是我修改了redis yaml配置后成功运行起来的，但是遇到了最前面无法登陆的问题

[2020-03-02 08:37] 593769290 opened #197 "log search 界面提供kibana那样的保存查询条件的功能"
![微信图片_20200302163425](https://user-images.githubusercontent.com/17897483/75658884-04043d00-5ca4-11ea-9e25-3d301dd27059.png)
提供一个类似kibana 可以把 搜索条件 保存为一个试图，下次登陆可以继续查看日志。
这里的条件如果不能保存，我每次进来都要 重新选择一轮？

[2020-03-02 08:39] 593769290 commented on #197
总体来说ks的功能很强大，也整合了很常用，非常有用的功能。
我曾经很想用他来替代jenkins 和 ELK。因为从中国用户角度看 jenkins 和 ELK 操作页面都非常难用。
但是使用 console 几天后，感觉还需要从用户使用角度来组织梳理一下界面。
1、现在很多功能都藏的比较深，我应用日志在哪里看？我应用在哪里更新发布？
      每个角色应该有些自己角色操作入口页面，只需要点1下， 2下就看能看我想要看的东西。
2、我开发人员上来要看某个项目，某个应用日志，要调试应用，这个操作路径在哪里？
3、我运维上来要管理应用，要管理发布流程，这个操作该怎么走？
4、我那天只想看看监控资源，又该怎么走？
5、还有譬如上次有人在群里提议的，我上次操作过，浏览过的应用，有个快捷入口。

[2020-03-02 09:08] 593769290 commented on #197
还有这个 logsearch 是一个非常重要的功能，不能要放在 工具箱 里面。
我开始一直在主菜单里面找日志查看功能，这么重要的功能怎么可能不在菜单里面 或者 在我的登陆进来的首页？

[2020-03-05 06:15] leowucn commented on #196
这个问题应该是我部署的nfs有问题，我把helm chart仓库下载了下来，master分支。只要从这里部署nfs就可以了`helm install --name nfs ./charts/stable/nfs-server-provisioner`。再部署kubesphere就一切正常了@wansir @zheng1 @leoendless

[2020-03-05 06:15] #196 closed

[2020-03-11 03:24] Viviannn opened #198 "UI theme"
请问是否可以添加换主题的功能呢？

虽然提供的有variables.scss、lego.theme.scss、lego.custom.scss等样式文件
但是项目中还是有很多零散的样式
想要改主题色还需要手动去搜索更改
并且涉及的文件还是挺多的

后续可否在现有基础上统一样式添加换主题的功能呢？

[2020-03-11 10:24] leoendless commented on #198
目前主要聚焦在业务功能上，后期可能会对此功能进行调整。另外欢迎给项目提 pr 来改善目前的样式切换问题

[2020-03-17 08:31] yurokn opened #200 "服务端和前端不在一个电脑上，前端如何连接后端？"

[2020-03-17 08:32] leoendless commented on #200
see https://github.com/kubesphere/console/blob/master/docs/access-backend.md

[2020-03-18 06:59] #200 closed

[2020-03-18 07:07] #135 closed

[2020-03-18 07:08] #82 closed

[2020-03-18 07:09] #147 closed

[2020-03-18 07:11] leoendless commented on #31
Fixed in v2.1.1

[2020-03-18 07:12] #31 closed

[2020-03-22 02:42] calvinyv opened #201 "Feat: provide an option to enable or disable menu auto-hide"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

provide an option to enable or disable menu auto-hide, maybe could be located in the user account setting page.

[2020-03-22 02:42] calvinyv commented on #201
/assign @leoendless @Carlosfengv

[2020-03-22 02:42] calvinyv commented on #201
/area console

[2020-03-22 02:43] calvinyv commented on #201
/kind feature-request

[2020-03-24 07:31] zhanghui9700 opened #203 "getApplicationStatus should return Ready if status.conditions is empty"
[code]
if application's status.conditions is empty, app status should appear as `Ready` not `Updateing`.

[2020-03-24 07:51] leoendless commented on #203
@zryfish Is the status of the CRD application calculated like this ?

[2020-03-24 07:57] zryfish commented on #203
@zhanghui9700 if there is no conditions in status, means application controller hasn't processed it yet. So I think it's reasonable to assume application is been `Updating` if no conditions given.

[2020-03-25 04:19] zhanghui9700 commented on #203
@zryfish how to debug why bookinfo app not processed by application controller? thanks.

[2020-03-25 04:22] zhanghui9700 commented on #203
i found some code in application_controller.go, just only updated the last-updated annotations.
[code]

[2020-03-26 08:01] zqn1217 opened #206 "Follow the steps in the Developer Guide and I' m get stuck when using 'yarn'"
![微信截图_20200326155315](https://user-images.githubusercontent.com/38694442/77623401-02fcbd80-6f7b-11ea-98eb-7ae070aea63e.png)
What should I do？

[2020-04-01 10:36] shaowenchen opened #214 "Add user to project 400 Error when project has more than 10 users"
Error tips:

![image](https://user-images.githubusercontent.com/43693241/78127698-3772ec80-7447-11ea-93e1-05af6583dc61.png)

There are no paging parameters when getting the members under the project.

/assign @leoendless

[2020-04-01 10:39] leoendless commented on #214
could you patch you request information ?

[2020-04-01 10:40] calvinyv commented on #214
/area console

[2020-04-01 10:40] calvinyv commented on #214
/kind bug

[2020-04-01 12:02] shaowenchen commented on #214
I can't provide more details of the request . ╭(╯^╰)╮

I get all users under the project when changing paging parameters . But，the page does not display a paging button.

[2020-04-02 08:53] leoendless commented on #206
This is a problem with your local network. Please try some npm repo registries such as ``https://registry.npm.taobao.org``

[2020-04-02 09:43] leoendless opened #216 "Add support for helm chart form"
**What would you like to be added**:

A visualized form for helm chart when installing a chart in the application store.

![image](https://user-images.githubusercontent.com/8739949/78233725-c09e2800-7508-11ea-8ed1-45d9269c98ce.png)

**Why is this needed**:

There is only a YAML editor provided to edit ``values.yaml`` in kubesphere console, which is very hard to be understood by most users.

Helm c

[2020-04-02 09:46] leoendless commented on #216
Sample charts with ``values.scheme.json`` can be found in [Redis Chart](https://github.com/helm/charts/tree/master/stable/redis)

[2020-04-19 13:20] pengcong06 opened #217 "rewrite the API of helm release in openpitrix"
**What would you like to be added**:
manage of helm release include [list | create | upgrade | rollback | delete] release,tow[list | create]of them have been implemented in ks v2.*.*,others need to be added to ks v3.0

**Why is this needed**:
In the past,openpitrix mainly build for vmbased application.now,we mainly focus on helm application for kubesphere

[2020-04-20 03:09] zheng1 commented on #217
/assign @leoendless

[2020-04-20 03:15] zheng1 opened #218 "App upgrade"
**What would you like to be added**:
App upgrade

**Why is this needed**:
https://kubesphere.com.cn/forum/d/1130

/assign @leoendless
/kind feature

[2020-04-20 03:17] zheng1 commented on #217
/assign @pengcong06
/milestone 3.0.0

[2020-04-20 03:17] zheng1 commented on #218
/assign @pengcong06
/milestone 3.0.0

[2020-04-20 03:19] zheng1 commented on #218
https://github.com/kubesphere/kubesphere/issues/1945

[2020-04-20 03:20] zheng1 commented on #218
https://github.com/kubesphere/kubesphere/issues/1883

[2020-04-21 03:57] klj890 opened #219 "Replica Status displays error"
**Describe the bug**
Replica Status Status will not be updated after increasing the number of copies by more than 10.

![](https://github.com/klj890/mytest1/blob/master/%E6%88%AA%E5%B1%8F2020-04-21%2010.39.09.png?raw=true)

![](https://github.com/klj890/mytest1/blob/master/%E6%88%AA%E5%B1%8F2020-04-21%2010.39.55.png?raw=true)

![]()

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:2.1.1
chrome

[2020-04-21 06:54] zheng1 opened #221 "Add repo event list pages"
**What would you like to be added**:
![企业空间:应用仓库管理](https://user-images.githubusercontent.com/4156721/79834408-9a6cf900-83df-11ea-85d0-efe6c4e94184.png)

This page and repo event list pages

**Why is this needed**:
https://github.com/kubesphere/kubesphere/issues/1189

/assign @leoendless @pengcong06
/kind feature
/milestone 3.0.0

[2020-04-22 09:32] cabinhero commented on #93
你可以这样运行concurrently -k --raw 'yarn dev:client' 'yarn dev:server'

[2020-04-25 03:09] yunkunrao opened #224 "Internal server error found when installed KubeSphere on k3s cluster"
**General remarks**
**Describe the bug**
When login KubeSphere console, there are internal server errors, but cluster status is healthy.

![console_issue](https://user-images.githubusercontent.com/20353538/80269646-2e8ed700-86e4-11ea-8b55-d4b2aabf4146.png)

![ks_console2](https://user-images.githubusercontent.com/20353538/80269770-2d11de80-86e5-11ea-9511-bb010780d080.png)

**Versions used(KubeSphe

[2020-04-25 11:35] yunkunrao commented on #224
This is a backend issue. Close.

[2020-04-25 11:35] #224 closed

[2020-04-27 05:12] imjoey opened #226 "[License] Why using AGPL-3.0 as the license of this project"
**General remarks**

**Describe the bug**

Hi folks, thank you very much for this great work. I was very curious about the license of this console project. May I have the reason why you guys are choosing `AGPL-3.0` instead of `Apache-2.0` the same as the other projects in KubeSphere community?

Any feedback are much appreciated. Thanks.

[2020-04-27 05:57] rayzhou2017 commented on #226
1. You can use it including the console part without modification for free.
2. If you make change on the console project, then follow the license. Either make your change public, or contact us for license agreement.
3. Make your change public is good for other. It is recommended to contribute to the upstream.
4. We want to make this project stay healthy as long as possible. Without financial suppo

[2020-04-27 06:58] imjoey commented on #226
@rayzhou2017 many thanks for your clear explanations.

I'm an open source fan, so we're willing to make as much contributions as we could back to upstream community. While to be honest, it's not easy to make 100% code public. AFAIK, the dashboards in rancher and openshift(okd) community are with a commercial friendly license.

Anyway, much appreciated again for the reply. I've got my answer and wi

[2020-04-27 06:58] #226 closed

[2020-04-29 07:45] shaowenchen opened #227 "Add DevOps 3.0 api"
What are the main differences between 2.1.1 and 3.0 ？

It changes from MySQL to CRD for saving DevOpsProject、Pipeline、Credential.  So，if you want to modify them，you shoud call `/apis` and not `/kapis`.

Here is a list of interfaces：

Add:

/apis/devops.kubesphere.io/v1alpha3/devopsprojects (restful)
​/apis​/devops.kubesphere.io​/v1alpha3​/pipelines(restful)
/apis/devops.kubesphere.io/v1alpha3/pipe

[2020-05-05 11:25] shaowenchen opened #230 "Using nodejs v8.0.0 to run `yarn` cause error"
It requires Node.js 8+ in dev docs. But，using nodejs v8.0.0 ，It causes an error.

[code]

[2020-05-06 04:46] leoendless commented on #230
docs updated !

[2020-05-08 03:29] dulumao opened #237 "The UI is very beautiful, what library is used"
RT

[2020-05-11 01:39] #230 closed

[2020-05-11 02:07] leoendless commented on #237
We use [lego-ui](https://www.npmjs.com/package/@pitrix/lego-ui) as the base components library. And the opensource library [kube-design](https://github.com/kubesphere/kube-design) is on developing.

[2020-05-12 13:29] zheng1 commented on #217
/unmilestone 3.0.0

[2020-05-12 13:30] zheng1 commented on #217
/milestone clear

[2020-05-13 13:35] junotx opened #246 "Add events api for 3.0.0"
**What would you like to be added**:

Add events search api

- This is an example of an event

[code]

fileld | query param (accurate) |  query param (fuzzy)
-|-|-
| | workspace_filter | workspace_search
involvedObject.namespace | involved_object_namespace_filter | involved_object_namespace_search |
involvedObject.name | involved_object_name_filter | involved_object_name_search |
involvedObject.ki

[2020-05-13 15:40] leoendless commented on #246
Events search design prototypes have been posted here.
https://prototypes.kubesphere.io/#ToolBox

[2020-05-14 11:22] huanggze opened #247 "Prometheus Function List"
Provide the following builtin functions as prompt for user typing query expression

| Func |
|--|
|abs|
|absent|
|absent_over_time|
|ceil|
|changes|
|clamp_max|
|clamp_min|
|day_of_month|
|day_of_week|
|days_in_month|
|delta|
|deriv|
|exp|
|floor|
|histogram_quantile|
|holt_winters|
|hour|
|idelta|
|increase|
|irate|
|label_join|
|label_replace|
|ln|
|log2|
|log10|
|minute|
|month|
|predict_linear

[2020-05-14 11:42] huanggze commented on #247
/assign @justahole

[2020-05-18 03:36] wnxn opened #250 "Storage capability"
**What would you like to be added**:
## Process
- In create/delete snapshot, clone volume and expand volume. Get VolumeSnapshot or PVC.
- Get Storage Class name or Snapshot Class name from PVC(https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims)  or VolumeSnapshot (https://github.com/kubernetes-csi/external-snapshotter/blob/v2.1.1/config/crd/snapshot.storage.k8s.

[2020-05-18 11:40] calvinyv opened #253 "‘Platform' navigation menu doesn't hide automatically when clicking 'app store' or 'workbench' link"
**Describe the bug**
‘Platform' navigation menu doesn't hide automatically when clicking 'app store' or 'workbench' link

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and other info are welcomed to help us debugging)

[2020-05-18 11:41] calvinyv commented on #253
/assign @leoendless

[2020-05-23 07:52] huanggze opened #276 "Custom monitoring improvement task list"
# Remove unneeded fields (2/2)
- Graph panel: `id` (?), `legend`, `xaxis`, `shows`
![image](https://user-images.githubusercontent.com/22350668/82727467-58f0a600-9d1d-11ea-93b0-bcde038c7f34.png)

![image](https://user-images.githubusercontent.com/22350668/82727245-e4693780-9d1b-11ea-9adc-a66f0159752f.png)

![image](https://user-images.githubusercontent.com/22350668/82727386-c4864380-9d1c-11ea-8de6-

[2020-05-23 11:06] huanggze commented on #276
/assign @justahole

[2020-05-25 03:26] leoendless commented on #218
@pengcong06 is the upgrade api ready ?

[2020-05-25 03:28] leoendless commented on #253
In 3.0, you can't click the header links if the platform management modal is open.

[2020-05-25 03:28] #253 closed

[2020-05-25 03:28] #237 closed

[2020-05-25 03:29] leoendless commented on #221
@pengcong06 Is the APIs ready?

[2020-05-25 03:32] leoendless commented on #219
Need to check if your namespace or node's quota exceed

[2020-05-25 03:37] #206 closed

[2020-05-25 03:39] leoendless commented on #203
Should ask in https://github.com/kubesphere/kubesphere/issues

[2020-05-25 03:39] #203 closed

[2020-05-25 03:45] leoendless commented on #201
The platform nav is refactored in 3.0.

[2020-05-25 03:45] #201 closed

[2020-05-25 05:41] cw514102209 commented on #246
/LGTM

[2020-05-25 05:41] cw514102209 commented on #246
LGTM

[2020-05-25 05:51] cw514102209 commented on #246
/assign @leoendless

[2020-05-25 05:52] leoendless commented on #246
/assign @cw514102209

[2020-05-25 05:55] cw514102209 commented on #246
LGTM

[2020-05-25 05:56] cw514102209 commented on #246
/assign @cw514102209

[2020-05-25 06:25] justahole commented on #276
- [x] Never set random CRD name

[2020-05-25 06:33] justahole commented on #276
id is useful for React

[2020-05-25 06:49] benjaminhuo opened #280 "Event search enhancements & bugs"
Below are items that needs to be adjusted for event search in ks v3.0:
- [x] Workspace search is missing
![image](https://user-images.githubusercontent.com/18525465/82794282-cc70ef80-9ea4-11ea-8c11-d31f06b04350.png)

Workspace （企业空间） workspace_filter/workspace_search

Namespace （项目）involved_object_namespace_filter / involved_object_namespace_search

- [x] invokeObject.namespace is displaced after

[2020-05-25 07:15] junotx commented on #280
The following bugs are waiting for being fixed:
- Here marked should be events count, not buckets count
![image](https://user-images.githubusercontent.com/49136171/82787942-12748600-9e9a-11ea-885f-f90b744e2a54.png)
- Here marked should be `involvedObject.name`, not `involvedObject.namespace`
![image](https://user-images.githubusercontent.com/49136171/82787816-d6412580-9e99-11ea-85bf-dbbd88f03cf5.p

[2020-05-25 07:44] leoendless commented on #280
- [ ] should add empty state if there are no events.
![image](https://user-images.githubusercontent.com/8739949/82789537-0c33d900-9e9d-11ea-8a2b-af4f32b3696a.png)

- [ ] The tab "窗口 1" should be removed. and the search input should be fixed on the top of the modal body, and the pagination should be fixed ob the bottom of the modal body. The event detail card's height should be the same with the mo

[2020-05-25 08:05] benjaminhuo commented on #280
/assign @cw514102209

[2020-05-25 08:20] cw514102209 commented on #280
Already read

[2020-05-25 08:24] benjaminhuo commented on #280
/assign @cw514102209

[2020-05-26 02:29] klj890 commented on #219
no quota。
If refresh the page, the Numbers are updated

[2020-05-27 07:51] wanjunlei opened #288 "Add auditing events search api"
What would you like to be added:

Add auditing events search api

- This is an example of an auditing event
[code]

fileld	              | query param (accurate)	     |query param (fuzzy)|
 ---                  | ---                          | ---
Workspace             | workspace_filter             | workspace_search
ObjectRef.Namespace   | objectref_namespace_filter   | objectref_namespace_searc

[2020-05-27 13:08] pengcong06 commented on #218
sorry,it's late.
post /clusters/{cluster}/namespaces/{namespace}/applications/{application}
params can reference CreateApplication( just replace AppId with ClusterId)

[2020-05-27 13:24] pengcong06 commented on #221
Get /repos/{repo}/events
repo_event_id:""
status: ["successful"|"failed"]
The API will return all repo_event_id when repo_event_id is empty

[2020-05-27 13:37] pengcong06 commented on #218
About Application in multi clusters:
Steps:
1.ListRuntimes, to chosse cluster(runtime_id)
2.ListNamespaces,to chosse namespace in the cluster
3.use runtime_id and namespace to CreateApplication(runtime_id,namespace)

1,2 @wansir can help you get it.and 3 is just like before.
all the application apis' uri have prefixed with "/clusters/{cluster}"

Tips:
For the meaning of runtime has changed, the ru

[2020-05-28 02:49] huanggze opened #294 "Add label to Fluent Bit Operator Input/Filter/Output to distinguish data flow"
To distinguish data flow for logging, events and auditing, please add the label to all **Input/Filter/Output** custom resources like below:

Add label `logging.kubesphere.io/component`

[code]

Frontend should only show Outputs that have the label `logging.kubesphere.io/component: logging`:

`/apis/logging.kubesphere.io/v1alpha2/namespaces/kubesphere-logging-system/outputs?labelSelector=logging.ku

[2020-05-28 02:50] huanggze commented on #294
/assign @justahole
/cc @junotx @wanjunlei

[2020-05-29 07:30] huanggze opened #301 "Add back missing node ip and role"
GET kapis/monitoring.kubesphere.io/v1alpha3/nodes

![image](https://user-images.githubusercontent.com/22350668/83233383-30efbf80-a1c1-11ea-9370-0f4d033fb61b.png)

![image](https://user-images.githubusercontent.com/22350668/83233529-6ac0c600-a1c1-11ea-9863-862fc2b8775d.png)

[2020-05-29 07:31] huanggze commented on #301
/assign @justahole

[2020-05-30 12:46] leoendless commented on #221
Is there an API that can provide multi repos events

[2020-05-31 14:05] cw29112358 commented on #280
![a](https://user-images.githubusercontent.com/62153598/83354147-c5a51980-a389-11ea-8bd9-352b5af0291a.png)
[] name to Resource Name

![c](https://user-images.githubusercontent.com/62153598/83354286-2896b080-a38a-11ea-9f39-2514927dcde1.png)
[] message_search as key_word_search
[] Highlight message_search
[] The list changes to scroll loading

![d](https://user-images.githubusercontent.com/62153598/

[2020-06-01 02:00] benjaminhuo commented on #280
@cw514102209 Would you submit a PR for this after modification like below?
Thanks

- 最早开始时间 => 最早发生时间
- 最近开始时间 => 最近发生时间

[2020-06-01 06:56] Carlosfengv commented on #288
![image](https://user-images.githubusercontent.com/23092051/83383608-13686300-a418-11ea-8e4a-3929a22e5ffe.png)

[2020-06-02 05:56] rayzhou2017 opened #314 "show NaN"
NaN ms is shown for API Request Latency

<img width="391" alt="Screen Shot 2020-06-02 at 1 54 34 PM" src="https://user-images.githubusercontent.com/28859385/83485016-b2ed2a80-a4d8-11ea-8e30-150f79ba09dd.png">

[2020-06-02 05:59] rayzhou2017 opened #315 "master number is incorrect"
It show 0 for masters

<img width="873" alt="Screen Shot 2020-06-02 at 1 57 32 PM" src="https://user-images.githubusercontent.com/28859385/83485183-1a0adf00-a4d9-11ea-994e-7eb03f6e35bd.png">

[2020-06-02 06:40] rayzhou2017 opened #316 "Can't open alert pages"
can't open alerting message and alerting policies pages
<img width="1106" alt="Screen Shot 2020-06-02 at 2 39 10 PM" src="https://user-images.githubusercontent.com/28859385/83488182-fea2d280-a4de-11ea-92a1-55e14cb1e3a3.png">

[2020-06-02 06:42] rayzhou2017 opened #317 "cluster member shows pending"
<img width="1018" alt="Screen Shot 2020-06-02 at 2 42 13 PM" src="https://user-images.githubusercontent.com/28859385/83488359-4cb7d600-a4df-11ea-943a-b51e92136915.png">

[2020-06-02 07:11] zryfish commented on #316
It's a configuration issue, not a bug, already fixed in dev env

[2020-06-02 07:37] rayzhou2017 opened #319 "can't open email server page"
and the error msg is in Chinese but I am in English locale
<img width="1208" alt="Screen Shot 2020-06-02 at 3 36 29 PM" src="https://user-images.githubusercontent.com/28859385/83493156-efc01e00-a4e6-11ea-8775-6bd094d1d5ac.png">

[2020-06-03 02:02] PmcFizz commented on #93
凡是报
'yarn' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
文件名、目录名或卷标语法不正确。
''yarn' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
文件名、目录名或卷标语法不正确。

可以将package.josn 中的yarn start 命令 修改为

```concurrently -k --raw \"yarn dev:client\" \"yarn dev:server\" ```
试一下

[2020-06-03 03:11] YLYMan opened #322 "When you click on the list item in the enterprise space, an error will be reported and the new page will not be displayed"
![159115254](https://user-images.githubusercontent.com/25820886/83591207-ff447300-a589-11ea-9274-4239567ec1e0.png)
![1591152545](https://user-images.githubusercontent.com/25820886/83591232-0c616200-a58a-11ea-97e6-461ac86cda28.png)
![1591152](https://user-images.githubusercontent.com/25820886/83591236-0e2b2580-a58a-11ea-9c92-e01c6ef7b651.png)

[2020-06-03 07:04] rayzhou2017 opened #327 "No label on cluster"
It is better to have label as it shows in the second screenshot.

<img width="594" alt="Screen Shot 2020-06-03 at 3 02 56 PM" src="https://user-images.githubusercontent.com/28859385/83605993-6fafbc00-a5ab-11ea-96fe-dcaf4b86239e.png">

<img width="608" alt="Screen Shot 2020-06-03 at 3 03 16 PM" src="https://user-images.githubusercontent.com/28859385/83606003-75a59d00-a5ab-11ea-8cb7-ca82c89740f8.png

[2020-06-03 13:09] leoendless commented on #322
Can you provide more information? Version, Environment?

Print the ks console image version with following script:
[code]

[2020-06-04 00:45] YLYMan commented on #322
The computer is the window ,
After executing the command :   kubesphere/ks-console:v2.1.1

[2020-06-04 05:28] huanggze opened #333 "Monitoring dashboard Y-axis needs redesign"
The variation of series is not clear. Y-axis needs redisgn.

![image](https://user-images.githubusercontent.com/22350668/83718215-32a8ff80-a667-11ea-8fcd-c6e61bdb1278.png)

![image](https://user-images.githubusercontent.com/22350668/83718226-389ee080-a667-11ea-8938-e7fa6858b08a.png)

[2020-06-04 05:29] huanggze commented on #333
/assign @Carlosfengv
/cc @justahole

[2020-06-04 08:34] huanggze commented on #276
- display problem for long text
![image](https://user-images.githubusercontent.com/22350668/83734158-321d6280-a681-11ea-8970-96a5a4a6f2bc.png)
- add description for singlestat chart

[2020-06-04 08:57] rayzhou2017 opened #338 "kubectl sesstion time out too fast"
It seems just a few seconds to get timeout
<img width="854" alt="Screen Shot 2020-06-04 at 4 56 11 PM" src="https://user-images.githubusercontent.com/28859385/83736591-73634180-a684-11ea-9be5-2649760eadd7.png">

[2020-06-05 08:37] Sherlock113 opened #342 "Network Policys-Spelling Issue"
![图片](https://user-images.githubusercontent.com/65327072/83855290-71fc4c80-a74a-11ea-8ff4-ee530a7fbc78.png)
It seems that the spelling issue cannot be fixed directly. "Network Policys" cannot be found in the console directory,

[2020-06-05 08:39] Sherlock113 commented on #342
@leoendless Please have a look at this when you are available. Thx.

[2020-06-06 08:28] rayzhou2017 opened #344 "log out session seems hung"
When a long time passed, click anywhere in the console, it seems hung instead logging out as expected.

[2020-06-06 15:23] benjaminhuo opened #347 "Cannot find custom monitoring entrance with user admin"
**General remarks**
Cannot find custom monitoring entrance with user admin in project main page like `https://console.kubesphere.io/cluster/gondor/projects/kubesphere-logging-system/overview`

Have to type url manually to see custom metrics UI `https://console.kubesphere.io/cluster/gondor/projects/kubesphere-logging-system/custom-monitoring`

**Environment**
Dev

We cannot proceed with demo record

[2020-06-06 15:24] benjaminhuo commented on #347
@rayzhou2017 @calvinyv @zryfish @Carlosfengv @huanggze

[2020-06-06 15:49] #347 closed

[2020-06-08 01:31] rayzhou2017 opened #356 "Logging setting shows in the platform settings for minimal installation"
The logging setting should not show in the minimal installation
![Screen Shot 2020-06-08 at 9 28 50 AM](https://user-images.githubusercontent.com/28859385/83985204-d0077a80-a96a-11ea-891f-904c873fd9e5.png)

[2020-06-08 01:34] rayzhou2017 opened #357 "[WIP] UX suggestions"
* [ ] clickable of the platform URL
![Screen Shot 2020-06-08 at 9 28 50 AM](https://user-images.githubusercontent.com/28859385/83985286-2d033080-a96b-11ea-8b6a-6b10135732d2.png)

[2020-06-08 01:39] rayzhou2017 opened #358 "Can't edit platform title or description"
Chrome, clicking the OK button has no response
![Screen Shot 2020-06-08 at 9 37 58 AM](https://user-images.githubusercontent.com/28859385/83985448-e5c96f80-a96b-11ea-8191-2aa7fe44b7b6.png)

[2020-06-08 02:03] rayzhou2017 commented on #356
I think it should work like this way: @leoendless @benjaminhuo
1. The logging setting should show for user to configure the external es.
2. Once the es is configured, the toolbox should show the logging search tool.

[2020-06-08 02:05] rayzhou2017 opened #359 "The system workspace does not show anywhere"
Since the workspaces are listed on the access management part, where can I find the system workspace in the console?
![Screen Shot 2020-06-08 at 10 00 07 AM](https://user-images.githubusercontent.com/28859385/83986509-9c7b1f00-a96f-11ea-8224-73c4ac2eca99.png)

[2020-06-08 02:16] rayzhou2017 opened #360 "The role creation suggestion"
The ID should be before the alias for users to fill in as we do for other items to keep consistent.
<img width="609" alt="Screen Shot 2020-06-08 at 10 14 43 AM" src="https://user-images.githubusercontent.com/28859385/83986930-16f86e80-a971-11ea-9ab0-bb14a0c4dda7.png">

[2020-06-08 02:20] rayzhou2017 opened #361 "edit role resource authorization"
In Chrome, clicking the checkbox does not work, but it works to click on the whole box.
<img width="1187" alt="Screen Shot 2020-06-08 at 10 18 43 AM" src="https://user-images.githubusercontent.com/28859385/83987085-a1d96900-a971-11ea-87a8-69508e98a2e8.png">

[2020-06-08 02:23] rayzhou2017 commented on #361
Also the edit access should be dependent on the view access.

[2020-06-08 02:33] leoendless commented on #361
The dependencies missing in global role settings.
@wansir

[2020-06-08 02:33] rayzhou2017 opened #362 "reorder the items of access control"
Please place the items that belong to same group together, for example, the edit workspace should follow the view workspace immediately. And place the groups in order too, like workspace-->role-->user
<img width="1153" alt="Screen Shot 2020-06-08 at 10 30 21 AM" src="https://user-images.githubusercontent.com/28859385/83987646-853e3080-a973-11ea-960b-578e1e5e3e8d.png">

[2020-06-08 02:39] rayzhou2017 opened #363 "The service components linkable?"
The icon shows linkable, but clicking has no response.
<img width="765" alt="Screen Shot 2020-06-08 at 10 38 31 AM" src="https://user-images.githubusercontent.com/28859385/83987928-55435d00-a974-11ea-8ef0-217491ce14cc.png">

[2020-06-08 02:40] rayzhou2017 commented on #363
Also it shows full list of service components but my environment is a minimal installation.

[2020-06-08 02:40] rayzhou2017 commented on #363
Also it shows full list of service components but my environment is a minimal installation.

[2020-06-08 02:42] rayzhou2017 commented on #362
Seems missing the toolbox authorization.

[2020-06-08 03:08] rayzhou2017 opened #364 "kubernetes version missing"
<img width="722" alt="Screen Shot 2020-06-08 at 11 07 20 AM" src="https://user-images.githubusercontent.com/28859385/83989219-4bbbf400-a978-11ea-9fcd-89c9d101209c.png">

[2020-06-08 03:29] benjaminhuo commented on #356
ES consumes the most resource of logging component.
It's ok for logging component to install fluentbit only and show the log setting UI.
@huanggze , by default input and filter plugin has been installed for fluentbit  and no output plugin, right? And is it possible to find out if es output plugin exists and provide an API for frontend ?

[2020-06-08 03:39] rayzhou2017 opened #365 "show shortname in crd list"
In my opinion, it would be better to show short names.
<img width="1076" alt="Screen Shot 2020-06-08 at 11 36 59 AM" src="https://user-images.githubusercontent.com/28859385/83990557-afe0b700-a97c-11ea-8a2d-a656e3863a32.png">

[2020-06-08 03:43] rayzhou2017 opened #366 "CRD objects not found"
Here should be "{CRD} objects not found". CRD is the definition, here is supposed to show the objects of such CRD.
<img width="890" alt="Screen Shot 2020-06-08 at 11 41 25 AM" src="https://user-images.githubusercontent.com/28859385/83990713-267db480-a97d-11ea-988c-a6ecdc22f7c2.png">

[2020-06-08 03:45] huanggze commented on #276
Must-do Items:
- [ ] Suggest labels and values
- [ ] Display problem for long text
- [ ] Remove unused fields `refresh` and `templatings` ( `time` can be kept if it is used)
- [ ] There is one metric producing two lines, but they aren't properly showed
- [ ] Chinese title
- [ ] Input matching problem

[2020-06-08 03:50] rayzhou2017 opened #367 "The download file name is inappropriate"
The file name should be the name of the CRD object. Chrome event won't let you download the file with such generic filename
<img width="1216" alt="Screen Shot 2020-06-08 at 11 48 28 AM" src="https://user-images.githubusercontent.com/28859385/83991062-35b13200-a97e-11ea-8368-ad93c07f6962.png">

[2020-06-08 04:47] rayzhou2017 opened #369 "Issues on creation of storage class"
* [ ] the position of QingCloud CSI seems screwed
* [ ] QINGCLOUD_CSI_DESC should not show over there
<img width="924" alt="Screen Shot 2020-06-08 at 12 45 23 PM" src="https://user-images.githubusercontent.com/28859385/83993480-20400600-a986-11ea-892b-6172124f55b4.png">

[2020-06-08 07:07] calvinyv opened #376 "Container start command can't be disable once it's enabled"
**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 2.1.1
Kubernetes: (If KubeSphere installer used, you can skip this)
Chrome: 83

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some test project
2. create a workload and  input container paramete

[2020-06-08 07:07] calvinyv commented on #376
/assign @leoendless

[2020-06-08 07:09] rayzhou2017 opened #377 "network policy description"
Please add CIDR description
<img width="596" alt="Screen Shot 2020-06-08 at 3 08 05 PM" src="https://user-images.githubusercontent.com/28859385/84001800-f4c71680-a999-11ea-8a04-0a1474179b43.png">

[2020-06-08 07:29] rayzhou2017 opened #379 "User does not enter the page when logged out last time"

[2020-06-08 08:02] rayzhou2017 opened #381 "storage class capability issue"
Please refer https://github.com/kubesphere/kubesphere/issues/2174

[2020-06-08 08:49] rayzhou2017 opened #383 "Cluster visibility"
The column title should be `user` or `username` not `name` which is too general. I am confused at first sight.
<img width="1010" alt="Screen Shot 2020-06-08 at 4 46 38 PM" src="https://user-images.githubusercontent.com/28859385/84010933-f4ce1300-a9a7-11ea-9661-75b97b6fb21d.png">

[2020-06-08 08:54] rayzhou2017 opened #384 "Email server configuration moved to cluster?"
It is moved from platform setting to the cluster setting? What's the reason?
<img width="246" alt="Screen Shot 2020-06-08 at 4 53 23 PM" src="https://user-images.githubusercontent.com/28859385/84011449-b6852380-a9a8-11ea-8886-c6def83b7190.png">

[2020-06-08 09:50] Carlosfengv commented on #384
The back end does not implement platform-level Settings

[2020-06-08 09:51] Carlosfengv commented on #383
名称(name) => 企业空间(workspace)

[2020-06-08 13:56] rayzhou2017 commented on #383
The cluster is assigned to workspace? not to user?

[2020-06-08 13:58] rayzhou2017 commented on #383
OK, I got it. So the name needs to change to avoid confusion.

[2020-06-08 14:00] rayzhou2017 commented on #379
You mean if user log out manually, it will log the user in the overview/landing page? On the other hand, if session times out, the log the user into the last visited page. Am I right?

[2020-06-08 14:06] leoendless commented on #379
Yes

[2020-06-08 14:08] rayzhou2017 commented on #383
If it is that case, wouldn't it better to show the admin of the workspace in the list?

[2020-06-09 03:07] Carlosfengv commented on #383
A cluster can add a user as the administrator of a cluster, This user can then authorize the cluster to the required workspace.

[2020-06-09 09:32] rayzhou2017 commented on #338
Verified

[2020-06-09 09:32] #338 closed

[2020-06-09 09:35] rayzhou2017 commented on #369
verified

[2020-06-09 09:35] #369 closed

[2020-06-09 09:36] rayzhou2017 commented on #367
verified

[2020-06-09 09:36] #367 closed

[2020-06-09 09:37] rayzhou2017 commented on #366
verified

[2020-06-09 09:37] #366 closed

[2020-06-09 09:38] rayzhou2017 commented on #364
verified

[2020-06-09 09:38] #364 closed

[2020-06-09 09:40] rayzhou2017 commented on #363
This issue is not fixed. /cc @leoendless

[2020-06-09 12:32] rayzhou2017 commented on #360
verified

[2020-06-09 12:32] #360 closed

[2020-06-09 13:07] rayzhou2017 commented on #363
verified

[2020-06-09 13:07] #363 closed

[2020-06-10 06:08] lianchi opened #403 "Login failed with 401 Unauthorized"
**Describe the bug**
I clone this repo and configure the backend by adding the file `local_config.yaml` under the folder server, our `config_ip` works fine.
Then I execute `yarn start` command, the client and server compiled successfully, but I cannot login with the correct account/password(`admin/P@88w0rd`) in browser, and the output in terminal is as below:
[code]

**Versions used(KubeSphere/Kub

[2020-06-10 06:40] rayzhou2017 commented on #381
verified

[2020-06-10 06:40] #381 closed

[2020-06-11 08:39] rayzhou2017 commented on #359
verified

[2020-06-11 08:39] #359 closed

[2020-06-12 02:18] Sherlock113 opened #408 "No Login Record Displayed"
**Describe the bug**

I created my account last week and used it to log in many times. However, I could not see any record here. For "Last Login Time", it says "Not Logged in yet". I also checked other accounts and found the same thing.

![图片](https://user-images.githubusercontent.com/65327072/84457722-f93f4800-ac95-11ea-9137-4072bcdef4e7.png)

**Environment**

Development Environment

**To Reprod

[2020-06-12 06:51] harrisonliu5 commented on #227
https://github.com/kubesphere/console/pull/354

[2020-06-12 06:52] harrisonliu5 commented on #227
update: Update apis to kapis in devops https://github.com/kubesphere/console/pull/354

[2020-06-16 03:10] shaowenchen opened #422 "Allows to skip verification when adding an image repository"
**What would you like to be added**:

![image](https://user-images.githubusercontent.com/43693241/84727311-4fc3c380-afc1-11ea-9b00-9b42eb27110a.png)

Allow skipping when adding an image repository/

**Why is this needed**:

It may not be the same node that verifies and uses the images secret. It brings a  bad experience.

![image](https://user-images.githubusercontent.com/43693241/84727160-070c0a8

[2020-06-17 02:36] shaowenchen opened #431 "Default node label doesn't exist in DevOps"
**What would you like to be added**:

![image](https://user-images.githubusercontent.com/43693241/84848484-d6da6f80-b085-11ea-9266-e011c9d88302.png)

`default` should be replaced by `base`

**Why is this needed**:

If the user can‘t modify the label，it will result in the runtime error.

/area devops
/assign @harrisonliu5

[2020-06-17 03:27] harrisonliu5 commented on #422
what is the keyword of the checkbox

/assign @shaowenchen

[2020-06-17 04:17] shaowenchen commented on #422
@Carlosfengv Please help us to design this feature.

[2020-06-17 04:24] shaowenchen opened #436 "Dirty form data in DevOps"
**Describe the bug**

When I create it at first, I didn't save it.  It show the same data for the second time.

![image](https://user-images.githubusercontent.com/43693241/84854815-28d6c180-b095-11ea-8d8b-c696c094fa9f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

clean old data， give me a clear form.

/area devops
/assign @harrisonliu5
/milestone 3.0.0

[2020-06-17 04:25] shaowenchen commented on #431
/milestone 3.0.0

[2020-06-17 04:26] shaowenchen commented on #422
/milestone 3.0.0

[2020-06-17 05:35] leoendless commented on #39
@benjaminhuo 这个有计划吗

[2020-06-17 05:35] #22 closed

[2020-06-17 05:36] #65 closed

[2020-06-17 05:36] #77 closed

[2020-06-17 05:36] leoendless commented on #77
Fixed in dev.

[2020-06-17 05:37] #92 closed

[2020-06-17 05:38] #216 closed

[2020-06-17 05:41] #246 closed

[2020-06-17 05:42] #250 closed

[2020-06-17 05:45] benjaminhuo commented on #39
@junotx @Ma-Dan 目前的告警策略加上修改接口容易实现吗？

[2020-06-17 06:41] shaowenchen opened #437 "Scm pipeline doesn't need graphical editor in DevOps"
**Describe the bug**

Scm pipeline defines pipeline by jenkinfile in source repo.  It don't need graphical editor in DevOps

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

- [ ] don't show the page when creating scm pipeline

![image](https://user-images.githubusercontent.com/43693241/84863947-6e50ba00-b0a8-11ea-9dec-d6f9db41bba8.png)

- [ ] hidden that button

[2020-06-17 06:50] harrisonliu5 commented on #437
in this API don't return the scmSource
/kapis/clusters/gondor/devops.kubesphere.io/v1alpha2/devops/asdasdkx2xq/pipelines/scm/

![image](https://user-images.githubusercontent.com/17872673/84864796-cb993b00-b0a9-11ea-8a1d-47fd832baa63.png)

\assign @shaowenchen

[2020-06-17 06:54] shaowenchen opened #438 "need a inital name of stage in DevOps"
**Describe the bug**

There is not initial name provided to stage cause an error message.

![image](https://user-images.githubusercontent.com/43693241/84865043-2cc10e80-b0aa-11ea-8447-96214c8bd483.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

give an initial name to stage, like stage-name-xxxxx

/area devops
/milestone 3.0.0
/assign @harrisonliu5

[2020-06-17 07:06] harrisonliu5 commented on #431
This problem has been fixed, but the current environment has not been updated

[2020-06-17 07:06] #431 closed

[2020-06-17 07:08] leoendless commented on #403
Please check the logs of ks pods(ks-console, ks-apigateway, ks-account) of kubesphere-system namespace.

[2020-06-17 07:13] shaowenchen commented on #437
This is reasonable. It caused by the error Jenkinsfile path. In this case, graphical editor is not needed.

In addition, the content of the editing page is wrong.

![image](https://user-images.githubusercontent.com/43693241/84866969-0e104700-b0ad-11ea-8bdc-6b6171d9d2cf.png)

![image](https://user-images.githubusercontent.com/43693241/84867017-208a8080-b0ad-11ea-9ecc-5c4f2ecf82f1.png)

[2020-06-17 07:27] shaowenchen opened #439 "noScm pipeline doesn't need scan and scan-log in DevOps"
**Describe the bug**

RT

![image](https://user-images.githubusercontent.com/43693241/84868456-4ca70100-b0af-11ea-8ffa-60e773e9106b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

hidden scan and scan-log actions

/area devops
/milestone 3.0.0
/assign @harrisonliu5

[2020-06-17 07:41] harrisonliu5 commented on #437
Display repo selection, need to judge whether there is multi_branch_pipeline in the data

[2020-06-17 07:48] shaowenchen opened #440 "activities have no paged in DevOps"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/84870184-8f69d880-b0b1-11ea-9443-74834c4775e0.png)

The activities of pipeline have no paged.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

/area devops
/milestone 3.0.0
/assign @harrisonliu5  @shaowenchen

[2020-06-17 07:49] shaowenchen commented on #436
/assign @shaowenchen

[2020-06-17 07:49] shaowenchen commented on #438
/assign @shaowenchen

[2020-06-17 07:50] shaowenchen commented on #439
/assign @shaowenchen

[2020-06-17 07:53] harrisonliu5 commented on #438
Solution:
Each time you add a stage, get the length of the current stage list and use the length for the default name of the current stage, such as stage-0

[2020-06-17 07:55] shaowenchen opened #441 "actions button disappear after refreshing the page in DevOps"
**Describe the bug**

RT

![image](https://user-images.githubusercontent.com/43693241/84871126-ba086100-b0b2-11ea-8636-0005d65a6569.png)

![image](https://user-images.githubusercontent.com/43693241/84871214-d60c0280-b0b2-11ea-99fa-6a680cac25b8.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

/area devops
/milestone 3.0.0
/assign @harrisonliu5 @shaowenchen

[2020-06-17 08:12] shaowenchen opened #442 "docs link error in DevOps"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/84872866-ff2d9280-b0b4-11ea-9223-bf1034f302c1.png)

replace https://kubesphere.io/docs/v2.1/zh-CN/devops/pipeline/
by https://kubesphere.io/docs/zh-CN/devops/pipeline/

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

Please search the keyword `2.1` to enable no similar errors.

/are

[2020-06-17 08:16] shaowenchen opened #443 "pipeline status still no running in DevOps"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/84873383-bde9b280-b0b5-11ea-8d64-c27a6fdf2347.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

display the status of the pipeline from the latest pipeline

/area devops
/milestone 3.0.0
/assign @harrisonliu5 @shaowenchen

[2020-06-17 08:34] shaowenchen opened #444 "no check for devops desc length"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/84875184-3487af80-b0b8-11ea-8fbc-b4865419f13b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

please check the length of desc while creating or editing the devops

/area devops
/milestone 3.0.0
/assign @harrisonliu5 @shaowenchen

[2020-06-17 08:38] shaowenchen commented on #444
![image](https://user-images.githubusercontent.com/43693241/84875751-f8088380-b0b8-11ea-933d-18c575273539.png)

[2020-06-17 08:47] shaowenchen opened #445 "need disable incomplete devops"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/84876689-1327c300-b0ba-11ea-99f5-89a0f754dae5.png)

This DevOps Project has not id.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

disable these items.

/area devops
/milestone 3.0.0
/assign @harrisonliu5 @shaowenchen

[2020-06-17 08:49] harrisonliu5 opened #446 "The download URL of the artifacts may be wrong"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17872673/84876835-466a5200-b0ba-11ea-849b-b5d544b073fd.png)

Download artifacts failed

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**Expected behavior**

please check the URL of the download artifacts
/area devops
/milestone 3.0.0
/assign @harrisonliu5 @shaowenchen

[2020-06-17 08:58] shaowenchen commented on #442
The different language has a different link

[2020-06-18 03:04] TikWind opened #449 "docs/quick-start/jenkinsfile-out-of-scm, click the buttons but no response: "Add nesting steps" and so on"
**General remarks**
docs/quick-start/jenkinsfile-out-of-scm, click the buttons but no response: "Add nesting steps" and so on.

**Describe the bug**
I follow the steps: https://kubesphere.io/docs/quick-start/jenkinsfile-out-of-scm/#stage-ii-unit-test

In this step:"4.2.2. Click Add Step and select container, name it maven, then click OK.", it is no response after I click the buttons:"Add nesting s

[2020-06-18 03:09] FeynmanZhou opened #450 "S2i template bug"
**General remarks**

When users rebuild the S2I, you'll see the customized template you selected last time by default, but when you actually execute it, it comes with using the KubeSphere built-in template, not the customized one you chose.

**Describe the bug**

Please refer to [this post](https://kubesphere.com.cn/forum/d/1508).

**Environment**

v2.1.1

(and other info are welcomed to help us d

[2020-06-18 03:10] FeynmanZhou commented on #450
/area devops

[2020-06-18 04:39] leoendless commented on #379
Does the problem fix?

[2020-06-18 05:29] rayzhou2017 opened #451 "The status of new user"
After creating a new user, the status does not change to active automatically.
![Screen Shot 2020-06-18 at 1 28 07 PM](https://user-images.githubusercontent.com/28859385/84981713-b682e180-b167-11ea-9137-014ba5bbffa7.png)

[2020-06-18 06:11] harrisonliu5 commented on #442
The document address is configured uniformly, it is not recommended to modify the current one alone

[2020-06-18 06:23] harrisonliu5 commented on #443
The latestRun is missing from the returned data

https://console.kubesphere.io/kapis/clusters/gondor/devops.kubesphere.io/v1alpha2/search?q=type%3Apipeline%3Borganization%3Ajenkins%3Bpipeline%3Adsaddzcpp%2F%2A%3BexcludedFromFlattening%3Ajenkins.branch.MultiBranchProject%2Chudson.matrix.MatrixProject%26filter%3Dno-folders

[2020-06-18 06:46] shaowenchen commented on #449
In my case, it's OK. There is no request while editing. Can you view  Console Tab，any errors?

[2020-06-18 06:51] TikWind commented on #449
There is no error :
![image](https://user-images.githubusercontent.com/65604564/84987680-32cef200-b173-11ea-918f-48af6eb20f2d.png)
@shaowenchen

[2020-06-18 07:20] shaowenchen commented on #449
Maybe, you have missed the error message. Can you open the Debug Panel,  refresh the page and try again?

[2020-06-18 07:26] TikWind commented on #449
I have refreshed the page and tried again, but it is the same.
@shaowenchen

[2020-06-19 05:32] rayzhou2017 opened #458 "No auto refresh after creating project"
When I create a project, the right corner shows the msg saying successful, but the list page does not refresh itself.
![Screen Shot 2020-06-19 at 1 30 17 PM](https://user-images.githubusercontent.com/28859385/85099883-36c14980-b231-11ea-9991-ef70e8b44447.png)

[2020-06-19 07:04] cw514102209 commented on #288
resolve

[2020-06-19 11:03] benjaminhuo commented on #280
- [ ] English Name on Chinese UI， resource should be changed to `资源` on Chinese UI. Same changes should be made for Audit search.
![image](https://user-images.githubusercontent.com/18525465/85125490-515de780-b25e-11ea-8532-3fe8de49c121.png)

- [ ] The detail panel should be under the title row（title row is where 时间，类别，原因，消息 etc locate）
![image](https://user-images.githubusercontent.com/18525465/85

[2020-06-20 05:33] rayzhou2017 opened #464 "Adding cluster seems not refresh automatically"
After adding a new cluster using direct connect, it seems hung as shown below. But it should be already added successfully since I clicked workbench, then clusters, it showed correctly.
<img width="982" alt="Screen Shot 2020-06-20 at 1 29 27 PM" src="https://user-images.githubusercontent.com/28859385/85193380-9df70080-b2fa-11ea-98e8-1fa9b501706e.png">

[2020-06-20 05:39] rayzhou2017 commented on #464
Adding the host cluster itself had no such problem.

[2020-06-22 02:24] wanjunlei opened #467 "On the configmaps detail page, the return to previous menu button on the left shows ‘secret’"
**Describe the bug**
On the configmaps detail page,  the return to previous menu button on the left shows ‘secret’

<img width="960" alt="1592792187(1)" src="https://user-images.githubusercontent.com/53003665/85242625-23e98780-b472-11ea-8e73-4ab2434ea373.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0 (2020-06-22)

[2020-06-22 02:25] wanjunlei commented on #467
/assign @leoendless

[2020-06-22 03:26] harrisonliu5 opened #470 "Create s2i service return dryRun is not support"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17872673/85245624-c4dc4080-b47a-11ea-8d15-5b9efca7c586.png)

api:
[POST] https://console.kubesphere.io/api/clusters/shire/v1/namespaces/project001/services?dryRun=All

[POST] https://console.kubesphere.io/apis/clusters/shire/apps/v1/namespaces/project001/deployments?dryRun=All

**Versions used(KubeSphere/Kubernetes)**
KubeSphe

[2020-06-22 03:35] harrisonliu5 opened #472 "When creating a service via b2i, upload the war file and return that the current project was not found"
**Describe the bug**

![image](https://user-images.githubusercontent.com/17872673/85246007-f0135f80-b47b-11ea-8eee-5a59f057947c.png)

[POST] https://console.kubesphere.io/apis/devops.kubesphere.io/v1alpha1/namespaces/project001/s2ibinaries/b2i-war-java8-war7zpa

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-06-22)

/assign @shaowenchen

[2020-06-22 03:36] wanjunlei commented on #280
In the cluster selection drop-down menu on the auditing query page, clusters that are not enable auditing are not displayed. This modification should also be reflected in the event query.

[2020-06-22 03:41] harrisonliu5 opened #473 "View the task log interface in the build image returns 404: Page Not Found"
**Describe the bug**

![image](https://user-images.githubusercontent.com/17872673/85246266-bf7ff580-b47c-11ea-8614-067921f75645.png)

API:
[GET] https://console.kubesphere.io/kapis/logging.kubesphere.io/v1alpha2/namespaces/project001/pods/service001-s2i-u9n8-0bv-cd8b6aeb2a93-job-4smpp?size=300&from=0&sort=asc

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-06-22)

[2020-06-23 06:45] #470 closed

[2020-06-23 06:51] leoendless commented on #464
/kind/need-to-verify

[2020-06-23 07:26] harrisonliu5 opened #480 "500 is returned when viewing the details of the credentials in devops"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17872673/85373182-79eb2780-b565-11ea-81ff-a14441a38da8.png)

api:
[GET] https://console.kubesphere.io/kapis/clusters/shire/devops.kubesphere.io/v1alpha2/devops/devops002tn56c/credentials/111/usage

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-06-23)

/assign @shaowenchen

[2020-06-23 07:47] liuboaibc opened #481 "create user project in cluster"
**Describe the bug**
create user project in cluster, It shows that the creation was successful，but i can not find it in the project list.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

**user roler**
project-admin

**API **
url: https://console.kubesphere.io/api/clusters/rohan/v1/namespaces
method: post

[2020-06-23 08:24] shaowenchen commented on #480
![image](https://user-images.githubusercontent.com/43693241/85379051-e36f3400-b56d-11ea-8abb-6dbc251e84b7.png)

review token failed
/assign @wansir

[2020-06-23 14:51] harrisonliu5 commented on #473
**API**
[GET] https://console.kubesphere.io/kapis/clusters/shire/resources.kubesphere.io/v1alpha2/namespaces/project001/s2iruns?conditions=labels.devops.kubesphere.io%2Fbuilder-name%3Ds2i-java-simple-s2i-n0hm&paging=limit%3D10%2Cpage%3D1&orderBy=createTime&reverse=true

可以获取日志数据。

[GET] https://console.kubesphere.io/kapis/clusters/shire/logging.kubesphere.io/v1alpha2/namespaces/project001/pods/s2i

[2020-06-24 02:47] shaowenchen commented on #444
/close

[2020-06-24 02:47] #444 closed

[2020-06-24 02:47] shaowenchen commented on #445
/close

[2020-06-24 02:47] #445 closed

[2020-06-24 02:48] shaowenchen commented on #442
/close

[2020-06-24 02:48] #442 closed

[2020-06-24 02:48] shaowenchen commented on #438
/close

[2020-06-24 02:48] #438 closed

[2020-06-24 02:49] shaowenchen commented on #436
/close

[2020-06-24 02:49] #436 closed

[2020-06-24 02:51] shaowenchen commented on #227
/close

[2020-06-24 02:51] #227 closed

[2020-06-24 02:59] shaowenchen commented on #214
outdated
/close

[2020-06-24 02:59] #214 closed

[2020-06-24 03:16] rayzhou2017 opened #485 "Locales missing"
The English description below needs a translation into Chinese.
<img width="1215" alt="Screen Shot 2020-06-24 at 11 14 53 AM" src="https://user-images.githubusercontent.com/28859385/85494857-149e4180-b60c-11ea-8713-a12cfd88d954.png">

[2020-06-24 03:40] shaowenchen opened #486 "after refreshing the pipeline page , it jumps to the activity page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/43693241/85496655-4369e700-b60f-11ea-8b8f-b330d1c07fba.png)

after refreshing

![image](https://user-images.githubusercontent.com/43693241/85496720-5e3c5b80-b60f-11ea-9673-1c1e68dfb077.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

/area devops
/assign @harrisonliu5 @shaowenchen

[2020-06-24 04:00] Sherlock113 commented on #485
![图片](https://user-images.githubusercontent.com/65327072/85498341-1408a980-b612-11ea-8816-47fa0ba9d2dd.png)
I think the English descriptions of these roles are already listed here? Maybe it is hard coded somewhere but I cannot them in the locale file directly.

[2020-06-24 05:58] harrisonliu5 commented on #486
The reason is the same as #441

[2020-06-24 08:59] #467 closed

[2020-06-28 02:13] wanjunlei opened #493 "The link "How to get kubeconfig" on page cluster add jump to the page cluster add"
Describe the bug
The link "How to get kubeconfig" on page cluster add jump to the page cluster add

For UI issues please also add a screenshot that shows the issue.
<img width="733" alt="1593310153(1)" src="https://user-images.githubusercontent.com/53003665/85935873-d8c6ed00-b927-11ea-9d40-8a7d219a0550.png">

Versions used(KubeSphere/Kubernetes)
KubeSphere: 3.0.0(2020-06-28)

[2020-06-28 02:13] wanjunlei commented on #493
/assgin @leoendless

[2020-06-28 02:20] leoendless commented on #493
@zryfish  Can you provide a link?

[2020-06-28 03:02] rayzhou2017 commented on #451
still have the problem.

[2020-06-28 03:06] rayzhou2017 commented on #451
My fault. I forgot to clear cache.

[2020-06-28 03:06] #451 closed

[2020-06-28 03:10] rayzhou2017 opened #495 "user shows Not Logged in yet"
But I do use `admin`
![Screen Shot 2020-06-28 at 11 01 38 AM](https://user-images.githubusercontent.com/28859385/85936730-e1232600-b92f-11ea-8f7a-a1594d574b4e.png)

[2020-06-28 03:17] rayzhou2017 opened #496 "CM edit box should be resized to the screen"
The height of the edit box is too small. Every time I need to resize it to fit the screen
![Screen Shot 2020-06-28 at 11 15 56 AM](https://user-images.githubusercontent.com/28859385/85936836-e634a500-b930-11ea-8145-8fae4cc4b66c.png)

[2020-06-28 03:22] liuboaibc commented on #496
/lgtm

[2020-06-28 03:23] leoendless commented on #496
/assign liuboaibc

[2020-06-28 03:28] junotx opened #497 "Wrong display when turn on real-time logging of container"
**General remarks**

**Describe the bug**

It is a wrong dispaly when turn on real-time logging of container (The content displayed is not real logs)
![image](https://user-images.githubusercontent.com/49136171/85936926-a1f5d480-b931-11ea-96e1-884bdcf0c773.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  3.0.0(2020/6/28)

**Environment**

dev env

**Expected behavior**

Show in real-time

[2020-06-28 03:29] junotx commented on #497
/assign @leoendless

[2020-06-28 03:31] rayzhou2017 opened #498 "OP back button does not work"
I clicked the back icon or the text, didn't work. Also the layout seems strange.
![Screen Shot 2020-06-28 at 11 30 15 AM](https://user-images.githubusercontent.com/28859385/85937093-d4540180-b932-11ea-94cf-7d4478042c78.png)

[2020-06-28 03:38] leoendless commented on #498
The back button is under the header. The header‘s background should be changed more eartly

[2020-06-28 06:59] Viviannn opened #500 "About switch UI theme."
We are very interested in the system you developed, and recently noticed that you have developed a branch on the topic of support switch UI theme, seems it support switch dark or light theme.We wonder if it can meet our skin replacement needs?
We have done the skin resurfacing function on the basis of your development before. The effect after skin resurfacing is as follows.
![image](https://user-i

[2020-06-28 07:26] leoendless commented on #500
Thanks for your attention. Customizing UI is in our plans. But currently, we have to focus on the functions. We are going to standard the style codes in the future.

[2020-06-28 07:28] leoendless commented on #498
Fixed

[2020-06-28 08:24] leoendless commented on #497
Fixed

[2020-06-28 12:10] rayzhou2017 opened #503 "Locales issue"
The base locale files should be `en`, not `cn`. Why I see different from `en` and `cn` folders? For instance, "'Select file': '选择文件'" is in Chinese app.js, but I can't find the key "'Select file'" in `en` app.js. It should be an exact mapping in terms of key in the folders.

[2020-06-28 14:42] Sherlock113 commented on #503
In fact, I think all the js. files in the locales\en only contain capitalized keys followed by their English UI. For other short phrases (e.g. Select file), they cannot be found in locales\en. I think these files were designed this way at the beginning. @leoendless Is that correct?

I think this is understandable as these short phrases are English themselves. Unlike capitalized keys which are not

[2020-06-28 14:49] leoendless commented on #503
@Sherlock113 Yes, ``t`` will return the key if no corresponding value is found.

[2020-06-29 02:18] rayzhou2017 commented on #503
I know what you mean. But it is not good for localization. En should be the base.

[2020-06-29 02:43] leoendless commented on #503
En is the base, but not in locales/en.

[2020-06-29 02:51] rayzhou2017 opened #506 "No tooltip shows in the toolbox"
The text is long. I can't view what it is.
![Screen Shot 2020-06-29 at 10 50 03 AM](https://user-images.githubusercontent.com/28859385/85967995-6113c380-b9f6-11ea-90ba-e0f100e076b0.png)

[2020-06-29 02:58] Sherlock113 commented on #503
When partners do the translation, they need to refer to the English UI, which is their source language. However, I do not recommend they copy all js. files in locales/en in their own language folder as these files do not have simple words or phrases in the UI.

Of course, they can do this and they can translate capitalized keys in it. But for simple words or phrases, they have to find them one by

[2020-06-29 02:58] wanjunlei opened #508 "The user's language setting will be automatically reset"
**Describe the bug**
First change user's language setting from zh to en in ui， then it will be reset to zh after a few seconds.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-06-29)
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug

[2020-06-29 02:58] wanjunlei commented on #508
/assign @leoendless

[2020-06-29 03:54] rayzhou2017 commented on #503
It is better to clarify why is that in the localization readme. People will not understand why choose zh, then refer to en.

[2020-06-29 03:57] #481 closed

[2020-06-29 03:59] Sherlock113 commented on #503
Sure, I will add some explanations for the Console Localization Guide.

[2020-06-29 04:06] rayzhou2017 commented on #408
same as #495

[2020-06-29 04:41] rayzhou2017 commented on #365
I mean short name, such as `cm` is for `configmap`.

[2020-06-29 04:43] rayzhou2017 commented on #361
what about the click area problem as describe above?

[2020-06-29 04:55] leoendless commented on #365
Can't find the short name in the API result.

[2020-06-29 07:25] #508 closed

[2020-06-29 08:53] rayzhou2017 opened #511 "page not refresh automatically after adding cluster"
The page still hung but the cluster is actually added since I can open the page using a different browser. It is using agent connection.
![Screen Shot 2020-06-29 at 4 51 30 PM](https://user-images.githubusercontent.com/28859385/85993533-12335180-ba29-11ea-8a70-b1dbdc369dc2.png)

[2020-06-29 11:02] leoendless commented on #511
![image](https://user-images.githubusercontent.com/8739949/85996187-229cf980-ba34-11ea-83a5-0e0b302dc4c6.png)
You need to check if the console running the latest image, and if the modified messages have been pushed to the console by WebSocket.

[2020-06-29 11:14] #441 closed

[2020-06-29 12:44] rayzhou2017 opened #515 "log collections"
* [ ] Why shows two items for auditing?
* [ ] I didn't enable event and auditing, but they are still showing here.
<img width="1223" alt="Screen Shot 2020-06-29 at 8 42 13 PM" src="https://user-images.githubusercontent.com/28859385/86006873-356df900-ba49-11ea-8d6e-83ae5118b867.png">

[2020-06-29 12:57] rayzhou2017 opened #516 "lack of desc for cluster authorization"
The first tip is lack of description
<img width="494" alt="Screen Shot 2020-06-29 at 8 56 12 PM" src="https://user-images.githubusercontent.com/28859385/86008256-15d7d000-ba4b-11ea-8418-987c01b7c052.png">

[2020-06-29 13:07] rayzhou2017 opened #517 "cluster status"
* [ ] Not --> Not Enabled?
* [ ] Why I can't find etcd monitoring?
* [ ] Why etcd is yellow?
<img width="1224" alt="Screen Shot 2020-06-29 at 9 05 58 PM" src="https://user-images.githubusercontent.com/28859385/86009175-77e50500-ba4c-11ea-9022-de8adedee8a4.png">

[2020-06-29 13:11] leoendless commented on #515
@benjaminhuo I found there are two es outputs with type auditing.

[code]

[2020-06-29 13:39] leoendless commented on #517
etcd healthy check API missing. @huanggze

[2020-06-29 14:06] leoendless commented on #517
@rayzhou2017 You need to enable etcd monitoring in ``cm`` ks-installer

[2020-06-29 15:31] huanggze commented on #517
true, etcd monitoring is off.

no idea why etcd status shows yellow. It should be green as what I see from resource  componenthealth API @leoendless

[2020-06-30 01:33] rayzhou2017 commented on #517
It is not enabled by default?

[2020-06-30 02:14] Sherlock113 commented on #516
I will add a description for the Engish text here.

[2020-06-30 02:40] benjaminhuo commented on #515
It should be dirty data if it's in dev env and should be a bug if it's a new installation. @wanjunlei can take a look at this

[2020-06-30 02:44] rayzhou2017 commented on #517
verified

[2020-06-30 02:44] #517 closed

[2020-06-30 06:17] junotx commented on #497
verified

[2020-06-30 06:18] #497 closed

[2020-06-30 06:56] junotx opened #523 "Match field is not correct for the output plugin of events added by the new UI setting"
**General remarks**

**Describe the bug**

The match field is not correct for the output plugin added by the new UI setting
![image](https://user-images.githubusercontent.com/49136171/86093272-44a08580-bae1-11ea-99a9-bdcada1e61e4.png)
events should match `kube_events` not `kube.*`
In addition, auditing should match `kube_auditing`

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: 3.0.0(2020/6

[2020-06-30 06:56] junotx commented on #523
/assign @leoendless

[2020-06-30 07:01] benjaminhuo commented on #523
@wanjunlei

[2020-06-30 08:32] junotx commented on #523
verified for events.

@wanjunlei , you can verify auditing's

[2020-06-30 09:17] leoendless commented on #294
Fixed in the latest ks-console:dev image.

[2020-06-30 09:18] #294 closed

[2020-06-30 09:19] #288 closed

[2020-06-30 09:22] #280 closed

[2020-06-30 09:30] #217 closed

[2020-06-30 09:31] leoendless commented on #56
Fixed in the latest v3.0 dev.

[2020-06-30 09:31] #56 closed

[2020-06-30 09:38] #276 closed

[2020-06-30 09:38] #247 closed

[2020-06-30 10:06] wanjunlei commented on #523
verified for auditing

[2020-06-30 12:51] rayzhou2017 opened #528 "role description not translated"
<img width="1218" alt="Screen Shot 2020-06-30 at 8 49 55 PM" src="https://user-images.githubusercontent.com/28859385/86127996-56028580-bb13-11ea-81d4-304ade41cc2b.png">

[2020-06-30 13:53] rayzhou2017 opened #529 "cluster status font"
The font in the middle of the screen seems too big, doesn't it? Is it as design?
<img width="1041" alt="Screen Shot 2020-06-30 at 9 51 39 PM" src="https://user-images.githubusercontent.com/28859385/86134289-03799700-bb1c-11ea-8f30-6b74ee05c8ce.png">

[2020-06-30 14:20] Sherlock113 commented on #528
![图片](https://user-images.githubusercontent.com/65327072/86137245-a4b61c80-bb1f-11ea-8be0-5bf7e3655e52.png)
![图片](https://user-images.githubusercontent.com/65327072/86137337-c6170880-bb1f-11ea-8b69-22eb50b70c9c.png)
This sentence was already translated in the locales folder. I think the UI text has not been updated for this part.

[2020-06-30 15:21] leoendless commented on #528
These two roles will no longer be preset in the cluster.

[2020-07-01 02:17] #523 closed

[2020-07-01 03:02] rayzhou2017 commented on #362
@leoendless please reorder the items. It will be much better for user experience.

[2020-07-01 04:30] rayzhou2017 opened #536 "new project does not refresh automatically"
create a project, need to click the refresh icon to make the new project show up.
![Screen Shot 2020-07-01 at 12 28 53 PM](https://user-images.githubusercontent.com/28859385/86203071-97884480-bb96-11ea-97fa-1c21e3f2fa29.png)

[2020-07-01 05:41] rayzhou2017 commented on #515
It is a new installation.

[2020-07-01 05:42] #503 closed

[2020-07-01 05:52] benjaminhuo commented on #515
@wanjunlei pls take a look at this problem

[2020-07-01 06:25] wanjunlei commented on #515
I can't repeat this problem，is there a environment can i login？

[2020-07-01 06:44] rayzhou2017 commented on #528
I don't understand. ws manager may not belong to cluster level (instead, it belong to the platform level), but cluster-regular also does not belong to cluster?

[2020-07-01 06:55] rayzhou2017 opened #541 "monitoring sorting is not correct"
The asc seems not working
![Screen Shot 2020-07-01 at 2 54 15 PM](https://user-images.githubusercontent.com/28859385/86212514-cc05fb80-bbaa-11ea-813a-2ac824ffce2d.png)

[2020-07-01 07:03] turtlechang commented on #480
另外在3.0.0 不能用kubesphere的帳號登入Jenkins webui 會登入錯誤，煩請修正，謝謝!!

[2020-07-01 07:19] leoendless commented on #528
There are only two preset cluster roles(cluster-admin and cluster-viewer).

[2020-07-01 10:23] harrisonliu5 opened #544 "Some APIs errors in custom monitoring templates include saving templates"
**Describe the bug**

![image](https://user-images.githubusercontent.com/17872673/86232988-59efdf80-bbc7-11ea-968e-0dacb4606ba2.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-07-01)

/assign @leoendless

[2020-07-01 11:19] PmcFizz opened #545 "where is '@pitrix/lego-ui' doc ?"
I see this project import this node_module '@pitrix/lego-ui'

I dont discover what its doc

can  you tell me ? @duanjiong @zheng1

[2020-07-01 11:47] zheng1 commented on #545
@leoendless  can answer this question

[2020-07-01 13:04] leoendless commented on #545
There are no docs published on the internet. But we are building a component library [kube-design](https://github.com/kubesphere/kube-design) to replace `@pitrix/lego-ui` .

[2020-07-01 15:39] leoendless commented on #541
@huanggze
`sort_type: asc` and `sort_type: desc` returned the same result.

[2020-07-02 01:40] rayzhou2017 opened #548 "Application status is pending all the time"
Deploy the sample application, all pods are up, but the application status is still pending.
<img width="1195" alt="Screen Shot 2020-07-02 at 9 38 38 AM" src="https://user-images.githubusercontent.com/28859385/86306926-0e314a80-bc48-11ea-9e6c-77d21b97d173.png">

[2020-07-02 02:17] PmcFizz commented on #545
兄弟啊 这就有点坑了吧.

[2020-07-02 02:34] harrisonliu5 opened #549 "Two APIs return 502 in the alarm messages and alarm policies"
**Describe the bug**

[GET] https://console.kubesphere.io/kapis/clusters/shire/alerting.kubesphere.io/v1/namespaces/harry-project001/workloads/history?sort_key=t1.create_time&limit=10&offset=0&events=triggered&reverse=true

[GET] https://console.kubesphere.io/kapis/clusters/shire/alerting.kubesphere.io/v1/namespaces/harry-project001/workloads/alert?limit=10&offset=0

**Versions used(KubeSphere/Kub

[2020-07-02 03:12] Carlosfengv commented on #529
![image](https://user-images.githubusercontent.com/23092051/86312248-dc72b080-bc54-11ea-91b3-29bfd0f574d4.png)
@leoendless

[2020-07-02 03:33] leoendless commented on #529
Where is the design?

[2020-07-02 06:32] wanjunlei opened #553 "It always return empty when search jobs with 'Last Executed Time' on the page jobs of clusters."
**Describe the bug**

It always return empty when search jobs with 'Last Executed Time' on the page jobs of clusters.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0(2020-07-02)

[2020-07-02 06:32] wanjunlei commented on #553
/assign @leoendless

[2020-07-02 06:50] wanjunlei opened #554 "Rerun job error"
**Describe the bug**
If i rerun job on the page jobs of clusters, it is no response. If i rerun job on the page records of  jobs of clusters, there is a 404 error

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0(2020-07-02)

/assign @leoendless

[2020-07-02 07:03] wanjunlei opened #555 "It always return empty when search jobs with 'Status=Completed'"
**Describe the bug**
It always return empty when search jobs with 'Status=Completed'

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0

[2020-07-02 07:04] wanjunlei commented on #555
/assign @leoendless

[2020-07-02 07:05] wanjunlei commented on #555
The parameter should be 'status=complete', not 'status=completed'

[2020-07-02 07:28] Sherlock113 opened #556 "Click Network Policy to get back to the previous page while leading to the project page"
**Describe the bug**
In the Network Policy info page, click Network Policy to get back to the previous page but it leads to the Project page.

**Environment**

KubeSphere web console

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network Policies and click any policy.

![77](https://user-images.githubusercontent.com/65327072/86329025-2d47d080-bc78-11ea-80bf-3d59ab09ce24.png)

2. In th

[2020-07-02 08:17] wanjunlei opened #558 "It will waiting for a long time if the image name does not exist when create job"
**Describe the bug**
It will waiting for a long time if the image name does not exist when create job.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/86334153-6afc2780-bc7f-11ea-8838-e7e60f0e85f6.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0

[2020-07-02 08:18] wanjunlei commented on #558
/assign @leoendless

[2020-07-02 08:20] leoendless commented on #558
It is not a blocking operation. You can submit the sub-form without the image search result

[2020-07-02 08:23] Ma-Dan opened #559 "Pods page arrange error"
**Describe the bug**
From pods interface, chosen "All Projects" to show all pods in all projects, then turn over to page 4 which exceeded the page number of one project, then chosen one project to filter pods in this project which will not reach page 4, then it will display no pods, must turn over to page 1 to show it.

For UI issues please also add a screenshot that shows the issue.
![image](http

[2020-07-02 08:24] leoendless commented on #559
Should reset the page if project selected.

[2020-07-02 08:25] leoendless commented on #559
@harrisonliu5 Could you help to fix the bug?

[2020-07-02 08:35] Ma-Dan opened #560 "Query pod by application return no result, query with no field selected, don't know which search field is used"
**Describe the bug**
Query pod with application can not get result, query with name is ok, query with no field selected shows no result and can not understand which field is used in query.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/38337958/86335539-338e7a80-bc81-11ea-9e37-aee5637e5b64.png)
![image](https://user-images.githu

[2020-07-02 08:47] harrisonliu5 commented on #559
ok

[2020-07-02 09:35] wanjunlei opened #561 "It does not add Container Startup Check to the job"
**Describe the bug**
It does not add Container Startup Check to the job when  Container Startup Check was selected and set.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0

[2020-07-02 09:35] wanjunlei commented on #561
/assign @leoendless

[2020-07-02 10:20] Ma-Dan opened #562 "Chrome browser can not pop right button menu in pod list"
**Describe the bug**
A clear and concise description of what the bug is.
Right click on pod list item can not pop menu, whether selected or not.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/38337958/86347223-92a7bb80-bc90-11ea-926e-fc2ad49db658.png)
![image](https://user-images.githubusercontent.com/38337958/86347558-08ac2280-b

[2020-07-02 10:48] leoendless commented on #562
Sorry for that ks-console do not support right-click menu control.

[2020-07-02 11:49] #562 closed

[2020-07-03 02:05] wanjunlei opened #564 "Volumes will not show on the page after created"
**Describe the bug**
Volumes will not show on the page after created, it need to manual refresh.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0

/assign @leoendless

[2020-07-03 02:12] #545 closed

[2020-07-03 02:21] wanjunlei opened #565 "It cannot select existing configmaps and secrets when create job"
**Describe the bug**

It cannot select existing configmaps and secrets when create job

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/86425075-c3cacf00-bd16-11ea-980a-8d491841f699.png)

![image](https://user-images.githubusercontent.com/53003665/86425107-d7763580-bd16-11ea-8729-60d5f4b3b6dd.png)

**Versions used(KubeSph

[2020-07-03 02:39] wanjunlei opened #566 "Disk Log Collection is not enabled when create job"
**Describe the bug**
It will be successed if i opend Disk Log Collection when create job, but the  Disk Log Collection did not really take effect.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0

/assign @leoendless

[2020-07-03 02:46] wanjunlei opened #567 "Annotations is not properly added to the job"
**Describe the bug**
Annotations is not properly added to the job when create job.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

/assign @leoendless

[2020-07-03 03:18] huanggze opened #568 "Logging tool page shows empty listing (single cluster environment)"
![image](https://user-images.githubusercontent.com/22350668/86428235-d6490680-bd1e-11ea-8f5a-ffa53126fc00.png)

[2020-07-03 03:18] huanggze commented on #568
/assign @leoendless
/kind bug

[2020-07-03 03:20] Ma-Dan opened #569 "Pod environment variable interface does not display init_containers' env"
**Describe the bug**
Pod environment variable interface displays containers env, but does not display env of init_container

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/38337958/86428324-00022d80-bd1f-11ea-9189-2f5e53c5f613.png)
![image](https://user-images.githubusercontent.com/38337958/86428337-0690a500-bd1f-11ea-9a7d-ebd633

[2020-07-03 03:21] wanjunlei opened #570 "Job will not be created when use edit mode."
**Describe the bug**
Job will not be created when use edit mode.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0

/assign @leoendless

[2020-07-03 03:25] Ma-Dan opened #571 "Pod info does not display application field"
**Describe the bug**
Application info page can display application field but pod info of the same workload doesn't display.

![image](https://user-images.githubusercontent.com/38337958/86428472-6b4bff80-bd1f-11ea-8ad6-cbb62905655e.png)
![image](https://user-images.githubusercontent.com/38337958/86428579-ad754100-bd1f-11ea-91ef-106bcbdfdc07.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:

[2020-07-03 03:29] huanggze opened #572 "No K8s version"
![image](https://user-images.githubusercontent.com/22350668/86428423-448dc900-bd1f-11ea-802f-2478c250db14.png)

[2020-07-03 03:29] huanggze commented on #572
/assign @leoendless
/kind bug

[2020-07-03 03:50] leoendless commented on #572
There is no cluster detail panel for single cluster mode. But k8s version could be found in /clusters/default/base-info

[2020-07-03 03:52] junotx opened #574 "Problem when creating a statefulset"
**General remarks**

**Describe the bug**

The follows are some of the problems I encountered while creating the statefulset
- Is it neccessary to do service setting ?
![image](https://user-images.githubusercontent.com/49136171/86429602-a6036700-bd22-11ea-8ac8-37c68f181675.png)
- It was not a yaml format when switched the edit mode after the service was set
![image](https://user-images.githubuserc

[2020-07-03 03:52] junotx commented on #574
/assign @leoendless

[2020-07-03 03:54] #559 closed

[2020-07-03 05:15] #574 closed

[2020-07-03 06:55] leoendless commented on #567
Could you describe more details?

[2020-07-03 07:34] #568 closed

[2020-07-03 07:54] leoendless commented on #566
Could you describe how did you use the disk log collection when create a job.

[2020-07-03 08:23] leoendless commented on #555
Why change the completed job status value? @wansir

[2020-07-03 08:39] wanjunlei commented on #555
/assign @zryfish

[2020-07-03 09:19] leoendless commented on #561
Did yaml format wrong? Or k8s not run the startup check

[2020-07-03 09:20] leoendless commented on #554
@wansir @zryfish

GET /kapis/clusters/gondor/resources.kubesphere.io/v1alpha2/namespaces/test/jobs/ddd?action=rerun&resourceVersion=10968282

return 404

[2020-07-03 09:22] leoendless commented on #553
It’s a mistake to search with 'Last Executed Time'. Should be removed.

[2020-07-03 09:43] duanjiong opened #578 "cannot modify time interval in workspace overview page"
When modify  time interval, error is reported
https://files.slack.com/files-pri/TABN5CPK6-F016VR3JBL1/image.png

[2020-07-03 10:00] #556 closed

[2020-07-03 10:04] leoendless commented on #564
Was the WebSocket disconnected?

[2020-07-03 10:04] #558 closed

[2020-07-03 10:05] wanjunlei commented on #564
No

[2020-07-03 10:08] #570 closed

[2020-07-04 05:13] leoendless commented on #529
I found the same style in the v2.1.1 console. So it was originally designed like this.

[2020-07-04 05:13] #529 closed

[2020-07-04 05:28] leoendless commented on #560
@zryfish Does the resource API support search pod by app?

[2020-07-04 05:55] rayzhou2017 opened #583 "cluster name description and illegality"
The Chinese and English description is not consistent. Chinese says starting with number is allowed, but English not allowed. It does allow. However, I think it should not allow to start with a number for cluster name.
![Screen Shot 2020-07-04 at 1 51 32 PM](https://user-images.githubusercontent.com/28859385/86506033-e683e300-bdfd-11ea-9101-7e7599b7ac7a.png)
![Screen Shot 2020-07-04 at 1 51 12 PM]

[2020-07-04 05:57] rayzhou2017 opened #584 "Wrong msg when no cluster name input"
![Screen Shot 2020-07-04 at 1 56 39 PM](https://user-images.githubusercontent.com/28859385/86506064-48dce380-bdfe-11ea-85d4-a3842083054f.png)
![Screen Shot 2020-07-04 at 1 56 52 PM](https://user-images.githubusercontent.com/28859385/86506066-4d090100-bdfe-11ea-93e6-3e35198924ee.png)

[2020-07-04 06:08] rayzhou2017 opened #585 "cluster name length is not limited"
Type in `b-1234567890-1234567890-1234567890-1234567890-1234567890-12345-e` or more letters. It is legal to create.

[2020-07-04 06:12] rayzhou2017 opened #586 "Tooltip on cluster name"
Should show tooltip if the cluster name is too long to completely appear in the list.
![Screen Shot 2020-07-04 at 2 11 18 PM](https://user-images.githubusercontent.com/28859385/86506260-5c894980-be00-11ea-9da4-b7c1404c14e8.png)

[2020-07-04 08:56] #583 closed

[2020-07-04 11:15] leoendless commented on #571
This issue cannot be fixed in ks console, because helm didn't write the app label to the pods.

[2020-07-04 11:46] huanggze opened #588 "Link redirection for [How to get kubeconfig?] doesn't work"
![image](https://user-images.githubusercontent.com/22350668/86511800-fbc53580-be2e-11ea-9ad1-94b39423cf08.png)

[2020-07-04 11:47] huanggze commented on #588
/kind bug
/milestone 3.0
/assign @leoendless

[2020-07-04 11:47] huanggze commented on #588
/milestone 3.0.0

[2020-07-04 11:59] leoendless commented on #588
@zryfish Could you provide the document link?

[2020-07-04 12:01] rayzhou2017 commented on #515
it is fixed in latest build

[2020-07-04 12:06] rayzhou2017 opened #589 "cluster built-in labels"
It shows two locales here. What if we have more locales?
<img width="598" alt="Screen Shot 2020-07-04 at 8 05 00 PM" src="https://user-images.githubusercontent.com/28859385/86512121-d259d900-be31-11ea-968e-411d1b44e837.png">

[2020-07-04 12:40] leoendless commented on #589
Need to translate these keys into the specified lang
[code]

[2020-07-04 14:55] huanggze opened #591 "node ip and role are missing"
![image](https://user-images.githubusercontent.com/22350668/86515126-7ef38500-be49-11ea-8755-08b64bbbb604.png)

[2020-07-04 14:56] huanggze commented on #591
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-04 14:59] huanggze opened #592 "misleading information on cluster setting page"
I would expect this page shows info about cluster resource capacity, not resource usage, because it is the page to display **[Cluster Setting]** rather than **[Cluster Metrics]**.

![image](https://user-images.githubusercontent.com/22350668/86515148-a2b6cb00-be49-11ea-9051-55841817c49c.png)

[2020-07-04 14:59] huanggze commented on #592
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-05 11:39] huanggze opened #593 "failed to delete service in batch"
it doesn't work.

![image](https://user-images.githubusercontent.com/22350668/86531837-3d211800-bef7-11ea-9a02-eb78a75b05b4.png)

[2020-07-05 11:40] huanggze commented on #593
/assign @leoendless
/milestone 3.0.0
/kind bug

[2020-07-05 11:47] huanggze opened #594 "Cannot edit service type for existing svc"
![image](https://user-images.githubusercontent.com/22350668/86531940-478fe180-bef8-11ea-9816-f4339174e8d4.png)

![image](https://user-images.githubusercontent.com/22350668/86531943-4fe81c80-bef8-11ea-8556-358f3cf224bc.png)

[2020-07-05 11:56] huanggze commented on #594
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-05 12:00] huanggze opened #595 "Duplicate labels error"
After cleaning up all services, I created a new one with the same name.
- But I got error saying duplicate labels
- And I cannot edit or remove them

![image](https://user-images.githubusercontent.com/22350668/86532148-2def9980-befa-11ea-9b38-e9768f451f6a.png)

[2020-07-05 12:02] huanggze commented on #595
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-05 12:12] huanggze opened #596 "An unexpected service got installed on the member cluster"
I didn't choose to install svc on the member cluster though

![image](https://user-images.githubusercontent.com/22350668/86532360-e2d68600-befb-11ea-8aac-a9912cf0faff.png)

![image](https://user-images.githubusercontent.com/22350668/86532355-dbaf7800-befb-11ea-9da4-7401b1fdc555.png)

[2020-07-05 12:13] huanggze commented on #596
/kind bug
/milestone 3.0.0
/assign @leoendless

[2020-07-05 12:14] rayzhou2017 opened #597 "No description for the platform built-in roles"
Missing two roles description. BTW, why the first two are editable, while the other two are not?
<img width="1009" alt="Screen Shot 2020-07-05 at 8 10 35 PM" src="https://user-images.githubusercontent.com/28859385/86532375-ff72be00-befb-11ea-8ed1-a4890255d4ab.png">

[2020-07-05 12:19] #596 closed

[2020-07-05 12:38] huanggze opened #598 "Got undefined services when creating services without giving service port num"
![image](https://user-images.githubusercontent.com/22350668/86532842-7bbad080-beff-11ea-9301-ef2a17ea70b6.png)

![image](https://user-images.githubusercontent.com/22350668/86532836-73629580-beff-11ea-9c7e-3d9458dd8a09.png)

[2020-07-05 12:38] huanggze commented on #598
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-05 13:38] huanggze opened #599 "The page doesn't auto refresh after I create a namespace"
![image](https://user-images.githubusercontent.com/22350668/86534006-ca6c6880-bf07-11ea-8e0c-64b8ebf024c6.png)

[2020-07-05 13:38] huanggze commented on #599
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-05 14:11] leoendless commented on #599
Auto refresh is only supported in table.

[2020-07-06 01:44] #599 closed

[2020-07-06 01:50] wanjunlei opened #601 "There is a 404 error on the page project overview."
**Describe the bug**
There is a 404 error on the page project overview.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/86548075-b9564280-bf6d-11ea-8877-fea819d4b792.png)

![image](https://user-images.githubusercontent.com/53003665/86548196-18b45280-bf6e-11ea-95be-8acb0498944a.png)

**Versions used(KubeSphere/Kubernetes)

[2020-07-06 01:55] wanjunlei commented on #553
verified

[2020-07-06 01:55] #553 closed

[2020-07-06 02:03] #564 closed

[2020-07-06 02:03] wanjunlei commented on #565
verified

[2020-07-06 02:03] #565 closed

[2020-07-06 02:09] rayzhou2017 opened #602 "English locale missing for platform built-in roles"
![Screen Shot 2020-07-06 at 10 07 55 AM](https://user-images.githubusercontent.com/28859385/86548919-b6108600-bf70-11ea-97b7-49822c9cf2fb.png)

[2020-07-06 02:17] wanjunlei commented on #566
First, open Disk Log Collection on the page projects advanced

![image](https://user-images.githubusercontent.com/53003665/86548992-e22c0700-bf70-11ea-9ee5-82ee2af52705.png)

Second, create a job and enable Disk Log Collection
![image](https://user-images.githubusercontent.com/53003665/86549057-1b647700-bf71-11ea-95e6-a2b742f0d234.png)

This is the pod of job, there is no logsidecar container.
![i

[2020-07-06 02:21] wanjunlei commented on #567
Create a job and add some annotations.

![image](https://user-images.githubusercontent.com/53003665/86549475-50bd9480-bf72-11ea-8f3f-c3f9b2d39d03.png)

This is the yaml of pod which created by job, there is no annotations added when create job.
![image](https://user-images.githubusercontent.com/53003665/86549525-72b71700-bf72-11ea-9c62-9e6688c8751a.png)

[2020-07-06 02:22] Ma-Dan commented on #569
![image](https://user-images.githubusercontent.com/38337958/86549528-7480da80-bf72-11ea-8c90-fcf82e316609.png)
Verified, close issue.

[2020-07-06 02:22] #569 closed

[2020-07-06 02:24] rayzhou2017 opened #603 "hide network policy on/off button for ws viewer"
`project-view` is the `demo-fed-ws` viewer, the on/off button for network policy should hide from console.

![Screen Shot 2020-07-06 at 10 21 14 AM](https://user-images.githubusercontent.com/28859385/86549660-caee1900-bf72-11ea-84ff-ff6b3222be62.png)

[2020-07-06 02:28] wanjunlei commented on #561
Create job and add startup check
![image](https://user-images.githubusercontent.com/53003665/86549862-5c5d8b00-bf73-11ea-8b18-5fff8590c7e0.png)

This is the yaml of pod which created by job, this is no startup check
![image](https://user-images.githubusercontent.com/53003665/86549767-17395900-bf73-11ea-8085-3755610199c0.png)

[2020-07-06 02:36] rayzhou2017 opened #604 "redirect to right page after creating a fed project"
When I created a fed project, it goes to the regular project page, which confuses users.. It would be better to redirect to the corresponding page.

![Screen Shot 2020-07-06 at 10 34 01 AM](https://user-images.githubusercontent.com/28859385/86550249-8794aa00-bf74-11ea-8107-86f0920e7dda.png)
![Screen Shot 2020-07-06 at 10 34 06 AM](https://user-images.githubusercontent.com/28859385/86550271-91b6a88

[2020-07-06 02:39] rayzhou2017 commented on #604
/cc @zryfish @Sherlock113 What should we call here actually, multi-cluster project or federated project?

[2020-07-06 02:47] rayzhou2017 opened #605 "redirect to corresponding cluster regular project page"
I created a regular project into cluster-01, but it loads the cluster-02 after creating.
![Screen Shot 2020-07-06 at 10 44 27 AM](https://user-images.githubusercontent.com/28859385/86550841-0d652500-bf76-11ea-9ea2-fb51ddc26b81.png)
![Screen Shot 2020-07-06 at 10 44 34 AM](https://user-images.githubusercontent.com/28859385/86550855-1655f680-bf76-11ea-94fb-d0cb52f4f449.png)

[2020-07-06 02:50] leoendless commented on #605
What's the select cluster before you click the create button?

[2020-07-06 02:52] rayzhou2017 opened #607 "Navigation items missing in fed project"
Why the items are different between regular project and fed project? It seems fed project missing jobs and pods under application workloads.
![Screen Shot 2020-07-06 at 10 49 48 AM](https://user-images.githubusercontent.com/28859385/86551070-a7c56880-bf76-11ea-9395-18c017b6a5c5.png)
![Screen Shot 2020-07-06 at 10 49 59 AM](https://user-images.githubusercontent.com/28859385/86551079-ab58ef80-bf76-1

[2020-07-06 02:53] Sherlock113 commented on #602
Add en desc in the pr: https://github.com/kubesphere/console/pull/606

[2020-07-06 02:53] huanggze opened #608 "The max length of a port name should be 15"
![image](https://user-images.githubusercontent.com/22350668/86551120-c62b6400-bf76-11ea-99bf-5504b77d599a.png)

![image](https://user-images.githubusercontent.com/22350668/86551132-d04d6280-bf76-11ea-95a6-9d3bef8074f7.png)

![image](https://user-images.githubusercontent.com/22350668/86551139-d7747080-bf76-11ea-9553-8b40df06889f.png)

https://github.com/kubernetes/community/blob/master/contributors

[2020-07-06 02:54] huanggze commented on #608
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 02:55] leoendless commented on #607
Because they are currently not supported in federated project.

[2020-07-06 02:56] huanggze opened #609 "Cannot edit or remove ingress labels"
![image](https://user-images.githubusercontent.com/22350668/86551331-54074f00-bf77-11ea-9d93-1654e668f111.png)

[2020-07-06 02:56] huanggze commented on #609
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-06 03:01] huanggze opened #610 "should forbid creating ingress with long name"
![image](https://user-images.githubusercontent.com/22350668/86551406-8add6500-bf77-11ea-8c4b-5bd1878531b8.png)

[2020-07-06 03:01] huanggze commented on #610
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 03:03] #610 closed

[2020-07-06 03:06] huanggze opened #611 "long text display and layout"
![image](https://user-images.githubusercontent.com/22350668/86551782-b57bed80-bf78-11ea-83d1-783cb26de92d.png)

[2020-07-06 03:06] huanggze commented on #611
/kind bug
/milestone 3.0.0
/assign @leoendless

[2020-07-06 03:09] huanggze opened #612 "Ingress list paging doesn't work"
Here should be more than 10 ingress objects

![image](https://user-images.githubusercontent.com/22350668/86551924-0be92c00-bf79-11ea-973d-8fe89f1ad6c8.png)

[2020-07-06 03:09] huanggze commented on #612
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 03:10] huanggze opened #613 "Ingress list sorting doesn't work"
![image](https://user-images.githubusercontent.com/22350668/86552023-5a96c600-bf79-11ea-8c24-19b7ae532462.png)

[2020-07-06 03:11] huanggze commented on #613
/assign @leoendless
/milestone 3.0.0
/kind bug

[2020-07-06 03:14] leoendless commented on #611
What's the problem?

[2020-07-06 03:18] huanggze commented on #611
Status column is messed up

[2020-07-06 03:21] huanggze opened #614 "Cannot return back to full list after searching by name"
I cannot get back the full item page after searching **[in2]**

![image](https://user-images.githubusercontent.com/22350668/86552481-b746b080-bf7a-11ea-914e-81130ee4499f.png)

[2020-07-06 03:21] leoendless commented on #613
The Federated resources list currently cannot be sorted and can only be searched by name. We will modify this.

[2020-07-06 03:22] huanggze commented on #614
/kind bug
/milestone 3.0.0
/assign @leoendless

[2020-07-06 03:23] huanggze opened #615 "Fuzzy searching doesn't work"
![image](https://user-images.githubusercontent.com/22350668/86552599-0bea2b80-bf7b-11ea-89fd-18018d5aa5fd.png)

[2020-07-06 03:23] huanggze commented on #615
/assign @leoendless
/milestone 3.0.0
/kind bug

[2020-07-06 03:26] huanggze commented on #612
Ok, the page finally got refreshed after I clicked [Ingress] again

![image](https://user-images.githubusercontent.com/22350668/86552731-684d4b00-bf7b-11ea-8c54-27bb2f5ccbe9.png)

[2020-07-06 03:33] #604 closed

[2020-07-06 03:35] huanggze opened #617 "Unexpected error when open an empty ingress list page"
![image](https://user-images.githubusercontent.com/22350668/86553259-ce869d80-bf7c-11ea-9116-1fa40647b92d.png)

[2020-07-06 03:36] huanggze commented on #617
/assign @leoendless
/kind bug
/assign @leoendless

[2020-07-06 03:58] huanggze opened #618 "Labels attached by KubeSphere can be hidden"
![image](https://user-images.githubusercontent.com/22350668/86554339-e875af80-bf7f-11ea-93d9-3c0e0496a9be.png)

[2020-07-06 03:58] huanggze commented on #618
/kind enhancement
/assign @leoendless
/milestone 3.0.0

[2020-07-06 04:07] FeynmanZhou commented on #604
multi-cluster project looks more obvious, federated is more professional, I prefer the former. And we can add more description here to explain the project and multi-cluster project (or federated project).

![image](https://user-images.githubusercontent.com/40452856/86554813-317a3380-bf81-11ea-80ad-f630617345e8.png)

[2020-07-06 04:08] Sherlock113 commented on #604
I saw in the website of Rancher, they have this use for "multi-cluster" for multi-cluster apps: https://rancher.com/docs/rancher/v2.x/en/catalog/multi-cluster-apps/

[2020-07-06 04:12] leoendless commented on #618
There is no need to hide it because the user can see the annotations in the yaml edit too.

[2020-07-06 04:33] rayzhou2017 commented on #589
I mean if there are too many locales, will you still show all of them in the dropdown menu?

[2020-07-06 05:05] leoendless commented on #608
No need to restrict the rules here. It just depends on what the user inputs.

[2020-07-06 05:18] leoendless commented on #589
Only show the value and the current locale.

The white text are the values. And the tags are the values of the current locale.

[2020-07-06 05:20] leoendless commented on #615
Currently, this is not supported. Will be fixed in 3.0.1.

[2020-07-06 06:14] huanggze opened #621 "Warning won't disappear though I renamed the namespace"
![image](https://user-images.githubusercontent.com/22350668/86561231-c9cce400-bf92-11ea-8efa-e257c66abbe8.png)

[2020-07-06 06:14] huanggze commented on #621
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 06:19] huanggze opened #622 "kubectl tool disconnects itself while I am still using it"
![image](https://user-images.githubusercontent.com/22350668/86561604-9b9bd400-bf93-11ea-8bf1-1bf7b7466941.png)

[2020-07-06 06:19] huanggze commented on #622
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 06:32] leoendless commented on #622
/assign zryfish

[2020-07-06 06:35] huanggze opened #623 "Cannot delete in batch"
They are not gone.

![image](https://user-images.githubusercontent.com/22350668/86562796-e1599c00-bf95-11ea-85aa-8d3741e1617a.png)

[2020-07-06 06:36] junotx opened #624 "problems on querying workloads"
**General remarks**

**Describe the bug**

1.Could not query workloads whose `status` is `updating`

2.Could not do fuzzy query when the query condition is `project`

3.The shows were different between `name` condition and `project` condition when no workloads could be found
- The condition input boxs were visible when the query condition was `name` and no workloads could be found
![image](https:/

[2020-07-06 06:37] junotx commented on #624
assign @leoendless

[2020-07-06 06:44] huanggze opened #625 "No need to ask user to select namespace again"
![image](https://user-images.githubusercontent.com/22350668/86563545-24683f00-bf97-11ea-9ee8-ebe72288e53e.png)

![image](https://user-images.githubusercontent.com/22350668/86563546-24683f00-bf97-11ea-9e64-291979b11a43.png)

[2020-07-06 06:45] huanggze commented on #625
/kind bug
/milestone 3.0.0
/assign @leoendless

[2020-07-06 07:07] leoendless commented on #625
It’s necessary because the user cannot create resource in federated namespace here.

[2020-07-06 07:45] huanggze opened #626 "Should redirect to namespace, not ingress"
You should get redirected to ingress by clicking ingress items, rather than namespace items

![image](https://user-images.githubusercontent.com/22350668/86568545-9a70a400-bf9f-11ea-8543-de432d99fce6.png)

[2020-07-06 07:46] huanggze commented on #626
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-06 07:51] #626 closed

[2020-07-06 08:18] duanjiong opened #628 "network policy rule displays error when no port is specified"
It should be shown on the right.

And  port should be validate, which  value should be between 1 and 65535.   IP address should be validate too.

[2020-07-06 08:18] #624 closed

[2020-07-06 08:56] huanggze opened #629 "Why two [Advanced Setting] in CronJob"
This is somehow confusing. It is easy to miss the [Advanced Setting] in the first step

![image](https://user-images.githubusercontent.com/22350668/86575207-7a45e280-bfa9-11ea-89f9-fa882182f206.png)

[2020-07-06 08:57] huanggze commented on #629
/kind bug
/area design
/assign @leoendless
/milestone 3.0.0

[2020-07-06 09:00] leoendless commented on #629
The advance settings in basic info are the detailed settings of a cronjob. And the advance settings in the tab are common settings of k8s resources.

[2020-07-06 09:02] huanggze opened #630 "Redirect to 404 after clicking CronJob items"
![image](https://user-images.githubusercontent.com/22350668/86575641-31425e00-bfaa-11ea-9167-ebd5b0ed9dbb.png)

[2020-07-06 09:02] huanggze commented on #630
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-06 09:19] huanggze opened #632 "Cannot click ns"
![image](https://user-images.githubusercontent.com/22350668/86577461-d65e3600-bfac-11ea-9213-4bd59176a63b.png)

[2020-07-06 09:19] huanggze commented on #632
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-06 09:34] huanggze opened #633 "Non-existing workspace really returns data"
This URL is manually constructed. The workspace demzxczxzxo2 doesn't exist, but demo2 does. The namespaces below belongs to the workspace demo2.

I expect the URL goes 404

![image](https://user-images.githubusercontent.com/22350668/86578610-a748c400-bfae-11ea-92c8-654202c11874.png)

[2020-07-06 09:34] huanggze commented on #633
/kind bug
/milestone 3.0.0
/assign @leoendless

[2020-07-06 09:50] leoendless commented on #632
Function removed because of permission control.

[2020-07-06 10:50] #633 closed

[2020-07-06 11:09] leoendless commented on #623
These resources are generated by federatedresources. If you want to delete them, you need to delete the federatedresources.

[2020-07-06 11:35] Ma-Dan opened #636 "Daemonset status search returns wrong result"
**Describe the bug**
Search status select updating returns no result, and search status select stopped returns updating daemonsets.
![image](https://user-images.githubusercontent.com/38337958/86589077-889ef900-bfbf-11ea-9011-792293a9cdbe.png)
![image](https://user-images.githubusercontent.com/38337958/86589098-8f2d7080-bfbf-11ea-8320-718228fa1453.png)
![image](https://user-images.githubusercontent

[2020-07-06 11:54] #623 closed

[2020-07-06 12:24] duanjiong opened #638 "cannot modify user password"
![image](https://user-images.githubusercontent.com/3678855/86592804-b50a4380-bfc6-11ea-9673-d4365889b3c2.png)

[2020-07-06 12:41] leoendless commented on #638
Duplicate of https://github.com/kubesphere/kubesphere/issues/2242

[2020-07-06 12:42] #638 closed

[2020-07-06 13:38] #602 closed

[2020-07-06 13:54] Ma-Dan opened #640 "Project selection dropdown can not scroll more projects"
**Describe the bug**
On workload list interface, project selection dropdown can not scroll more projects on windows 10.0.18362.900, chrome 81.0.4044.138. Firefox on the same system is able to scroll out till all projectes are shown.

![image](https://user-images.githubusercontent.com/38337958/86600380-927e2780-bfd2-11ea-8442-2f6805a6038f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v

[2020-07-06 13:54] duanjiong opened #641 "Authorized Users cannot list all user"
I've created more than 10 users, and they are bound to role testrole
page "/access/roles/testrole/users" cannot list all users

[2020-07-06 16:05] #641 closed

[2020-07-07 01:29] Sherlock113 opened #647 "Missing description for role identifier"
**Describe the bug**

<img width="1174" alt="截屏2020-07-07上午9 25 04" src="https://user-images.githubusercontent.com/65327072/86683355-0bfa3200-c034-11ea-8696-4d7f4452df83.png">

The description is missing for role identifier. Please provide a description here and I will add the English UI text accordingly.

[2020-07-07 01:58] junotx opened #648 "Only one rule is optional when adding alert policy for workload"
**General remarks**

**Describe the bug**

There is only one rule in the drop-down list when adding alert policy for workload
![image](https://user-images.githubusercontent.com/49136171/86686439-ef132e00-c036-11ea-865d-623c4fb6819f.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: 3.0.0(2020/7/7)

**Expected behavior**

Other rules like cpu, memory and so on should be shown in the drop-d

[2020-07-07 01:58] junotx commented on #648
/assign @leoendless

[2020-07-07 03:06] junotx opened #650 "bug on mounting a secret which has the same name to one configmap"
**General remarks**

**Describe the bug**

when there are one secret and one configmap with the same name in the project, the secret was selected but the configmap was mounted

![image](https://user-images.githubusercontent.com/49136171/86697422-f4757600-c040-11ea-90d5-59f081192444.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: 3.0.0(2020/7/7)

[2020-07-07 03:06] junotx commented on #650
/assign @leoendless

[2020-07-07 03:35] #628 closed

[2020-07-07 04:38] #647 closed

[2020-07-07 04:39] #632 closed

[2020-07-07 05:16] rayzhou2017 opened #654 "cluster visibility custom columns"
The dropdown menu seems incorrect
<img width="530" alt="Screen Shot 2020-07-07 at 1 15 26 PM" src="https://user-images.githubusercontent.com/28859385/86716739-0f051a80-c054-11ea-97a6-3923b72d76f1.png">

[2020-07-07 05:22] leoendless commented on #654
That means no columns could be hidden. Should be removed if options are empty.

[2020-07-07 06:34] huanggze opened #657 "Try to delete StatefulSet, but got updating"
I was trying to delete a StatefulSet, but it seemed to be updating rather than deleting.

![image](https://user-images.githubusercontent.com/22350668/86728734-4a591680-c05f-11ea-9d6b-9f5f4e0b9fba.png)

![image](https://user-images.githubusercontent.com/22350668/86727987-8c358d00-c05e-11ea-9136-768d14255da6.png)

[2020-07-07 06:35] huanggze commented on #657
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-07 06:38] #657 closed

[2020-07-07 06:41] huanggze opened #658 "Failed to create StatefulSet"
![image](https://user-images.githubusercontent.com/22350668/86729317-ea16a480-c05f-11ea-880a-f55d1421cd90.png)

[2020-07-07 06:41] huanggze commented on #658
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-07 06:53] huanggze opened #659 "Redeploy doesn't work"
No change or update on my old statefulset

![image](https://user-images.githubusercontent.com/22350668/86730944-9c9b3700-c061-11ea-98ce-3468739fbc30.png)

[2020-07-07 06:54] huanggze commented on #659
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-07 07:02] huanggze opened #662 "This page hang forever"
![image](https://user-images.githubusercontent.com/22350668/86732226-d28ceb00-c062-11ea-8e45-ccf3647f205d.png)

![image](https://user-images.githubusercontent.com/22350668/86732275-dde01680-c062-11ea-895e-25c02a0e97e9.png)

[2020-07-07 07:02] huanggze commented on #662
/assign @leoendless
/milestone 3.0.0
/kind bug

[2020-07-07 07:08] leoendless commented on #659
Please re-check it in the dev.

[2020-07-07 07:10] #648 closed

[2020-07-07 07:11] #658 closed

[2020-07-07 07:12] #629 closed

[2020-07-07 07:25] #654 closed

[2020-07-07 07:37] #662 closed

[2020-07-07 07:45] rayzhou2017 opened #665 "self-provisioner can't create fed project"
`xiaosi` is the self-provisioner of the fed workspace, but I only see the regular project available to create.
<img width="632" alt="Screen Shot 2020-07-07 at 3 44 13 PM" src="https://user-images.githubusercontent.com/28859385/86739856-c9068180-c068-11ea-9ae5-63f42e6abaa7.png">

[2020-07-07 07:49] rayzhou2017 opened #666 "role list is missing when inviting user to a regular project"
<img width="788" alt="Screen Shot 2020-07-07 at 3 48 05 PM" src="https://user-images.githubusercontent.com/28859385/86740567-55b13f80-c069-11ea-8c6a-f0545fde9da9.png">

[2020-07-07 07:54] leoendless commented on #665
@wansir Should `self-provisioner` have the federated project permission?

[2020-07-08 02:33] leoendless commented on #601
the problem of wrong match API.

[2020-07-08 02:33] #601 closed

[2020-07-08 02:34] #571 closed

[2020-07-08 02:35] leoendless commented on #566
you need to specify the log path to collection.

[2020-07-08 03:02] wanjunlei commented on #566
got it

[2020-07-08 03:02] #566 closed

[2020-07-08 03:10] leoendless commented on #544
This problem has been fixed

[2020-07-08 03:10] #544 closed

[2020-07-08 03:16] Ma-Dan opened #675 "Create configmap get method not allowd error"
**Describe the bug**
Log in with platform-admin role, create config map from /clusters/???/configmaps, get method not allowed error, and config map is not created.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/38337958/86870502-19362000-c10b-11ea-816d-76f8a0bfe59d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.0.

[2020-07-08 05:09] leoendless commented on #567
The annotations are added to the job, not pod. If you want to add an annotation to the pod, you need to edit the pod template by yaml.

[2020-07-08 05:16] leoendless commented on #561
Could you please re-check this issue after you update the console image to the latest version?

[2020-07-08 06:11] #567 closed

[2020-07-08 06:19] wanjunlei commented on #561
The problem still exists in latest version.

[2020-07-08 06:22] leoendless commented on #561
Please post the job's yaml

[2020-07-08 06:54] #625 closed

[2020-07-08 07:00] huanggze commented on #615
/milestone 3.0.1

[2020-07-08 07:00] #618 closed

[2020-07-08 09:09] wanjunlei commented on #561
kind: Job
apiVersion: batch/v1
metadata:
  name: job4
  namespace: job-test
  labels:
    app: job4
  annotations:
    kubesphere.io/creator: wanjunlei
    revisions: >-
      {"1":{"status":"running","desire":1,"uid":"a8850c7a-8e59-4d63-87f1-381ac23a2ff4","start-time":"2020-07-08T09:08:17Z","completion-time":"0001-01-01T00:00:00Z"}}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 6
  sele

[2020-07-08 09:10] wanjunlei commented on #561
http://139.198.112.97:30885/
You can test it

[2020-07-08 09:39] rayzhou2017 commented on #666
verified

[2020-07-08 09:39] #666 closed

[2020-07-08 09:42] rayzhou2017 commented on #605
verified

[2020-07-08 09:42] #605 closed

[2020-07-08 09:46] rayzhou2017 commented on #665
/cc @wansir

[2020-07-08 09:49] rayzhou2017 commented on #603
verified

[2020-07-08 09:49] #603 closed

[2020-07-08 09:51] rayzhou2017 commented on #597
verified

[2020-07-08 09:51] #597 closed

[2020-07-08 09:52] leoendless commented on #561
I found that on clusters with versions lower than 1.18, the startupProbe of the job is ignored.

[2020-07-08 09:54] rayzhou2017 commented on #586
verified

[2020-07-08 09:54] #586 closed

[2020-07-08 09:59] rayzhou2017 commented on #585
The max number is incorrect. It is set to 62 instead of 63 now. `b-1234567890-1234567890-1234567890-1234567890-1234567890-12345-e` is 64, I have to remove two letters to make it legal.

[2020-07-08 10:01] leoendless commented on #561
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

Need to check if the startupProbe feature enabled.

[2020-07-08 10:05] rayzhou2017 commented on #584
verified

[2020-07-08 10:05] #584 closed

[2020-07-08 10:05] #561 closed

[2020-07-08 10:06] rayzhou2017 commented on #536
verified

[2020-07-08 10:06] #536 closed

[2020-07-08 10:07] rayzhou2017 commented on #516
verified

[2020-07-08 10:07] #516 closed

[2020-07-08 10:08] rayzhou2017 commented on #485
verified

[2020-07-08 10:08] #485 closed

[2020-07-08 10:29] leoendless commented on #585
Why not remove a `-`? The name cannot end with `-`.

[2020-07-08 11:53] rayzhou2017 commented on #515
verified

[2020-07-08 11:53] #515 closed

[2020-07-08 12:05] rayzhou2017 commented on #498
verified

[2020-07-08 12:05] #498 closed

[2020-07-08 12:08] rayzhou2017 commented on #496
verified

[2020-07-08 12:08] #496 closed

[2020-07-08 12:09] rayzhou2017 commented on #464
verified

[2020-07-08 12:09] #464 closed

[2020-07-08 12:09] rayzhou2017 commented on #458
verified

[2020-07-08 12:09] #458 closed

[2020-07-08 12:10] rayzhou2017 commented on #383
verified

[2020-07-08 12:10] #383 closed

[2020-07-08 12:19] rayzhou2017 commented on #361
verified

[2020-07-08 12:19] #361 closed

[2020-07-08 12:20] rayzhou2017 commented on #327
verified

[2020-07-08 12:20] #327 closed

[2020-07-08 12:21] rayzhou2017 commented on #315
verified

[2020-07-08 12:21] #315 closed

[2020-07-08 12:24] rayzhou2017 commented on #589
verified

[2020-07-08 12:24] #589 closed

[2020-07-08 12:25] rayzhou2017 commented on #356
verified

[2020-07-08 12:25] #356 closed

[2020-07-08 13:23] rayzhou2017 commented on #316
verified

[2020-07-08 13:23] #316 closed

[2020-07-08 13:26] #650 closed

[2020-07-08 13:28] rayzhou2017 commented on #319
verified

[2020-07-08 13:28] #319 closed

[2020-07-08 13:31] rayzhou2017 opened #684 "Email testing title should be localized"
I am in English locale, the content is as expected, but the title is Chinese

<img width="582" alt="Screen Shot 2020-07-08 at 9 28 03 PM" src="https://user-images.githubusercontent.com/28859385/86924615-4530c000-c162-11ea-8072-a3d9d8013380.png">

[2020-07-08 13:36] benjaminhuo commented on #684
/assign @junotx
@junotx pls take a look at this

[2020-07-09 01:08] #578 closed

[2020-07-09 02:09] rayzhou2017 opened #685 "Session not time out"
I opened the console last night. This morning I restarted ks services and still can use the console without re-login.

[2020-07-09 05:17] rayzhou2017 opened #688 "Description for creating fed project"
It is better to describe it is a fed project, for instance, here `Create Federated Project`
<img width="962" alt="Screen Shot 2020-07-09 at 1 15 50 PM" src="https://user-images.githubusercontent.com/28859385/86999983-82d72c80-c1e6-11ea-868c-d4d10781fdb0.png">

[2020-07-09 06:50] rayzhou2017 commented on #585
I see. The msg did not change, so I thought it is the same reason.

[2020-07-09 06:50] #585 closed

[2020-07-09 07:00] Sherlock113 commented on #688
I found this place in code:
<img width="993" alt="截屏2020-07-09下午2 47 15" src="https://user-images.githubusercontent.com/65327072/87006395-2fb7a680-c1f3-11ea-881f-ea7fb683f5f9.png">

I tried to change it and build it locally. It turned out that this UI text determines at least four places in console:

<img width="1092" alt="截屏2020-07-09下午2 56 40" src="https://user-images.githubusercontent.com/65327

[2020-07-09 08:47] rayzhou2017 commented on #314
verified

[2020-07-09 08:47] #314 closed

[2020-07-09 08:53] rayzhou2017 commented on #379
verified

[2020-07-09 08:53] #379 closed

[2020-07-09 08:54] rayzhou2017 commented on #358
The design changed

[2020-07-09 08:54] #358 closed

[2020-07-09 08:54] #317 closed

[2020-07-09 08:55] #384 closed

[2020-07-09 08:56] rayzhou2017 commented on #511
verified

[2020-07-09 08:56] #511 closed

[2020-07-09 08:56] #528 closed

[2020-07-10 03:17] rayzhou2017 commented on #688
verified

[2020-07-10 03:17] #688 closed

[2020-07-10 03:21] rayzhou2017 commented on #377
verified

[2020-07-10 03:21] #377 closed

[2020-07-10 03:24] rayzhou2017 commented on #362
verified

[2020-07-10 03:24] #362 closed

[2020-07-10 03:25] rayzhou2017 commented on #541
/cc @huanggze

[2020-07-10 03:47] rayzhou2017 opened #698 "The quick project creation page not refresh automatically"
Click the left up project menu to the project list page, and create a new project over there. It seems to clean all items in the project list page.
<img width="1143" alt="Screen Shot 2020-07-10 at 11 44 52 AM" src="https://user-images.githubusercontent.com/28859385/87114390-0b1b0780-c2a3-11ea-800e-fa37ead52305.png">

[2020-07-10 05:53] leoendless commented on #560
We remove the app search option in cluster management, but you can use it in normal project.

[2020-07-10 06:31] Ma-Dan opened #700 "Configmap and secret mount interface displays mount read-write mode option"
![image](https://user-images.githubusercontent.com/38337958/87123645-c0f15080-c2b9-11ea-9d0d-92167d1d99ba.png)

**What would you like to be added**:
Configmap and secret can only be mounted read-only mode, so read-write mode is not needed here.

**Why is this needed**:
This option may misguide users.

[2020-07-10 06:38] leoendless commented on #700
@harrisonliu5 Please help to remove the read-write option of configmaps and secrets.

[2020-07-10 07:01] Sherlock113 opened #703 "Can't add UI text for "_CREATE_DESC" in Authorized Users"
**Describe the bug**

For a certain role, if there is no user assigned this role, the description displays _CREATE_DESC which cannot be used as a key to add either ZH-CN or EN texts to (I tried to use it as a key to add texts but local build failed).

**Environment**
KubeSphere web console

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Project Roles' under "Project Settings".

<img w

[2020-07-10 07:05] Sherlock113 commented on #703
Besides, here is the ZH-CN and EN text for this part:

ZH-CN: 目前没有用户被授权此角色。
EN: Currently there is no authorized user for this role.

[2020-07-10 07:10] leoendless commented on #703
/assign

[2020-07-10 07:23] #703 closed

[2020-07-10 08:15] rayzhou2017 opened #708 "Log in Page should be localized based on browser default language."
My browser is English by default, but the login page is Chinese.
<img width="732" alt="Screen Shot 2020-07-10 at 4 14 06 PM" src="https://user-images.githubusercontent.com/28859385/87132481-8b079880-c2c8-11ea-92f0-6834ccf914be.png">
<img width="644" alt="Screen Shot 2020-07-10 at 4 14 13 PM" src="https://user-images.githubusercontent.com/28859385/87132510-90fd7980-c2c8-11ea-9966-e8a4a74d6e04.png">

[2020-07-10 09:22] rayzhou2017 opened #710 "devops stats should not show in ws overview page"
The env does not enable devops. So it is better not to show devops (0, zero) in the workspace overview page.
<img width="1227" alt="Screen Shot 2020-07-10 at 5 20 32 PM" src="https://user-images.githubusercontent.com/28859385/87139049-f1dd7f80-c2d1-11ea-9c88-0c1ddab727f3.png">

[2020-07-10 09:36] rayzhou2017 opened #711 "self-provisioner can't see its project after creating it"
**General remarks**

**Describe the bug**
A standalone minimal env. Using a self-provisioner to create a project but can't see it in the project list page. Re-login will see it.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
How many nodes and their hardware configuration: allinone

**Expected behavior**
Should be able to see the new project immediately.

[2020-07-11 01:32] rayzhou2017 opened #715 "Can't delete custom monitoring dashboard"
**Describe the bug**
self-provisioner has nowhere to delete custom monitoring dashboard.
<img width="1240" alt="Screen Shot 2020-07-11 at 9 29 11 AM" src="https://user-images.githubusercontent.com/28859385/87213690-2cd6c600-c359-11ea-9af3-d88a2ab03914.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone

**Expected behavior**
self-provisioner is able to d

[2020-07-11 01:44] rayzhou2017 opened #716 "self-provisioner can't change project resource request/limit"
**Describe the bug**
A self-provisioner can't change its project resource request/limit
<img width="1280" alt="Screen Shot 2020-07-11 at 9 40 50 AM" src="https://user-images.githubusercontent.com/28859385/87213886-ea15ed80-c35a-11ea-8ec2-fdfe14ef6898.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone, minimal installation

**Expected behavior**
self-pro

[2020-07-11 02:03] rayzhou2017 opened #717 "self-provisioner can't edit project resource quota"
**Describe the bug**
The edit menu of project resource quota does not show up for self-provisioner
<img width="1047" alt="Screen Shot 2020-07-11 at 9 59 49 AM" src="https://user-images.githubusercontent.com/28859385/87214239-817c4000-c35d-11ea-89ce-3eac7c6012cf.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone, minimal installation

**Expected behavior

[2020-07-11 02:04] rayzhou2017 commented on #717
Is it as design? If yes, who is responsible to edit the quota? platform `admin` or workspace `admin`?

[2020-07-11 02:41] rayzhou2017 opened #718 "open application pages throwing error"
**Describe the bug**
A minimal installation with enabling project gateway, open traffic management and tracing, got error msg.
<img width="1215" alt="Screen Shot 2020-07-11 at 10 36 16 AM" src="https://user-images.githubusercontent.com/28859385/87214825-c3f44b80-c362-11ea-992a-1ea9848d3ce6.png">
<img width="1215" alt="Screen Shot 2020-07-11 at 10 36 23 AM" src="https://user-images.githubuserconten

[2020-07-11 15:05] leoendless commented on #717
The user who has the permission of manage all the projects in the workspace can edit the project's quota.

[2020-07-12 03:09] #549 closed

[2020-07-12 11:23] rayzhou2017 commented on #718
verified

[2020-07-12 11:23] #718 closed

[2020-07-12 11:24] rayzhou2017 commented on #717
verified

[2020-07-12 11:24] #717 closed

[2020-07-12 11:26] rayzhou2017 commented on #716
verified

[2020-07-12 11:26] #716 closed

[2020-07-12 11:26] rayzhou2017 commented on #715
verified

[2020-07-12 11:26] #715 closed

[2020-07-12 11:27] rayzhou2017 commented on #711
verified

[2020-07-12 11:27] #711 closed

[2020-07-12 11:28] rayzhou2017 commented on #710
verified

[2020-07-12 11:28] #710 closed

[2020-07-12 11:29] rayzhou2017 commented on #698
verified

[2020-07-12 11:29] #698 closed

[2020-07-12 12:56] rayzhou2017 opened #724 "network policy issues"
**Describe the bug**
The cluster does not enable network policy. So it should not appear on/off when creating workspace or show off only. And the workspace info also should not show network policy or show off (can't editable).
<img width="617" alt="Screen Shot 2020-07-12 at 8 52 29 PM" src="https://user-images.githubusercontent.com/28859385/87246787-0791a700-c482-11ea-8af3-513741598dc7.png">
<img

[2020-07-12 13:30] leoendless commented on #724
Network policy should be removed when creating a workspace. Because We can't judge whether to display this selection box if no clusters related when creating a workspace.

[2020-07-13 03:35] rayzhou2017 opened #729 "Link mouse over on non-linkable text"
**Describe the bug**
Self-povisioner mouses over on the project resource quota and shows linkable icon, but it is not linkable.
<img width="1280" alt="Screen Shot 2020-07-13 at 11 33 17 AM" src="https://user-images.githubusercontent.com/28859385/87268407-dc986900-c4fc-11ea-96e1-575f62a00e01.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone, minimal ins

[2020-07-13 03:58] leoendless commented on #617
Duplicate of #https://github.com/kubesphere/kubesphere/issues/2356

[2020-07-13 03:58] #617 closed

[2020-07-13 04:07] #218 closed

[2020-07-13 05:17] #221 closed

[2020-07-13 05:50] rayzhou2017 opened #732 "No translated for deleting deployment."
**Describe the bug**
No translated from English for deleting deployment.

<img width="596" alt="Screen Shot 2020-07-13 at 1 48 17 PM" src="https://user-images.githubusercontent.com/28859385/87274961-a6b0b000-c50f-11ea-8306-0c24adb706bb.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

[2020-07-13 06:01] rayzhou2017 opened #733 "rerun job error"
**Describe the bug**
Run a job successfully, then try to re-run the job, got error msg.

<img width="1246" alt="Screen Shot 2020-07-13 at 1 58 54 PM" src="https://user-images.githubusercontent.com/28859385/87275625-1b381e80-c511-11ea-95b7-668360b61345.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone, minimal installation

**Expected behavior**
Can re-

[2020-07-13 06:02] leoendless commented on #733
Duplicate of #554

[2020-07-13 06:02] #733 closed

[2020-07-13 06:45] Sherlock113 opened #736 "Devops cannot be changed to DevOps"
I noticed Devops is already changed to DevOps for this part, but the UI still displays Devops.
<img width="1432" alt="截屏2020-07-13下午2 33 50" src="https://user-images.githubusercontent.com/65327072/87278238-8d5f3200-c516-11ea-878d-6bc566a2e077.png">

For its ZH-CN, probably because Devops is only effective for this value instead of "DevOps", the Chinese value does not match it, resulting in untrans

[2020-07-13 09:53] huanggze opened #740 "Fuzzing search doesn't work properly"
I can find out `PrometheusRules` by type `prom`, but no luck with `Prom`.

![image](https://user-images.githubusercontent.com/22350668/87291205-901b5080-c531-11ea-96ae-f7832709af11.png)
![image](https://user-images.githubusercontent.com/22350668/87291244-9b6e7c00-c531-11ea-8328-ab2600b0a288.png)

[2020-07-13 09:54] huanggze commented on #740
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-13 09:57] zryfish commented on #740
yeah, keyword currently only searches in the name field, Prometheus is Kind, let's see what we can do.
/assign

[2020-07-13 10:29] #700 closed

[2020-07-14 02:40] #732 closed

[2020-07-14 03:51] leoendless commented on #736
@wansir Please check the role-templates, and modify the text.

[2020-07-14 04:04] huanggze opened #747 "Improve link redirection"
I would expect it redirects me to Deployment List Page with correct namespace filtering conditions.

![image](https://user-images.githubusercontent.com/22350668/87382714-2f8c2200-c5ca-11ea-93a1-7c23ba94faaf.png)

![image](https://user-images.githubusercontent.com/22350668/87382642-04a1ce00-c5ca-11ea-9080-3459931dc7b3.png)

[2020-07-14 04:05] huanggze commented on #747
/assign @leoendless
/area console
/milestone 3.0.0

[2020-07-14 06:32] huanggze commented on #301
![image](https://user-images.githubusercontent.com/22350668/87392275-cebb1480-c5de-11ea-9a38-40763545c199.png)

/remove-kind

[2020-07-14 06:32] huanggze commented on #301
/remove-kind need-to-verify

[2020-07-14 06:39] huanggze opened #748 "Cannot set update strategy for StatefulSet"
![image](https://user-images.githubusercontent.com/22350668/87392812-c2838700-c5df-11ea-8aca-86c0d1bace1a.png)

![image](https://user-images.githubusercontent.com/22350668/87392842-cf07df80-c5df-11ea-8ee2-6f4bf2e15629.png)

[2020-07-14 06:39] huanggze commented on #748
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-14 06:41] huanggze commented on #630
verified

[2020-07-14 06:41] #630 closed

[2020-07-14 06:45] huanggze commented on #621
/remove-kind need-to-verify

![image](https://user-images.githubusercontent.com/22350668/87393365-a502ed00-c5e0-11ea-8183-11f6ce62b2c4.png)

[2020-07-14 06:46] huanggze commented on #614
verified

[2020-07-14 06:46] #614 closed

[2020-07-14 06:47] huanggze commented on #612
verified

[2020-07-14 06:47] #612 closed

[2020-07-14 06:48] huanggze commented on #611
verified

[2020-07-14 06:48] #611 closed

[2020-07-14 06:49] huanggze opened #749 "Page wasn't auto refreshed after deleting an ingress"
![image](https://user-images.githubusercontent.com/22350668/87393786-412cf400-c5e1-11ea-8484-f1bb89daefba.png)

[2020-07-14 06:50] huanggze commented on #749
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-14 06:50] huanggze commented on #609
verfied

[2020-07-14 06:50] #609 closed

[2020-07-14 06:57] huanggze commented on #598
Why now `targetPort` is required? I should be allowed to leave it empty

![image](https://user-images.githubusercontent.com/22350668/87394348-40489200-c5e2-11ea-99a5-14e815239abd.png)

https://kubernetes.io/docs/concepts/services-networking/service/

/kind-remove verfied

[2020-07-14 06:58] huanggze commented on #598
/kind-remove need-to-verify

[2020-07-14 06:58] huanggze commented on #598
/remove-kind need-to-verify

[2020-07-14 07:13] huanggze commented on #595
verified

[2020-07-14 07:13] #595 closed

[2020-07-14 07:14] huanggze commented on #594
verified

[2020-07-14 07:14] #594 closed

[2020-07-14 07:15] huanggze commented on #593
verified

[2020-07-14 07:15] #593 closed

[2020-07-14 07:15] #572 closed

[2020-07-14 07:16] huanggze commented on #592
verified

[2020-07-14 07:16] #592 closed

[2020-07-14 07:18] huanggze commented on #591
/remove-kind need-to-verify

[2020-07-14 08:13] huanggze opened #750 "Logs, Events and Audits search page should be hidden"
The components of logging, auditing, events were not enabled in my env.

![image](https://user-images.githubusercontent.com/22350668/87401445-b7832380-c5ec-11ea-831a-67e31aa0f165.png)

[2020-07-14 08:13] huanggze commented on #750
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-14 08:27] huanggze commented on #541
/kind need-to-verify

[2020-07-14 09:09] wisheen opened #751 "Access API Server 502 after using HTTPS proxy"
**General remarks**

**Describe the bug**
Using Nginx as a reverse proxy, when configured for HTTPS access, All  /api/xx requests report 502 errors， But /kapis/xxx are fine。Using ip:30880  is also correct。

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Env

[2020-07-14 09:33] rayzhou2017 commented on #541
verified

[2020-07-14 09:33] #541 closed

[2020-07-14 09:37] rayzhou2017 commented on #729
Wrong fix? I still can see the hand icon on the resource quota item.

[2020-07-14 09:43] watermelon-brother commented on #67
ui不开源怎么二次开发了，还说啥全开源？

[2020-07-14 10:06] leoendless commented on #67
当前版本，组件库的用法可以参考 console 里已有的用法来进行开发。
在之后的版本中，我们将维护一套公共组件库 https://github.com/kubesphere/kube-design。 当前版本中我们将主要关注于核心功能。

[2020-07-14 10:50] rayzhou2017 commented on #67
Please use English in github

[2020-07-14 10:50] #67 closed

[2020-07-14 11:01] leoendless commented on #751
@zryfish Please help to resolve the problem.

[2020-07-14 11:03] leoendless commented on #750
We move the detection inside each modals.

[2020-07-14 12:41] FeynmanZhou opened #755 "The language switch is invalid"
I installed KubeSphere on 14, July, and I changed the Lang to English and TC, but it still displays Chinese.

![image](https://user-images.githubusercontent.com/40452856/87426743-4191b300-c612-11ea-840c-f02ea5051376.png)

[2020-07-15 01:01] rayzhou2017 opened #757 "Blank when click into mysql-exporter pod page"
**Describe the bug**
Deploy mysql and mysql exporter from app store, then try to click into mysql exporter pod page, got blank page and no msg shows.
<img width="1215" alt="Screen Shot 2020-07-15 at 8 58 45 AM" src="https://user-images.githubusercontent.com/28859385/87490988-961c4900-c679-11ea-97dc-aac29d272292.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**

[2020-07-16 02:28] rayzhou2017 commented on #729
verified

[2020-07-16 02:28] #729 closed

[2020-07-16 08:39] junotx commented on #684
/assign @leoendless

`Validation_title` attribute of request body  for `notification.kubesphere.io/v2/serviceconfigs/validation` should be localized

![image](https://user-images.githubusercontent.com/49136171/87648947-8fc5c400-c782-11ea-901f-51b6af1ecd93.png)

[2020-07-16 11:21] rayzhou2017 commented on #757
verified

[2020-07-16 11:21] #757 closed

[2020-07-16 11:22] rayzhou2017 commented on #548
verified

[2020-07-16 11:22] #548 closed

[2020-07-17 02:33] rayzhou2017 opened #773 "composing app status is updating all the time"
**Describe the bug**
The samle app bookinfo is deployed successfully, but the status is updating all the time.
<img width="1034" alt="Screen Shot 2020-07-17 at 10 30 55 AM" src="https://user-images.githubusercontent.com/28859385/87742199-d0701c80-c818-11ea-984f-bff6ddbe78b2.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone

[2020-07-17 02:36] leoendless commented on #773
Duplicate of #https://github.com/kubesphere/kubesphere/issues/2351

[2020-07-17 02:36] #773 closed

[2020-07-17 04:15] rayzhou2017 opened #775 "host cluster description is not localized"
**Describe the bug**
When make the cluster as host in multi-cluster env, it will add itself automatically as the member and provide description. But it is not localized.
<img width="1063" alt="Screen Shot 2020-07-17 at 12 12 03 PM" src="https://user-images.githubusercontent.com/28859385/87747858-f997a980-c826-11ea-979d-0d162fa91c9f.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-

[2020-07-17 04:33] Sherlock113 commented on #775
I think this is hard coded? I cannot find this sentence in locales files.

[2020-07-17 04:53] rayzhou2017 commented on #775
yes, my mistake. It is up to user to modify the description based on her/his locale, not by the system.

[2020-07-17 04:53] #775 closed

[2020-07-17 06:44] benjaminhuo opened #782 "max available should be max unavailable"
**Describe the bug**
"Max available" should be changed to "Max unavailable" in the container image page when creating a stateless service

"更新时容器组最大数量"  should be changed to "更新时容器组允许超出的最大数量"

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0

**Environment**
Multi-cluster

**To Reproduce**
![Snip20200717_10](https://user-images.githubusercontent.com/18525465/87756233-1d64ea80-c83b-11ea-8af

[2020-07-17 07:30] benjaminhuo opened #784 "Cannot find any pod in multi-cluster stateless svc's resource status UI"
**Describe the bug**
Create a multi-cluster stateless svc, then click into the svc
No pod can be found even after selecting a cluster

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0 build 2020-07-17

**Environment**
multi-cluster

(and other info are welcomed to help us debugging)

**To Reproduce**
![Snip20200717_20](https://user-images.githubusercontent.com/18525465/87760480-61a7b900-c8

[2020-07-17 09:21] rayzhou2017 opened #788 "No CRD found"
**Describe the bug**
The CRD list is empty
<img width="1242" alt="Screen Shot 2020-07-17 at 5 20 08 PM" src="https://user-images.githubusercontent.com/28859385/87770634-d8987e00-c851-11ea-8c9d-db401da1f5dd.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev

**Environment**
allinone, minimal installation

[2020-07-18 07:01] benjaminhuo opened #790 "Resource status and Service access info mismatch after delete/add cluster"
**Describe the bug**
1. Create a multi-cluster stateless svc and add 3 clusters in the placement.
2. delete one cluster info by editing yaml including override and placement. This step is ok.
3. add the deleted cluster back by editing yaml.
4. the new added cluster cannot be found in resource status UI , by can be found in service access UI

![Snip20200717_38](https://user-images.githubusercontent

[2020-07-19 01:07] rayzhou2017 commented on #788
It is caused by CRD API version which is not supported by K8s 1.15. Change the version back to be compatible with 1.15

[2020-07-19 01:09] rayzhou2017 commented on #751
Please check if it still exists in 3.0.0 @zryfish

[2020-07-19 01:18] rayzhou2017 commented on #588
/cc @FeynmanZhou We need come out with the urls for all links in console 3.0.0

[2020-07-19 01:52] rayzhou2017 commented on #408
duplicated with #495

[2020-07-19 01:52] #408 closed

[2020-07-19 01:53] #357 closed

[2020-07-19 02:00] rayzhou2017 commented on #219
please check if it still exists in 3.0.0

[2020-07-19 02:00] rayzhou2017 commented on #198
Please use English

[2020-07-19 02:00] #198 closed

[2020-07-19 02:02] rayzhou2017 commented on #197
Please use English. Given it is a suggestion we will keep it till a decesion maken.

[2020-07-19 02:03] FeynmanZhou commented on #588
ok, all the related links will be provided next week, I am working on it.

[2020-07-19 02:03] rayzhou2017 commented on #193
The suggestion says to tell user such limitation in console instead of showing 0%.

[2020-07-19 02:08] rayzhou2017 commented on #39
Please use English. Given it is a suggestion we will keep it for tracking.

[2020-07-19 02:10] rayzhou2017 commented on #20
What is the progress about this issue?

[2020-07-19 02:12] FeynmanZhou commented on #755
/verified

[2020-07-19 02:12] #755 closed

[2020-07-19 03:06] benjaminhuo opened #793 "The delete button should disappear after editing svc"
**Describe the bug**
1. Select a svc , a delete button appears on top of the svc list
2. Editing the svc and click update
3. The delete button is still there
![Snip20200718_39](https://user-images.githubusercontent.com/18525465/87866095-d77d6300-c9af-11ea-8c19-a2dbce2f903c.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0 build 2020-07-17

**Expected behavior**
The delete button shoul

[2020-07-19 08:48] huanggze opened #795 "Should be instant query for fetching current metrics"
No need to set `start` and `end`. Here should be instant query.

![image](https://user-images.githubusercontent.com/22350668/87870999-7bcace00-c9df-11ea-906e-f3267c339236.png)

[2020-07-19 08:49] huanggze commented on #795
/assign @leoendless
/kind bug
/milestone 3.0.0
/priority high

[2020-07-19 08:52] #795 closed

[2020-07-19 11:13] rayzhou2017 commented on #724
verified

[2020-07-19 11:13] #724 closed

[2020-07-19 11:16] rayzhou2017 opened #796 "network policy switch button shows in workspace basic info"
**Describe the bug**
Minimal installation which has network policy disabled, but the button still shows in the basic info of workspace.
<img width="1241" alt="Screen Shot 2020-07-19 at 7 13 28 PM" src="https://user-images.githubusercontent.com/28859385/87873418-24832880-c9f4-11ea-923a-7abc9c429704.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environm

[2020-07-19 11:40] rayzhou2017 opened #798 "Notification not shown in cluster settings"
**Describe the bug**
Enable notification, but still can't see the setting in the cluster settings. I guess the condition may be incorrect since I only enable notification (alerting, logging, monitoring are all disabled)

<img width="425" alt="Screen Shot 2020-07-19 at 7 34 21 PM" src="https://user-images.githubusercontent.com/28859385/87873829-4b8f2980-c9f7-11ea-88ab-6d96a25ee85e.png">

**Versions

[2020-07-19 11:48] rayzhou2017 commented on #798
As I guess, only after I enabled alerting, all work fine. But I think notification should be an independent compoent from alerting. /cc @benjaminhuo

[2020-07-19 11:52] rayzhou2017 commented on #684
verified

[2020-07-19 11:52] #684 closed

[2020-07-20 01:58] rayzhou2017 commented on #796
verified

[2020-07-20 01:58] #796 closed

[2020-07-20 02:01] rayzhou2017 opened #800 "Network policy should be off by default"
**Describe the bug**
Network policy is disabled, so the basic info of ws should be off by default. Otherwise it is confusing.
![Screen Shot 2020-07-20 at 10 02 01 AM](https://user-images.githubusercontent.com/28859385/87892576-065b0e00-ca70-11ea-8b7c-71acdbaec4b0.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone, minimal installation

[2020-07-20 02:06] rayzhou2017 commented on #800
This is caused by dirty data.

[2020-07-20 02:06] #800 closed

[2020-07-20 02:14] huanggze commented on #591
/remove-kind need-to-verify

![image](https://user-images.githubusercontent.com/22350668/87893180-b2e9bf80-ca71-11ea-8b25-27f2003a9062.png)

[2020-07-20 02:14] huanggze commented on #598
/remove-kind need-to-verify

[2020-07-20 02:24] rayzhou2017 commented on #788
verified

[2020-07-20 02:24] #788 closed

[2020-07-20 02:43] rayzhou2017 opened #803 "volume count is incorrect"
**Describe the bug**
The volume count is always zero which is incorrect.
<img width="1233" alt="Screen Shot 2020-07-20 at 10 41 59 AM" src="https://user-images.githubusercontent.com/28859385/87894583-ba12cc80-ca75-11ea-94a8-d34e3d7f8110.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone

[2020-07-20 02:53] rayzhou2017 opened #804 "Can't open CRD detailed page"
**Describe the bug**
Try to configure cluster configuration, but failed to enter the detailed page.
<img width="1166" alt="Screen Shot 2020-07-20 at 10 51 19 AM" src="https://user-images.githubusercontent.com/28859385/87895050-06aad780-ca77-11ea-8b06-959c3dce18d7.png">

<img width="1230" alt="Screen Shot 2020-07-20 at 10 51 13 AM" src="https://user-images.githubusercontent.com/28859385/87895068-10

[2020-07-20 02:56] leoendless commented on #804
@zryfish GET /apis/apiextensions.k8s.io/v1/customresourcedefinitions/clusters.cluster.kubesphere.io 404

[2020-07-20 02:56] zryfish commented on #804
@leoendless better use `v1beta1` instead of `v1` to fetch CRD, v1 is not available in kubernete v1.15.x , but v1beta1 is available in v1.18.x

[2020-07-20 03:07] junotx commented on #798
Notification component can be installed witout the alert，but console cannot show email setting on cluster setting @leoendless

[2020-07-20 03:25] rayzhou2017 commented on #804
verified

[2020-07-20 03:25] #804 closed

[2020-07-20 03:50] benjaminhuo opened #807 "Service sessionAffinity is enabled although it's not selected in UI"
**Describe the bug**
Session affinity is enabled although it's not selected in UI when creating the svc
![Snip20200720_60](https://user-images.githubusercontent.com/18525465/87897729-cea79280-ca7e-11ea-90a8-69f6399e8216.png)
![Snip20200720_57](https://user-images.githubusercontent.com/18525465/87897732-d0715600-ca7e-11ea-9411-be74c202c2b6.png)
![Snip20200720_56](https://user-images.githubuserconte

[2020-07-20 04:04] rayzhou2017 opened #809 "Network policy shows in project when disabled"
**Describe the bug**
Network policy is disabled, but still shows when creating project
<img width="962" alt="Screen Shot 2020-07-20 at 12 02 17 PM" src="https://user-images.githubusercontent.com/28859385/87898531-f4359b80-ca80-11ea-8442-ecfdd6944a51.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone with network policy disabled

**Ex

[2020-07-20 05:16] rayzhou2017 commented on #342
verified

[2020-07-20 05:16] #342 closed

[2020-07-20 06:05] Carlosfengv commented on #197
![image](https://user-images.githubusercontent.com/23092051/87904896-fbb17080-ca91-11ea-9925-cf1536c5ed03.png)
There is history in the new design

[2020-07-20 06:40] rayzhou2017 opened #811 "Create PVC failed"
**Describe the bug**
Create a new storage class, then create a pvc of the sc but failed
<img width="1074" alt="Screen Shot 2020-07-20 at 2 17 39 PM" src="https://user-images.githubusercontent.com/28859385/87907188-b3488180-ca96-11ea-8ec6-40aded8f730b.png">
<img width="1169" alt="Screen Shot 2020-07-20 at 2 17 32 PM" src="https://user-images.githubusercontent.com/28859385/87907204-b8a5cc00-ca96-11e

[2020-07-20 07:33] leoendless commented on #809
We remove the selection here. You can enable the network policy in the project -> network policy.

[2020-07-20 07:59] rayzhou2017 opened #814 "Network policy switch is missing"
**Describe the bug**
Network policy is enabled, but the switch is missing when creating a ws. It does appear in ws basic info. I think there are two conditions for showing the switch or not. One is enabled or not. The other one is if the CNI supports network policy or not. /cc @duanjiong I think it should be the backend's responsibility to provide such API for frontend.

<img width="910" alt="Scre

[2020-07-20 08:06] leoendless commented on #814
We removed the network policy settings in workspace creation and project creation. Because the cluster has not been selected. Now you can edit the network policy in the workspace's base-info or the project's network policy page.

[2020-07-20 08:28] duanjiong commented on #814
This makes sense as a deployment configuration item. The standard CNI only does address management and network card management, network policy is not part of this. So there is no unified interface to determine whether each plug-in supports network policy, and even if the Support, if the user does not turn it on, it is useless, and there will also be adaptations to the development of different plug

[2020-07-20 09:24] #814 closed

[2020-07-20 10:16] shaowenchen commented on #480
Please describe your question in other issues. @turtlechang

/close

[2020-07-20 10:16] #480 closed

[2020-07-20 10:16] shaowenchen commented on #486
/close

[2020-07-20 10:16] #486 closed

[2020-07-20 10:17] shaowenchen commented on #422
/close

[2020-07-20 10:17] #422 closed

[2020-07-20 10:18] shaowenchen commented on #437
fixed
/close

[2020-07-20 10:18] #437 closed

[2020-07-20 10:18] shaowenchen commented on #439
fixed
/close

[2020-07-20 10:18] #439 closed

[2020-07-20 10:20] shaowenchen commented on #440
Frontend paging is needed here.

[2020-07-20 10:22] shaowenchen commented on #443
/close

[2020-07-20 10:22] #443 closed

[2020-07-20 10:39] shaowenchen commented on #446
/kind-remove need-to-verify

in single cluster

 I got /kapis/clusters/default/jenkins.kubesphere.io/v1alpha2/jenkins/job/aaaam489l/job/aaaaa/2/artifact/newfile.txt

But I need /kapis/jenkins.kubesphere.io/v1alpha2/jenkins/job/aaaam489l/job/aaaaa/2/artifact/newfile.txt

[2020-07-20 10:43] shaowenchen commented on #472
/close

[2020-07-20 10:43] #472 closed

[2020-07-20 10:44] shaowenchen commented on #449
It can't be repeated.

/close

[2020-07-20 10:44] #449 closed

[2020-07-20 10:48] shaowenchen commented on #473
There are no cluster parameters in URL
![image](https://user-images.githubusercontent.com/43693241/87929809-983b3900-cab9-11ea-9b05-c39941ccc1fe.png)

fixed

/close

[2020-07-20 10:48] #473 closed

[2020-07-20 13:04] rayzhou2017 commented on #809
verified

[2020-07-20 13:04] #809 closed

[2020-07-20 13:10] rayzhou2017 commented on #798
verified

[2020-07-20 13:10] #798 closed

[2020-07-20 14:31] Ma-Dan commented on #560
Query pod by application in a normal project is working now.
But still get empty result when query with no field selected.

[2020-07-20 14:35] Ma-Dan commented on #675
Verified, close issue.

[2020-07-20 14:35] #675 closed

[2020-07-21 02:04] rayzhou2017 opened #826 "Creating snapshot status"
**Describe the bug**
The status is static. I expect it is blinking and updating status automatically
![Screen Shot 2020-07-21 at 10 03 02 AM](https://user-images.githubusercontent.com/28859385/88004381-7f726800-cb39-11ea-9bc9-7a7e3d03497b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

**Environment**
allinone

[2020-07-21 02:12] rayzhou2017 opened #827 "resizing not localized"
**Describe the bug**
In Chinese, but `resizing` not localized
![Screen Shot 2020-07-21 at 10 11 12 AM](https://user-images.githubusercontent.com/28859385/88004883-949bc680-cb3a-11ea-8228-9adafa953866.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

**Environment**
allinone

[2020-07-21 02:27] wanjunlei opened #829 "rerun job error"
**Describe the bug**
Rerun job on the page job records, the first execution is successful, the second execution returns an error

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/88005364-d2e5b580-cb3b-11ea-9cfb-787ad914c086.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-07-21)

/assign @leoendless

[2020-07-21 02:30] Sherlock113 commented on #827
@leoendless Is extra code needed for the text? I can't find "resizing" in locales file.

[2020-07-21 02:52] junotx opened #830 "Keep searching when image is not present"
**General remarks**

**Describe the bug**
When created deployment and input image did not exist, the search continued without indication that the image cannot be found
![image](https://user-images.githubusercontent.com/49136171/88007151-e5fa8480-cb3f-11ea-8d4f-ceba1643c10f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0(2020-07-21)

**Expected behavior**
There should be an indicat

[2020-07-21 03:04] harrisonliu5 commented on #440
1. [GET]https://console.kubesphere.io/kapis/clusters/gondor/devops.kubesphere.io/v1alpha2/devops/test0118z8rs/pipelines/pipe001/runs/?start=0&limit=10

2. [GET]https://console.kubesphere.io/kapis/clusters/gondor/devops.kubesphere.io/v1alpha2/devops/test0118z8rs/pipelines/pipe002/branches/?filter=pull-requests&start=0&limit=10

需要返回 total_count 字段用于分页

[2020-07-21 03:44] rayzhou2017 commented on #830
The backend api should have timeout mechanism.

[2020-07-21 03:45] rayzhou2017 commented on #830
Or it is microservice management to take care of the timeout

[2020-07-21 03:47] rayzhou2017 commented on #811
controller changed back to root. Updat image and verified

[2020-07-21 03:47] #811 closed

[2020-07-21 04:41] liuyp2018 opened #832 "no nodeSelector policy set in the configuration file"
**Describe the bug**
When the CronJob created, the nodeSelector policy is set.
After creation, check that there is no nodeSelector policy set in the configuration file
<img width="903" alt="nodeselector" src="https://user-images.githubusercontent.com/36271543/88013656-8906ca80-cb4f-11ea-974a-38b34709b254.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
memb

[2020-07-21 06:11] Ma-Dan commented on #560
Verified, default key is name, close issue.

[2020-07-21 06:11] #560 closed

[2020-07-21 06:35] harrisonliu5 commented on #440
pipeline list have paged

[2020-07-21 06:41] harrisonliu5 commented on #446
/kind need-to-verify

[2020-07-21 06:44] harrisonliu5 commented on #440
when you add the total_count, the pagination of activities in the pipeline will be ok @shaowenchen

[2020-07-21 07:13] wanjunlei commented on #829
verified

[2020-07-21 07:13] #829 closed

[2020-07-21 07:14] wanjunlei commented on #554
verified

[2020-07-21 07:14] #554 closed

[2020-07-21 09:07] FeynmanZhou opened #845 "Broken link in prow robot"
The link of contribution guide is broken, as you can find the problem in [this PR](https://github.com/kubesphere/console/pull/844#issuecomment-661730344).

[2020-07-21 09:07] rayzhou2017 opened #846 "PR msg broken link"
When people pulls a request, it shows the following message, but the contribution guide link is broken
![Screen Shot 2020-07-21 at 5 06 12 PM](https://user-images.githubusercontent.com/28859385/88035368-9f734d00-cb74-11ea-93c3-51ae8c71f63d.png)

[2020-07-21 09:29] benjaminhuo opened #848 "No events for federated resources in detail UI"
**Describe the bug**
1. created federated service or deployment
2. federated resource events can be found in event search and in kubectl describe federatedxxx xxx
3. no federated resource events can be found in federated resource detail UI

![Snip20200721_93](https://user-images.githubusercontent.com/18525465/88037645-c67f4e00-cb77-11ea-8c21-19479cc6bdcb.png)
![Snip20200721_90](https://user-images

[2020-07-21 09:42] leoendless commented on #846
Duplicate of #845

[2020-07-21 09:42] #846 closed

[2020-07-21 09:51] #830 closed

[2020-07-21 10:18] benjaminhuo opened #852 "Replica is reset to 1 after add diff settings for federated service"
**Describe the bug**
Replica is reset to 1 after add diff settings for federated service

![Snip20200721_102](https://user-images.githubusercontent.com/18525465/88042382-72c43300-cb7e-11ea-9440-0f5bc8bc59f1.png)
![Snip20200721_101](https://user-images.githubusercontent.com/18525465/88042390-75268d00-cb7e-11ea-88bd-4ed94dabecf9.png)
![Snip20200721_100](https://user-images.githubusercontent.com/1852

[2020-07-21 11:58] #845 closed

[2020-07-21 12:02] rayzhou2017 opened #854 "user's role info missing"
**Describe the bug**
The role in user detailed page is missing at the left panel, but the user actually has a role.
<img width="799" alt="Screen Shot 2020-07-21 at 8 00 25 PM" src="https://user-images.githubusercontent.com/28859385/88052559-fd139380-cb8c-11ea-8798-3cf573aa76ee.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone

[2020-07-21 12:30] min-zh commented on #826
@leoendless Could this page add websocket of volumesnapshot event?

[2020-07-21 13:09] leoendless commented on #826
Better to provide the watch API of volumesnapshots

[2020-07-21 14:51] leoendless commented on #803
@min-zh Please fix the API.

[2020-07-22 01:58] harrisonliu5 commented on #440
/kind need-to-verify

[2020-07-22 02:43] min-zh opened #858 "Provisioner of ceph-rbd open to user to fill."
**What would you like to be added**:
 Provisioner of ceph-rbd could be filled by user， not use the fixed “kubernetes.io/rbd”

**Why is this needed**:
New version of KK use “external provisoner of Ceph-rbd”, as intree has problems of rbd-client on new versions of k8s.
On ks-console, when we create sc of ceph-rbd, the provisoner is fixed "kubernetes.io/rbd".
But external provisioner of Ceph-rbd, the

[2020-07-22 02:47] min-zh commented on #858
/cc @leoendless

[2020-07-22 03:21] huanggze commented on #750
verified

[2020-07-22 03:21] #750 closed

[2020-07-22 03:24] huanggze commented on #659
It's OnDelete, no need to do much more on this

[2020-07-22 03:24] #659 closed

[2020-07-22 03:29] rayzhou2017 commented on #854
verified

[2020-07-22 03:29] #854 closed

[2020-07-22 03:48] huanggze opened #861 "Cannot re-type statefulset name"
Initially, I gave sts an invalid name, `78967986sdfs`. It produced error when I clicked create button which was expected. But I just cannot go back and fix it. The valid and new name still produces `78967986sdfs` error.

![image](https://user-images.githubusercontent.com/22350668/88132093-2c6be400-cc11-11ea-837c-8d9fb77bb46b.png)

[2020-07-22 03:51] huanggze commented on #861
/kind bug
/assign @leoendless
/milestone 3.0.0

[2020-07-22 03:55] huanggze opened #864 "Why is it required to specify at least one port for sts only?"
![image](https://user-images.githubusercontent.com/22350668/88132505-3e01bb80-cc12-11ea-8f03-e62efad93b72.png)

[2020-07-22 03:55] huanggze commented on #864
/assign @zryfish
/kind bug
/milestone 3.0.0

[2020-07-22 04:03] huanggze commented on #748
verified

[2020-07-22 04:03] #748 closed

[2020-07-22 06:22] rayzhou2017 commented on #708
/cc @leoendless what status is this issue?

[2020-07-22 06:42] Ma-Dan commented on #636
The issue still exists, search by status get empty result on all status.
![image](https://user-images.githubusercontent.com/38337958/88143239-7234a680-cc29-11ea-8c3a-1867648d8197.png)
![image](https://user-images.githubusercontent.com/38337958/88143266-81b3ef80-cc29-11ea-831a-11ca105ab03e.png)
![image](https://user-images.githubusercontent.com/38337958/88143285-8a0c2a80-cc29-11ea-86a5-af4981125c05

[2020-07-22 06:54] leoendless commented on #708
If you switch your browser's default language, you need to clear the cookies of the console too.

![image](https://user-images.githubusercontent.com/8739949/88144235-37337280-cc2b-11ea-8cd6-8cd29ec2cdcb.png)

[2020-07-22 07:22] rayzhou2017 opened #866 "vm-based app repo shows in the console"
**Describe the bug**
The built-in app repo list shows vm based on.
![Screen Shot 2020-07-22 at 3 20 49 PM](https://user-images.githubusercontent.com/28859385/88146861-02c1b580-cc2f-11ea-8333-dd13770a8c68.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allineone with openpitrix enabled

**Expected behavior**
vm based repo should not appear h

[2020-07-22 07:56] rayzhou2017 opened #868 "The length desc of app repo is not limited"
**Describe the bug**
The tip says the limit is 256, but I can type in 1000 and create successfully.
![Screen Shot 2020-07-22 at 3 53 57 PM](https://user-images.githubusercontent.com/28859385/88150237-b6c53f80-cc33-11ea-97a8-b58782d5e8d4.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone with openpitrix enabled

**Expected behavior**
T

[2020-07-22 08:02] rayzhou2017 opened #869 "not allowed to sync app repo"
**Describe the bug**
Try to sync app repo, but permission denied
![Screen Shot 2020-07-22 at 4 00 39 PM](https://user-images.githubusercontent.com/28859385/88150902-921d9780-cc34-11ea-89b5-406360711184.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone with openpitrix enabled

**Expected behavior**
be able to sync app repo

[2020-07-22 09:01] rayzhou2017 opened #871 "pod list is empty on node page"
**Describe the bug**
The pod list is empty
![Screen Shot 2020-07-22 at 4 59 50 PM](https://user-images.githubusercontent.com/28859385/88157049-d7de5e00-cc3c-11ea-8ecd-c519a710228a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone with multi-cluster, op enabled,

**Expected behavior**
Show all pods running on the node here

[2020-07-22 09:39] rayzhou2017 commented on #871
verified

[2020-07-22 09:39] #871 closed

[2020-07-22 09:50] rayzhou2017 opened #874 "modify cluster configuration the second time failed"
**Describe the bug**
For the member cluster, I modified the cluster role to member and forgot to update the jwtSecret. Then I open the the file to add the secret, got the error msg.
![Screen Shot 2020-07-22 at 5 47 42 PM](https://user-images.githubusercontent.com/28859385/88162253-acab3d00-cc43-11ea-9926-172474280a1d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes:

[2020-07-22 09:55] leoendless commented on #874
what's the resource you modified?

[2020-07-22 10:01] rayzhou2017 commented on #874
Need to refresh the page to reload the latest yaml. It is the common issue for editing yaml file. I will down grade the priority

[2020-07-22 10:02] huanggze opened #875 "metric list for auto completion is incomplete"
The first image shows the full metric list, which is correct. But the prompt, in the second pic, shows less metrics.

![image](https://user-images.githubusercontent.com/22350668/88163422-3a3b5c80-cc45-11ea-8e5c-041aedb2d96e.png)

![image](https://user-images.githubusercontent.com/22350668/88163495-54753a80-cc45-11ea-9948-1dd73627b506.png)

[2020-07-22 10:02] huanggze commented on #875
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-22 10:09] leoendless commented on #874
I have fixed this problem for other resources. Maybe missing for the crd resources.

Before putting the resource, the console will fetch the latest resource detail, and update the resourceVersion value.

[code]

[2020-07-22 11:34] #866 closed

[2020-07-22 12:06] rayzhou2017 commented on #803
verified

[2020-07-22 12:06] #803 closed

[2020-07-22 14:17] zryfish commented on #636
Please verify again

[2020-07-22 23:48] rayzhou2017 commented on #588
duplicate #493

[2020-07-22 23:48] #588 closed

[2020-07-23 01:58] rayzhou2017 commented on #708
I tried on FF for tc, zh, en, still does not work.

[2020-07-23 02:21] huanggze commented on #301
verified

[2020-07-23 02:21] #301 closed

[2020-07-23 02:49] huanggze opened #879 "Cannot delete deployments in batch"
It shows no candidate to delete.
![image](https://user-images.githubusercontent.com/22350668/88247983-343f8d00-ccd2-11ea-892f-6c143d74bd0a.png)

[2020-07-23 02:50] huanggze commented on #879
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-23 02:59] leoendless commented on #879
Just click the confirm button.

[2020-07-23 02:59] #879 closed

[2020-07-23 03:12] rayzhou2017 commented on #874
verified

[2020-07-23 03:12] #874 closed

[2020-07-23 03:22] junotx opened #881 "no log collection setting item in cluster settings when only enable events module"
**General remarks**

**Describe the bug**
It shows no log collection setting item in cluster settings when only enable events module on minimal installation
![image](https://user-images.githubusercontent.com/49136171/88249321-baf66900-ccd6-11ea-977c-5a8e5187bcf0.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere(2020-07-23)

**Environment**
allinone

/assign @leoendless

[2020-07-23 03:39] Ma-Dan commented on #636
![image](https://user-images.githubusercontent.com/38337958/88250064-fa25b980-ccd8-11ea-920f-e1bf0a7f436c.png)
Updating filter returns "stopped" daemonset. This daemonset is actually just created and pulling images.

[2020-07-23 03:48] shaowenchen commented on #446
OK

/close

[2020-07-23 03:56] shaowenchen commented on #440
![image](https://user-images.githubusercontent.com/43693241/88250852-6f928980-ccdb-11ea-98bf-c508e2383dd0.png)

The button cannot be clicked

[2020-07-23 04:01] Ma-Dan commented on #636
![image](https://user-images.githubusercontent.com/38337958/88250958-d44de400-ccdb-11ea-892a-08c29c2e2b06.png)
Stopped filter returns real stopped workloads.
The issue could probably be status error for creating daemonsets which status should be 'updating' not 'stopped'.

[2020-07-23 05:39] rayzhou2017 opened #882 "custom ws role permission denied"
**Describe the bug**
A workspace custom role with project management access, when the user logs in, got error.
![Screen Shot 2020-07-23 at 1 37 52 PM](https://user-images.githubusercontent.com/28859385/88254994-ad96aa00-cce9-11ea-8e5f-ebad5e44ace4.png)
![Screen Shot 2020-07-23 at 1 35 43 PM](https://user-images.githubusercontent.com/28859385/88255006-b5eee500-cce9-11ea-8887-7361064e5c47.png)

**Ve

[2020-07-23 06:32] rayzhou2017 opened #883 "custom ws role error"
**Describe the bug**
A custom role with ws role managment access, log in but got error. Similar issue with  #882
![Screen Shot 2020-07-23 at 2 28 07 PM](https://user-images.githubusercontent.com/28859385/88257664-d79f9a80-ccf0-11ea-8b2f-2b47dfb08c49.png)
![Screen Shot 2020-07-23 at 2 27 49 PM](https://user-images.githubusercontent.com/28859385/88257681-dff7d580-ccf0-11ea-991b-ac4e1876f3a8.png)

**

[2020-07-23 07:03] zryfish commented on #751
Can you give more specific details? What's ther error message, what's your proxy configuration looks like?

[2020-07-23 07:06] zryfish commented on #864
So no requirement for deployment creation ? That's not necessary, but it's always encouraged to type port when creating statefulset

[2020-07-23 11:53] wansir commented on #869
@leoendless

Use workspace scope resource API, `/kapis/openpitrix.io/v1/workspaces/{workspace}/repos/{repo}/action`

[2020-07-23 14:18] wisheen commented on #751
Nginx settings:

    server {
        listen 443 ssl;
        server_name  kubesphere.xxxx.com;
        ssl_certificate /etc/nginx/certs/xxxx.com.pem;
        ssl_certificate_key /etc/nginx/certs/xxxx.com.key;
        add_header Strict-Transport-Security "max-age=0; includeSubDomains" always;
        resolver 100.100.2.138 100.100.2.136;

        location / {
            #dyups_shm_zone_size 10MB;

[2020-07-24 03:00] rayzhou2017 commented on #883
Still have problem, minimal installation.
![Screen Shot 2020-07-24 at 10 58 49 AM](https://user-images.githubusercontent.com/28859385/88357142-d2982500-cd9c-11ea-92be-fac19b2279cb.png)

[2020-07-24 03:03] rayzhou2017 commented on #882
verified

[2020-07-24 03:03] #882 closed

[2020-07-24 03:21] rayzhou2017 commented on #869
verified

[2020-07-24 03:21] #869 closed

[2020-07-24 04:09] yuswift opened #892 "Search result is incorrect on app store management page"
**General remarks**

**Describe the bug**
When I search kafka, result is all instead of app name contains kafka.
When search 888, result is all instead of nothing.
This also happens on app reviews page and app category page.
<img width="1190" alt="Jietu20200724-120102" src="https://user-images.githubusercontent.com/37265389/88359564-aaf98a80-cda5-11ea-850b-445d838ee5ec.png">
![Jietu20200724-115954

[2020-07-24 04:54] rayzhou2017 commented on #665
verified

[2020-07-24 04:54] #665 closed

[2020-07-24 04:57] rayzhou2017 commented on #440
It is normal since you have only one page. You can increase the items into more than one page.

[2020-07-24 05:12] rayzhou2017 opened #893 "Remind user to remove cluster from workspace"
When remove a cluster from a multi-cluster workspace, MUST remind user that all resources in the cluster under that workspace will be deleted. This is important since user may not be aware of it and make wrong actions.
![Screen Shot 2020-07-24 at 1 09 24 PM](https://user-images.githubusercontent.com/28859385/88362474-33305d80-cdaf-11ea-966a-70faa22b25a0.png)

[2020-07-24 06:42] huanggze opened #894 "No need to ask user on which cluster to deploy devops project again"
I created a devops project on host, but it ended up with the member cluster.

![image](https://user-images.githubusercontent.com/22350668/88366483-d5564280-cdbb-11ea-87fe-1f5e845b7fc9.png)

[2020-07-24 06:43] huanggze commented on #894
/assign @leoendless
/kind bug
/milestone 3.0.0

[2020-07-24 06:46] rayzhou2017 opened #895 "ws admin can't deploy app into single cluster project"
`ray` is the admin of the workspace and creates a single cluster project `demo-project`. He can view it in the workspace page, but when deploy an app, can't see the project in the drop down menu.
![Screen Shot 2020-07-24 at 2 41 40 PM](https://user-images.githubusercontent.com/28859385/88366651-50b7f400-cdbc-11ea-8fa0-5429bf25bd6a.png)
![Screen Shot 2020-07-24 at 2 41 30 PM](https://user-images.gi

[2020-07-24 06:52] rayzhou2017 commented on #895
It seems refresh problem, I need to select the cluster again.

[2020-07-24 06:52] #895 closed

[2020-07-24 06:55] huanggze commented on #894
This is not a bug, it could be an enhancement.

I am creating devops project on the host page.  So there is no need to ask user to choose where to deploy devops project again.

[2020-07-24 07:17] huanggze opened #896 "Created credentials not shown in devops project"
![image](https://user-images.githubusercontent.com/22350668/88368461-b60de400-cdc0-11ea-835e-9ebfa0424c6e.png)

![image](https://user-images.githubusercontent.com/22350668/88368475-bc9c5b80-cdc0-11ea-99ce-a9b1ae4c83aa.png)

[2020-07-24 07:17] huanggze commented on #896
/assign @harrisonliu5
/kind bug
/milestone 3.0.0
/priority high

[2020-07-24 07:45] wansir commented on #883
/assign @leoendless  unexpected API request.

[2020-07-24 07:50] shaowenchen commented on #440
https://github.com/kubesphere/kubesphere/pull/2585 fixed it

[2020-07-24 07:52] harrisonliu5 commented on #446
/close

[2020-07-24 07:53] #446 closed

[2020-07-24 08:03] huanggze opened #899 "Why no entrance to devops projects on the cluster management page?"
![image](https://user-images.githubusercontent.com/22350668/88371608-f3757000-cdc6-11ea-9164-b748c06c0849.png)

[2020-07-24 08:09] konglingjiao0414 opened #900 "本地运行项目，按照教程上配置后，输入用户名和密码后点击登录报404 page not found是什么原因呢"

[2020-07-24 08:18] Sherlock113 opened #901 "Description in the image of monitoring dashboard setting cannot be localized"
**Describe the bug**

In the monitoring section, the description in the image cannot be localized directly.

<img width="1221" alt="截屏2020-07-24下午4 12 16" src="https://user-images.githubusercontent.com/65327072/88372547-b3af8800-cdc8-11ea-9db9-6ee9066d6041.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Custom Monitoring Dashboards.
2. Click Create
3. Enter a name to create a das

[2020-07-24 08:29] rayzhou2017 commented on #900
Please using English. If prefer Chinese please go to kubesphere.com.cn/forum. Quick answer is you need to check pods to see if there is any problem first.

[2020-07-24 08:29] #900 closed

[2020-07-24 08:33] konglingjiao0414 commented on #900
After running the project locally and following the tutorial configuration, enter the user name and password and click on the 404 page not Found. What is the reason

[2020-07-24 08:46] huanggze opened #903 "Deleting devops projects in batch, but the page doesn't auto refresh"
![image](https://user-images.githubusercontent.com/22350668/88374824-08550200-cdcd-11ea-8144-0e75bff430a6.png)

[2020-07-24 08:46] huanggze commented on #903
/assign @harrisonliu5
/kind bug
/milestone 3.0.0

[2020-07-24 08:51] huanggze opened #904 "Loading more repo is hang up"
![image](https://user-images.githubusercontent.com/22350668/88375271-dbedb580-cdcd-11ea-8285-97905e6a57ba.png)

![image](https://user-images.githubusercontent.com/22350668/88375300-ed36c200-cdcd-11ea-845b-2ec2ef0be774.png)

[2020-07-24 08:58] Carlosfengv commented on #899
DevOps was originally designed at the platform level across cluster resources

[2020-07-24 10:03] huanggze opened #906 "Doc for devops is wrong?"
Guess it is "Discard Old Builds"?

![image](https://user-images.githubusercontent.com/22350668/88380851-e3b25780-cdd7-11ea-928e-c00aa97c0bf6.png)

[2020-07-24 10:09] harrisonliu5 commented on #903
The data may not be synchronized, because Jenkins is sometimes slower

[2020-07-24 10:09] harrisonliu5 commented on #903
/assign @shaowenchen

[2020-07-24 10:13] rayzhou2017 commented on #883
verified

[2020-07-24 10:13] #883 closed

[2020-07-24 10:21] #896 closed

[2020-07-24 11:05] huanggze opened #908 "Failed to run pipeline"
![image](https://user-images.githubusercontent.com/22350668/88385294-a605fc80-cde0-11ea-96b4-1baea6e9f18c.png)

[2020-07-24 11:07] huanggze commented on #908
/assign @harrisonliu5
/kind bug
/milestone 3.0.0
/priority high

[2020-07-24 11:10] huanggze commented on #908
/cc @shaowenchen

[2020-07-24 11:11] harrisonliu5 commented on #908
/assign @shaowenchen

[2020-07-24 11:17] huanggze opened #909 "devops build is runing in dead loop"
![image](https://user-images.githubusercontent.com/22350668/88386114-4dcffa00-cde2-11ea-8a0f-1ef12037f68d.png)

![image](https://user-images.githubusercontent.com/22350668/88386186-76f08a80-cde2-11ea-99e0-c19d2f870ce0.png)

[2020-07-24 11:18] huanggze commented on #909
/assign @shaowenchen
/milestone 3.0.0
/kind bug
/priority high

[2020-07-24 11:30] shaowenchen commented on #908
Running Multi-branch pipeline needs the parameter name, just like

{"parameters":[{"name":"TAG_NAME","value":"v1"}]}

@harrisonliu5

[2020-07-24 11:38] #909 closed

[2020-07-24 11:41] shaowenchen commented on #903
yes，it needs a while to sync data.  you can filter data that isn't taged by DeletionTimestamp @harrisonliu5

[2020-07-24 11:54] huanggze opened #910 "proceed is not localized"
![image](https://user-images.githubusercontent.com/22350668/88388694-9c33c780-cde7-11ea-933c-320278a1df6e.png)

[2020-07-24 12:10] huanggze opened #911 "javax.net.ssl.SSLHandshakeException: Received fatal alert: bad_certificate"
Got the following error as devploying java sample to prod. Does it mean the default kubeconfig credential provided by ks is wrong?

![image](https://user-images.githubusercontent.com/22350668/88389449-1f095200-cde9-11ea-82f0-dad0c9c58d55.png)

![image](https://user-images.githubusercontent.com/22350668/88389755-a8208900-cde9-11ea-887c-630fa0da745d.png)

[code]

[2020-07-24 12:10] huanggze commented on #911
/assign @shaowenchen
/milestone 3.0.0

[2020-07-24 12:23] huanggze opened #912 "Should forbid to create duplicate pipeline"
![image](https://user-images.githubusercontent.com/22350668/88390734-6f81af00-cdeb-11ea-881e-e242921b931e.png)

[2020-07-24 12:30] huanggze opened #913 "Internal Server Error as confirming with faulty github token"
![image](https://user-images.githubusercontent.com/22350668/88391286-76f58800-cdec-11ea-96ee-f57ac368453b.png)

[2020-07-24 12:41] huanggze opened #914 "Got unexpected error when editing pipeline setting"
![image](https://user-images.githubusercontent.com/22350668/88391966-c7b9b080-cded-11ea-90f6-009a665b9027.png)

[2020-07-24 12:43] harrisonliu5 commented on #894
/kind need-to-verify

[2020-07-24 12:49] huanggze opened #915 "Inconsist pipeline status"
![image](https://user-images.githubusercontent.com/22350668/88392753-24699b00-cdef-11ea-8db7-283c246eaed6.png)

![image](https://user-images.githubusercontent.com/22350668/88392726-19af0600-cdef-11ea-90c5-0c81f2ade434.png)

[2020-07-24 12:58] junotx opened #916 "bugs for credentials list page of devops project"
**Describe the bug**
1. The list still shows all credentials when searching by name `kubeconfig`
![image](https://user-images.githubusercontent.com/49136171/88393159-ca1d0a00-cdef-11ea-883a-c81666218152.png)
2. Outliers are displayed in the search box when clicking refresh button
![image](https://user-images.githubusercontent.com/49136171/88393910-1452bb00-cdf1-11ea-99fa-31a5a1ffc8f3.png)
3. There