[2021-11-18 08:49] #1865 closed

[2021-11-18 08:51] liuyp2018 commented on #1257
/remove-kind need-to-verify

[2021-11-18 08:54] harrisonliu5 commented on #2490
/assign @xuliwenwenwen

[2021-11-18 09:05] RolandMa1986 commented on #1951
/close

[2021-11-18 09:05] #1951 closed

[2021-11-18 09:16] harrisonliu5 commented on #1257
/assign @weili520

[2021-11-18 09:49] 123liubao commented on #2452
/assign

[2021-11-18 10:08] VioZhang commented on #2162
I have checked the description with our layer consultant，and there is no problem with it.
And we shoud follw the way by which @Patrick-LuoYu said .

[2021-11-18 10:10] liuyp2018 commented on #2162
/remove-kind need-to-verify

[2021-11-19 02:19] JohnNiang commented on #1257
/unassign @zryfish

[2021-11-19 03:51] weili520 commented on #2597
/assign @weili520

[2021-11-19 07:01] weili520 commented on #1257
![截屏2021-11-19 14 58 29](https://user-images.githubusercontent.com/33231138/142579294-8da928b5-3e9f-4bdf-b0a7-d936d3007a42.png)

[2021-11-19 07:22] weili520 commented on #2333
It's can't be custom naming, the backend not support.

[2021-11-20 10:59] FeynmanZhou opened #2624 "The documentation links for v3.2.0 are still v3.1.0."
**General remarks**

**Describe the bug**

The documentation links for v3.2.0 are still v3.1.0.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0
Kubernetes: 1.21

**Environment**

4 CPU
8 GB

(and other info are welcomed to help us debugging)

**To Reproduce**
Steps to reproduce the behavior:

You can check all of the document links from the KubeSphere console, then it will jump to v3.

[2021-11-22 02:18] weili520 commented on #2624
/assign @weili520

[2021-11-22 02:39] #2452 closed

[2021-11-22 08:51] Patrick-LuoYu opened #2631 "**All** is displayed for all app categories in the App Store"
**Describe the bug**
In the App Store, **All** is displayed for all app categories, as shown in the following figure.
![image](https://user-images.githubusercontent.com/76198553/142830801-3185fdd5-0adf-4153-9864-e8d4871b7a61.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0

**Expected behavior**
![image](https://user-images.githubusercontent.com/76198553/142830890-5ddd76e2-a18b-47

[2021-11-22 08:52] Patrick-LuoYu commented on #2631
/assign @harrisonliu5 @VioZhang

[2021-11-22 09:25] VioZhang commented on #2631
I agree with @Patrick-LuoYu that the "ALL" should only be showed at the ALL tab.

[2021-11-22 11:53] ch111222 commented on #1963
Can you write the corresponding command in vs code below thankyou

[2021-11-22 14:03] JohnNiang commented on #2593
Hi @harrisonliu5 , the status synchronization is `unstable`, somethings we will see the following screenshot:

![image](https://user-images.githubusercontent.com/16865714/142874880-e367c202-295f-40db-a8ed-e8f91308d0ee.png)

Test Jenkinsfile is as follows:

[code]

[2021-11-23 02:45] ks-ci-bot opened #2642 "[release-3.2] feat: Add avalibale quota tip when edting project resource default quota"
Manual cherrypick required.

#2619 failed to apply on top of branch "release-3.2":
[code]

[2021-11-23 04:25] MyBlackHole opened #2646 "http://ks-apiserver"
3.1.1版本
以下配置确定能访问到 api server 吗？？？
  apiServer:
    clientID: kubesphere
    clientSecret: kubesphere
    url: http://ks-apiserver
    wsUrl: ws://ks-apiserver

[2021-11-23 04:25] serenashe opened #2647 "UI text goes out of the box"
**Describe the bug**
The UI text on the **Service Monitoring Exporter** page goes out of the box.

The following screenshot shows the issue:
![image](https://user-images.githubusercontent.com/75245999/142968545-c7ea5243-d9f7-496c-bd30-c82fec7911a0.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.2.0

Steps to reproduce the behavior:
1. Go to one of your project.
2. Click **Application

[2021-11-23 07:13] JohnNiang opened #2648 "Pipeline data isn't reloaded automatically after editing Pipeline"
**Describe the bug**
Pipeline data isn't reloaded automatically after editing Pipeline

![image](https://user-images.githubusercontent.com/16865714/142982772-dd6c0289-005a-414c-8545-99244bb0ee71.png)

![image](https://user-images.githubusercontent.com/16865714/142982884-6ba6e8a3-b196-4833-843e-7d21a2a0f40f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0

**To Reproduce**
Steps to

[2021-11-23 10:37] #2646 closed

[2021-11-24 01:54] mangoGoForward commented on #2647
/assign

[2021-11-24 02:38] harrisonliu5 commented on #2490
/kind need-to-verify

[2021-11-24 02:39] harrisonliu5 commented on #2597
/kind need-to-verify

[2021-11-24 02:45] serenashe commented on #2490
/lgtm

[2021-11-24 05:31] LinuxSuRen commented on #2612
/assign @harrisonliu5

[2021-11-24 05:32] LinuxSuRen commented on #2648
This issue might be related to https://github.com/kubesphere/ks-devops/issues/144

[2021-11-24 06:05] weili520 commented on #2250
/kind need-to-verify

[2021-11-24 06:07] weili520 commented on #2250
![截屏2021-11-24 14 07 12](https://user-images.githubusercontent.com/33231138/143184014-2f546fc3-54ff-4764-ab68-f69e1ddf339b.png)

[2021-11-24 06:08] weili520 commented on #2464
/kind need-to-verify

[2021-11-24 06:08] weili520 commented on #2464
![截屏2021-11-24 14 07 12](https://user-images.githubusercontent.com/33231138/143184120-1c6e75e8-7bc1-4339-8522-80cae49cba4d.png)

[2021-11-24 06:10] weili520 commented on #2309
/kind need-to-verify

[2021-11-24 06:10] weili520 commented on #2309
![截屏2021-11-24 14 10 07](https://user-images.githubusercontent.com/33231138/143184358-62db311c-12e7-4f1f-94ff-c90981e88f0b.png)

[2021-11-24 06:15] weili520 commented on #2624
/kind need-to-verify

[2021-11-24 06:15] weili520 commented on #2551
/kind need-to-verify

[2021-11-24 06:20] JohnNiang commented on #2593
https://github.com/kubesphere/console/issues/2593#issuecomment-975559644 might caused by PipelineRun data out of sync. I confirm that this issue has been fixed by https://github.com/kubesphere/console/pull/2594.

/close

[2021-11-24 06:20] #2593 closed

[2021-11-24 06:42] weili520 commented on #2345
![截屏2021-11-24 14 41 27](https://user-images.githubusercontent.com/33231138/143187942-3d04f345-6d43-4a69-b098-ef3e2a43b506.png)

![截屏2021-11-24 14 41 41](https://user-images.githubusercontent.com/33231138/143187955-26c87f51-4a53-4653-a5f5-d332e705d008.png)

[2021-11-24 07:17] serenashe opened #2658 "HostPath volume name cannot be specified"
**Describe the bug**
The name of HostPath volume cannot be specified when users mount volumes to the containers.

Screenshots that show the issue:
![image](https://user-images.githubusercontent.com/75245999/143191265-41b15587-84d5-4da3-af40-2a29e50b8e6a.png)
![image](https://user-images.githubusercontent.com/75245999/143191396-5c8c10cd-3a9e-4c12-8248-40f418150c8b.png)

**Versions used(KubeSphere/K

[2021-11-24 09:12] weili520 commented on #2658
This problem has been resovled in this [pr](https://github.com/kubesphere/console/pull/2656).

[2021-11-24 09:13] weili520 commented on #2658
/assign @weili520

[2021-11-24 09:15] #2658 closed

[2021-11-25 02:09] LYignore opened #2664 "Built-in monitoring rule operation button to add request"
**What would you like to be added**:
Can the built-in rules for creating monitoring alarms in the kubesphere3.2 version interface allow users to choose to use the button to ignore it?
**Why is this needed**:
When I turn on the monitoring alarm module, the built-in monitoring alarms of the system continue to send monitoring alarms to my mailbox. I have known that there will be some alarms in some r

[2021-11-25 02:51] LYignore commented on #2614
/assign

[2021-11-25 02:58] VioZhang opened #2665 "Support setting the number of the resource listed for each page."
**Why is this needed**:
It's inconvenient when we have a lot of resource to manage by the default number “10”.

[2021-11-25 03:06] jioce commented on #2345
issue fixed

[2021-11-25 03:06] #2345 closed

[2021-11-25 03:26] VioZhang opened #2666 "We can't jump to the correct component page of what we selected form the cluster status page."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
We can't jump to the page of what we selected.For example,we click the logging,we will be leaded to the KubeSphere component status page and i think we should be leaded to the logging page.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/

[2021-11-25 05:39] 123liubao commented on #2666
/assign

[2021-11-25 09:29] mangoGoForward commented on #2164
I noticed that this issue has solved, please see the screenshot below:

![image](https://user-images.githubusercontent.com/35127166/143415377-164b71ae-f191-4d01-bccb-b069232d338e.png)

[2021-11-26 03:58] liuyp2018 opened #2670 "the verification rule problem on application repository page"
**Describe the bug**
the verification rule problem on application repository page
![image](https://user-images.githubusercontent.com/36271543/143524508-811a7a8d-8c71-41b3-81d9-8c3d6e517d00.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks v3.2.1-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/kind bug
/priority Low

[2021-11-26 08:58] liuyp2018 opened #2671 "The query service fails according to the application field"
**Describe the bug**
1. Deploy tomcat applications rrom the App Store
2. After the deployment, enter the service list page and query services by application

problem:
Service cannot be queried

<img width="772" alt="7ef31c5ae94ec562c452c592d81c6e8" src="https://user-images.githubusercontent.com/36271543/143554383-b03c306a-89cf-4299-8608-06e0d83e58c9.png">

**Versions used(KubeSphere/Kubernetes)**

[2021-11-26 09:05] liuyp2018 opened #2672 "Incorrect information for exceeding the resource limit when creating workload"
**Describe the bug**
1. Requests were set for workspace quotas, but the quotas of project requests  were not set ,
2. when creating workload, requests were not set for the workload.

problem:
On the creating workload page, there is a prompt for exceeding the resource limit

https://user-images.githubusercontent.com/36271543/143555049-b8a83933-d5d6-4c95-ad6b-af7be6738d22.mp4

**Versions used(KubeSp

[2021-11-26 09:35] jioce commented on #2467
issue fixed in v3.2.1-rc.1

[2021-11-26 09:35] #2467 closed

[2021-11-27 09:22] wenxin-01 opened #2674 "After selecting project, the previously selected time range does not work in page of monitor-resource"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks3.2`

**To Reproduce**
Steps to reproduce the behavior:
1. Select time range and save
2. Select project and save

![image](https://user-images.githubusercontent.com/68640256/143675574-ccbcde59-a37a-4a24-bc0f-17c23f1621c9.png)
![image](https://user-images.githubusercontent.com/68640256/143675600-0e7fc718-9aff-4016-a617-5915de162e9e.png)

**Ex

[2021-11-27 09:32] mangoGoForward commented on #2674
/assign

[2021-11-27 12:59] wuchencm opened #2675 "前端使用的ui框架是？自己写的吗？"
**What would you like to be added**:

**Why is this needed**:

[2021-11-29 01:59] mangoGoForward opened #2677 "The UI of time control has been covered in page of application resources"
**General remarks**

**Describe the bug**
The UI of time control has been covered in page of application resources

![image](https://user-images.githubusercontent.com/35127166/143797038-224d74e9-b36f-40f5-bd89-61dc809ff439.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:v3.2

**Environment**
Nothing to do with environment.

**To Reproduce**
Steps to reproduce the behavior:
1. See the pag

[2021-11-29 06:02] liuyp2018 opened #2680 "prompt is missing a period"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/143816530-17c5f4e8-7ce0-4ef0-b3f7-5ead69af5e2a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @Patrick-LuoYu

[2021-11-29 08:05] liuyp2018 opened #2683 "There are two scrollbars in the Edit Jenkins File page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/143829962-2c4c0f83-c466-463c-9d96-cea37bbfdb39.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: ks v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low
/area devops

[2021-11-29 08:21] weili520 commented on #2675
The ui library we used is: [kube-design](https://github.com/kubesphere/kube-design.git).

[2021-11-29 09:04] liuyp2018 opened #2696 "Certificate verification problem"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/143838261-2e547bc7-b9d4-4a71-9019-eb9dd2abec26.png)

**Versions Used**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @LinuxSuRen
/kind bug
/priority Low
/area devops

[2021-11-30 06:52] liuyp2018 opened #2684 "application deployment fails"
**Describe the bug**
1. Deploy chaos-Mesh applications through the App Store
2. During deployment, click Next - Install too fast
3. After deployment, application deployment fails

![image](https://user-images.githubusercontent.com/36271543/143999438-8c4c892c-6bd7-41f3-b766-a12f589a9a62.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer

[2021-11-30 07:59] #2490 closed

[2021-11-30 08:50] weili520 commented on #2684
/assign

[2021-11-30 08:57] harrisonliu5 commented on #2666
/kind need-to-verify

[2021-11-30 08:58] ks-ci-bot opened #2687 "[release-3.2] opt: Update avaliable quotas tips when creating deployment"
Manual cherrypick required.

#2668 failed to apply on top of branch "release-3.2":
[code]

[2021-11-30 09:02] harrisonliu5 commented on #2670
/kind need-to-verify

[2021-11-30 09:03] harrisonliu5 commented on #2484
/kind need-to-verify

[2021-11-30 09:18] harrisonliu5 commented on #2671
/kind need-to-verify

[2021-12-01 02:40] liuyp2018 opened #2697 "advised to display the gateway name for users to copy"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/144004305-85534f30-8bef-40d8-8c94-769562b75fa7.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-12-01 03:34] mangoGoForward commented on #2696
I'd like to work on this issue.

[2021-12-01 03:34] JohnNiang commented on #2696
/assign @mangoGoForward

[2021-12-01 03:36] ks-ci-bot opened #2701 "[release-3.2] docs: Rearrange the locale package in preparation for UI localization and fix minor bugs."
Manual cherrypick required.

#2698 failed to apply on top of branch "release-3.2":
[code]

[2021-12-01 03:54] harrisonliu5 commented on #2683
/assign @weili520

[2021-12-01 07:04] weili520 commented on #2697
/assign

[2021-12-01 07:13] JohnNiang opened #2704 "Request to refine the description of GitLab credential in "Create Pipeline" modal"
**What would you like to be added**:

Request to refine the description of GitLab credential in "Create Pipeline" modal, please see the screenshot below.

![image](https://user-images.githubusercontent.com/16865714/144186429-f594f302-8d08-4449-91ca-7885940432fd.png)

I'm not sure how this description should be defined. If anyone has a better suggestion, I hope they can put forward them.

**Why is

[2021-12-01 07:29] liuyp2018 opened #2706 "Add verification for devops project name input"
**Describe the bug**
suggestion: Add verification for name input
![image](https://user-images.githubusercontent.com/36271543/144190057-f1a7fe60-b6fb-4699-b229-5f628570905b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-12-01 07:30] liuyp2018 opened #2707 "Add verification for devops project name input"
**Describe the bug**
suggestion: Add verification for name input
![image](https://user-images.githubusercontent.com/36271543/144190057-f1a7fe60-b6fb-4699-b229-5f628570905b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-12-01 07:30] liuyp2018 opened #2708 "Add verification for devops project name input"
**Describe the bug**
suggestion: Add verification for name input
![image](https://user-images.githubusercontent.com/36271543/144190057-f1a7fe60-b6fb-4699-b229-5f628570905b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority Low

[2021-12-01 08:10] liuyp2018 commented on #2706
Repeat submit /close

[2021-12-01 08:10] #2706 closed

[2021-12-01 08:10] liuyp2018 commented on #2708
Repeat submit
/close

[2021-12-01 08:10] #2708 closed

[2021-12-01 08:33] liuyp2018 opened #2712 "UI display problem in pipeline page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/36271543/144199385-f1a13bcd-5ea8-44d7-9984-73f7704ab70e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @Felixnoo
/kind bug
/priority Medium

[2021-12-01 08:43] liuyp2018 opened #2713 "Devops projects that are not successfully created are not shown in grey disabled mode"
**Describe the bug**

After Jenkins service is abnormal, the Devops project created should be displayed as disabled in grey
![image](https://user-images.githubusercontent.com/36271543/144200406-273a2c53-d35b-47d5-8fa5-97f7ea324d12.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/priority Low

[2021-12-01 08:44] JohnNiang opened #2714 "Request to add a tip that s2i and b2i do not support containerd container runtime"
At present(KubeSphere 3.2.0), s2i and b2i do not work well on containerd container runtime.

Please see:

- https://kubesphere.com.cn/forum/d/6195-kubespshere-32kubernetes1215/3 [In Chinese]

If we want s2i and b2i to support containerd container runtime, we can't do it in a short time. Therefore, I request to add a tip that s2i and b2i do not support containerd container runtime until we do that.

[2021-12-01 08:45] LinuxSuRen commented on #2714
/priority high

[2021-12-01 09:19] weili520 commented on #2677
/assign

[2021-12-01 09:21] weili520 commented on #2674
/assign @weili520

[2021-12-01 09:51] harrisonliu5 commented on #2697
/kind need-to-verify

[2021-12-01 09:51] #2701 closed

[2021-12-01 09:52] #2687 closed

[2021-12-01 09:52] #2642 closed

[2021-12-02 02:30] harrisonliu5 commented on #2696
/kind need-to-verify

[2021-12-02 02:55] harrisonliu5 commented on #2614
/kind need-to-verify

[2021-12-02 02:56] harrisonliu5 commented on #2647
/kind need-to-verify

[2021-12-02 02:58] harrisonliu5 commented on #2683
/kind need-to-verify

[2021-12-02 03:35] JohnNiang commented on #2696
Verified! Please see https://github.com/kubesphere/console/pull/2705#pullrequestreview-820051907.

/close

[2021-12-02 03:35] #2696 closed

[2021-12-02 03:43] liuyp2018 opened #2810 "After editing the pipeline configuration, the pipeline disappears"
**Describe the Bug**

1. Create a graphical pipeline
2. Create a 'print a message' step and save the pipeline
3. Edit and save the pipeline configuration
4. the jenkinsfile missing

https://user-images.githubusercontent.com/36271543/144353693-099e29bc-253b-4a69-8818-7315cdf44f0d.mp4

**Versions Used**
KubeSphere: kubespehre v3.2.1-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-12-02 03:50] weili520 commented on #2714
How about add tips in here

![截屏2021-12-02 11 48 06](https://user-images.githubusercontent.com/33231138/144354379-5a18dea4-d076-4d33-a8c2-a165f0e6cf00.png)

[2021-12-02 05:08] serenashe commented on #2647
/lgtm

[2021-12-02 05:08] #2647 closed

[2021-12-02 05:29] LinuxSuRen commented on #2714
Looks good to me. But please only show the tip when the runtime is containerd.

[2021-12-02 05:57] liuyp2018 opened #2723 "edit gateway error"
**Describe the bug**
error occurred when modifying the gateway
![image](https://user-images.githubusercontent.com/36271543/144365853-d0d37bd3-2ed5-4ba2-b8fb-503c134c14c6.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority high

[2021-12-02 06:02] ks-ci-bot opened #2724 "[release-3.2] docs: Update locale package."
Manual cherrypick required.

#2721 failed to apply on top of branch "release-3.2":
[code]

[2021-12-02 06:06] weili520 commented on #2714
/assign

[2021-12-02 06:23] showjason opened #2726 "close button doesn't work"
**General remarks**

**Describe the bug**
When I try to close the window of deleting pod, click the close button , the window can not be closed. I also try other resources' deleting window  such as namespace, configmap etc. , they are also not working.

![image](https://user-images.githubusercontent.com/27723125/144367545-8bf594a5-b233-4f79-aa57-0b26cc9575a5.png)

**Versions used(KubeSphere/Kubern

[2021-12-02 08:10] #2724 closed

[2021-12-02 09:23] liuyp2018 opened #2732 "Update time of pipeline is displayed as' Invalid date '"
**Describe the bug**
1. Set the pipeline not to allow concurrent builds
2. Run 2 pipelines
3. Update time of the second pipeline is displayed as' Invalid date '.

![image](https://user-images.githubusercontent.com/36271543/144393358-7ba47f1f-7fff-4a13-98dd-cc8043a78032.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc.1
Kubernetes: (If KubeSphere installer used, you c

[2021-12-02 09:57] weili520 commented on #2714
I plan to use this path to get the runtime info: `/api/v1/nodes`, it's correct?

[2021-12-02 11:09] LinuxSuRen commented on #2714
Sounds good to me.

[2021-12-03 03:22] weili520 commented on #2677
/kind need-to-verify

[2021-12-03 03:22] weili520 commented on #2674
/kind need-to-verify

[2021-12-03 03:33] weili520 commented on #1257
I think it is caused by the node.js HTTP receive mechanism. When the HTTP response is chunked, the data didn't lose, it will show with the next response, but the response interval is about 2 minutes.

[2021-12-03 03:37] mangoGoForward commented on #2677
I have tested, and it work very well.
/lgtm

[2021-12-03 03:38] #2677 closed

[2021-12-03 07:33] JohnNiang commented on #1257
Hi @weili520 , if you don't have a better solution now, you could refer to an existing implementation: https://github.com/tektoncd/dashboard/tree/main/packages/components/src/components/Log

[2021-12-03 07:46] huangkaijian opened #2737 "choose harbor repository can not list the images"
Operating system
vm，Centos7.9,8C/18G
Kubernetes version
1.1.12
Docker
20.10.9
KubeSphere version
v3.2.0
bug
project-new work load, choose harbor priviate security filed, can't list the images in the repository, if i choose dockerhub, click research icon, can list
![image](https://user-images.githubusercontent.com/33142274/144563835-3109bdbc-92cf-41bc-9ace-ba63e5f35f36.png)
if i input the project n

[2021-12-03 08:06] liuyp2018 opened #2738 "Time range switchover problem"
**Describe the bug**
1. Switch to the last 1 hour
2. If the system switches to the latest 10 minutes, the console still displays the latest 1 hour

https://user-images.githubusercontent.com/36271543/144567353-eb53dfe8-0ac4-4de3-82b3-65b00be93988.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/prio

[2021-12-03 08:10] liuyp2018 opened #2739 "advised to highlight the matched keywords in the query result of gateway logs"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/144567897-37cd903b-b69c-418e-a248-6d2e11351d82.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/priority Low
/assign @harrisonliu5

[2021-12-03 08:22] liuyp2018 opened #2740 "error occurs when reduce copies of gateway in upgraded cluster"
**Environment**
cluster: 1 host + 1 member
version: kubesphere v3.1.1

**Describe the bug**
1. upgrade cluster to ksv3.2.1-rc.1
2. in multi cluster project, add  the number of gateway copies to 2
3. Reduce the number of gateway copies to 1
4. error occurs

![image](https://user-images.githubusercontent.com/36271543/144568863-c6c7ed4a-5bf4-4a8a-a1e0-736c01030f7b.png)

**Versions used(KubeSphere/Kub

[2021-12-03 15:41] mio4kon opened #2744 "When nested editing is supported"
**What would you like to be added**:
When nested editing is supported

**Why is this needed**:
I need to be able to visualize nested edits

[2021-12-04 08:20] luoyuctl opened #2746 "The problem for devops module pipeline branch list"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/51604064/144598301-6d35ba24-30a2-4a4f-a09f-9ee95e4b1e4f.png)
![image](https://user-images.githubusercontent.com/51604064/144598470-c08bfad6-5af6-460e-bfc1-d382113c6367.png)
![image](https://user-images.githubusercontent.com/51604064/144598521-05e4813e-e856-487f-b723-9308092b40f4.png)

1. The list of feature branches cannot be

[2021-12-04 11:59] luoyuctl commented on #2746
@harrisonliu5

[2021-12-04 12:38] JohnNiang commented on #2746
/area devops
/cc @kubesphere/sig-devops

[2021-12-04 13:28] luoyuctl commented on #2746
@LinuxSuRen Please take a look at it. It's very important to me.

[2021-12-04 13:36] JohnNiang commented on #2746
@luoyuctl , thank you for reaching out here. I confirmed this issue occurred in KubeSphere v3.2.0.

[2021-12-04 14:06] luoyuctl commented on #2746
@JohnNiang  Please let me know when the problem is fixed and I will use nightly image to solve the problem.

[2021-12-04 14:53] JohnNiang commented on #2746
I'm still inspecting the root cause. Please wait patiently for a while.

[2021-12-04 15:07] luoyuctl commented on #2746
@JohnNiang thanks

[2021-12-05 06:20] luoyuctl commented on #2746
![image](https://user-images.githubusercontent.com/51604064/144736088-6d6c264a-3fa7-4b27-afb1-f9b179b18c56.png)

[2021-12-05 09:24] JohnNiang commented on #2746
@luoyuctl This is the same problem. All of them were caused by https://github.com/kubesphere/ks-devops/pull/328.

At present, I have figured out potential solution and try to verify it.

[2021-12-05 09:26] JohnNiang commented on #2746
Considering this problem was caused by backend service, I'm going to transfer this issue into https://github.com/kubesphere/ks-devops.

[2021-12-05 14:46] JohnNiang opened #2747 "The branch names are not escaped which makes some resources inaccessible"
**Describe the bug**

The branch names are not escaped which makes some resources inaccessible.

![image](https://user-images.githubusercontent.com/16865714/144751157-1d96e2a1-8349-431f-9cf9-848b90371103.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create Multi-branch Pipeline, using repo https://gitlab.com/johnniang/jenkin

[2021-12-05 14:47] LinuxSuRen commented on #2747
/area devops

[2021-12-05 14:56] mangoGoForward commented on #2747
/assign

[2021-12-05 14:58] luoyuctl commented on #2747
so here we go again , some fronted problem should be solved😂

[2021-12-06 00:59] LinuxSuRen commented on #2747
hi @mangoGoForward thanks for taking the initiative. We are going to release v3.2.1. And it is good to fix this issue as soon as possible. I'm not sure if you have time to do this. Please let us know if it's not.

[2021-12-06 01:26] ks-ci-bot opened #2749 "[release-3.2] Add i18n items for the PipelineRun role"
Manual cherrypick required.

#2669 failed to apply on top of branch "release-3.2":
[code]

[2021-12-06 01:59] weili520 commented on #2723
/assign

[2021-12-06 02:04] luoyuctl commented on #2747
When do we plan to release 3.21?

[2021-12-06 06:13] liuyp2018 opened #2752 "error occurs when viewing gateway details"
**Describe the bug**
1. Under project with a too long name
2. Enable the gateway
3. Viewing Gateway Details
4. Error occurs with the get pod  interface

![image](https://user-images.githubusercontent.com/36271543/144796135-e09a27b8-68c0-4a80-9492-7c16d01b8d9b.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-12-06 06:41] LinuxSuRen commented on #2747
It should happen this week.

[2021-12-06 09:13] #2749 closed

[2021-12-06 09:13] harrisonliu5 commented on #2747
/kind need-to-verify

[2021-12-06 09:14] JohnNiang commented on #2747
Please refer to https://github.com/kubesphere/console/pull/2753#pullrequestreview-823588176.
/cose

[2021-12-06 09:14] #2747 closed

[2021-12-06 09:16] harrisonliu5 commented on #2752
/assign @RolandMa1986

[2021-12-06 09:18] JohnNiang commented on #2714
I've verified this issue, please refer to https://github.com/kubesphere/console/pull/2734#pullrequestreview-823231155.
/close

[2021-12-06 09:18] #2714 closed

[2021-12-07 01:43] weili520 commented on #2738
/assign

[2021-12-07 03:53] liuyp2018 opened #2760 "The text is not displayed in Chinese"
**Describe the bug**
The text is not displayed in Chinese
![image](https://user-images.githubusercontent.com/36271543/144962910-6d291926-ba12-4a00-b8c7-d3daba23671e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc.2
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @Patrick-LuoYu
/priority Medium
/area documentation

[2021-12-07 06:46] harrisonliu5 commented on #2723
/kind need-to-verify

[2021-12-07 06:47] harrisonliu5 commented on #2738
/kind need-to-verify

[2021-12-07 06:54] liuyp2018 commented on #2697
fixed

[2021-12-07 06:54] #2697 closed

[2021-12-07 06:57] liuyp2018 commented on #2683
fixed

[2021-12-07 06:57] #2683 closed

[2021-12-07 06:58] liuyp2018 commented on #2671
fixed

[2021-12-07 06:58] #2671 closed

[2021-12-07 07:01] liuyp2018 commented on #2670
fixed

[2021-12-07 07:01] #2670 closed

[2021-12-07 07:02] liuyp2018 commented on #2464
fixed

[2021-12-07 07:02] #2464 closed

[2021-12-07 07:04] liuyp2018 commented on #2309
fixed

[2021-12-07 07:04] #2309 closed

[2021-12-07 07:09] liuyp2018 commented on #2484
fixed

[2021-12-07 07:09] #2484 closed

[2021-12-07 07:10] liuyp2018 commented on #2250
fixed
/close

[2021-12-07 07:10] #2250 closed

[2021-12-07 07:30] liuyp2018 commented on #2666
fixed
/close

[2021-12-07 07:30] #2666 closed

[2021-12-07 08:09] liuyp2018 commented on #2614
I verify that the problem has been fixed.
Please confirm, and if so, please close this issue

[2021-12-07 08:16] liuyp2018 commented on #2597
I verify that the problem has been fixed
Please confirm and if so, please close

[2021-12-07 08:32] liuyp2018 commented on #2760
![image](https://user-images.githubusercontent.com/36271543/144994253-2c48f295-cea8-4b03-9d69-d43bfde8c1fb.png)

[2021-12-07 08:57] weili520 commented on #2684
/kind need-to-verify

[2021-12-07 09:00] weili520 commented on #2672
/assign

[2021-12-07 09:15] liuyp2018 commented on #2760
![image](https://user-images.githubusercontent.com/36271543/145000812-2b079477-8768-449a-9474-55bfbd42dd1d.png)

[2021-12-07 10:03] liuyp2018 commented on #2760
![image](https://user-images.githubusercontent.com/36271543/145008578-5087ab58-54cf-40a0-b7e1-12ef3706c3b4.png)

[2021-12-07 10:22] liuyp2018 opened #2767 "Incorrect resource limit message"
**Describe the bug**
1. The project and workspace quotas are not set
2. Create a workload and set the GPU limit to 1

Expected Results:
It can be set up successfully

Actual results:
Prompt exceeds resource limit

![image](https://user-images.githubusercontent.com/36271543/145011729-cef769c1-cde3-4741-b8af-e73367b057dd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc

[2021-12-07 10:43] liuyp2018 commented on #2760
![image](https://user-images.githubusercontent.com/36271543/145014331-239ffe80-f28f-40c9-87ab-9dca8bda93b0.png)

[2021-12-08 03:42] weili520 commented on #2740
/assign

[2021-12-08 06:41] Patrick-LuoYu opened #2771 "Add options for multiple languages."
The KubeSphere localization project has been launched at [https://crwd.in/kubesphere](https://crwd.in/kubesphere). Though the localization project has just started, we need to add options for multiple languages in **User Settings** so that contributors can preview translations.

![image](https://user-images.githubusercontent.com/76198553/145160763-7ea09bdb-2bf1-476b-89fc-dd848d8fed9a.png)
![image]

[2021-12-08 07:03] liuyp2018 opened #2774 "The data is empty when modifying the stateful service"
**Describe the bug**
1. In multi-cluster projects, create composing applications
2. Add a stateless service and a stateful service on the service setting page
3. Modify the stateful services

Expected Results:
The service data is the setting data
Actual results:
The service data is empty

![image](https://user-images.githubusercontent.com/36271543/145162685-efa43aec-94e8-42d0-993b-eb7ef49d236e.png

[2021-12-08 07:06] weili520 commented on #2739
/assign

[2021-12-08 07:28] liuyp2018 opened #2776 "the position of the operation button and the replicas counts need to adjusted"
**Describe the bug**
In multi-cluster environment, the position of the operation button and the replicas counts need to adjusted on the create composing Application -->Service Settings page

https://user-images.githubusercontent.com/36271543/145166627-61b33384-f046-40cd-aafd-5699e9e7a77c.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installe

[2021-12-08 07:40] liuyp2018 opened #2777 "cannot view the external access page of composing app"
**Describe the bug**
1. In a multi-cluster project, the gateway is disabled
2. In this multi-cluster project, create composing applications
3. After creation, go to the application details - External access page
4. The page displays null

![image](https://user-images.githubusercontent.com/36271543/145167417-47e05829-b262-4300-89c3-13874c93681e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSph

[2021-12-08 08:11] JohnNiang opened #2779 "Request to disable "Stop" button when Pipeline record is in "Not Run" status"

[2021-12-08 08:17] JohnNiang opened #2780 "Request to disable "Stop" button when Pipeline record is in "Not Run" status"
Request to disable "Stop" button when Pipeline record is in "Not Run" status, or backend would complain an error like below:

![image](https://user-images.githubusercontent.com/16865714/145172741-37d1d113-f4f7-4614-a4a8-36afe9b90c1f.png)

/area devops
/cc @kubesphere/sig-devops
/kind bug
/priority high
/milestone v3.2

[2021-12-08 08:19] weili520 commented on #2631
/assign

[2021-12-08 09:13] harrisonliu5 commented on #2740
/kind need-to-verify

[2021-12-08 09:24] liuyp2018 opened #2790 "Need to add input box validation"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/145182787-f16c4d33-c9bf-47b9-9bda-e8a8df9e1857.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @weili520
/priority Low

[2021-12-08 09:28] #2779 closed

[2021-12-08 09:42] wenxin-01 opened #2791 "The url of 'User Manual' and 'API Documents' are error"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.1-rc.2`
**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/145185663-97f755d6-bb39-4a71-9cbb-a97a6d98f601.png)

/kind bug
/priority high
/cc @kubesphere/sig-console

[2021-12-08 09:53] weili520 commented on #2791
/assign

[2021-12-09 02:14] JohnNiang commented on #2780
/ping @kubesphere/sig-console

[2021-12-09 02:31] liuyp2018 opened #2797 "The quantity unit of the container group quota is incorrect"
**Describe the bug**
The quantity unit of the container group quota is incorrect
![image](https://user-images.githubusercontent.com/36271543/145323521-5d303741-8e07-4da4-a3fc-8121a515e6cd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @weili520
/priority Low

[2021-12-09 02:44] liuyp2018 opened #2798 "The user-defined resource quota is not displayed on the page"
**Describe the bug**

The user-defined resource quota is not displayed on the page

https://user-images.githubusercontent.com/36271543/145324911-1f63a72e-d487-4de0-8661-9907abd82100.mp4

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/kind bug
/priority Low

[2021-12-09 02:48] liuyp2018 opened #2799 "Quota page text display problem"
**Describe the bug**
Quota page text display problem
![image](https://user-images.githubusercontent.com/36271543/145325264-f9e7ccfa-02b4-442a-bbf6-b5d9b0b2b7f4.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/kind bug
/priority Low

[2021-12-09 02:55] harrisonliu5 commented on #2791
/kind need-to-verify

[2021-12-09 03:07] wenxin-01 commented on #2674
issue fixed in `3.2.1-rc.2`

[2021-12-09 03:07] #2674 closed

[2021-12-09 03:29] harrisonliu5 commented on #2780
There is no run id when clicking the stop button. @JohnNiang

[2021-12-09 03:31] JohnNiang commented on #2780
Yup. What I want is disabling or hiding the operation button on the right of a PipelineRun if the run id is missing. : )

[2021-12-09 03:40] wenxin-01 opened #2803 "Can not access container info in resource status of nodeport gateway"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.2.1-rc.2`
Kubernetes: (If KubeSphere installer used, you can skip this)

**To Reproduce**
Steps to reproduce the behavior:

Gateway type: `NodePort`

https://user-images.githubusercontent.com/68640256/145330139-6e3dbbfe-bc87-41ec-9fb4-38d5a31516e1.mov

![image](https://user-images.githubusercontent.com/68640256/145330298-678cd71e-947d-4399-9

[2021-12-09 06:14] zryfish commented on #2780
/kind need-to-verify

[2021-12-09 06:15] zryfish commented on #2777
/kind need-to-verify

[2021-12-09 06:27] JohnNiang commented on #2780
This issue has been fixed by #2804, please see https://github.com/kubesphere/console/pull/2804#pullrequestreview-827244737.
/close

[2021-12-09 06:27] #2780 closed

[2021-12-09 08:16] harrisonliu5 commented on #2803
/kind need-to-verify

[2021-12-09 08:19] weili520 commented on #2767
/kind need-to-verify

[2021-12-09 09:15] JohnNiang commented on #2612
I think this issue has been fixed by #2660
/close

[2021-12-09 09:15] #2612 closed

[2021-12-09 09:19] liuyp2018 opened #2811 "The snapshot status is incorrect"
**Describe the bug**

![image](https://user-images.githubusercontent.com/36271543/145368145-43958c90-d287-46cd-b25c-31a027c7699c.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc.2
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @weili520
/priority Low

[2021-12-09 09:48] JohnNiang commented on #2648
/remove-priority high
/priority medium
Due to complexity of asynchronization problem which is not only a console issue, I'll change the priority to medium currently. We will handle it in the future.

[2021-12-09 09:58] wenxin-01 opened #2812 "After enabling real-time data, the total requests of gateway is not refreshed"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.1-rc.2`
Kubernetes: (If KubeSphere installer used, you can skip this)

**To Reproduce**
Steps to reproduce the behavior:
1. enable real-time data of Overview
2. Continue request route address

`The interface returns data, but the page is not refreshed`

![image](https://user-images.githubusercontent.com/68640256/145374549-163bc4eb-ad75-4f

[2021-12-10 02:45] jioce opened #2816 "Notification criteria filter custom label value error"
**Describe the bug**
Exist project test, including deployment dd and stateful replica set ss，and Dingding notification has been turned on and the correct session has been set
1、Add a custom label "owner_kind", select the included value, and set the value to "deployment"
2、Create alarm policies that can be triggered, aa monitoring deployment dd, aa1 monitoring stateful replica set ss
3、After the al

[2021-12-10 03:39] jioce opened #2817 "Expansion storage volume input error"
**Describe the bug**
0 cannot be deleted when entering

![image](https://user-images.githubusercontent.com/88183150/145513301-793b1450-9187-4237-af0c-ffae33f66e44.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.1-rc.2

kind bug
/@kubesphere/sig-console
/priority low

[2021-12-10 03:40] weili520 commented on #2774
/assign

[2021-12-10 03:42] jioce commented on #2817
Had the same problem when creating

![image](https://user-images.githubusercontent.com/88183150/145513411-1c71e016-95ed-483b-a0a3-e1d471584ae1.png)

Versions used(KubeSphere/Kubernetes)
KubeSphere: v3.2.1-rc.2

[2021-12-10 07:40] ks-ci-bot opened #2827 "[release-3.2] docs: Update l10n guide."
Manual cherrypick required.

#2824 failed to apply on top of branch "release-3.2":
[code]

[2021-12-10 08:14] ks-ci-bot opened #2830 "[release-3.2] docs: Update language options."
Manual cherrypick required.

#2828 failed to apply on top of branch "release-3.2":
[code]

[2021-12-10 10:14] XiaohuiSept opened #2835 "The ”value“ of secrets / configmaps needs to fit the box when editting setting"
**Describe the bug**
When editing the setting of secrets / configmaps, the ”value“ of data overflow the box.

https://user-images.githubusercontent.com/72596911/145555324-53766c7d-87dc-4e78-bf29-32d788b999fe.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @XiaohuiSept
/kind design

[2021-12-10 10:25] XiaohuiSept commented on #2776
Drawing design as follow:
https://www.figma.com/file/G6LDkjRMGtHq1NGkr5bIyI/Design-Requirements-Pool?node-id=924%3A341518
/cc @harrisonliu5

[2021-12-13 01:33] weili520 commented on #2835
/assign

[2021-12-13 02:29] weili520 commented on #2472
/kind need-to-verify

[2021-12-13 02:58] weili520 commented on #2430
@kubesphere/sig-multicluster, please take a look at this problem. The rohan cluster doesn't update when I change the config map mount path, but other clusters are updated.

https://user-images.githubusercontent.com/33231138/145745037-5a270b5c-c970-4a3a-a0a4-7cd6520e1b09.mov

[2021-12-13 03:04] harrisonliu5 commented on #2816
/kind need-to-verify

[2021-12-13 03:08] harrisonliu5 commented on #2817
/assign @weili520

[2021-12-13 03:09] harrisonliu5 commented on #2811
/assign @Patrick-LuoYu

[2021-12-13 03:10] harrisonliu5 commented on #2799
/assign @Patrick-LuoYu

[2021-12-13 03:23] weili520 commented on #2835
It has beed fixed on v3.2.1-rc.2.

![截屏2021-12-13 11 17 18](https://user-images.githubusercontent.com/33231138/145747132-65b1c867-e692-475e-8a30-5bc7d9740201.png)

[2021-12-13 03:23] weili520 commented on #2835
/kind need-to-verify

[2021-12-13 03:31] iawia002 commented on #2430
This is caused by resource quota restrictions, the rohan cluster has set a resource quota, and the remaining is not enough to create another Pod, so the new Pod cannot be created, it looks like it has not been updated.

[code]

Just increase the quota below and everything will be OK.

<img width="2231" alt="Screen Shot 2021-12-13 at 11 15 01 AM" src="https://user-images.githubusercontent.com/91340

[2021-12-13 03:36] weili520 commented on #2817
We need to change the Slider component in kube-design.

[2021-12-13 03:37] harrisonliu5 commented on #2739
/kind need-to-verify

[2021-12-13 03:41] harrisonliu5 commented on #2737
fixed in https://github.com/kubesphere/console/pull/2784

[2021-12-13 03:41] harrisonliu5 commented on #2737
/cc @kubesphere/sig-testing

[2021-12-13 03:41] harrisonliu5 commented on #2737
/kind need-to-verify

[2021-12-13 03:42] XiaohuiSept commented on #2835
/lgtm

[2021-12-13 03:43] weili520 commented on #2835
/close

[2021-12-13 03:44] #2835 closed

[2021-12-13 03:53] harrisonliu5 commented on #2810
/kind need-to-verify

[2021-12-13 03:59] JohnNiang commented on #2810
/close

See also https://github.com/kubesphere/console/pull/2814#pullrequestreview-828412464.

[2021-12-13 03:59] #2810 closed

[2021-12-13 04:18] #2830 closed

[2021-12-13 06:31] liuyp2018 commented on #1666
close

[2021-12-13 06:31] #1666 closed

[2021-12-13 06:32] liuyp2018 commented on #1620
close

[2021-12-13 06:32] #1620 closed

[2021-12-13 08:46] yinmin2020 opened #2842 "The SC type option for creating a storage volume is missing"
**Describe the bug**
A clear and concise description of what the bug is.
UI Creation workloads do not support dynamic selection of SC and dynamic creation of PVC
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/65068467/145779505-7c64449a-1ba0-4c70-90e0-d66bac6ccc84.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:3.1.0
Ku

[2021-12-13 09:39] weili520 commented on #2672
/kind need-to-verify

[2021-12-14 06:08] liuyp2018 commented on #2791
verified and fixed
/close

[2021-12-14 06:08] #2791 closed

[2021-12-14 06:22] liuyp2018 commented on #2777
fixed
/close

[2021-12-14 06:22] #2777 closed

[2021-12-14 06:39] liuyp2018 commented on #2738
fixed

[2021-12-14 06:39] #2738 closed

[2021-12-14 06:47] liuyp2018 commented on #2684
fixed

[2021-12-14 06:47] #2684 closed

[2021-12-14 09:49] weili520 commented on #2430
/kind need-to-verify

[2021-12-14 10:02] liuyp2018 commented on #2767
fixed
/close

[2021-12-14 10:02] #2767 closed

[2021-12-14 10:12] weili520 commented on #2466
/assign

[2021-12-14 10:13] liuyp2018 commented on #2803
fixed
/close

[2021-12-14 10:13] #2803 closed

[2021-12-15 05:37] jioce commented on #2816
issue is fixed
kubesphere: v3.2.1-rc.3

[2021-12-15 05:38] #2816 closed

[2021-12-15 05:49] jioce opened #2848 "Error creating custom monitoring template with yaml file"
**Describe the bug**
Create a custom monitoring template “ss”，Click save template

![image](https://user-images.githubusercontent.com/88183150/146130144-53da431f-08b2-436f-8eb1-67f0d4dae2f8.png)

1、Click create template again, don't fill in any information，choose to create with yaml file
2、The yaml file displays the information of the previous "ss" template

![image](https://user-images.githubuser

[2021-12-15 07:18] weili520 commented on #2429
/assign

[2021-12-15 07:25] liuyp2018 commented on #2739
fixed

[2021-12-15 07:25] #2739 closed

[2021-12-15 07:27] liuyp2018 commented on #2472
fixed

[2021-12-15 07:27] #2472 closed

[2021-12-15 07:30] weili520 commented on #2429
I think this problem has been resolved.

https://user-images.githubusercontent.com/33231138/146142482-a2245871-74b5-4cab-9adb-1e7e99732ceb.mov

[2021-12-15 07:31] weili520 commented on #2429
/kind need-to-verify

[2021-12-15 07:37] jioce opened #2849 "The container log path is not entered for verification"
**Describe the bug**
There is a deployment demo, the mirror is "alpine", and the startup command is set to "/bin/sh  -c,if [ ! -d /data/log ];then mkdir -p /data/log;fi; while true; do date >> /data/log/app-test.log; sleep 30;done"
1、Click Edit Settings, select the storage volume, and turn on the disk log collection
2、Click Mount storage volume, select temporary storage volume, set to read and wri

[2021-12-15 08:15] liuyp2018 opened #2850 "suggestion that adding a prompt for the button on the log page"
**Describe the bug**
The button does not have any prompt information. Users do not know the function of this button. It is advised to add a prompt information for the button.
![image](https://user-images.githubusercontent.com/36271543/146148515-0a6bcf5d-babb-4112-83fe-59acc2066dcd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1-rc.3
Kubernetes: (If KubeSphere installer

[2021-12-15 08:18] jioce opened #2851 "Name search does not work"
**Describe the bug**
Enter the multi-cluster projects, click Apps enter the name rr in the search, and press Enter，Page not responding

![image](https://user-images.githubusercontent.com/88183150/146149043-e473a558-8068-44c8-b11d-374b411ba148.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.1-rc.3

/kind bug
/@kubesphere/sig-console
/priority memdium

[2021-12-15 08:22] meihaohui opened #2852 "我去看集群节点中的容器组，准备筛选我们的容器，结果筛选之后翻页，筛选条件就没有了。"
![5fcc958db990a7fd323317ef2f68ca7](https://user-images.githubusercontent.com/30396241/146149874-4375d559-1317-4651-a44a-a7b88cb0497b.png)
![262560568f0f698be04d5ca3062d437](https://user-images.githubusercontent.com/30396241/146149873-4ebb63b3-fb63-4501-b1ef-289bdca2d917.png)
![56fc9abb232bfd253f5fba6b363eeba](https://user-images.githubusercontent.com/30396241/146149875-8b579702-4c50-4a6c-b809-11c0

[2021-12-15 09:03] jioce opened #2853 "Failed to create mirror warehouse secert for multi-cluster project"
**Describe the bug**
The cluster host is set to “test-host” when multiple clusters are turned on
1、Click Create Key, set the name, select the mirror warehouse secert, set the correct warehouse information,
2、click verify, and the page will report an error

![image](https://user-images.githubusercontent.com/88183150/146155208-dd992003-59f1-4107-b6a5-1a11add6974e.png)

**Versions used(KubeSphere/Kub

[2021-12-15 09:14] jioce commented on #2851
Multiple search boxes under multi-cluster projects have the same problem
![image](https://user-images.githubusercontent.com/88183150/146156440-a3692918-427f-474a-a842-af64a8afea99.png)

![image](https://user-images.githubusercontent.com/88183150/146156364-4b0dbccf-db82-497f-b0cc-f4ed3db2bdae.png)

![image](https://user-images.githubusercontent.com/88183150/146157528-b53da105-8665-40a2-bf6b-79fba02

[2021-12-15 09:52] jioce opened #2854 "List editing configuration dictionary and confidential dictionary failed"
**Describe the bug**

1、Enter the multi-cluster project, click the config, click the three points behind the list
 2、select edit settings, change the config information, click save, the page reports an error

![image](https://user-images.githubusercontent.com/88183150/146162864-b6787bc4-4751-4618-bf3f-f888479bd9fd.png)

1、Enter the multi-cluster project, click the secret, click the three points be

[2021-12-15 10:00] weili520 commented on #2852
/assign

[2021-12-15 10:24] weili520 commented on #2852
Hi meihaohui, which version of console you are using ?

[2021-12-15 11:30] jioce opened #2855 "Deleting all routing rules does not take effect"
**Describe the bug**

Click Edit routing rules, delete all routing rules, click OK, save successfully, cluster routing rules still exist
![image](https://user-images.githubusercontent.com/88183150/146178535-70917dbe-2b0a-45a2-9d27-2220e013932f.png)

![image](https://user-images.githubusercontent.com/88183150/146178601-d8efc221-7676-4eb3-b1d6-cb7067f83a27.png)

**Versions used(KubeSphere/Kubernetes

[2021-12-15 11:34] jioce commented on #2855
Create a route rr, there are two routing rules, as follows：

![image](https://user-images.githubusercontent.com/88183150/146179264-5c00dc82-8548-422e-b886-20196dacff25.png)

Delete the route of the member cluster, click save, the route is not deleted

![image](https://user-images.githubusercontent.com/88183150/146179370-6f71080e-fd61-40ac-b9cc-26146719f683.png)

![image](https://user-images.github

[2021-12-16 02:42] meihaohui commented on #2852
i use v3.1.1

[2021-12-16 02:47] f10atin9 opened #2856 "Disable special PVC expand and clone"
**What would you like to be added**:
Disable status is pending pvc use expand and clone
**Why is this needed**:
After testing, it is found that these operations on pending pvc may cause unexpected errors.

![image](https://user-images.githubusercontent.com/36705019/146298712-2e532bbf-5e30-42ef-8df8-9e9d49c868c5.png)

[2021-12-16 02:47] f10atin9 commented on #2856
/assign @weili520

[2021-12-16 06:40] f10atin9 opened #2858 "Follow the previous page style"
**What would you like to be added**:
Keep the menu in the pv list consistent with pvc, change view yaml to edit yaml, edit to add Alias and description.
![pv menu](https://user-images.githubusercontent.com/36705019/146320262-e64c597e-2e88-4547-b2cf-6123c52dad3a.png)

![pvc menu](https://user-images.githubusercontent.com/36705019/146321004-7a9d9161-c0d0-4f01-933e-d23442bbd687.png)

**Why is this ne

[2021-12-16 06:41] f10atin9 commented on #2858
/assign @weili520

[2021-12-16 10:06] weili520 commented on #2631
/kind need-to-verify

[2021-12-16 13:19] #2614 closed

[2021-12-17 06:34] weili520 opened #2861 "The GPU limit number is incorrect and GPU limit validate error"
**Describe the bug**

If we set the GPU limit and other limit fields(eg: number of pods) for project setting at the same time, the GPU num that we can set for default container quotas will incorrect.

+ The GPU limit validation num incorrect

the gpu available num is 10 in the available quota tip
![截屏2021-12-20 10 30 14](https://user-images.githubusercontent.com/33231138/146703403-8ea3fe69-2bea-4b

[2021-12-17 06:34] weili520 commented on #2861
/assign

[2021-12-17 07:43] yinmin2020 opened #2862 "DevOps Pipeline-task-status No information is displayed"
**Describe the bug**
A clear and concise description of what the bug is.
The audit function and condition function exist at the same time will not display the page
For UI issues please also add a screenshot that shows the issue.
`pipeline {
  agent {
    node {
      label 'nodejs'
    }

  }
  stages {
    stage('stage-pd895') {
      agent none
      steps {
        echo '2222'
      }
    }

[2021-12-17 07:46] LinuxSuRen commented on #2862
/area devops

[2021-12-17 07:51] LinuxSuRen commented on #2862
/priority high
/cc @kubesphere/sig-devops
/assign @harrisonliu5

[2021-12-17 09:15] yinmin2020 commented on #2862
A back-end interface problem has been located. I'll post the relevant code blocks and screenshots
![image](https://user-images.githubusercontent.com/65068467/146519878-30e9abd4-0a09-42cd-a2e9-cc5d1e567ce6.png)
`[
 {
  "_class": "io.jenkins.blueocean.rest.impl.pipeline.PipelineNodeImpl",
  "_links": {
   "self": {
    "_class": "io.jenkins.blueocean.rest.hal.Link",
    "href": "/blue/rest/organizat

[2021-12-17 09:18] JohnNiang commented on #2862
@yinmin2020 Thanks for providing extra information. I will investigate this issue later.

[2021-12-20 02:35] harrisonliu5 commented on #2774
/kind need-to-verify

[2021-12-20 02:37] harrisonliu5 commented on #2466
/kind need-to-verify

[2021-12-20 02:38] harrisonliu5 commented on #2790
/kind need-to-verify

[2021-12-20 05:45] weili520 commented on #2854
/assign

[2021-12-20 08:25] weili520 commented on #2851
/assign

[2021-12-20 09:47] harrisonliu5 commented on #2317
/kind need-to-verify

[2021-12-20 09:51] harrisonliu5 commented on #2858
/kind need-to-verify

[2021-12-20 10:11] weili520 commented on #2853
It seems not a big problem or a front-end problem and it will disappear if we rebuild a secret later. I can't reproduce it.

[2021-12-21 02:43] hurricane1988 opened #2866 "There is not console 3.2.0 match the kubesphere 3.2.0"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
1. The repository has not console-3.2.0 match the kubesphere-3.2.0
2. When I use console-3.1.1 as the front of kubesphere-3.2.0, It always report wrong password or username.

For UI issues please also add a screenshot that shows the issue.
<img width="877" alt="lQLPDhr6F-sKmQPNAbjNBtqw5zUP3CwWVQkBxv7xmQAK

[2021-12-21 02:47] f10atin9 commented on #2858
/lgtm

[2021-12-21 02:47] f10atin9 commented on #2858
/lgtm

[2021-12-21 03:03] #2858 closed

[2021-12-21 06:34] weili520 commented on #2855
/assign

[2021-12-21 09:24] weili520 commented on #2855
I think,  this problem is caused by the Ingress lets every route must have `rules` or `defaultBackend` field, otherwise, we should delete that route. @harrisonliu5

[2021-12-21 10:03] iawia002 commented on #2855
When a cluster is deselected, the cluster data in the `federatedingresses` API is not updated

<img width="744" alt="Screen Shot 2021-12-21 at 5 53 56 PM" src="https://user-images.githubusercontent.com/9134003/146910624-bdd162e9-1d37-447b-90f5-ed091ccb0252.png">

[2021-12-22 01:35] weili520 commented on #2854
kind need-to-verify

[2021-12-22 02:39] jioce commented on #2854
The problem of editing the configmaps still exists

![image](https://user-images.githubusercontent.com/88183150/147025709-b7d288d2-9ba8-4856-ba8c-be9d4c0c3600.png)

version used:
ks-console: nightly-20211221

[2021-12-22 03:16] weili520 commented on #2849
/assign

[2021-12-22 07:35] wenchajun commented on #2849
I think you should follow the steps and try again, ref https://v2-1.docs.kubesphere.io/docs/zh-CN/workload/logs-on-disk/
Logsidecar is designed to collect logs generated by other containers.

[2021-12-22 08:24] weili520 opened #2870 "Use kubectl apply workload yaml failed."
**General remarks**

**Describe the bug**

+ If we use `kubectl apply -f 1.yaml`, it will field with an error that `unknown field "gpu" in io.k8s.core.v1.ResourceRequirements; if you choose to ignore these errors, turn validation off with --validate=false`.

+ the `1.yaml`  config is `copied from` the console workload YAML

![image](https://user-images.githubusercontent.com/33231138/147058721-ddfb

[2021-12-22 08:25] weili520 commented on #2870
/priority high

[2021-12-22 08:25] weili520 commented on #2870
/assign

[2021-12-22 08:25] harrisonliu5 commented on #2854
/kind need-to-verify

[2021-12-22 08:30] harrisonliu5 commented on #2855
/kind need-to-verify

[2021-12-22 08:37] harrisonliu5 commented on #2851
/kind need-to-verify

[2021-12-23 01:58] weili520 commented on #2861
/priority high

[2021-12-23 01:59] weili520 commented on #2853
/kind need-to-verify

[2021-12-23 09:48] FeynmanZhou opened #2872 "Support import a private helm repo on the web console with authentication"
**What would you like to be added**:

I hope KubeSphere could support authentication for the private helm repo, users can input the account and password when importing their private Helm repo into KubeSphere.

![image](https://user-images.githubusercontent.com/40452856/147221520-39ec4508-ee4d-4cf0-a8c2-ee56a0cddd07.png)

The current workaround is to enter the private repo URL like `https://usernam

[2021-12-23 09:48] FeynmanZhou commented on #2872
/help

[2021-12-24 02:19] jioce commented on #2854
issue fixed
version used: ks-console:nightly-20211223

[2021-12-24 02:19] #2854 closed

[2021-12-24 02:20] jioce commented on #2855
issue fixed
version used: ks-console:nightly-20211223

[2021-12-24 02:20] #2855 closed

[2021-12-24 02:20] jioce commented on #2851
issue fixed
version used: ks-console:nightly-20211223

[2021-12-24 02:20] #2851 closed

[2021-12-24 08:15] weili520 commented on #2850
How about this tip?

![image](https://user-images.githubusercontent.com/33231138/147333219-272d12fb-58b0-4b3d-bd42-0f2e5cf1758e.png)

[2021-12-24 09:54] liuyp2018 opened #2875 "The number of worker nodes is incorrect"
**Describe the bug**
The number of worker nodes is  incorrect
![image](https://user-images.githubusercontent.com/36271543/147342174-e76be469-30a7-49d4-9a40-ffa8c08e1880.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: kubesphere v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/kind bug
/priority low

[2021-12-27 03:38] harrisonliu5 commented on #2856
/kind need-to-verify

[2021-12-27 03:40] harrisonliu5 commented on #2850
/kind need-to-verify

[2021-12-27 06:40] weili520 opened #2877 "No GPU info in resource card for multi-cluster project"
**Describe the bug**
A clear and concise description of what the bug is.

I have set a GPU limit for cluster rohan, but resource card doesn't have GPU info.
![截屏2021-12-27 14 23 38](https://user-images.githubusercontent.com/33231138/147441534-ce02c25d-71cc-4678-b901-b639cc4f320f.png)

![截屏2021-12-27 14 27 43](https://user-images.githubusercontent.com/33231138/147441536-29914c09-0ecc-4582-ba98-782b

[2021-12-27 06:40] weili520 commented on #2877
/assign

[2021-12-27 06:42] wenchajun commented on #2849
For more details, please see https://kubernetes.io/docs/concepts/cluster-administration/logging/#sidecar-container-with-logging-agent

[2021-12-28 05:56] weili520 commented on #2848
/assign

[2021-12-28 07:05] harrisonliu5 commented on #2877
/kind need-to-verify

[2021-12-28 07:05] harrisonliu5 commented on #2798
/kind need-to-verify

[2021-12-28 07:06] harrisonliu5 commented on #2875
/kind need-to-verify

[2021-12-28 07:09] weili520 commented on #2861
/kind need-to-verify

[2021-12-29 07:01] weili520 commented on #2771
/kind need-to-verify

[2021-12-29 07:03] weili520 commented on #2776
/assign

[2021-12-29 07:42] weili520 commented on #2842
/assign

[2021-12-29 07:48] weili520 commented on #2726
Hi @showjason, thanks for your attention, and it's just a tip icon, user can only close this dialog by clicking the cancel button.

[2021-12-29 08:06] weili520 commented on #2680
/assign

[2021-12-29 08:09] weili520 commented on #2732
/assign

[2021-12-29 09:09] weili520 commented on #2592
/kind need-to-verify

[2021-12-29 09:16] weili520 commented on #2513
/assign

[2021-12-29 09:35] JohnNiang opened #2886 "Invalid API request of listing s2ibuildertemplates in multi-cluster environment"
**Describe the bug**

Invalid API request of listing s2ibuildertemplates in multi-cluster environment:
- Host cluster dose not install DevOps component.
- Member cluster has installed DevOps component.

[code]

So that users cannot select `Build Environment` in project belonging to member cluster.

![image](https://user-images.githubusercontent.com/16865714/147646979-4a7a7f81-acf3-449b-9f5d-3cc0e2

[2021-12-29 10:00] harrisonliu5 commented on #2848
/kind need-to-verify

[2021-12-29 10:01] harrisonliu5 commented on #2870
/kind need-to-verify

[2021-12-29 10:02] harrisonliu5 commented on #2776
/kind need-to-verify

[2021-12-29 10:02] harrisonliu5 commented on #2680
/kind need-to-verify

[2021-12-29 10:04] harrisonliu5 commented on #2513
/kind need-to-verify

[2021-12-30 01:33] weili520 commented on #2886
/assign

[2021-12-30 03:21] #2856 closed

[2021-12-30 09:15] XiaohuiSept commented on #2776
/lgtm

[2021-12-31 11:24] showjason commented on #2726
Ok，I will close this issue!

[2021-12-31 11:24] #2726 closed

[2022-01-04 02:52] harrisonliu5 commented on #2732
/kind need-to-verify

[2022-01-04 02:53] #2827 closed

[2022-01-05 07:46] weili520 commented on #1257
@harrisonliu5 I think we should upgrade the `node-fetch` to v3.x, this problem is caused by that [the fetch response.body is not a nodejs `readable stream`](https://github.com/node-fetch/node-fetch/issues/1308#issuecomment-925202298). It is ESM, the resolution is here [Add example for loading ESM from CommonJS](https://github.com/node-fetch/node-fetch/pull/1236#issue-962556727).

[2022-01-05 07:54] weili520 commented on #1257
I  have tried it, it works well.

The pods log-generator is created by using the command: `kubectl apply -f https://raw.githubusercontent.com/wenchajun/fluentbit-operator/notification/docs/user-guides/forwarding-logs-via-http/kubesphere/log-generator.yaml`

it will generate a log every five seconds.

https://user-images.githubusercontent.com/33231138/148180055-2afddcc0-d4eb-44d3-b262-7abe78cb15c1.

[2022-01-05 10:26] xushuxun opened #2890 "handleOAuthLogin should handle Chinese characters"
According to https://github.com/koajs/koa/issues/740

Valid HTTP header values (including cookies) are defined in RFC 7230 Section 3.2 to only include a limited selection of ASCII characters (not including Chinese characters).

But
[code]

`user.extraname` could be Chinese characters，it will cause TypeError

[2022-01-06 02:36] tracer1023 commented on #2890
/assign

[2022-01-06 02:57] harrisonliu5 commented on #2713
/kind need-to-verify

[2022-01-06 05:56] f10atin9 opened #2891 "The PV details page cannot be displayed"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

In a multi-cluster environment, non-host clusters cannot display pv details normally

[2022-01-06 05:56] f10atin9 commented on #2891
/assign @weili520

[2022-01-06 07:24] LinuxSuRen opened #2893 "Avoid use the secret value in the DevOps scm verify API"
**What would you like to be added**:

API: POST `devops.kubesphere.io/v1alpha2/scms/github/verify/`

Payload: `{accessToken: "github_plain_token"}`

Suggestion: change the payload to `{name: 'secret_name'}`

**Why is this needed**:

There are security issues if users can get a plain secret value. See also the above example:

We should never pass the token to an API. Instead, please pass an ID or n

[2022-01-06 09:06] tracer1023 commented on #2469
/assign

[2022-01-06 09:14] weili520 commented on #2877
It fixed.
version: nightly-20220105.

![截屏2022-01-06 17 09 30](https://user-images.githubusercontent.com/33231138/148358557-c4483a6b-a6c2-4cb0-a8f0-0fe965b9b8c0.png)

![截屏2022-01-06 17 09 26](https://user-images.githubusercontent.com/33231138/148358563-4f559a31-4141-4431-8eae-ba72a39fe096.png)

[2022-01-06 09:14] #2877 closed

[2022-01-06 09:18] weili520 commented on #2861
it fixed.
version: nightly-20220105.

[2022-01-06 09:18] #2861 closed

[2022-01-06 09:21] tracer1023 commented on #2470
/assign

[2022-01-06 09:49] weili520 commented on #1257
This problem will disappear if the user updates the KubeSphere version to v3.2.1, it's amazing.

[2022-01-06 09:57] weili520 commented on #2797
/kind need-to-verify

[2022-01-06 09:58] weili520 commented on #2760
/kind need-to-verify

[2022-01-06 10:02] weili520 commented on #2866
Hi @hurricane1988, you should update the console version to v3.2.x if your kubesphere's version is v3.2.x

[2022-01-06 10:05] weili520 commented on #2526
The prompt message in the input box has been optimized.

![截屏2022-01-06 18 04 42](https://user-images.githubusercontent.com/33231138/148365957-8fbdc880-8e77-4df0-8690-5472d6c5d88b.png)

[2022-01-06 10:06] weili520 commented on #2526
/kind need-to-verify

[2022-01-06 10:09] weili520 commented on #2516
![截屏2022-01-06 18 07 19](https://user-images.githubusercontent.com/33231138/148366330-2109b2d3-0659-4635-b77d-c2090b035e8f.png)
version: v3.2.1

[2022-01-06 10:09] weili520 commented on #2516
/kind need-to-verify

[2022-01-06 10:14] weili520 commented on #2485
It has beed resolved.
version: v3.2.1
![截屏2022-01-06 18 12 27](https://user-images.githubusercontent.com/33231138/148366924-b393a66b-0ef0-42b7-ad8c-d02e63104a0e.png)

[2022-01-06 10:14] weili520 commented on #2485
/kind need-to-verify

[2022-01-07 02:53] weili520 commented on #2431
/assign

[2022-01-07 02:55] weili520 commented on #2431
Pass the form's error control permission to it.

[2022-01-07 07:37] tracer1023 commented on #2707
/assign

[2022-01-07 09:12] harrisonliu5 commented on #2891
/kind need=to-verify

[2022-01-07 09:13] harrisonliu5 commented on #2891
/kind need-to-verify

[2022-01-07 16:01] LinuxSuRen commented on #2707
After I did some research work, this issue might caused by the backend. The duplication check API does not return a correct response.

See https://github.com/kubesphere/ks-devops/pull/435

[2022-01-10 03:04] #2891 closed

[2022-01-10 03:09] iawia002 opened #2898 "Notify users when cluster KubeConfig approaches the expiration date"
**What would you like to be added**:

Remind users in the UI when their cluster's certificate is about to expire.

**Why is this needed**:

From KS 3.3, we're going to support updating the member cluster's KubeConfig to solve the cert expiration issue, so it's better to remind users in the UI when their cluster's certificate is about to expire, now the member cluster (direct connection type) adds

[2022-01-10 07:31] harrisonliu5 opened #2899 "View the detail of gateway in the some projects have the block error"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

When viewing the gateway details of a project, the data returned by the interface is missing fields and the page is blocked.

For UI issues please also add a screenshot that shows the issue.

![image](https://kubesphere.com.cn/forum/assets/files/2021-12-29/1640747188-468189-image.png)

![image](https://k

[2022-01-10 09:19] lynxcat opened #2902 "Change the prompt for the shell to access the node interface"
**What would you like to be added**:
Modify the appropriate prompt in the shell to access interface
![image](https://user-images.githubusercontent.com/2222701/148742481-d6b7c040-f14d-454e-902a-83a05a8c1a35.png)

**Why is this needed**:
In the function of shell access to node, I used the kubectl component, the original prompt of this component is not suitable for this function

[2022-01-10 10:43] LinuxSuRen commented on #2707
For this issue, we can add a new query parameter. Please see the following example:

`/workspaces/{workspace}/devops/{devops}?generateName=true`

See the details https://github.com/kubesphere/ks-devops/pull/435#issuecomment-1008743175

Before https://github.com/kubesphere/ks-devops/pull/435 got merged, you can use the following temporary image:

[code]

cc @tracer1023

[2022-01-11 02:38] tracer1023 commented on #2811
/kind need-to-verify

[2022-01-11 02:43] harrisonliu5 commented on #2811
/kind need-to-verify

[2022-01-11 10:20] mgw2168 opened #2904 "If you write a project name that does not exist on the application deployment page, click ✔️. During the deployment, an error message is displayed indicating that the namespace does not exist"
**General remarks**

**Describe the bug**

If you write a project name that does not exist on the application deployment page, click ✔️. During the deployment, an error message is displayed indicating that the namespace does not exist
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/40252427/148924664-7c60c66c-9b1f-431a-a061-795a97

[2022-01-12 01:25] LinuxSuRen commented on #2707
/good-first-issue

@tracer1023 Any updates? Do you need any kind of help?

[2022-01-12 01:31] mangoGoForward commented on #2707
/assign

[2022-01-12 02:58] wansir commented on #1855
/close

[2022-01-12 02:58] #1855 closed

[2022-01-12 02:59] wansir commented on #2208
/assign @kubesphere/sig-console

[2022-01-12 06:41] harrisonliu5 commented on #2886
/kind need-to-verify

[2022-01-12 07:47] harrisonliu5 commented on #2707
/kind need-to-verify

[2022-01-12 07:48] harrisonliu5 commented on #2899
/kind need-to-verify

[2022-01-12 08:10] zryfish commented on #2902
/help

[2022-01-12 08:25] f10atin9 opened #2906 "Cannot get namespace information in pvc page"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
There is no namespace information of pvc in the pvc list page now.
For UI issues please also add a screenshot that shows the issue.
![pvc page](https://user-images.githubusercontent.com/36705019/149090688-9cbc597d-eabb-477a-a0cf-760e3532f946.png)

**Expected behavior**
I can get namespace information in p

[2022-01-12 08:25] f10atin9 commented on #2906
/kind design

[2022-01-12 09:04] zryfish commented on #2898
/kind design
/area console

[2022-01-12 09:06] zryfish commented on #2208
/area console

[2022-01-12 11:29] LinuxSuRen commented on #2893
See the backend part https://github.com/kubesphere/ks-devops/pull/439

[2022-01-12 11:34] LinuxSuRen commented on #944
We will avoid users can view any secret from the DevOps platform. See https://github.com/kubesphere/console/issues/2893
/close

[2022-01-12 11:34] #944 closed

[2022-01-12 11:36] LinuxSuRen commented on #950
We will avoid users can view any secret from the DevOps platform. See https://github.com/kubesphere/console/issues/2893
/close

[2022-01-12 11:37] #950 closed

[2022-01-12 11:38] LinuxSuRen commented on #333
IMO, this does not belong to the DevOps area

/remove-area devops

[2022-01-12 11:39] LinuxSuRen commented on #2862
hi @JohnNiang any updates?

[2022-01-12 11:40] LinuxSuRen commented on #2893
/good-first-issue

[2022-01-14 10:33] harrisonliu5 commented on #2469
/kind need-to-verify

[2022-01-17 22:51] VioZhang opened #2917 "Support minimizing the terminal."
**What would you like to be added**:
Support minimizing the terminal.
**Why is this needed**:
When we want to jump out of the terminal but we dont want to close the terminal, it would be better to support minimizing the terminal.

[2022-01-18 01:46] zryfish commented on #2917
You can use shift + Click to open the terminal in a new tab.

[2022-01-18 03:13] qianfen2021 opened #2918 "deploy mysql cluster from the App Store,the user clicks on the screen and does not respond"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

Deploy  mysql cluster from the App Store，because the project options are covered，the user clicks on the screen and does not respond。 I want to optimize the prompt 。
<img width="933" alt="b1427153cac860e850b2c708a3a6c66" src="https://user-images.githubusercontent.com/86407305/149862610-72262a14-3e3a-4253-

[2022-01-18 08:23] liuyp2018 commented on #2918
/assign @harrisonliu5

[2022-01-19 02:36] zryfish commented on #2898
/priority high

[2022-01-20 09:20] LinuxSuRen opened #2920 "Use the new API of the pipeline artifacts"
**What would you like to be added**:

Change the API calling of pipeline artifacts from:

`/kapis/devops.kubesphere.io/v1alpha2/jenkins/job/cly-devops7846x/job/test-pipeline/2/artifact/target/devops-sample-0.0.1-SNAPSHOT.jar` to

`GET /kapis/devops.kubesphere.io/v1alpha2/pipelineruns/demo-artifact-tt85n/artifacts?filePath=xxx.log`

**Why is this needed**:
See the details of the background from htt

[2022-01-20 13:14] RishiKumarRay commented on #2920
Do we have to change the link only?

[2022-01-20 13:18] LinuxSuRen commented on #2920
Basically, yes. But we still need to wait for the backend API.

[2022-01-24 08:20] tkixp9 opened #2924 "package.json scripts serve 不需要cross-env 吗"
package.json scripts   serve  不需要cross-env 吗

[2022-01-24 08:21] tkixp9 commented on #2924
是我的环境还需要其他的配置吗？菜鸟求教！

[2022-01-24 09:04] xuliwenwenwen opened #2925 "Invalid API request of persistentvolumeclaims in member cluster environment"
**Describe the bug**

Invalid API request of persistentvolumeclaims in  member cluster environment.
[code]

![image](https://user-images.githubusercontent.com/74528885/150750351-744035ec-7ca4-44eb-bc25-3e847e9b6a76.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.0-89+77d14fe4dce0e8
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
Multi-cluster environm

[2022-01-26 02:02] FeynmanZhou opened #2934 "Call for Contributing to the KubeSphere Web Console Localization"

[2022-01-26 02:48] yinmin2020 opened #2929 "Add the query function by type when you want to query container groups"
**General remarks**

**Describe the bug**
There is no sorting by container state type when viewing container groups through cluster nodes

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

**Expec

[2022-01-26 03:35] f10atin9 opened #2930 "Support volumesnapshotcontent management in ks-console"
**What would you like to be added**:
Some pages in ks-console which can get volumesnapshotcontent information.

Please see this link for specific design: https://www.figma.com/file/8og5Ad5IX0qToDef9VO7bU/Storage?node-id=716%3A101662
**Why is this needed**:
Currently ks-console only support volumesnapshot management, it does not support volumesnapshotcontent management (crud).
volumesnapshot is lik

[2022-01-26 03:35] f10atin9 commented on #2930
/assign @weili520

[2022-02-08 06:41] weili520 commented on #2925
/kind need-to-verify

[2022-02-10 06:28] FeynmanZhou commented on #2381
@himanshu007-creator Now we use Crowdin to make localization much easier than before. We also create a localization program to call for contribution, you can check out this [issue](https://github.com/kubesphere/console/issues/2934) for details. If you have any issue with this program, please let us know.

[2022-02-10 07:29] FeynmanZhou commented on #2380
It's duplicated with https://github.com/kubesphere/console/issues/2934

[2022-02-10 07:29] #2380 closed

[2022-02-11 03:12] yinmin2020 opened #2936 "The parameters kubesphere added will overwrite the contents of jenkinsfile"
**General remarks**

**Describe the bug**
The contents of jenkinsfile edited by the new pipeline will be overwritten after modifying the Kubepshere interface for more operations

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/65068467/153531686-a6af6d4a-64c7-4d68-a14e-2fbca05caec1.png)
![image](https://user-images.githubuserconte

[2022-02-11 03:13] JohnNiang commented on #2936
/area devops
/cc @kubesphere/sig-devops

[2022-02-11 03:18] JohnNiang commented on #2936
Hi @yinmin2020 , thanks for reaching out here! I found a similar issue https://github.com/kubesphere/console/issues/2810, please help us confirm if this issue has been resolved.

[2022-02-11 04:24] LinuxSuRen commented on #2936
Thanks for reporting issues to the community.

KubeSphere v3.1.0 is not an LTS. I'm not sure if you have the env of 3.2.0. Please help us to check it if you do have it.

[2022-02-11 07:51] jeahoonchen opened #2937 "开启容器日志实时刷新后浏览器内存占用问题"
当我们开启容器日志实时刷新后
由于大量的debug日志，浏览器（chromium内核）的内存占用会不断上升，最后导致浏览器out of memory崩溃
能否实时刷新日志的时候，也能设置（固定/选择）展示多少行？

[2022-02-12 23:41] AbdelouahabMbarki commented on #2934
I would like to work on the arabic translation

[2022-02-14 03:25] XiaohuiSept commented on #2112
The new link:
https://www.figma.com/file/ZRvI25Lr3phV5a9mNu6jL9/KubeSphere-3.2.0?node-id=1118%3A373106

[2022-02-14 22:59] AbdelouahabMbarki commented on #2934
should we create a new issue for the Arabic Localization to track the progress ?

[2022-02-15 01:33] Felixnoo commented on #2934
Sounds great. Could you create a new issue to track Arabic localization progress and link the new issue to this one?

[2022-02-15 17:59] AbdelouahabMbarki opened #2942 "Arabic Localization KubeSphere Console"
This is a part of #2934 , it is about adding Arabic support to KubeSphere Console

[2022-02-16 01:54] Felixnoo commented on #2942
Hi, thanks for creating this issue. Please follow the [localization guide](https://github.com/kubesphere/console/blob/master/docs/join-the-kubesphere-localization-project.md) to start contributing on [Crowdin](https://crowdin.com/project/kubesphere).

[2022-02-16 08:34] zryfish commented on #2893
/assign @kubesphere/sig-console

[2022-02-16 08:43] zryfish commented on #2902
/good-first-issue

[2022-02-16 09:15] mangoGoForward commented on #2893
/assign

[2022-02-17 07:37] JohnNiang opened #2946 "Request Pipeline Templates from APIServer instead of hardcode"
### What would you like to be added:

Request to request Pipeline Templates from APIServer instead of hardcode. See

- https://github.com/kubesphere/console/blob/master/src/pages/devops/components/Pipeline/PipelineTemplate/templePipeline.js
- https://github.com/kubesphere/ks-devops/issues/454

for more.

Firstly, we need to request ClusterTemplates via query API and show them on "Custom Pipeline T

[2022-02-21 03:42] bonniechen1119 opened #2949 "kubesphere的自定义grafana监控模板通过URL上传失败"
kubesphere v3.2.0
kubernetes v1.21.5
用的是kubekey安装
在自定义grafana监控模板时候通过URL上传，出现error
<img width="125" alt="kubesphere" src="https://user-images.githubusercontent.com/35622764/154885511-e04046ea-9ec4-4083-956c-3a55a18533ca.png">

[2022-02-21 06:16] wenxin-01 opened #2950 "Contains html tags on the page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/154899005-ddf07559-66fe-4548-91bf-63c04c9f5040.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.2.1`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project detail page
2. Click on 'Grayscale Release'
3. Click on 'Create' in Traffic Mirroring
4. Click on 'next' after input name
5. Select any

[2022-02-21 07:18] noonme opened #2951 "console 对接helm应用仓库"
目前KubeShpere Console界面添加helm仓库无法进行身份认证管理，建议增加该功能

[2022-02-22 01:57] JohnNiang commented on #2946
/cc @kubesphere/sig-console
/cc @kubesphere/sig-devops

[2022-02-22 07:42] JohnNiang commented on #2946
/priority high

[2022-02-23 06:19] harrisonliu5 commented on #2357
![image](https://user-images.githubusercontent.com/17872673/155270125-6dc19171-4cc6-4c5d-b59a-ebf4c7ae1dd1.png)

The version of console is 3.2.1, which has no bug. @jioce

[2022-02-23 06:19] harrisonliu5 commented on #2357
/kind need-to-verify

[2022-02-23 06:21] harrisonliu5 commented on #2358
![image](https://user-images.githubusercontent.com/17872673/155270397-7beaaaa2-9101-41da-b6b2-ce7daf4c8148.png)

[2022-02-23 06:21] harrisonliu5 commented on #2358
The version of the console is 3.2.1, which has no bug. @jioce

[2022-02-23 06:21] harrisonliu5 commented on #2358
/kind need-to-verify

[2022-02-23 06:28] harrisonliu5 commented on #2361
https://user-images.githubusercontent.com/17872673/155271012-fe1e6fc6-f63e-489c-9788-9672ea7ea7db.mp4

The version of the console is 3.2.1, which has no bug.

[2022-02-23 06:28] harrisonliu5 commented on #2361
/kind need-to-verify

[2022-02-23 06:32] harrisonliu5 commented on #2367
/kind need-to-verfiy

[2022-02-23 06:34] harrisonliu5 commented on #2367
/kind need-to-verify

[2022-02-23 06:38] jioce commented on #2358
issue is not fixed
1、The port name is different, but the port is the same and can be added
2、Only one port information is displayed after adding
![image](https://user-images.githubusercontent.com/88183150/155271665-97d374a2-7b74-4ceb-a05a-674b4092ac21.png)
![image](https://user-images.githubusercontent.com/88183150/155271795-de63f7ce-3ca9-4931-90ec-1e95eef847bb.png)

[2022-02-23 06:40] jioce commented on #2357
issue is fixed

[2022-02-23 06:40] #2357 closed

[2022-02-23 06:56] harrisonliu5 commented on #2470
/kind need-to-verify

[2022-02-23 06:56] harrisonliu5 commented on #2465
/kind need-to-verify

[2022-02-23 07:24] harrisonliu5 commented on #2428
fixed by https://github.com/kubesphere/console/pull/2940

[2022-02-23 07:24] harrisonliu5 commented on #2428
/kind need-to-verify

[2022-02-23 07:25] harrisonliu5 commented on #2415
/kind need-to-verify

[2022-02-23 08:26] yangliu817 opened #2957 "容器启动参数bug"
**General remarks**

**Describe the bug**
容器启动参数如果本身有,这个符号, 将会被分割, 实际是一个参数
例如java远程调试的JVM参数-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
这个是一个整体, 通过UI设置将会被分割为["-agentlib:jdwp=transport=dt_socket", "server=y", "suspend=n", "address=5005"], 最后只能通过修改yaml才能生效

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: V3.

[2022-02-28 06:15] LinuxSuRen opened #2962 "Request to add a step to trigger other Pipelines on the Pipeline graphic editing page"
**What would you like to be added**:

Sometimes, users want to trigger multiple pipelines in one pipeline. Currently, you can do it via editing the Jenkinsfile directly. But it might be not easy for those users who do not familiar with the Jenkins Pipeline syntax.

It would be better if users can use it on the graphic editing page. The UI usage looks like below:

![image](https://user-images.githu

[2022-02-28 06:16] LinuxSuRen commented on #2962
/priority high

[2022-02-28 07:22] AbdelouahabMbarki commented on #2942
@Felixnoo i think the translation  environment is down https://l10n.kubesphere.io/

[2022-02-28 07:42] Felixnoo commented on #2942
Noted. Will look into it.

[2022-02-28 17:43] pcgeek86 opened #2965 "Bug: "Address is not allowed" error message upon initial Console login, changing password"
**General remarks**

**Describe the bug**

- I am being blocked from proceeding in the KubeSphere console by a webhook-related bug.
- I created a k8s cluster on Amazon EKS, using `eksctl`.
- I deployed KubeSphere using the k8s manifest files in the documentation.
- Then I changed the `ks-console` service type to `LoadBalancer`.
- Then I tried to login to the console through the load balancer's ext

[2022-03-01 02:09] LinuxSuRen commented on #2962
Please watch the following video (in Chinese) if you want to know more about how to use the proposed feature:

https://www.bilibili.com/video/BV1Db4y1x71F

[2022-03-01 02:38] LinuxSuRen opened #2966 "Request to support manage GitOps resource deploy request"
**What would you like to be added**:
Currently, we're using Argo CD  to deploy the applications. Please see the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/156093171-b3bfda80-e1a4-448e-9b59-25ad48903a43.png)

![image](https://user-images.githubusercontent.com/1450685/156093209-89e97155-d35c-4b4a-a7e2-da413c49a730.png)

![image](https://user-images.githubuserco

[2022-03-01 02:57] LinuxSuRen commented on #2966
Below are the screenshots of the list or details pages:

![image](https://user-images.githubusercontent.com/1450685/156094652-95d25433-4bb3-411e-99c2-e2d7f8d93a62.png)

![image](https://user-images.githubusercontent.com/1450685/156095352-3723a1bd-aaac-4ed4-985d-cc720afc6aa0.png)

![image](https://user-images.githubusercontent.com/1450685/156095647-bea10b43-729a-4fbe-af61-819b9a1799b5.png)

![image

[2022-03-01 04:22] FeynmanZhou commented on #2965
Hi @wansir , could you please help to take a look at this issue?

[2022-03-01 05:10] wansir commented on #2965
@pcgeek86 It seems this issue https://medium.com/@denisstortisilva/kubernetes-eks-calico-and-custom-admission-webhooks-a2956b49bd0d

[2022-03-01 06:21] #2116 closed

[2022-03-01 06:53] JohnNiang opened #2967 "Request to enhance Pipeline Template"
**What would you like to be added**:

Not long ago, I have fired an issue https://github.com/kubesphere/console/issues/2946 to fetch Pipeline Templates from APIServer instead of hardcode in console.

Now, it's time to to achieve more functional Pipeline Template. We have provided the design of Pipeline Template, please see below.

![image](https://user-images.githubusercontent.com/16865714/1561193

[2022-03-01 16:14] pcgeek86 commented on #2965
Is the solution to delete Calico from cluster? @wansir

If not, what steps should I take to fix it?

[2022-03-02 02:22] LinuxSuRen commented on #2962
Need the design.

[2022-03-02 07:55] VioZhang commented on #2962
<img width="1440" alt="持续部署列表-无数据" src="https://user-images.githubusercontent.com/41519383/156318699-c476b7b3-1f61-45a1-944b-1f63078c7a62.png">

[2022-03-02 09:35] Felixnoo commented on #2942
@AbdelouahabMbarki The translation demo environment is ok now.

[2022-03-02 10:44] wansir commented on #2965
I will verify this issue later. BTW, I think it is limited by the cluster network. You can recreate an EKS cluster and use AWS VPC CNI instead

[2022-03-03 04:13] Patrick-LuoYu opened #2971 "Remove the **Schedulable** field in cluster node details and edge node details."
The **Schedulable** field in cluster node details and edge node details is redundant because when the node is unschedulable, its **Status** will become **Unschedulable**. Therefore, the **Schedulable** field should be removed.

![image](https://user-images.githubusercontent.com/76198553/156494671-58b04f82-9564-4f2b-a640-164f91e5eaa7.png)

/assign @VioZhang @harrisonliu5

[2022-03-04 03:05] VioZhang opened #2974 "Support listing project by the usage of the resource."
We can list the workspace by the usage of resource now,and there is the same request to the project.

[2022-03-04 11:44] VioZhang opened #2975 "The subpath button of volume setting seems to be unclickable."
**What would you like to be added**:
The subpath button seems to be unclickable，so that some users ignore it.
![image](https://user-images.githubusercontent.com/41519383/156757637-23e83b00-789e-4c57-82a7-29002e5cae57.png)

[2022-03-07 08:38] Patrick-LuoYu opened #2976 "Add the feature for editing tolerations"
The KubeSphere web console currently supports editing node taints. However, it does not support editing tolerations, which usually work with taints. The KubeSphere web console will be much more powerful if it allows users to edit tolerations.

/assign @VioZhang @zryfish @harrisonliu5

[2022-03-07 09:31] VioZhang opened #2977 "Remove the logo of the component."
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/41519383/157004316-137437cd-65ec-4582-89a9-6f5a26df6c91.png)
![image](https://user-images.githubusercontent.com/41519383/157004406-e4d0c44d-7bae-47b8-8bf5-0d9398caa30b.png)
Remove the logo of the component or think about a better way to describe the component.

[2022-03-07 16:04] willzhang commented on #2737
maybe resolved:
https://kubesphere.com.cn/forum/d/3999-kubesphereharbor/8

case2: if secret registry url is :192.168.0.5/kubesphere

[2022-03-08 03:23] weili520 commented on #2962
/assign

[2022-03-08 03:33] weili520 commented on #2971
/assign

[2022-03-09 03:31] Patrick-LuoYu opened #2980 "CPU usage displayed on the Projects page is incorrect."
**Describe the bug**
![image](https://user-images.githubusercontent.com/76198553/157367366-915f5ced-0d95-4d90-9954-77d732217d95.png)

![image](https://user-images.githubusercontent.com/76198553/157367441-907c7d0f-eb35-49dc-a6a5-75319c8ece81.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.2.1

/assign @harrisonliu5

[2022-03-09 07:28] Patrick-LuoYu opened #2981 "The View Details button on the project details page is disabled by default."
**Describe the bug**

![image](https://user-images.githubusercontent.com/76198553/157393130-e9335e99-087a-441e-96c9-d81aec878f69.png)

**Versions used(KubeSphere/Kubernetes)**

KubeSphere: v3.2.1

/assign @harrisonliu5

[2022-03-09 09:24] VioZhang opened #2982 "Optimize the UI of deleting resource."
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/41519383/157411917-faaf297e-698c-480c-ae4d-66b7852d2b1d.png)

[2022-03-10 02:10] Patrick-LuoYu opened #2983 "LoadBalancer address is not displayed when the gateway access mode is LoadBalancer."
**Describe the bug**

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/76198553/157574363-7391d567-455e-4882-a8a9-282535b189fe.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.1

/assign @zryfish @harrisonliu5 @XiaohuiSept

[2022-03-10 02:17] Patrick-LuoYu opened #2984 "Allow users to set node health status thresholds"
KubeSphere currently supports node health status. However, users are not allowed to set health status thresholds and the default thresholds are not displayed on the console. Please add the feature for displaying and setting node health status thresholds, so that users can know based on what standards a node is regarded as unhealthy and customize such standards.

<img width="1404" alt="image" src="

[2022-03-10 02:18] Patrick-LuoYu commented on #2984
/assign @zryfish @harrisonliu5 @XiaohuiSept

[2022-03-10 08:55] Patrick-LuoYu opened #2985 "The Available Quotas area needs to be optimized."
The Available Quotas area seems unfinished.

* The UI text is hard-coded.
* The capitalization style is incorrect.
* "GPU Type: Unlimited" makes no sense.
* CPU quotas and memory quotas should be separated.

Please re-design this area if possible.

![image](https://user-images.githubusercontent.com/76198553/157624547-5fdfd9e8-5e61-4b0c-ad6e-8f40ff1f2504.png)

<img width="512" alt="image" src="http

[2022-03-10 09:09] JohnNiang opened #2986 "Request to not set label field by default when editing Pipeline"
**What would you like to be added**:

As I mentioned in the title, I request to not set the label field by default in Pipeline editing modal, please see the screenshot below:

![image](https://user-images.githubusercontent.com/16865714/157627815-127c4f48-c329-418a-a894-2a243bef8221.png)

**Why is this needed**:

My raw Jenkinsfile is as below:

[code]

But when I try to go into Pipeline editing mo

[2022-03-10 09:56] JohnNiang commented on #2986
/area devops

[2022-03-11 03:23] Patrick-LuoYu opened #2987 "Remove the Version field on the Revision Records tab page."
**Describe the bug**

The **Version** field on the **Revision Records** tab page is only a label of a deployment. It does not indicate the versions of different revisions and cannot be changed after a deployment is created. In addition, it is misleading. Users may tend to believe this field indicates the version of each revision. Therefore, we should remove the **Version** field.

![image](https:/

[2022-03-11 07:52] moweiwei opened #2988 "创建企业空间角色>编辑权限>勾选 ‘企业空间设置管理’ 未自动关联勾选 ‘企业空间设置查看’"
/bug
<img width="867" alt="1" src="https://user-images.githubusercontent.com/40727882/157824806-86fbe797-1491-46ca-b686-03af8de04b53.png">
<img width="473" alt="2" src="https://user-images.githubusercontent.com/40727882/157824823-408de842-943b-487b-82f5-9b196dc0fba5.png">

相关 api：/kapis/iam.kubesphere.io/v1alpha2/workspaces/demo-project/workspacemembers/admin/workspaceroles

role-template-manage-w

[2022-03-11 08:07] moweiwei opened #2989 "Workspace Roles table not show role aliasName"
/bug

Workspace Roles table not show role aliasName

[2022-03-11 08:57] VioZhang commented on #2982
![image](https://user-images.githubusercontent.com/41519383/157834819-a985d54d-3fea-4bd4-b19a-e04034afd67d.png)
![image](https://user-images.githubusercontent.com/41519383/157834904-02b9a24d-7cd2-4b2f-9719-cc416c6f6385.png)
![image](https://user-images.githubusercontent.com/41519383/157834980-de2aee5e-1bb3-4ae9-8c9e-709ce26705a7.png)

[2022-03-14 07:19] weili520 commented on #493
This problem has been resolved, so we should close it.

https://user-images.githubusercontent.com/33231138/158123137-421f1053-eb04-4ebb-aba8-0aba56afcfa1.mov

[2022-03-14 07:19] weili520 commented on #493
/remove-good-first-issue

[2022-03-14 07:23] #493 closed

[2022-03-14 08:15] weili520 commented on #1132
I will deal with this problem later.

[2022-03-14 08:33] weili520 commented on #2035
The text has switched to:

![截屏2022-03-14 16 30 13](https://user-images.githubusercontent.com/33231138/158134068-7160f070-cd8d-4998-8d62-1894030e7ce5.png)

so, maybe we should close it after verified.

[2022-03-14 08:34] weili520 commented on #2035
/kind need-to-verify

[2022-03-14 08:34] weili520 commented on #2035
/remove-good-first-issue

[2022-03-14 08:36] VioZhang commented on #2977
Why ? KubeSphere is an opensource software. Its feature does not depends on the money but the contributer.

[2022-03-14 08:42] weili520 commented on #2164
/kind need-to-verify

[2022-03-14 08:42] weili520 commented on #2164
/remove-good-first-issue

[2022-03-14 08:47] VioZhang commented on #2898
![image](https://user-images.githubusercontent.com/41519383/158136565-8a9498e8-5500-4b1f-897d-dc3bcba5b7b0.png)
![image](https://user-images.githubusercontent.com/41519383/158136627-42629db2-b764-4a3e-b6c9-56fe055f2795.png)

[2022-03-14 08:58] weili520 commented on #2987
/assign

[2022-03-14 14:06] Patrick-LuoYu opened #2995 "Enable the t() function to accept objects and callbacks."
**What would you like to be added**:

Enable the `t()` function used for localization to accept objects and callbacks as its arguments.

**Why is this needed**:

The current `t()` function used for localization cannot accept objects and callbacks as its arguments, which makes it impossible to avoid concatenation of certain UI strings. Such concatenated strings cannot be translated to languages tha

[2022-03-14 14:26] Patrick-LuoYu commented on #2995
/assign @zryfish @chenz24 @harrisonliu5 @xuliwenwenwen

[2022-03-15 07:08] JohnNiang commented on #2967
Thanks for all efforts in
- https://github.com/kubesphere/console/pull/2963

/close

[2022-03-15 07:08] #2967 closed

[2022-03-15 07:10] JohnNiang commented on #2946
Thanks for all efforts in
- https://github.com/kubesphere/console/pull/2963

/close

[2022-03-15 07:10] #2946 closed

[2022-03-16 03:21] serenashe opened #3000 "Remove the duplicate function on the service account list page"
**General remarks**

**Describe the bug**
There's a redundant functional area in the service account list page.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/75245999/158509725-dd1c6f7f-c2dc-4704-951d-3e495c48c53f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.2.1
Kubernetes: (If KubeSphere installer used, you ca

[2022-03-16 03:24] weili520 commented on #3000
ok.

[2022-03-16 03:40] weili520 commented on #2902
/assign

[2022-03-16 03:41] weili520 commented on #2902
I will deal with it.

[2022-03-16 06:49] weili520 commented on #2982
/assign

[2022-03-16 07:49] JohnNiang opened #3003 "Request to add event tab for a pipeline run record"
**What would you like to be added**:

As I mentioned in the title, I request to add event tab for a pipeline run record to tell users what happened in the past, please see:

![image](https://user-images.githubusercontent.com/16865714/158540726-4f548414-896c-4508-a04a-eb400acc72f2.png)

You can refer to:

![image](https://user-images.githubusercontent.com/16865714/158540811-f25c957f-4ab0-448c-ac28-

[2022-03-16 08:15] zryfish commented on #3003
/assign @kubesphere/sig-console

[2022-03-16 08:17] zryfish commented on #2977
/priority low

[2022-03-16 08:19] zryfish commented on #2975
/kind improvements

[2022-03-17 02:44] harrisonliu5 commented on #3000
/kind need-to-verify

[2022-03-17 02:49] serenashe commented on #3000
/lgtm

[2022-03-17 02:49] #3000 closed

[2022-03-18 03:32] #2986 closed

[2022-03-21 02:53] harrisonliu5 commented on #2902
/kind need-to-verify

[2022-03-21 03:03] harrisonliu5 commented on #2982
/kind need-to-verify

[2022-03-22 09:37] XiaohuiSept commented on #2984
/assign @VioZhang

[2022-03-23 06:27] harrisonliu5 commented on #2971
/kind need-to-verify

[2022-03-23 06:46] klj890 opened #3009 "Failed to mount the PVC in the order shown in the video"
**General remarks**

**Describe the bug**

https://user-images.githubusercontent.com/19380605/159639290-d05aff1d-dec5-4da4-827e-6ec7a4eff3e1.mp4

Failed to mount the PVC in the order shown in the video

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.2.1

[2022-03-24 03:11] harrisonliu5 commented on #2989
/cc @kubesphere/sig-testing

[2022-03-25 10:30] VioZhang opened #3015 "It will fail if we create the pvc through dragging the scrollbar."
![944b3cc6127e7be2d1176139b70a18e](https://user-images.githubusercontent.com/41519383/160104049-dd685420-f1ed-466e-b7fc-2a2fe04e95c9.png)
![c0b713fc81a66255880a8fc3ad8ef87](https://user-images.githubusercontent.com/41519383/160104072-f1e3a558-a6bb-478a-8a07-0c90b584c6f6.png)
![7da348d508e2aa50eab4d39c987bbd9](https://user-images.githubusercontent.com/41519383/160104100-8d0a551a-91e9-4b08-a5f0-15eb

[2022-03-25 10:30] VioZhang commented on #3015
/cc @kubesphere/sig-console

[2022-03-28 01:50] weili520 commented on #3015
/assign

[2022-03-28 02:10] Patrick-LuoYu opened #3017 "Move Cronjob settings on the Basic Information tab to the Strategy Settings tab"
The following settings are not "basic information" and therefore should not be placed on the **Basic Information** tab. Please move them to the **Strategy Settings** tab.

![image](https://user-images.githubusercontent.com/76198553/160314574-617d6c98-2622-48f5-a2e9-575c6934e72d.png)

![image](https://user-images.githubusercontent.com/76198553/160314635-2b1818e4-4bd6-4bbd-ac57-f853c258591b.png)

/a

[2022-03-28 02:11] weili520 commented on #3015
This problem has been resolved in the previous pull request.

[2022-03-28 09:03] f10atin9 opened #3023 "Create volume snapshot button is not responding when clicked"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
The create button of the create snapshot function in the pvc detail page does not respond after clicking
![image](https://user-images.githubusercontent.com/36705019/160364199-7b01a49b-2bf8-48a1-873c-af38a4548af5.png)

[2022-03-28 09:03] f10atin9 commented on #3023
/cc @weili520

[2022-03-29 01:47] weili520 commented on #3023
/kind need-to-verify

[2022-03-29 01:57] f10atin9 commented on #3023
/lgtm

[2022-03-29 02:10] weili520 commented on #3009
/assign

[2022-03-29 02:10] weili520 commented on #3015
/kind need-to-verify

[2022-03-30 03:16] f10atin9 opened #3032 "VolumeBindingMode is set incorrectly"
**General remarks**

**Describe the bug**
Create qingcloud-csi in console set VolumeBindingMode is invalid, the volumeBindingMode of the created storageclass is always Immediate
For UI issues please also add a screenshot that shows the issue.
![volumeBindingMode Select delay](https://user-images.githubusercontent.com/36705019/160744103-a01d2bd7-8063-4ad1-83e0-49e979e12706.png)

![image](https://us

[2022-03-30 03:18] f10atin9 commented on #3032
/assign @weili520

[2022-03-30 03:43] f10atin9 opened #3033 "The yaml of StorageClass is not standard"
**What would you like to be added**:
The key of parameters can use all lowercase, so it will be more standardized.
![parameters](https://user-images.githubusercontent.com/36705019/160746359-606bb9b2-4f80-4b8a-a557-f539f5137230.png)
For more information you can refer to [#4757](https://github.com/kubesphere/kubesphere/issues/4757)

[2022-03-30 06:12] f10atin9 opened #3034 "Add placeholder at the end of the text box"
**What would you like to be added**:
![](https://user-images.githubusercontent.com/36705019/160763321-191fe947-90bd-4339-b898-cf9478bacbe5.png)

Add  placeholder at the end of the text box on the page where qingcloud storage class was created
![like this](https://user-images.githubusercontent.com/36705019/160761765-e5f05ec0-3720-48ef-a695-4f4c922101c5.png)

**Why is this needed**:
In some cases, u

[2022-03-30 06:14] f10atin9 commented on #3034
/assign @weili520

[2022-03-30 06:14] f10atin9 commented on #3033
/assign @weili520

[2022-03-30 06:15] #3023 closed

[2022-03-30 08:01] weili520 commented on #2977
/assign

[2022-03-30 08:16] zryfish commented on #2208
/priority high

[2022-03-30 10:24] harrisonliu5 commented on #3033
/kind need-to-verify

[2022-03-30 10:39] #3033 closed

[2022-03-31 02:10] codering commented on #2966
Great ! When will this be released ?

[2022-03-31 02:22] #2893 closed

[2022-03-31 02:26] LinuxSuRen commented on #2966
hi @codering , glad to see you here. We will have the alpha version on April 1.

[2022-03-31 03:08] #3032 closed

[2022-03-31 07:36] Patrick-LuoYu opened #3040 "The drop-down list on the container terminal page is not working"
**Describe the bug**

The drop-down list on the container terminal page is not working, as shown in the following figures.

<img width="1398" alt="image" src="https://user-images.githubusercontent.com/76198553/161002095-d71b898b-0a84-4723-9231-cbbd97236c3b.png">

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/76198553/161002213-1fe0b3a7-e706-46bb-a22b-3bb3ce0d6745.png

[2022-03-31 07:36] Patrick-LuoYu commented on #3040
/assign @weili520 @zryfish

[2022-04-01 01:25] LinuxSuRen opened #3042 "Request to add new steps to support docker-related operation on the Pipeline edit page"
**What would you like to be added**:
Currently, if a user wants to login, build and push an image, they need to add multiple steps for that. As you can see from the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/161176355-2f96dbc2-6e21-4482-9788-8a41ccc66dbc.png)

There are two inconveniences here:
* no one step to let users run a simple command: `docker login`
*

[2022-04-02 03:45] VioZhang opened #3045 "Show the configmap or secret that is quoted."
**What would you like to be added**:
Show the configmap or secret that is quoted.The user could know where the env value is from.
![image](https://user-images.githubusercontent.com/41519383/161364850-923dd10a-7e52-4956-95be-e4e509718578.png)
such as
<img width="504" alt="2545e39ed4e2c631445367941d6b3e0" src="https://user-images.githubusercontent.com/41519383/161364856-3cd8001b-dd9b-4e81-9eda-22201

[2022-04-02 07:29] Patrick-LuoYu opened #3046 "Optimize the 'Service Type' and 'External Access' columns of the service list"
![image](https://user-images.githubusercontent.com/76198553/161371482-c71c2d03-9e4b-4269-a4f9-e21e5056d46c.png)

The 'Service Type' and 'External Access' columns are quite misleading. My suggestions are as follows:

* Change the header 'Service Type' to 'Internal Access', and display internal access modes (VirtualIP or Headless) and internal addresses (virtual IP addresses or domain names) in the

[2022-04-02 08:28] Patrick-LuoYu opened #3047 "Service session affinity is not working"
**Describe the bug**

Service sticky session (session affinity) settings are not synchronized with the service YAML, as shown in the following figures:

![image](https://user-images.githubusercontent.com/76198553/161374451-38dc1e74-a514-4710-9b40-142166f9b763.png)

![image](https://user-images.githubusercontent.com/76198553/161374487-2c8895d4-5f88-4ac0-b4fe-b703cd58ed80.png)

**Expected behavior**

[2022-04-02 09:21] Patrick-LuoYu opened #3048 "Optimize the service information area of the 'Service Topology' page"
The service information area of the 'Service Topology' page seems unfinished. Please optimized this area if possible.

![image](https://user-images.githubusercontent.com/76198553/161376632-c9e92016-7ba9-499a-bea7-c0d0ea3f76a8.png)

/assign @zryfish @VioZhang @harrisonliu5

[2022-04-06 03:03] chenz24 opened #3050 "The node-sass version is too old, need to upgrade"
**What would you like to be added**:

Upgrade node-sass version to 7.1

**Why is this needed**:
The version of node-sass we are using is 4.13.1. which is far behind the newest version, and may cause some compatible issues.

[2022-04-06 03:05] chenz24 commented on #2924
A little more detail, please

[2022-04-06 07:28] moweiwei opened #3053 "when cronjob PAUSED, but display running in detail page"
**General remarks**

/bug

[2022-04-06 08:23] moweiwei opened #3055 "counts/pod calculate err in project base info"
**General remarks**

**Describe the bug**
counts/pod calculate err in project base info

url: /demo/clusters/host/projects/demo/base-info
![1](https://user-images.githubusercontent.com/40727882/161930016-55408d9a-b1a0-421c-88c1-e5ff70792fdd.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and th

[2022-04-06 09:02] zryfish commented on #3047
/priority high

[2022-04-06 09:03] zryfish commented on #3047
/assign @kubesphere/sig-console

[2022-04-06 09:06] zryfish commented on #3047
/assign @weili520

[2022-04-06 09:06] zryfish commented on #3046
/assign @kubesphere/sig-console

[2022-04-06 10:42] Patrick-LuoYu opened #3057 "Display route description in the route list"
The description of a route is not displayed in the route list. Displaying description in the route list could be helpful for users.

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/76198553/161957485-5c63f190-6649-49dd-acce-1c6b397ae9af.png">

/assign @zryfish @weili520

[2022-04-07 08:20] harrisonliu5 commented on #3055
/assign @weili520

[2022-04-11 03:42] weili520 commented on #3047
/kind need-to-verify

[2022-04-11 03:43] weili520 commented on #3046
/kind need-to-verify

[2022-04-11 06:05] VioZhang opened #3068 "It should show the usage of the CPU or memory ,but not the percentage."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.
It should show the usage of the CPU or GPU,but not the percentage.And the node moniting page shows the wrong target while the deployment moniting page shows the right target.
The deployment moniting page which is right:
![image](https://use

[2022-04-12 02:16] wenxin-01 opened #3071 "Password length check error"
**Describe the Bug**

As shown in the figure, the input password of 7 characters should not meet the minimum length of 8 characters.

![image](https://user-images.githubusercontent.com/68640256/162865427-ff3ede33-7f7c-465c-bbf2-83f81b6b19c4.png)

**Versions Used**
KubeSphere:  `v3.3.0-alpha.0`

/priority low
/assign @kubesphere/sig-console

[2022-04-12 02:31] LinuxSuRen opened #3072 "Reques to support load more GitHub orgs and repos on the DevOps page"
**What would you like to be added**:
As you can see from the following screenshot. Now, these two APIs support the paging features. It cannot show all the items if there are many of them.

The paging query parameters are: `pageSize=3&pageNumber=2`

![image](https://user-images.githubusercontent.com/1450685/162867250-b8506227-92b1-4122-9442-0b3372ae34bc.png)

/area devops
/priority high
**Why is th

[2022-04-12 02:38] junotx commented on #3068
For node, the usage value cannot express the memory and cpu stress, but the percentage may make more sense.

[2022-04-12 03:44] wenxin-01 opened #3073 "Environment variable display is occluded"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/162875888-894aa578-1498-40ee-9b07-683341ab694e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.0`

/priority low
/assign @kubesphere/sig-console

[2022-04-12 03:55] weili520 opened #3074 "Can't enter deployment detail page"
**General remarks**

**Describe the bug**

User can't enter deatil page, it will be blank, and get error as follows:

![截屏2022-04-12 11 41 37](https://user-images.githubusercontent.com/33231138/162875830-2a428cdd-184d-453e-bf2c-293247661329.png)

It caused by this deployment's pods has two network ip setting, but one of them doesn't has `ips` key:

![截屏2022-04-12 11 48 11](https://user-images.gith

[2022-04-12 03:55] weili520 commented on #3074
/assign

[2022-04-12 05:15] Patrick-LuoYu opened #3076 "Optimize the confirmation dialog box for log receiver deletion"
The confirmation dialog box for log receiver deletion is not user-friendly.

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/76198553/162885185-f6206b6e-416b-42a2-82a6-cff38177eea9.png">

* It does not tell users what to do (for example, enter the name of the log receiver?).

* It is strange to ask users to enter a log receiver name that is not displayed anywhere else.

[2022-04-12 05:16] Patrick-LuoYu commented on #3076
/assign @zryfish @harrisonliu5 @VioZhang

[2022-04-12 05:37] VioZhang opened #3077 "Support showing the resource of the HPA ,servicemonitor and the endpoint."
**What would you like to be added**:
Support showing the resource of the HPA ,servicemonitor and the endpoint.
**Why is this needed**:
There are some users who want to delete these kinds of resource but they can not delete them clearly.

[2022-04-12 06:13] wenxin-01 opened #3078 "Environment variables do not support key names containing hyphens (-) and periods (.)"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/162892585-f6b4df62-178f-4b82-817d-3aa918354d22.png)
![image](https://user-images.githubusercontent.com/68640256/162892635-eb98ebd3-0180-41ca-aae8-40192c5f4499.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.0`

/assgign @kubesphere/sig-console
/priority low

[2022-04-12 06:18] patrickluoyu opened #3079 "The worker node count and node role displayed on the node list page are incorrect when there is only one node"
When there is only one node in the cluster, the worker node count ("0") and node role ("Control plane") displayed on the node list page are incorrect, which should be "1" and "Control plane/Worker" respectively.

<img width="793" alt="image" src="https://user-images.githubusercontent.com/76198553/162892859-18d9aa0b-d545-49e8-ad82-cc07e9f2efe8.png">

/assign @harrisonliu5 @VioZhang

[2022-04-12 06:41] LinuxSuRen opened #3081 "The page becomes blank after creating a CD"
**Describe the bug**
As I mentioned in the title. See the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/162896530-e19114c2-47a6-44e7-9f97-048c0465a4a7.png)

/area devops
/priority high

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.0
Kubernetes:

**Environment**
This should not be an environmental problem.

**To Reproduce**
Steps to reproduce

[2022-04-12 07:47] LinuxSuRen opened #3084 "Incorrect description on the pipeline page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/1450685/162900829-cea94f8f-0c90-4e41-b4c1-8033a3caeba4.png)

/area devops
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.0

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DevOps page
2. Create and run a Pieline
4. See errors

**Expected behavi

[2022-04-12 07:48] LinuxSuRen opened #3085 "Incorrect placeholder of the code repository on the project setting page"
**Describe the bug**
As I mentioned in the titile.

![image](https://user-images.githubusercontent.com/1450685/162899770-6636c376-a156-4505-b3b3-789cef345f81.png)

/area devops
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.0

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DevOps project
2. Go to the prjoect settin

[2022-04-12 08:23] harrisonliu5 commented on #3081
/kind need-to-verify

[2022-04-12 08:24] harrisonliu5 commented on #3057
/kind need-to-verify

[2022-04-12 08:29] weili520 commented on #3073
/kind need-to-verify

[2022-04-12 08:33] weili520 commented on #3071
/assign

[2022-04-12 08:33] harrisonliu5 commented on #3084
/assign @Patrick-LuoYu

[2022-04-12 08:53] weili520 commented on #3040
/kind need-to-verify

[2022-04-12 08:54] harrisonliu5 commented on #3078
/kind need-to-verify

[2022-04-12 08:54] weili520 commented on #2989
/kind need-to-verify

[2022-04-12 09:07] patrickluoyu opened #3090 ""undefined" is displayed in the automatically generated domain name of a route"
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/76198553/162924110-a3f2968b-54d3-44bf-8741-c5bcc081baf3.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.3.0 alpha0

**Expected behavior**
The project name is displayed instead of "undefined".

[2022-04-12 09:15] harrisonliu5 commented on #2987
/kind need-to-verify

[2022-04-13 01:40] wenxin-01 opened #3094 "Missing View All Disks button"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.0`

![image](https://user-images.githubusercontent.com/68640256/163081933-bddc2e3d-3afc-4b88-9972-0b672e159b43.png)

![image](https://user-images.githubusercontent.com/68640256/163082062-6114af11-aff4-4e2c-bc99-13a98ac62645.png)

/priority high
/assign @kubesphere/sig-console

[2022-04-13 01:50] zryfish commented on #3003
/kind need-to-verify

[2022-04-13 01:51] zryfish commented on #3072
/kind bug

[2022-04-13 01:51] zryfish commented on #2898
/kind need-to-verify

[2022-04-13 01:55] zryfish commented on #1685
Cannot reproduce, will reopen if this issue gets enough feedback.
/close

[2022-04-13 01:55] #1685 closed

[2022-04-13 01:55] zryfish commented on #1601
/close

[2022-04-13 01:55] #1601 closed

[2022-04-13 01:59] JohnNiang commented on #3003
This issue has been fixed by
- #3012

Please see https://github.com/kubesphere/console/pull/3012#pullrequestreview-921293335.

/close

[2022-04-13 01:59] #3003 closed

[2022-04-13 02:00] JohnNiang commented on #3003
/remove-kind need-to-verify

[2022-04-13 03:06] klj890 opened #3095 "Permissions error"
**General remarks**

**Describe the bug**
The user (role is "platform-regular") can go to the cluster management page from the pods page, and he can view the information of all nodes.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.1.0 and 3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2022-04-13 03:08] junguoguo2017 opened #3096 "最新的版本无法兼容ie10, 这个可以支持吗？"
如题， 目前的版本是无法兼容ie10+的吗。 解决了一些能在ie打开。但是有些界面是不可用的。包括DatePicker报错。 样式不生效等

[2022-04-13 03:12] wenxin-01 opened #3097 "The host cluster removes 'update kubeconfig' and 'unbind cluster' button"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/163092572-5958268e-8b2b-4ebb-a6f3-0b736e24ed6d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.0`

/priority high
/assign @kubesphere/sig-console

[2022-04-13 03:22] jioce opened #3098 "Create OpenLB gateway, the page shows error"
**Describe the bug**
1、There is a project test, open the project gateway
2、Select loadbalancer，Service provider chooses openlb
![image](https://user-images.githubusercontent.com/88183150/163093430-e167ed54-58c0-492d-bc9a-d5b9b645e8ab.png)

3、Click OK, the page is blank
![image](https://user-images.githubusercontent.com/88183150/163093481-ed429312-fd11-4d43-ab5e-ec308d44ada5.png)

![image](https://

[2022-04-13 03:51] wenxin-01 opened #3099 "kubeconfig shows error when adding cluster"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/163096445-823621cb-bc47-4d0a-858f-c84c1877581e.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.0`

**Expected behavior**
When returning to the cluster settings page, the kubeconfig information is displayed normally

/priority medium
/assign @kubesphere/sig-console

[2022-04-13 06:21] wenxin-01 opened #3100 "kubeconfig expired judgment error"
**Describe the bug**

As shown in the figure, the expiration time of kubeconfig is still one year.
![image](https://user-images.githubusercontent.com/68640256/163112613-9fa5f0c9-bf85-44a7-8162-c843915ae1a5.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.0`

/priority high
/assign @kubesphere/sig-console

[2022-04-13 06:30] #3094 closed

[2022-04-13 06:31] wenxin-01 commented on #3094
Not required to support this feature

[2022-04-13 06:37] LinuxSuRen opened #3101 "Incorrect URL of a git repository"
**Describe the bug**
As you can see from the following screenshot. The git repository URL is incorrect when I try to import a repository from GitHub.

For this case, the git repository URL should be `https://github.com/jenkinsci/jenkins` instead of `jenkins`.

![image](https://user-images.githubusercontent.com/1450685/163113731-4a0620b7-4642-4f36-8075-e30d270b6f23.png)

Currently, the backend is n

[2022-04-13 06:38] LinuxSuRen commented on #3101
/priority high

[2022-04-13 06:43] LinuxSuRen opened #3102 "Request to support import multiple repositories one time"
**What would you like to be added**:
As I mentioned in the title. See the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/163115565-4b4370f3-b2bd-4b30-9f53-a33cd8e0a233.png)

/area devops
**Why is this needed**:
Users need to open this dialog many times if they want to import multiple repositories. It would be helpful if we can support to choose of multiple items.

[2022-04-13 06:53] jioce opened #3103 "Service topology map traffic monitoring information displays errors"
**Describe the bug**
1、There is an application that contains a service that continuously accesses the service
![image](https://user-images.githubusercontent.com/88183150/163116983-068e9855-4b89-4b4f-8302-efc1fd5c8e8d.png)

![image](https://user-images.githubusercontent.com/88183150/163117300-5da91eca-dc17-46ba-b16f-6583592f99c1.png)

2、Enter the service topology map page, click the service name，cl

[2022-04-13 06:55] LinuxSuRen opened #3105 "Request to support reload status of CD automatically"
**What would you like to be added**:
As I mentioned in the title. Currently, users need to reload it manually.

For example, we can reload the status every 2 seconds.

![image](https://user-images.githubusercontent.com/1450685/163117450-7d29d253-0200-41ba-bd1e-ba832d11b7d1.png)

/area devops
/priority high
**Why is this needed**:
Normally the status is always changing, so this auto-reload feature

[2022-04-13 06:55] weili520 commented on #3100
/assign

[2022-04-13 06:56] weili520 commented on #3099
/assign

[2022-04-13 06:56] jioce opened #3106 "App traffic monitoring page shows error"
**Describe the bug**
![image](https://user-images.githubusercontent.com/88183150/163117985-4542fe66-a12b-4311-8025-15de2b94188e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.0

/kind bug
/priority Medium

[2022-04-13 07:11] wenxin-01 opened #3107 "Uploaded kubeconfig error"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/163118720-8946f8d7-42ac-4673-80bb-5f75938481e2.mov

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Update KubeConfig'
2. Input  anything
3. Delete the contents of the edit box
4. Click on 'upload' and select kubeconfig
5. Click on 'update'

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.0`

/

[2022-04-13 07:14] jioce opened #3108 "Service topology map container monitoring shows error"
**Describe the bug**
1、There is a service ss, view the container monitoring information in the service topology
![image](https://user-images.githubusercontent.com/88183150/163120123-a2944c37-430c-4010-9f5d-69fbd8aafca9.png)

2、View the container monitoring information in the service topology
3、Switch to view POD and container monitoring, the monitoring information shows errors

https://user-images

[2022-04-13 07:53] weili520 commented on #3097
/assign

[2022-04-13 08:35] weili520 commented on #3090
This name was created by the k8s.

The requested URL is: `/apis/clusters/host/networking.k8s.io/v1/namespaces/dddd/ingresses/nginx`

The response:

![截屏2022-04-13 16 33 27](https://user-images.githubusercontent.com/33231138/163135086-24c281f7-95aa-4065-93dc-6f99902247b8.png)

[2022-04-13 08:36] weili520 commented on #3090
/cc @harrisonliu5

[2022-04-13 08:38] weili520 commented on #3101
/assign

[2022-04-13 09:09] weili520 commented on #3108
/assign

[2022-04-13 10:04] weili520 commented on #3098
/assign

[2022-04-14 01:38] Felixnoo commented on #2551
Fixed.

[2022-04-14 01:38] #2551 closed

[2022-04-14 01:55] harrisonliu5 commented on #3098
/kind need-to-verify

[2022-04-14 01:57] harrisonliu5 commented on #3097
/kind need-to-verify

[2022-04-14 01:57] harrisonliu5 commented on #3099
/kind need-to-verify

[2022-04-14 01:58] harrisonliu5 commented on #3100
/kind need-to-verify

[2022-04-14 04:17] zheng1 commented on #2995
How about integrating react-i18next in kube-design? You can see the following example

<img width="1109" alt="截屏2022-04-14 下午12 11 58" src="https://user-images.githubusercontent.com/4156721/163312561-60c56675-ade7-4fa5-9fa1-ebf18a0ce98c.png">
<img width="1214" alt="截屏2022-04-14 下午12 12 15" src="https://user-images.githubusercontent.com/4156721/163312554-3ac660d5-a994-471b-8cf6-98231a416869.png">

[2022-04-14 06:40] jioce opened #3114 "PVC regulator threshold input needs to add validation"
**Describe the bug**
1、Threshold cannot be greater than 100%
![image](https://user-images.githubusercontent.com/88183150/163328017-1462ffef-de38-4c23-bdbb-7da4100f2ae3.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.0

/kind bug
/priority low

[2022-04-14 07:25] Patrick-LuoYu opened #3115 "Residual data is displayed when custom monitoring dashboards are created consecutively"
**Describe the bug**
When I create a custom monitoring dashboard after another custom monitoring dashboard was created, data of the previous custom monitoring dashboard is displayed.

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/76198553/163334196-9011c64f-0ec4-42d9-b588-fc3efcfab15d.png">

<img width="948" alt="image" src="https://user-images.githubusercontent.com/

[2022-04-14 08:01] harrisonliu5 commented on #3106
/assign @harrisonliu5

[2022-04-14 08:28] harrisonliu5 commented on #3103
/assign @harrisonliu5

[2022-04-14 09:27] harrisonliu5 commented on #3103
![image](https://user-images.githubusercontent.com/17872673/163356353-cc84fa8a-2ed2-48ed-86e6-102298c38a74.png)

the data is empty!

[2022-04-14 09:29] harrisonliu5 commented on #3106
/kind need-to-verify

[2022-04-14 10:18] harrisonliu5 commented on #3105
/assign @harrisonliu5

[2022-04-14 10:19] harrisonliu5 commented on #3107
/assign @harrisonliu5

[2022-04-14 10:37] harrisonliu5 commented on #3108
/kind need-to-verify

[2022-04-14 10:44] Patrick-LuoYu opened #3118 "Bars of a custom monitoring dashboard exceed the boundary"
**Describe the bug**
Bars of a custom monitoring dashboard exceed the boundary when the data sampling interval is set to 1 hour.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.3 alpha0

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/76198553/163373616-9119cf2b-7ad4-4f65-a241-b64e3082d4ac.png">

**Expected behavior**
All bars are within the boundary of the cha

[2022-04-14 10:44] Patrick-LuoYu commented on #3118
/assing @zryfish @harrisonliu5

[2022-04-14 11:01] chenz24 commented on #2995
The t function has a method t.html. Maybe you can try this:

[code]

i18next has powerful features and is more widely used, and we will be using it in version 4.

[2022-04-15 00:29] LinuxSuRen commented on #2966
This feature is finished.

[2022-04-15 00:29] #2966 closed

[2022-04-15 01:09] jioce commented on #3103
/assign @zryfish

[2022-04-15 01:14] LinuxSuRen opened #3119 "Request to support cascade deletion of the CD resource"
**What would you like to be added**:
Add an option to let users choose if they want to delete the corresponding resources as well.

![image](https://user-images.githubusercontent.com/1450685/163502054-4149c004-0f33-4e87-aa81-5f0aefef7f47.png)

## API
The deletion API is:

[code]
The API will delete resources as well if the query variable `cascade` is true.

/area devops
/priority high
**Why is thi

[2022-04-15 02:13] harrisonliu5 commented on #3105
maybe 2 seconds is too quickly, what about 4 seconds?

[2022-04-15 02:19] LinuxSuRen commented on #3105
It's ok for me. The PipelineRun list reloads every 4 seconds as well.

[2022-04-15 02:25] harrisonliu5 commented on #3114
/assign @weili520

[2022-04-15 02:41] weili520 commented on #3101
The response data no org field:

![截屏2022-04-15 10 37 03](https://user-images.githubusercontent.com/33231138/163509218-e2d32685-8c84-471b-8112-fbf98f78dab7.png)

/cc @LinuxSuRen

[2022-04-15 02:52] LinuxSuRen commented on #3101
You can combine the git URL with the following information. Get the org name from left.

![image](https://user-images.githubusercontent.com/1450685/163510433-f7365da6-eeb0-4d97-8130-b7e5d91ca504.png)

[2022-04-15 03:09] weili520 commented on #3101
👍

[2022-04-15 06:35] harrisonliu5 commented on #3072
/assign @harrisonliu5

[2022-04-15 07:03] f10atin9 opened #3123 "Provider prompt when creating snapshotClass"
**What would you like to be added**:
The provider is fixed and can be prompted by getting the provider of StorageClass.
**Why is this needed**:
Avoid prompts due to spelling mistakes

[2022-04-15 07:03] f10atin9 commented on #3123
/cc @weili520

[2022-04-15 09:31] harrisonliu5 commented on #3072
![image](https://user-images.githubusercontent.com/17872673/163554276-04debf5c-89a5-453d-945c-6c6d148b6ca2.png)

![image](https://user-images.githubusercontent.com/17872673/163554283-0b859bde-8457-45b7-8ee0-9c5c891ce20e.png)

there is no total number here.

[2022-04-15 13:00] harrisonliu5 commented on #3114
/kind need-to-verify

[2022-04-18 01:47] harrisonliu5 commented on #3107
/kind need-to-verify

[2022-04-18 01:47] harrisonliu5 commented on #3101
/kind need-to-verify

[2022-04-18 01:53] harrisonliu5 commented on #3090
/assign @harrisonliu5

[2022-04-18 03:17] jioce commented on #2428
issue is not fixed
![image](https://user-images.githubusercontent.com/88183150/163749045-8226f599-3886-4ae7-8600-b9a76719685b.png)

![image](https://user-images.githubusercontent.com/88183150/163749093-44e70537-813d-469c-a403-06aa63b71799.png)

[2022-04-18 05:53] jioce commented on #3114
issue is fixed in v3.3.0-alpha.1

[2022-04-18 05:53] #3114 closed

[2022-04-18 06:03] jioce opened #3135 "Storage type permission setting error"
**Describe the bug**
1、Existing storage type local, open permission settings，and project pro exists
2、Set the rule to "project in pro"，Enterprise space rules are not set
3、Failed to create storage volume in project pro
![image](https://user-images.githubusercontent.com/88183150/163762315-220371bd-f9c1-40ba-bc01-39d78e717db6.png)

![image](https://user-images.githubusercontent.com/88183150/16376235

[2022-04-18 06:22] wenxin-01 opened #3136 "The creation time of code repository is wrong"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/163764534-039f5fc5-41de-48ee-95e4-42a666bbd10a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

**Actual behavior**
The creation time of the code repository is real time

/priority medium
/assign @kubesphere/sig-console

[2022-04-18 06:23] jioce commented on #3098
issue is fixed in v3.3.0-alpha.1

[2022-04-18 06:24] #3098 closed

[2022-04-18 06:27] harrisonliu5 commented on #3136
/assign @weili520

[2022-04-18 06:35] wenxin-01 opened #3137 "The character length limit for aliases does not work"
**Describe the bug**

The length of characters entered can be greater than 63
![image](https://user-images.githubusercontent.com/68640256/163766093-f45b0232-63f8-4a35-b1f6-511e6a104e03.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority low
/assign @kubesphere/sig-console

[2022-04-18 06:40] jioce opened #3139 "Editing a network watcher to understand the error"
**Describe the bug**
1、Create a gateway, select a load balancer, select OpenBL for the provider, do not set annotations, click create
2、The creation is successful, click Edit, and the annotation is displayed as the default annotation of qingcloud Kubernetes Engine
![image](https://user-images.githubusercontent.com/88183150/163766629-cafddbf9-3fba-4357-b27b-70d968fa3885.png)

![image](https://user-

[2022-04-18 06:42] wenxin-01 opened #3140 "After editing the repository from github/gitlab, the repository address is wrong"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/163766506-18e8cd31-a521-4af9-a945-a35c696b5df7.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the repository from github, such as modify alias
2. Save changes

/priority high
/assign @kubesphere/sig-console

[2022-04-18 06:46] wenxin-01 commented on #3140
![image](https://user-images.githubusercontent.com/68640256/163767410-6a35094a-6de7-43a9-93d1-09063e0859b4.png)

[2022-04-18 06:47] jioce opened #3141 "The storage type permission setting is enabled by default"
**Describe the bug**
1、After the environment is created, enter the cluster management, view the storage type, and enter the default storage type details page
2、Click More Actions - "Permission Rules", it shows that it is enabled
![image](https://user-images.githubusercontent.com/88183150/163767469-2305aff5-b520-4ab5-891a-f476c5f22e3a.png)

![image](https://user-images.githubusercontent.com/8818315

[2022-04-18 07:19] wenxin-01 commented on #3140
After editing, there is no credential name in the parameters of the put interface

[2022-04-18 07:24] wenxin-01 opened #3144 "It is recommended to add the function of batch deletion of code repository"
**Describe the bug**

When there are many code repositories, if there is a function of batch deletion, the user experience will be better.

![image](https://user-images.githubusercontent.com/68640256/163772002-3abec37b-c94a-47e8-9722-055291730546.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority low
/assign @kubesphere/sig-console

[2022-04-18 07:51] harrisonliu5 commented on #3141
/kind need-to-verify

[2022-04-18 07:58] harrisonliu5 commented on #3135
/assign @weili520

[2022-04-18 07:59] harrisonliu5 commented on #3115
/assign @harrisonliu5

[2022-04-18 08:04] harrisonliu5 commented on #3137
/assign @harrisonliu5

[2022-04-18 08:05] harrisonliu5 commented on #3139
/assign @harrisonliu5

[2022-04-18 08:05] harrisonliu5 commented on #3140
/assign @harrisonliu5

[2022-04-18 08:06] harrisonliu5 commented on #3119
/assign @harrisonliu5

[2022-04-18 08:41] LinuxSuRen opened #3146 "Should not able to see the CD menu if only have the code repository permission"
**Describe the bug**
As I mentioned in the title. See the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/163781772-67ba4fae-0e1e-43c3-8e2f-bbb30fd8f894.png)

/area devops
/priority high
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha1

**Environment**
This is not an environmental issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Creat

[2022-04-18 08:54] jioce commented on #3108
When selected as “POD”, the monitor display is empty
![image](https://user-images.githubusercontent.com/88183150/163783727-8834c797-1e75-4eb6-b69f-0a7f3dfbff70.png)

[2022-04-18 08:57] harrisonliu5 commented on #3146
![image](https://user-images.githubusercontent.com/17872673/163784127-b749671f-2357-4897-b233-a8ad6ec66392.png)

[2022-04-18 08:58] jioce commented on #3106
issue fixed in v3.3.0-alpha.1

[2022-04-18 08:58] #3106 closed

[2022-04-18 09:15] harrisonliu5 commented on #3115
/kind need-to-verify

[2022-04-18 09:33] LinuxSuRen commented on #3146
hi @harrisonliu5 , thanks for helping do the troubleshooting. This problem should caused by  the backend.

[2022-04-18 10:23] wenxin-01 opened #3150 "Content is occluded"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/163795199-7c242193-38c3-4b93-9bd5-31629468d864.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

/priority medium
/assign @kubesphere/sig-console

[2022-04-19 02:14] harrisonliu5 commented on #3135
/kind need-to-verify

[2022-04-19 02:59] wenxin-01 opened #3151 "The character length limit for aliases does not work in "CREATE_CONTINUOUS_DEPLOYMENT" page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/163911357-dfd7fcf2-fbee-47f4-a8c3-2bcfdc2147fa.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority low
/assign @kubesphere/sig-console

[2022-04-19 03:23] weili520 commented on #3150
Now:
![截屏2022-04-19 11 22 33](https://user-images.githubusercontent.com/33231138/163913825-aeb9be37-3712-4cc3-96c3-89c84fd09c5a.png)

[2022-04-19 03:23] harrisonliu5 commented on #3140
/kind need-to-verify

[2022-04-19 03:23] weili520 commented on #3150
/kind-need-to-verify

[2022-04-19 03:23] harrisonliu5 commented on #3137
/kind need-to-verify

[2022-04-19 03:23] harrisonliu5 commented on #3136
/kind need-to-verify

[2022-04-19 03:24] harrisonliu5 commented on #3105
/kind need-to-verify

[2022-04-19 03:24] weili520 commented on #3150
/kind need-to-verify

[2022-04-19 03:26] weili520 commented on #3151
/assign

[2022-04-19 03:38] wenxin-01 opened #3154 "Deployment location is required"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/163915299-fb12aa6d-c1fa-442b-bc5c-ba5eb397980c.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

/priority medium
/assign @kubesphere/sig-console

[2022-04-19 04:00] wenxin-01 opened #3156 "Code repository option status shows error"
**Describe the bug**

The same repository address is used to create multiple code repositories，
I suspect that the front end uses the repository address instead of the repository name when selecting the code repository.

https://user-images.githubusercontent.com/68640256/163917295-45f4c159-9b6a-473e-896a-f2e9f51b61c2.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

**T

[2022-04-19 05:41] VioZhang opened #3157 "Optimize the description of the configmap variables where we edit the env of the workload"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
Optimize the description of the configmap variables where we edit the env of the workload
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/163927549-6cd4c80e-3c7a-4f7e-b9a1-c8959b0047e9.png)

**Versions used(KubeSphere/Kubernetes)

[2022-04-19 07:16] #3123 closed

[2022-04-19 07:19] #2930 closed

[2022-04-19 07:29] harrisonliu5 commented on #3156
There are the same RepoURL?

[2022-04-19 07:41] harrisonliu5 commented on #3151
/kind need-to-verify

[2022-04-19 07:42] weili520 commented on #3118
/assign

[2022-04-19 07:42] jihoon-seo opened #3159 "Korean Localization of KubeSphere Console"
This is a part of #2934, and it is about adding Korean L10n to KubeSphere Console.

[2022-04-19 07:42] jihoon-seo commented on #2934
Hello, I would like to work on the Korean L10n of KubeSphere web console.
I opened a related issue: #3159.

[2022-04-19 07:43] harrisonliu5 commented on #3154
/assign

[2022-04-19 07:44] harrisonliu5 commented on #3156
/assign

[2022-04-19 07:49] FeynmanZhou commented on #2934
@jihoon-seo
Awesome! Thanks for your interest! Looking forward to the Korean localization support!
We have enabled the Korean localization option in [Crowdin](https://crowdin.com/project/kubesphere). Let us know if you need any help.
<img width="833" alt="image" src="https://user-images.githubusercontent.com/40452856/163952659-264eee4e-0c84-4164-b363-cffcbb9bfe6b.png">

[2022-04-19 07:49] FeynmanZhou commented on #3159
Hi @jihoon-seo
Thanks for your interest! Looking forward to the Korean localization support!
We have enabled the Korean localization option in [Crowdin](https://crowdin.com/project/kubesphere). Let us know if you need any help.
<img width="833" alt="image" src="https://user-images.githubusercontent.com/40452856/163952659-264eee4e-0c84-4164-b363-cffcbb9bfe6b.png">

[2022-04-19 07:51] jihoon-seo commented on #3159
@FeynmanZhou Thank you for your support! 😊😊

[2022-04-19 07:54] FeynmanZhou commented on #3159
My pleasure. You are welcome to join the KubeSphere Slack channel [#sig-console](https://kubesphere.slack.com/archives/C010UN5BMRR) to ask us anything.

[2022-04-19 08:03] wenxin-01 opened #3160 "Modify content"
**Describe the bug**

update 'Latest sync status' to 'Current sync status'
![image](https://user-images.githubusercontent.com/68640256/163954997-4b1926c0-e3e4-4959-bffc-7d6b4604cb20.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority medium
/assign @kubesphere/sig-console

[2022-04-19 09:48] Patrick-LuoYu opened #3161 "Split the Edit option of alerting policies into multiple options"
Alerting policies support only one **Edit** option, while all other resources provide multiple options such as **Edit Information**, **Edit Settings**, **Edit YAML**, **Edit External Access**, etc.

<img width="1169" alt="image" src="https://user-images.githubusercontent.com/76198553/163977145-7403c70a-3ec4-45a3-8c84-3f62ce7a999d.png">

<img width="1178" alt="image" src="https://user-images.github

[2022-04-19 09:49] Patrick-LuoYu commented on #3161
/assign @zryfish @VioZhang @harrisonliu5

[2022-04-20 03:21] harrisonliu5 commented on #3157
/assign @Patrick-LuoYu

[2022-04-20 03:22] harrisonliu5 commented on #3146
/assign @LinuxSuRen

[2022-04-20 05:47] VioZhang commented on #1964
/cc @kubesphere/sig-console

[2022-04-20 06:28] harrisonliu5 commented on #3118
/kind need-to-verify

[2022-04-20 07:57] harrisonliu5 commented on #3160
/assign

[2022-04-20 08:00] smallersoup opened #3165 "In a multi-cluster scenario, after weave-scope is enabled in the member cluster, after logging in to the console of the host cluster and switching to the member cluster, the service topology tab on the service page cannot be seen."
**General remarks**

In a multi-cluster scenario, after weave-scope is enabled in the member cluster, after logging in to the console of the host cluster and switching to the member cluster, the service topology tab on the service page cannot be seen.

The following screenshot is the service page you see after switching to the member cluster after logging in to the host cluster console:
<img width

[2022-04-20 08:08] wansir commented on #3160
/assign @Patrick-LuoYu

[2022-04-20 08:09] weili520 commented on #3085
/assign

[2022-04-20 08:32] jioce opened #3166 "The storage type of the storage volume created by the snapshot is displayed incorrectly"
**Describe the bug**
1、The storage volume vv of csi-qingcloud exists, and the provider is the snapshot type test of disk.csi.qingcloud.com
2、Create a snapshot test-vv, select the storage volume as vv, and the snapshot type as test
3、Create a storage volume volume using snapshot test-vv, the volume storage type shows an error
![image](https://user-images.githubusercontent.com/88183150/164185345-667

[2022-04-20 08:52] weili520 commented on #3085
/kind need-to-verify

[2022-04-20 08:53] harrisonliu5 commented on #3154
could `kapis/gitops.kubesphere.io/v1alpha1/clusters` be replaced by `kapis/tenant.kubesphere.io/v1alpha2/clusters`?

@LinuxSuRen @wansir

[2022-04-20 09:13] LinuxSuRen commented on #3154
For this case, we can only use the previous one. Users might integrate different cluster with argo.

[2022-04-21 02:15] Patrick-LuoYu opened #3169 "Optimize the 'Cluster Status' page"
The **Cluster Status** page has the following problems:

* Titles such as **etcd Client traffic** are split into three elements of different sizes, which could make translation impossible.
* In the **Service Status** area, **External etcd** makes no sense; **Leader exists** and **Leader changes in 1h** are repeated; **Leader exists** is unnecessary because there is a **Leader** tag for the etcd le

[2022-04-21 06:18] harrisonliu5 commented on #3139
/kind need-to-verify

[2022-04-21 06:23] harrisonliu5 commented on #3119
/kind need-to-verify

[2022-04-21 07:31] harrisonliu5 commented on #3154
/kind need-to-verify

[2022-04-21 07:44] wenxin-01 opened #3172 "Filtering of health status and sync status does not work"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/164404873-7046d1b8-1cfe-4c19-ab5c-06c182cf735e.mov

![image](https://user-images.githubusercontent.com/68640256/164409910-5d3e29d2-fb66-45d2-9fad-cca0cd19c582.png)
![image](https://user-images.githubusercontent.com/68640256/164409982-e6ee7737-43de-47ad-8880-6e40cc1a515e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSpher

[2022-04-21 07:51] jioce opened #3174 "Disable user login KS page missing prompt"
**Describe the bug**
1、Create user cc with the role of platform administrator
2、After the creation is successful, deactivate the user cc
3、Use user cc to log in to KS, the login fails, and there is no prompt on the page
![image](https://user-images.githubusercontent.com/88183150/164405582-0ff1da71-d8d0-4d04-a475-cae174246eaa.png)

![image](https://user-images.githubusercontent.com/88183150/1644057

[2022-04-21 08:01] #3174 closed

[2022-04-21 08:31] wenxin-01 opened #3179 "The create time of devops project is error"
**Describe the bug**

`This time is updated in real time`
![image](https://user-images.githubusercontent.com/68640256/164413701-ec60cdc0-521d-4a10-9ab1-980c419ecd15.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority medium
/assign @kubesphere/sig-console

[2022-04-22 01:57] harrisonliu5 commented on #3156
/kind need-to-verify

[2022-04-22 05:58] LinuxSuRen commented on #3179
/area devops
/good-first-issue

[2022-04-22 05:59] weili520 commented on #3160
/kind need-to-verify

[2022-04-22 06:00] LinuxSuRen commented on #3172
/area devops

[2022-04-22 06:04] LinuxSuRen commented on #3154
/area devops

[2022-04-22 06:04] LinuxSuRen commented on #3144
/area devops

[2022-04-22 06:12] LinuxSuRen commented on #3136
/area devops

[2022-04-22 06:12] LinuxSuRen commented on #3140
/area devops

[2022-04-22 06:23] harrisonliu5 commented on #3166
/kind need-to-verify

[2022-04-22 06:29] wenchajun opened #3182 "The front-end of the edgeruntime component is not displayed when it is turned on"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

In kubespherev 3.3, I started the `edgeruntime` component, but there is no interface displaying the edge nodes in the front-end.But you can see that the relevant containers and namespaces have been deployed.
![1650607689(1)](https://user-i

[2022-04-22 06:31] wenchajun commented on #3182
/cc @weili520 @jioce @wenchajun

[2022-04-22 06:48] wenxin-01 opened #3183 "When creating environment variables, should limit the use of duplicate key name."
**Describe the bug**

It should be judged whether the key is repeated. If it is repeated, it cannot be saved.

![image](https://user-images.githubusercontent.com/68640256/164618662-12bf3a42-8182-4376-a62d-4f8f895ce27a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:    `v3.3.0-alpha.1`

/priority low
/assign @kubesphere/sig-console

[2022-04-22 06:49] weili520 commented on #3183
/assign

[2022-04-22 06:56] VioZhang opened #3184 "Screenshield the "auto generate" of the route setting and the other page influenced."
Screenshield the "auto generate" of the route setting and the other page influenced.
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/41519383/164619974-d7b81265-7df7-49f6-8750-808440c80292.png)
![image](https://user-images.githubusercontent.com/41519383/164624276-5e28186f-d0ce-4bd7-898e-cd42a6a989ef.png)

**Why is this needed**:
For the policy requirement
/c

[2022-04-22 07:25] wenxin-01 opened #3185 "Error select environment variable"
**Describe the bug**

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  project detail page
2. Create deployment
3. Select 'Environment Variables'
4. Select 'From configmap'
5. input key
6. select resource
7. see error

![image](https://user-images.githubusercontent.com/68640256/164627069-7a95cd8c-8c81-4014-af12-471

[2022-04-22 07:30] harrisonliu5 commented on #3185
/assign @weili520

[2022-04-22 08:19] wenxin-01 opened #3187 "Optimize the display of error messages of image repository verification failure"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/164647837-8f2b31f9-d175-4dc6-b028-86ad4239da1f.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.1`

**Expected behavior**
`It is recommended to use scrolling up and down to display error information`

/priority low
/assign @kubesphere/sig-console

[2022-04-22 09:03] harrisonliu5 commented on #3184
/kind need-to-verify

[2022-04-22 09:03] harrisonliu5 commented on #3185
/kind need-to-verify

[2022-04-22 09:03] harrisonliu5 commented on #3172
/kind need-to-verify

[2022-04-22 09:44] VioZhang opened #3191 "Optimize the description of the template of the pipeline."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
There are some wrong words and it would be better if we have the number of the words in a similar range.
For UI issues please also add a screenshot that shows the issue.
![b0fc11a7a52d75d72750e30139eddd0](https://user-images.githubusercontent.com/41519383/164680639-a22d39b2-e966-4bf4-a108-785b53a61157.png

[2022-04-24 04:02] Patrick-LuoYu opened #3192 "Optimize display of pod IP pool data"
* **Mask** does not need to be displayed because **Network Segment** already shows the number of mask bits.
* **.0** for **Start IP Address** is incorrect because **.0** addresses cannot be assigned to pods.

  <img width="381" alt="image" src="https://user-images.githubusercontent.com/76198553/164955927-ae24c295-620e-4fbd-ba0c-4aca41a4a809.png">

* **256** for **Available IP addresses** is incorr

[2022-04-24 04:24] zheng1 commented on #3192
/assign @renyunkang

[2022-04-24 08:41] LinuxSuRen opened #3194 "Request to let user to choose the prune propagation policy on the CD page"
**What would you like to be added**:
As I mentioned, I request to improve this page.
![image](https://user-images.githubusercontent.com/1450685/164967916-c0ee6ecb-2777-4b9a-9641-73812908882b.png)

Supported items:
![image](https://user-images.githubusercontent.com/1450685/164952973-3bd55128-3246-4b2b-9749-9a2ab4f6fe11.png)

If you would like know more details about the prune progagation policy. Se

[2022-04-24 09:47] renyunkang commented on #3192
Calico is fully routed, so all IP address within a Calico pool are usable as private IP addresses to assign to a workload. This means addresses commonly reserved in a L2 subnet, such as IPv4 addresses ending in .0 or .255, are perfectly okay to use.[ FAQ.](https://projectcalico.docs.tigera.io/reference/faq)

[2022-04-25 01:18] #2121 closed

[2022-04-25 08:43] harrisonliu5 commented on #3034
/kind need-to-verify

[2022-04-25 09:44] f10atin9 commented on #3034
@jioce

[2022-04-25 09:45] #3034 closed

[2022-04-25 23:21] #3146 closed

[2022-04-26 06:46] wenxin-01 opened #3203 "kubeconfig expiration time check error"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/165238533-01ff122d-2835-4a71-84cc-c3d8386eb253.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-alpha.1`

/priority medium
/assign @kubesphere/sig-console

[2022-04-26 07:01] jioce commented on #3166
issue fixed in v3.3.0-alpha.2

[2022-04-26 07:01] #3166 closed

[2022-04-26 07:01] jioce commented on #3141
issue fixed in v3.3.0-alpha.2

[2022-04-26 07:01] #3141 closed

[2022-04-26 07:11] jioce commented on #3139
Edit Annotation key not showing
![image](https://user-images.githubusercontent.com/88183150/165242457-f742bb5c-6211-4896-be91-c10c01088bf3.png)

Select the load balancer provider openelb again, the desired key is displayed
![image](https://user-images.githubusercontent.com/88183150/165242526-8af190e9-bbd9-44a4-a12d-8ce9ccb48ac2.png)

[2022-04-26 08:44] VioZhang opened #3204 "Optimize the inform of the same name of the project."
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/41519383/165259054-f2269b48-c942-4291-95a6-69531954b1f0.png)

**Why is this needed**:
Some users may be confused about it because there is no project belongs to the workspace,and we could note the user "There has been a project of which the name is same with it,and please input another name" which in Chinese is

[2022-04-26 08:57] wenxin-01 opened #3205 "Through google log in KS error"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/165262846-6cd3e2f7-f371-48c3-b38d-3e18ae7150f4.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-master`

/priority medium
/assign @kubesphere/sig-console

[2022-04-26 10:44] harrisonliu5 commented on #3203
/assign

[2022-04-26 10:45] harrisonliu5 commented on #3204
/assign @Patrick-LuoYu

[2022-04-27 02:09] weili520 commented on #3183
/kind-need-to-verify

[2022-04-27 02:09] weili520 commented on #3183
/kind need-to-verify

[2022-04-27 02:39] harrisonliu5 commented on #3203
/kind need-to-verify

[2022-04-27 06:51] weili520 commented on #2431
/kind need-to-verify

[2022-04-27 07:29] jioce commented on #3135
issue fixed in v3.3.0-alpha.2

[2022-04-27 07:29] #3135 closed

[2022-04-27 07:54] harrisonliu5 commented on #3182
/kind need-to-verify

[2022-04-27 08:07] wansir commented on #3191
/assign @Patrick-LuoYu

[2022-04-27 08:16] harrisonliu5 commented on #3009
/kind need-to-verify

[2022-04-27 09:22] jioce commented on #3182
issue fixed in v3.3.0-alpha.2

[2022-04-28 03:38] wenxin-01 opened #3209 "When creating a CD task, selecting ‘replace resource' did not take effect"
**Describe the bug**
Lack of tag `syncOptions: - Replace=true` in yaml of cd

![image](https://user-images.githubusercontent.com/68640256/165671251-13bd80b5-b0af-4e17-891c-cbf65cab4db9.png)
![image](https://user-images.githubusercontent.com/68640256/165671293-2d7285c5-022f-4bdd-9392-54a46a0d22c6.png)
![image](https://user-images.githubusercontent.com/68640256/165671334-2f0cd5e3-9711-48e6-869d-2f94

[2022-04-28 04:42] VioZhang opened #3210 "It is hard to recognize the full name from the dropdown menu."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
It is hard to recognize the full name from the dropdown menu.We could add a tool tip or other notes to make it easy to recognize the full name.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/165677774-7503996f-9d23-452c-a3b7-ed1

[2022-04-28 05:59] weili520 commented on #3209
/assign

[2022-04-28 07:33] LinuxSuRen commented on #3209
/area devops

[2022-04-28 07:41] LinuxSuRen opened #3214 "Sync settings are missing when the sync strategy is manual"
**Describe the bug**
As I mentioned in the title. Sync settings have no relationship with sync strategy.

![image](https://user-images.githubusercontent.com/1450685/165701499-a4c4e7bd-f764-4572-8266-0b60ce1b3554.png)
![image](https://user-images.githubusercontent.com/1450685/165701641-f8e38f44-1b95-43d5-9089-b43897c8bc28.png)

This issue is similar to https://github.com/kubesphere/console/issues/3

[2022-04-28 08:37] harrisonliu5 commented on #3214
/assign

[2022-04-28 08:50] Felixnoo commented on #2392
Layout improved.

[2022-04-28 08:50] #2392 closed

[2022-04-28 09:57] Patrick-LuoYu commented on #3192
In this case, **End IP Address** should be **.255** rather than **.254**.

<img width="358" alt="image" src="https://user-images.githubusercontent.com/76198553/165727934-4fd80de4-809c-4ac5-9ae1-e24f5ae53e86.png">

[2022-04-29 03:06] jioce opened #3220 "kubectl connection error"
**Describe the bug**
1、Log in to the console, click the toolbox, click kubectl, the interface is wrong
![image](https://user-images.githubusercontent.com/88183150/165879406-0cfa0239-d5e8-4119-a98b-347a591c1a60.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-alpha.2

/kind bug
/priority medium

[2022-04-29 14:37] VioZhang opened #3227 "The kubekey-system should not belong to the Uesrs Project."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
The kubekey-system should not belong to the Uesrs Project.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/165966259-06c975b4-39f4-48ed-a348-b84ee18f4ebb.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:
3.3.0

/cc @kube

[2022-04-29 15:39] VioZhang opened #3228 "Broaden the area of the kubesphere source by which we click to enter into the detail pages."
**What would you like to be added**:
Now can we only click the resource name to enter detail page ,and it is unconvenient for us to enter the resource of which the name is   short such as “a”, “b”.It would be better we can click the row where the resource is to enter into it.
For example , it is difficult to enter the project "a" for its name is short and the clickable area is so small so that it

[2022-05-04 03:31] FeynmanZhou opened #3229 "The web kubectl is not available in Safari but works well in Chrome"
**Describe the Bug**
A clear and concise description of what the bug is.

The web kubectl is not available in Safari but works well in Chrome.
**Safari**
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/40452856/166619494-3679b2cb-8a77-406e-bd17-6282227f8649.png">
**Chrome**
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/40452856/166619570-

[2022-05-04 14:25] VioZhang opened #3230 "Add a button thorough which we can copy the all yaml content."
**What would you like to be added**:
Add a button thorough which we can copy the all yaml content.
![image](https://user-images.githubusercontent.com/41519383/166702228-23df795a-5d2d-4752-87f6-c17ff0058ddc.png)

**Why is this needed**:
It would be more convenient.

[2022-05-05 01:43] wenxin-01 commented on #3185
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 01:43] #3185 closed

[2022-05-05 01:45] wenxin-01 commented on #3183
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166852921-5b43ad99-088b-4c4f-b5f8-b752202888e7.png)

[2022-05-05 01:45] #3183 closed

[2022-05-05 01:48] wenxin-01 commented on #3172
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 01:48] #3172 closed

[2022-05-05 01:50] wenxin-01 commented on #3160
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166853175-ba0c7c61-f7cc-424a-bb64-09ef1573a1ec.png)

[2022-05-05 01:50] #3160 closed

[2022-05-05 01:56] wenxin-01 commented on #3156
issue not fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166853533-9e38e986-1f68-4f38-999a-de64cb7d8365.png)

[2022-05-05 01:57] wenxin-01 commented on #3154
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 01:57] #3154 closed

[2022-05-05 01:58] wenxin-01 commented on #3151
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 01:58] #3151 closed

[2022-05-05 01:59] wenxin-01 commented on #3150
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166853816-bb3d3628-67c2-4ddc-9553-86c50ade8d54.png)

[2022-05-05 01:59] #3150 closed

[2022-05-05 02:06] wenxin-01 commented on #3140
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 02:06] #3140 closed

[2022-05-05 02:08] wenxin-01 commented on #3137
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 02:08] #3137 closed

[2022-05-05 02:09] wenxin-01 commented on #3136
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 02:09] #3136 closed

[2022-05-05 02:13] weili520 commented on #3229
This problem is caused by the NSURLSession WebSocket that experimental feature of safari, we need close it manual:  top bar -> development -> experimental feature-> uncheck NSURLSession WebSocket

[2022-05-05 02:15] weili520 commented on #3229
The warning in console:

<img width="490" alt="截屏2022-05-05 10 14 24" src="https://user-images.githubusercontent.com/33231138/166854786-58beb62d-3160-431e-9e72-edac1410b571.png">

[2022-05-05 02:23] wenxin-01 commented on #3099
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 02:23] #3099 closed

[2022-05-05 02:28] wenxin-01 commented on #3107
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 02:28] #3107 closed

[2022-05-05 02:29] wenxin-01 commented on #3097
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166855664-baa58041-e966-4fec-8097-e222429c2e15.png)

[2022-05-05 02:29] #3097 closed

[2022-05-05 02:34] wenxin-01 commented on #3078
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166855999-2218c0e2-82ab-45fe-b560-0d26b6f2e93e.png)

[2022-05-05 02:34] #3078 closed

[2022-05-05 02:37] wenxin-01 commented on #3073
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166856199-f9c48f4d-7545-47d3-a76f-8e672909c6be.png)

[2022-05-05 02:37] #3073 closed

[2022-05-05 02:41] wenxin-01 commented on #3071
issue fixed in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/166856406-49915138-f196-4f85-b387-9dd655640703.png)

[2022-05-05 02:46] VioZhang opened #3231 "Inform the user if he had enabled the devops."
**What would you like to be added**:
![image](https://user-images.githubusercontent.com/41519383/166856732-bfe521da-2671-4e2e-8c5a-8efb2913cb71.png)

**Why is this needed**:
If the users had not open it,it would be better to let they know.

[2022-05-05 03:15] LinuxSuRen commented on #3214
/kind need-to-verify

[2022-05-05 03:16] LinuxSuRen commented on #3209
/kind need-to-verify

[2022-05-05 05:51] wenxin-01 commented on #3100
issue fixed in `v3.3.0-alpha.2`

[2022-05-05 05:51] #3100 closed

[2022-05-05 06:43] weili520 commented on #3220
I think this is not a problem, we will connect to the cluster via multiple paths, so there maybe has an error.

[2022-05-05 06:53] wenxin-01 opened #3235 "Display optimization in code repository"
**Describe the bug**
The marked part in the figure has no meaning and is recommended to be deleted

![image](https://user-images.githubusercontent.com/68640256/166874897-49917932-b6dd-4d95-b216-0a6b2853dffc.png)

![image](https://user-images.githubusercontent.com/68640256/166875001-ce60478a-ecfb-45ad-af8c-e31984f3522d.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`

/

[2022-05-05 06:55] weili520 commented on #3235
/assign

[2022-05-06 01:43] wenxin-01 opened #3238 "Container information is blocked"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68640256/167053149-bdc586ea-1f65-409e-aa79-6dac333b8537.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`

/priority low
/assign @kubesphere/sig-console

[2022-05-06 01:46] weili520 commented on #3238
/assign

[2022-05-06 03:06] wenxin-01 opened #3239 "Can not cancel Post-Start or Pre-Stop alone"
**Describe the bug**
As shown in the figure, I deleted the pro-stop action in lifecycle management, so there should be no `preStop: {}` in the request data of the interface.

![image](https://user-images.githubusercontent.com/68640256/167059937-b451f8ff-e0fb-4688-8bc7-730a3b80f03e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`

/priority medium
/assign @kubesphere/si

[2022-05-06 03:16] wenxin-01 commented on #3156
yes

[2022-05-06 06:51] weili520 commented on #3239
/assign

[2022-05-06 06:53] harrisonliu5 commented on #3238
/kind need-to-verify

[2022-05-06 08:38] wenxin-01 opened #3244 "The created time of service in Service Topology is error"
**Describe the bug**
Shows standard time, no conversion

![image](https://user-images.githubusercontent.com/68640256/167097036-a4f8c737-60d0-46ec-894d-44c4347ade43.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`
Kubernetes: (If KubeSphere installer used, you can skip this)

/priority medium
/assign @kubesphere/sig-console

[2022-05-06 08:40] weili520 commented on #3244
/assign

[2022-05-06 09:26] harrisonliu5 commented on #3239
/kind need-to-verify

[2022-05-07 01:42] wenxin-01 opened #3247 "Hide "#" of service details in Service Topology"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/167232992-11f8a6d1-4c0d-40cb-b561-37e10357a38b.png)

![image](https://user-images.githubusercontent.com/68640256/167233021-77702d97-44b6-4c42-9836-0829a9d18e84.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`

/priority low
/assign @kubesphere/sig-console

[2022-05-07 01:53] harrisonliu5 commented on #3244
/kind need-to-verify

[2022-05-07 01:58] mangoGoForward commented on #3247
/assign @mangoGoForward

[2022-05-07 01:59] weili520 commented on #3247
This label name  is created by the backend.

![截屏2022-05-07 09 58 14](https://user-images.githubusercontent.com/33231138/167233480-c9181c0a-14bf-4360-a7dc-5aca978c79ec.png)

[2022-05-07 02:03] wenxin-01 commented on #3247
@weihongzhoulord Please hide this "#".

[2022-05-07 03:07] mangoGoForward commented on #3247
Hi,  @weili520

Seems backend solve this problem is difficult, because ks-apiserver just forward the request and received response from `weaveworks/scope`, and the label of Pods in`ServiceMetadataTemplates`  is `# Pods`.

https://github.com/weaveworks/scope/blob/fc518cb6024d42c65ba73b2d4fab0e70a75f97d2/probe/kubernetes/reporter.go#L49-L57

[2022-05-07 03:09] weili520 commented on #3247
OK, thanks.

[2022-05-07 06:33] wenxin-01 opened #3249 "Added an all option when setting continuous deployment whitelist"
**Describe the bug**

Currently, when setting the continuous deployment whitelist, if you want to select all code repositories and all projects, you need to add them one by one. It is recommended to add an all option when selecting code repositories, clusters, and projects.

![image](https://user-images.githubusercontent.com/68640256/167241984-dbaf9dd5-6444-4cbb-b641-89303ce51c05.png)
![image](htt

[2022-05-07 06:45] wenxin-01 opened #3250 "Do not request namesapce when editing whitelist"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/167242089-956b5c7a-bfe1-49fb-911c-3f8d92877d76.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `v3.3.0-alpha.2`
ks-console :`surenpi/ks-console:fix-argoCD@sha256:a0f37592f2a23d25ea0699f8b2fa923f115bcc4e75ac8e6c82f2c0b33452b64c`

**Preconditions**
There is a whitelist of set deployment locations

**To Repro

[2022-05-07 06:46] wenxin-01 commented on #3250
In addition, modify "workspace" into "project"
![image](https://user-images.githubusercontent.com/68640256/167242382-3642c699-c4ca-4925-a20b-b7c88c34f007.png)

[2022-05-07 06:59] wenxin-01 opened #3251 "Display the url of repository in the options of code repository"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/167242849-5599b3cc-66af-43c5-8626-24ee140c394e.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`
ks-console:   `surenpi/ks-console:fix-argoCD@sha256:a0f37592f2a23d25ea0699f8b2fa923f115bcc4e75ac8e6c82f2c0b33452b64c`

/priority medium
/assign @kubesphere/sig-console

[2022-05-07 10:21] renyunkang commented on #3103
Enabling the service topology will consume a lot of resources. Therefore, it is not recommended to enable service topology by default.
If you need it, you can start the service topology in the following ways:
● Enable the weave-scope topology by editing the daemonset weave-scope-agent container args. _(delete `- '--probe.processes=false'`)_
● Remove read-only access to volumeMounts._(delete `readO

[2022-05-09 01:03] LinuxSuRen commented on #3250
/area devops

[2022-05-09 01:15] LinuxSuRen commented on #3072
/kind need-to-verify

[2022-05-09 01:55] weili520 commented on #3247
/assign

[2022-05-09 02:27] wenxin-01 opened #3254 "Deployment Locations display error in Continuous Deployment Allowlist"
**Describe the bug**

As shown in the figure, the deployment location should be the all location in the host cluster.

![image](https://user-images.githubusercontent.com/68640256/167330258-33d354ca-8b41-4183-925a-3dca5f95282a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`
ks-console:  `surenpi/ks-console:fix-devops-baseinfo-allowlist@sha256:5e7fc932f0e782891d1e7a2bc5

[2022-05-09 02:57] wenxin-01 opened #3255 "Cannot select the project of member-cluster in the deployment location whitelist"
**Describe the bug**

https://user-images.githubusercontent.com/68640256/167333008-85d425a7-3a97-46b5-bc08-1e3049d95e98.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`

/priority high
/assign @kubesphere/sig-console

[2022-05-09 06:03] wenxin-01 opened #3256 "When no cluster is selected, there should be no options in the project dropdown"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/167349587-5e60cd41-31db-4746-a89f-9a442a74770a.png)

https://user-images.githubusercontent.com/68640256/167349402-95fc51f5-f3bd-439c-8a15-b30e7a8a0c85.mov

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-alpha.2`
ks-console:  `surenpi/ks-console:fix-devops-baseinfo-allowlist@sha256:5e7fc932f0e782891d1e

[2022-05-09 06:42] wenxin-01 commented on #3256
/priority high

[2022-05-09 08:29] wenxin-01 commented on #3071
![image](https://user-images.githubusercontent.com/68640256/167370637-147b4f10-23db-42d7-a586-72bff5e8ae71.png)

The password length prompt is wrong when changing the password for the first time login

[2022-05-09 08:29] #3071 closed

[2022-05-09 09:40] Patrick-LuoYu opened #3260 "Do not place 'Service Accounts' under 'Configuration'"
Though service accounts are related to secrets, services accounts are not configuration-related resources and therefore **Service Accounts** should not be placed under **Configuration**.

<img width="260" alt="image" src="https://user-images.githubusercontent.com/76198553/167383311-152c9c32-fab0-404e-926c-9e659a03a6d4.png">

/assign @VioZhang @harrisonliu5

[2022-05-09 09:59] jioce opened #3261 "Project role 'operator' permission error"
**Describe the bug**
1、There is a project pro, click Project Settings - "Project Role, click operator, enter the role details
2、permission is empty
![image](https://user-images.githubusercontent.com/88183150/167386695-855192d2-7aef-4174-b531-45800c75221d.png)

![image](https://user-images.githubusercontent.com/88183150/167386631-eee625ed-5fdc-4681-aac7-62b829aea107.png)
3、Log in with a user associ

[2022-05-09 10:07] jioce commented on #3261
Same problem with devops engineering role "operator"
![image](https://user-images.githubusercontent.com/88183150/167388425-e0454ff5-1802-4894-914f-f1587f47e7b2.png)

[2022-05-09 10:09] wansir commented on #3261
@jioce
Seems ks-controller-manager not working well, could you provide more information about this.

[2022-05-09 10:31] wenxin-01 commented on #3261
same as https://github.com/kubesphere/ks-devops/issues/575

[2022-05-09 10:39] wansir commented on #3261
Regression bug, already fixed in https://github.com/kubesphere/ks-installer/pull/1968.

/kind need-to-verify

[2022-05-10 01:56] harrisonliu5 commented on #3247
/kind need-to-verify

[2022-05-10 02:05] weili520 commented on #3256
/assign

[2022-05-10 02:05] weili520 commented on #3256
/assign

[2022-05-10 02:09] harrisonliu5 commented on #3249
/kind need-to-verify

[2022-05-10 02:10] harrisonliu5 commented on #3250
/kind need-to-verify

[2022-05-10 02:10] harrisonliu5 commented on #3251
/kind need-to-verify

[2022-05-10 07:23] wenxin-01 opened #3262 "Apps with status "To be released" cannot be processed in all lists of App Release"
**Describe the bug**
Apps with status "To be released" only can be processed in Unreleased lists of  App Release. It is recommended that it can also be processed in all lists.

![image](https://user-images.githubusercontent.com/68640256/167571721-0627713d-9cb4-4675-8899-b735d595a3dc.png)

![image](https://user-images.githubusercontent.com/68640256/167572175-342fe8c0-8626-46c0-91b5-fc1356eaf05c.png

[2022-05-10 09:54] LinuxSuRen commented on #3254
/area devops

[2022-05-10 09:54] LinuxSuRen commented on #3255
/area devops

[2022-05-10 09:55] LinuxSuRen commented on #3256
/area devops

[2022-05-11 03:33] jioce commented on #3261
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/167763670-b5c0b666-5a33-4d71-8049-3e92e332c7b5.png)

![image](https://user-images.githubusercontent.com/88183150/167763737-561e722a-aeb3-467c-9e34-6f7e521dd278.png)

 Versions used
kubespheredev/ks-installer:nightly-20220509

[2022-05-11 03:33] #3261 closed

[2022-05-11 05:46] wenxin-01 opened #3265 "Devops version management error"
**Describe the bug**

There is a multi-cluster environment, `host ks: v3.3.0-alpha2`, `member ks:v3.2.1` and both enabled devops.

**Expected behavior**
The features of v3.3.0 are not displayed in the devops project created in member cluster.

**Actual behavior**
The features of v3.3.0 are displayed in the devops project created in member cluster. but did not work.

![image](https://user-images.gi

[2022-05-11 10:38] LinuxSuRen commented on #3265
/area devops

[2022-05-12 02:06] LinuxSuRen commented on #3256
/kind need-to-verify

[2022-05-12 02:06] LinuxSuRen commented on #3255
/kind need-to-verify

[2022-05-12 02:06] LinuxSuRen commented on #3254
/kind need-to-verify

[2022-05-12 07:11] f10atin9 opened #3271 "Can't log in when setting Chinese characters as password"
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
When the user changes the last digit of the password to Chinese characters such as `P@88w0rd）` , the change will pass, but the user will not be able to log in.

**Expected behavior**
A clear and concise description of what you expected to happen.
Disable Chinese characters or fix stuck at login

[2022-05-12 07:11] f10atin9 commented on #3271
/cc @harrisonliu5

[2022-05-13 01:03] wenxin-01 commented on #3256
Better to show no data and get rid of the loading animation.
![image](https://user-images.githubusercontent.com/68640256/168191040-5ea57d53-c734-45c2-9960-8b2f143e6a67.png)
/priority low

[2022-05-13 01:04] wenxin-01 commented on #3256
re-move /priority high

[2022-05-13 01:10] wenxin-01 commented on #3255
issue fix  in `master`
![Uploading image.png…]()

[2022-05-13 01:10] #3255 closed

[2022-05-13 01:13] wenxin-01 commented on #3254
issue fix in `master`
![image](https://user-images.githubusercontent.com/68640256/168191941-6187f46f-b0c5-4378-9146-ffa5f6a001ab.png)

[2022-05-13 01:13] #3254 closed

[2022-05-13 01:15] wenxin-01 commented on #3251
issue fix in `master`
![image](https://user-images.githubusercontent.com/68640256/168192129-750fca30-e987-4e50-868a-be92597286b1.png)

[2022-05-13 01:15] #3251 closed

[2022-05-13 01:19] wenxin-01 commented on #3250
issue fix in `master`
![image](https://user-images.githubusercontent.com/68640256/168192465-aa7f7ea8-3558-43af-bd9e-0768a08db932.png)

![image](https://user-images.githubusercontent.com/68640256/168192500-53aa3fb9-6889-44dd-931b-ae72f262b6b3.png)

[2022-05-13 01:19] #3250 closed

[2022-05-13 01:21] wenxin-01 commented on #3249
issue fix in `master`
![image](https://user-images.githubusercontent.com/68640256/168192609-5f27ff8c-7e79-411a-8a28-4b6b11756c3c.png)

[2022-05-13 01:37] wenxin-01 commented on #3247
issue fixed in `master`
![image](https://user-images.githubusercontent.com/68640256/168194066-63c53600-765c-410e-8a91-47c8c2a087fc.png)

[2022-05-13 01:37] #3247 closed

[2022-05-13 01:38] wenxin-01 commented on #3244
issue fixed in `master`
![image](https://user-images.githubusercontent.com/68640256/168194185-861907eb-1736-46bc-9682-3e9eed7dafb7.png)

[2022-05-13 01:38] #3244 closed

[2022-05-13 01:47] wenxin-01 commented on #3239
issue fixed in `master`

![image](https://user-images.githubusercontent.com/68640256/168195023-f1514c40-4066-4d69-ac1f-54c84c177666.png)

[2022-05-13 01:47] #3239 closed

[2022-05-13 01:52] wenxin-01 commented on #3238
issue fixed in `master`
![image](https://user-images.githubusercontent.com/68640256/168195602-93ac64cb-ff3a-489f-9790-6f4f0881ce0a.png)

[2022-05-13 01:52] #3238 closed

[2022-05-13 02:54] weili520 opened #3275 "The sonarqube test bug for v3.3.0-alpha.x"
**Describe the bug**

There have some problems that need to resolve after The sonarqube testing:

![截屏2022-05-13 10 50 22](https://user-images.githubusercontent.com/33231138/168201755-e51e8f50-77e1-40b0-b06f-cad1b1bcbaac.png)

**Expected behavior**

fix it.

[2022-05-13 02:54] weili520 commented on #3275
/assign

[2022-05-13 08:08] weili520 commented on #3220
/kind need-to-verify

[2022-05-16 01:16] #3103 closed

[2022-05-16 01:49] weili520 commented on #3275
/kind need-to-verify

[2022-05-16 03:37] LinuxSuRen opened #3280 "Wrong git URL of the private Bitbucket repository"
**Describe the bug**
The real git repository URL is `http://x.x.x.x/scm/test/beep`, but it is `http://x.x.x.x//TEST/beep`. So the path `scm` is missing.

By the way, the URL path is case insensitive.

![image](https://user-images.githubusercontent.com/1450685/168515234-0867be5a-c5d7-4df2-900d-8e058a42df15.png)

![image](https://user-images.githubusercontent.com/1450685/168515196-9e495614-9049-425a

[2022-05-16 07:13] wenxin-01 commented on #3209
issue fixed in `kubespheredev/ks-installer:master`
![image](https://user-images.githubusercontent.com/68640256/168538664-8cabc985-9bcb-4102-8cbf-9e49ece60127.png)

[2022-05-16 07:13] #3209 closed

[2022-05-16 07:25] wenxin-01 commented on #3203
issue fixed in `kubespheredev/ks-installer:master`
![image](https://user-images.githubusercontent.com/68640256/168540349-d7a30706-0bca-4d51-969d-84d39ad5491c.png)

[2022-05-16 07:25] #3203 closed

[2022-05-17 08:48] harrisonliu5 commented on #3280
/kind need-to-verify

[2022-05-17 08:48] harrisonliu5 commented on #3265
/kind need-to-verify

[2022-05-18 01:53] jioce commented on #3220
issue fixed in v3.3.0-rc.0

[2022-05-18 01:53] #3220 closed

[2022-05-18 02:31] #3108 closed

[2022-05-18 03:49] jioce opened #3290 "Service Map container showing error"
**Describe the bug**
1、There are multiple services in the project pro, and the cluster has opened the service topology map
2、Enter the service topology diagram interface, click the service ss, select the container, and view the container monitoring information
3、Click to select another service, the container information is not updated
![image](https://user-images.githubusercontent.com/88183150/168

[2022-05-19 08:40] Liang-Dongxing opened #3294 "能否支持context path 的配置"
**What would you like to be added**:
能否支持context path 的配置
**Why is this needed**:
一台搞配置服务器上部署了多个服务器，只能一个端口出站需要nginx方向代理多个服务

[2022-05-20 03:29] harrisonliu5 commented on #3271
We will ban Chinese characters in passwords later.

[2022-05-22 11:37] wenxin-01 commented on #3156
Issue fixed in `v3.3.0-rc.0`
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/68640256/169693130-3ca9a071-37e3-44ce-8b05-f6e7100e11b0.png">
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/68640256/169693164-a43c6a22-7c94-4d52-b6b0-b67f6caf43d1.png">

[2022-05-22 11:37] #3156 closed

[2022-05-23 10:59] Patrick-LuoYu opened #3298 "Remove the ID column of the DevOps project list"
The ID column seems not useful for users and should be removed.

<img width="1412" alt="image" src="https://user-images.githubusercontent.com/76198553/169804979-4e76262f-5629-4d4c-9bae-a2425f5fddc0.png">

/assign @LinuxSuRen @harrisonliu5

[2022-05-24 05:46] #3256 closed

[2022-05-24 08:05] jioce commented on #3290
issue fixed in v3.3.0-rc.0

[2022-05-25 02:43] Patrick-LuoYu opened #3300 "Optimize the app template details page"
The app template details page contain a lot of repeated information and needs to be optimized.

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/76198553/170168568-0abba31d-ad97-4f4e-853f-c2d2942360e4.png">

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/76198553/170168623-8a25495b-7c14-4588-bfed-39e1e1b8f438.png">

/assign @VioZhang @harri

[2022-05-25 07:44] Patrick-LuoYu opened #3304 "Remove the App ID parameter of app templates"
The **App ID** parameter seems not useful for users and should be removed.

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/76198553/170208621-135a384a-a7ae-4f26-a395-0fefe7519890.png">

/assign @VioZhang @harrisonliu5

[2022-05-25 08:45] jioce commented on #3072
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170221318-a8e9b3d8-3720-490b-9f51-54e5575c5ceb.png)

version used
nightly-20220524

[2022-05-25 08:49] jioce commented on #3146
issue fixed
![image](https://user-images.githubusercontent.com/88183150/170221987-ec6c991a-56b6-4084-aea1-396002e2f627.png)

version used
nightly-20220524

[2022-05-25 08:51] jioce commented on #3184
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170222475-1ed090c4-ad75-41ec-aed6-0bbf9dda76a6.png)

version used
nightly-20220524

[2022-05-25 08:54] jioce commented on #3157
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170223105-33700742-3ee1-4238-b042-d2d1878a63ab.png)

version used
nightly-20220524

[2022-05-25 08:57] #3184 closed

[2022-05-25 09:03] jioce commented on #3085
issue is fiixed
![image](https://user-images.githubusercontent.com/88183150/170224976-010675b7-c6f6-4708-8f35-15d67c429e39.png)

version used
nightly-20220524

[2022-05-25 09:05] jioce commented on #3101
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170225456-8e3ef480-56ad-45be-b3be-515e8a3c1290.png)

version used
nightly-20220524

[2022-05-25 09:08] wenxin-01 commented on #2112
Issue fixed in `v3.3.0-rc.0`
![image](https://user-images.githubusercontent.com/68640256/170226117-cbd52523-1bb5-4232-8df9-305a0aa1dcc5.png)

[2022-05-25 09:08] #2112 closed

[2022-05-25 09:08] jioce commented on #3105
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170226118-c1d7f532-be32-4675-8973-efad55a78f4b.png)

version used
nightly-20220524

[2022-05-25 09:18] jioce commented on #3074
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170228004-95d96f2c-60bd-4fb7-a8bc-308edc5eee0a.png)

version used
nightly-20220524

[2022-05-25 09:31] jioce commented on #3047
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170230597-243d0bed-a46e-4d79-a863-add1b1b318f4.png)

version used
nightly-20220524

[2022-05-25 09:35] wenxin-01 commented on #2971
Issue fixed in `v3.3.0-nightly20220524`
![image](https://user-images.githubusercontent.com/68640256/170231550-a3f29efd-26d6-4126-9db1-e4157d86ba12.png)
![image](https://user-images.githubusercontent.com/68640256/170231602-3f9b4b05-a42e-41c5-bf08-aa32bfdf4470.png)

[2022-05-25 09:35] #2971 closed

[2022-05-25 09:38] wenxin-01 commented on #3003
Issue fixed in `v3.3.0-rc.0`

[2022-05-25 09:40] jioce commented on #2898
issue is fixed  in v3.3.0-rc.0

[2022-05-25 09:40] wenxin-01 commented on #2902
Issue fixed in `kubespheredev/ks-installer:nightly-20220524`

[2022-05-25 09:40] #2902 closed

[2022-05-25 09:46] jioce commented on #3046
issue is not fixed
![image](https://user-images.githubusercontent.com/88183150/170231133-2bc51e26-f58b-4b2d-8dc3-162f9adc8e88.png)

version used
nightly-20220524

[2022-05-25 09:52] wenxin-01 commented on #2898
![image](https://user-images.githubusercontent.com/68640256/170234872-5bb86b14-5f68-4881-8d9f-0bf725ea79d2.png)
After the mouse is moved up, there will be no prompt information.

[2022-05-25 09:52] #2898 closed

[2022-05-25 09:53] jioce commented on #2982
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170235272-cf7704c0-2888-42ef-b95b-43c772aaefda.png)

version used
v3.3.0-rc.0

[2022-05-25 10:01] #3047 closed

[2022-05-25 10:05] #3074 closed

[2022-05-25 10:09] jioce commented on #2392
![image](https://user-images.githubusercontent.com/88183150/170238226-561d32c6-19e0-466f-ad61-ecdd0ba04daf.png)

version used
v3.3.0-rc.0

[2022-05-25 10:10] #3085 closed

[2022-05-25 10:11] #3157 closed

[2022-05-25 10:14] #3072 closed

[2022-05-25 15:55] #2982 closed

[2022-05-25 16:58] wenxin-01 opened #3309 "Shield the entry of gateway for cluster-viewer"
**Versions Used**
KubeSphere:
host : `kubespheredev/ks-installer:nightly-20220524`
member : `kubespheredev/ks-installer:nightly-20220524`

**Preconditions**
There is a user "wx", its platform role is  `Cluster Viewing` , and the role of member cluster is `cluster-admin.`

**Expected behavior**
Shield the entry of gateway for cluster-viewer

**Actual behavior**

<img width="1438" alt="image" src="h

[2022-05-26 07:32] harrisonliu5 commented on #3046
/kind need-to-verify

[2022-05-26 08:09] Patrick-LuoYu opened #3313 "Remove the first dialog box displayed during app template creation"
The first dialog box displayed during app template creation seems unnecessary and should be removed.

<img width="596" alt="image" src="https://user-images.githubusercontent.com/76198553/170446459-6a92c3cf-c1d3-4104-af5b-1b276f20144d.png">

/assign @VioZhang @harrisonliu5

[2022-05-27 02:43] wenxin-01 commented on #3046
Issue fixed in `console: harrisonliu5/ks-console:master`

![image](https://user-images.githubusercontent.com/68640256/170618307-1a5bd92e-e8c9-43b0-b97f-55581e07f66b.png)

[2022-05-27 02:43] #3046 closed

[2022-05-27 02:56] wenxin-01 commented on #3309
Issue fixed in 'harrisonliu5/ks-console:master'
![image](https://user-images.githubusercontent.com/68640256/170619862-ee7cd207-b299-46b4-9abb-396c0e0f1214.png)

[2022-05-27 02:56] #3309 closed

[2022-05-27 05:52] jioce commented on #3290
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170638606-b66ac1da-5664-4245-b689-64722a4f9344.png)

![image](https://user-images.githubusercontent.com/88183150/170638642-763ebf8f-f9b5-4d19-8a75-c35728c530b2.png)

version used
kubespheredev/ks-console:master

[2022-05-27 05:52] #3290 closed

[2022-05-27 10:53] Patrick-LuoYu opened #3319 "Remove the Alerting Message Management permission"
Users are note allowed to comment on or delete alerting messages. Therefore,  the **Alerting Message Management** permission should be removed.

KubeSphere version: v3.3.0-alpha.2

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/76198553/170686079-01d22cad-8d98-4cd7-b0ff-dd29a369a528.png">

[2022-05-27 10:53] Patrick-LuoYu commented on #3319
/assign @VioZhang @harrisonliu5 @wansir

[2022-05-30 02:30] wenxin-01 commented on #3265
Issue fixed  in `kubespheredev/ks-installer:nightly-20220524`

[2022-05-30 02:30] #3265 closed

[2022-05-30 02:54] wenxin-01 commented on #2286
Issue fixed in `v3.2.1`

[2022-05-30 02:54] #2286 closed

[2022-05-31 03:37] wenxin-01 opened #3324 "Password must be transmitted using encryption"
**Describe the bug**
<img width="1415" alt="image" src="https://user-images.githubusercontent.com/68640256/171087513-148a79f0-5285-4104-b2be-bdafc78c1a76.png">

<img width="1171" alt="image" src="https://user-images.githubusercontent.com/68640256/171087734-961b4de0-1956-4dd2-973a-59a47ef79dcf.png">

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:   `v3.3.0-rc.1`

**To Reproduce**
When changin

[2022-05-31 03:41] wenxin-01 opened #3325 "When uploading a file should limit the size of the file"
**Describe the bug**
Currently, there is no file size limit when uploading files. If the uploaded file is too large, the page will freeze.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-rc.1`

Some place like this.
![image](https://user-images.githubusercontent.com/68640256/171088194-1d214e13-6147-4de4-82e2-a7039d195223.png)

/priority medium
/assign @harrisonliu5

[2022-05-31 05:33] LinuxSuRen commented on #3298
/area devops

[2022-05-31 05:34] LinuxSuRen commented on #3298
/kind need-to-verify

[2022-05-31 05:35] LinuxSuRen commented on #3231
/area devops

[2022-05-31 05:38] LinuxSuRen commented on #3191
hi @VioZhang , as you mentioned in the title, `Optimize xxx`. But why do you give it a `bug` lable? IMO, they are conflicted with each other.

By the way, it would be easier to let other contributors know which issues are related to DevOps if you could give it a clear label.

/area devops

[2022-05-31 05:41] LinuxSuRen commented on #3042
See more details from https://github.com/kubesphere/ks-devops/issues/602

[2022-05-31 05:43] LinuxSuRen commented on #2962
See more details from https://github.com/kubesphere/ks-devops/issues/602

[2022-05-31 05:45] VioZhang opened #3326 "The user name could not be edited when we created the credentials at the "Import Code Repository" page."
**General remarks**

**Describe the bug**
A clear and concise description of what the bug is.
The user name could not be edited when we created the credentials at the "Import Code Repository" page.
And we should support creating the credential by the "user name and password",so we'd better fix it.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubu

[2022-05-31 05:45] LinuxSuRen commented on #2712
/area devops

[2022-05-31 05:49] LinuxSuRen commented on #2675
IMO, the response from @weili520 is good enough for the question. By the way, the GitHub issue is not a perfect place to ASK questions. Instead, users or contributors will report issues of the project.

And, this definitely is not a feature request. I'm going to remove the label `kind/feature`.

/kind-remove feature
/kind support
/close

[2022-05-31 05:49] #2675 closed

[2022-05-31 05:54] LinuxSuRen commented on #1228
/area devops

[2022-05-31 06:25] harrisonliu5 commented on #3191
/kind need-to-verify

[2022-05-31 06:28] LinuxSuRen opened #3327 "Request to load the Pipelines steps from an API"
**What would you like to be added**:
The Pipeline step component be able to load steps from an API. Make it be easier and possible to create (by contributor or end-users) more useful steps.

**Why is this needed**:
I have provided all the details about this in https://github.com/kubesphere/ks-devops/issues/602

/kind feature
/area devops

[2022-05-31 06:41] LinuxSuRen opened #3329 "Request to reuse the git repository selector on the Pipeline edit (create) page"
**What would you like to be added**:
Currently (since v3.3.0), the Pipeline and Git Repository management pages have the same way to select repositories. It would better if you can reuse it.

**Why is this needed**:

/area devops
/kind feature

[2022-05-31 07:20] jioce opened #3331 "App routes are not deleted after deleting the sample app"
**Describe the bug**
1、The project pro exists, the gateway is enabled, and the sample application is deployed
2、Delete the sample application, check the application route after the deletion is successful, the application route still exists
![image](https://user-images.githubusercontent.com/88183150/171115179-509794fe-3049-459b-9cf3-8ea9a5670f82.png)

![image](https://user-images.githubusercontent.

[2022-05-31 09:16] LinuxSuRen commented on #3191
/area console

[2022-05-31 09:17] LinuxSuRen commented on #450
/area console

[2022-05-31 09:19] LinuxSuRen commented on #2138
/area console

[2022-06-01 01:53] wenxin-01 opened #3334 "Service Account can not use in member-cluster(v3.3.0-rc.1)"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/171312190-56272b04-79d5-4871-9012-92eb45625b5a.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  cluster `v3.3.0-rc.1`
                        member `v3.3.0-rc.1`

/assign @harrisonliu5
/priority high

[2022-06-01 02:02] wenxin-01 opened #3335 "In member clusters below v3.3.0, some functions should be disabled and prompt to upgrade"
**Describe the bug**

`In versions lower than v3.3.0, the following functions are not supported. Need to shield the operation entrance.`

![image](https://user-images.githubusercontent.com/68640256/171312561-f0fa7c30-d17d-4641-acdd-906e0698e5d7.png)

![image](https://user-images.githubusercontent.com/68640256/171312793-11edf263-552a-47c6-a8f5-0daf8d449e4e.png)

<img width="960" alt="image" src="ht

[2022-06-01 02:52] harrisonliu5 commented on #3335
/assign @weili520

[2022-06-01 02:53] harrisonliu5 commented on #3334
/assign @weili520

[2022-06-01 07:18] jioce opened #3336 "Create a snapshot of the storage volume, the page is not refreshed"
**Describe the bug**
1、Go to the cluster details page, click Storage->Storage Volume Snapshot, and click Create
2、Select a storage volume, enter a name, select a snapshot type, and click Create
3、Wait for a while, the newly created snapshot is not displayed, the page is not refreshed
![image](https://user-images.githubusercontent.com/88183150/171349081-95b9ac8a-452a-4ddf-82be-c5f5d3cf3e31.png)

![

[2022-06-01 07:20] patrickluoyu opened #3337 "Remove the 'Manager' field on the 'Basic Information' page of a workspace"
The 'Manager' field on the 'Basic Information' page of a workspace is useless and should be removed. The `ws-admin` role can be assigned to any users on the 'Workspace Members' page and we do not need a duplicate feature on the 'Basic Information' page.

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/76198553/171349443-209fc84f-292e-4044-99c3-796ef637ee57.png">

<img

[2022-06-01 08:18] harrisonliu5 commented on #3205
/kind need-to-verify

[2022-06-02 01:59] harrisonliu5 commented on #3335
/kind need-to-verify

[2022-06-02 01:59] harrisonliu5 commented on #3336
/kind need-to-verify

[2022-06-02 03:43] wenxin-01 opened #3342 "Can not select image registry when create workload"
**Describe the bug**

![image](https://user-images.githubusercontent.com/68640256/171548563-753c0c50-ac5e-499b-95fa-ee4da125eafe.png)

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-rc.1`

[2022-06-03 15:45] exuan commented on #3342
`pointer-events: none;`
clicking does not modify  `DropdownContent` css class `is-active`

[2022-06-06 03:13] wenxin-01 commented on #3335
Issue fixed in `kubespheredev/ks-console:nightly-20220605`. Test in member-cluster with ks version v3.2.0 and v3.2.1.
![image](https://user-images.githubusercontent.com/68640256/172088320-767bb2ec-11f9-4d0e-9c21-491d3da806fe.png)
![image](https://user-images.githubusercontent.com/68640256/172088337-7a02d4c9-1856-49b6-8bc4-e4cbde52b4e4.png)

[2022-06-06 03:13] #3335 closed

[2022-06-06 03:16] wenxin-01 commented on #3205
Issue fixed  in `console:harrisonliu5/ks-console:oath`.

![image](https://user-images.githubusercontent.com/68640256/172088552-39c334b8-dd79-4f3e-8e8a-c41cc9495ab1.png)

[2022-06-06 03:16] #3205 closed

[2022-06-06 07:40] wenxin-01 commented on #3336
Issue not fixed in 'kubespheredev/ks-console:nightly-20220605'
@weili520

[2022-06-06 07:48] wenxin-01 commented on #3192
Issue fixed in `kubespheredev/ks-console:nightly-20220605`
![image](https://user-images.githubusercontent.com/68640256/172118543-fa0bf607-9914-473a-9582-7c494da6e0cb.png)

[2022-06-06 07:48] #3192 closed

[2022-06-06 07:50] #3182 closed

[2022-06-06 07:54] wenxin-01 commented on #3139
@harrisonliu5

[2022-06-06 08:00] wenxin-01 commented on #3057
Issue fixed in `kubespheredev/ks-console:nightly-20220605`

![image](https://user-images.githubusercontent.com/68640256/172120323-cdcb45ca-1bc5-4a39-bc0f-f5a814435328.png)

[2022-06-06 08:00] #3057 closed

[2022-06-06 08:18] wenxin-01 commented on #3053
Issue fixed in `kubespheredev/ks-console:nightly-20220605`

![image](https://user-images.githubusercontent.com/68640256/172123028-b548ace7-86af-43cc-8ceb-891cfc59d1ec.png)

[2022-06-06 08:18] #3053 closed

[2022-06-06 08:31] wenxin-01 commented on #3015
Issue fixed in `kubespheredev/ks-console:nightly-20220605`

[2022-06-06 08:31] #3015 closed

[2022-06-06 08:37] patrickluoyu opened #3347 "Workspace members with only the 'App Template Viewing' permission are allowed to replace Helm charts"
**Describe the bug**
Workspace members with only the 'App Template Viewing' permission are allowed to replace Helm charts.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-rc.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user and assign the role 'platform-regular' to the user.
2. In a workspace, create a role 'test' and assign only the permission 'App Template Viewin

[2022-06-06 08:37] harrisonliu5 commented on #3334
/kind need-to-verify

[2022-06-06 08:39] wenxin-01 commented on #3009
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172126586-2bfd11bb-fb36-43d2-b42a-994f936a2b6e.png)

[2022-06-06 08:39] #3009 closed

[2022-06-06 08:43] wenxin-01 commented on #2989
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172127333-b02af9fa-ddca-4412-8f75-7cb0ee4ac16d.png)

[2022-06-06 08:43] #2989 closed

[2022-06-06 08:45] wenxin-01 commented on #2987
Issue fixed in `kubespheredev/ks-console:nightly-20220605`

![image](https://user-images.githubusercontent.com/68640256/172127602-3b89d0e7-cf38-44f4-809a-b4a36e3b3742.png)

[2022-06-06 08:45] #2987 closed

[2022-06-06 08:48] wenxin-01 commented on #2875
Issue fixed https://github.com/kubesphere/kubesphere/issues/4783

[2022-06-06 08:48] #2875 closed

[2022-06-06 08:53] harrisonliu5 commented on #3342
/kind need-to-verify

[2022-06-06 08:57] weili520 commented on #3336
/remove need-to-verify

[2022-06-07 01:34] wenxin-01 commented on #2732
Issue fixed in `v3.3.0-rc.1`

[2022-06-07 01:34] #2732 closed

[2022-06-07 01:39] wenxin-01 commented on #2740
issue fixed in `v3.2.1`

[2022-06-07 01:39] #2740 closed

[2022-06-07 01:40] wenxin-01 commented on #2760
issue fixed in `v3.3.0-rc.1`

[2022-06-07 01:40] #2760 closed

[2022-06-07 01:43] wenxin-01 commented on #2771
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172277683-9c33e17a-db2d-446e-adf5-e1b8d43b738a.png)

[2022-06-07 01:43] #2771 closed

[2022-06-07 01:51] wenxin-01 commented on #2774
Issue fixed in `v3.3.0-rc.1`

[2022-06-07 01:51] #2774 closed

[2022-06-07 02:11] wenxin-01 opened #3349 "Batch stop workloads"
**Describe the bug**

We only support to batch stop `deployment` in the cluster details for now.
In my opition, we should support bath stop `workload(deployment,statefulsets,daemonets)` in `project details` and `cluster details`.

**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172280845-a6388608-6927-4f2d-b909-6e7bbb

[2022-06-07 02:15] wenxin-01 commented on #2776
issue fixed in `v3.3.0-rc.1`

![Uploading image.png…]()

[2022-06-07 02:15] #2776 closed

[2022-06-07 02:28] wenxin-01 commented on #2680
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172282729-ab3eda84-eb79-45a9-8284-e2c552e47821.png)

[2022-06-07 02:28] #2680 closed

[2022-06-07 02:34] wenxin-01 commented on #2713
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172283446-e369f04d-c7d9-432b-b7b8-e7895bc00812.png)

[2022-06-07 02:34] #2713 closed

[2022-06-07 02:35] wenxin-01 commented on #2723
Issue fixed in `v3.2.1`

[2022-06-07 02:35] #2723 closed

[2022-06-07 02:38] wenxin-01 commented on #2790
Issue fixed in `v3.3.0-rc.1`

[2022-06-07 02:38] #2790 closed

[2022-06-07 02:44] wansir commented on #3347
/priority medium

[2022-06-07 03:13] wenxin-01 commented on #2797
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172287896-c2da86f4-09ad-496c-a337-faa0ed998f7b.png)

[2022-06-07 03:13] #2797 closed

[2022-06-07 03:14] jioce commented on #1257
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/172287985-c4bd8833-b48c-4830-ace1-1fd1d54d7300.png)

version used
kubesphere: v3.3.0-rc.1

[2022-06-07 03:17] wenxin-01 commented on #2513
Issue fixed in `v3.3.0-rc.1`
![image](https://user-images.githubusercontent.com/68640256/172288334-75dc3578-3d18-4599-b2b8-dd3fc36ee1e6.png)

[2022-06-07 03:18] #2513 closed

[2022-06-07 03:18] jioce commented on #1639
issue is still exist
![image](https://user-images.githubusercontent.com/88183150/172288335-ee3d3f47-8e4b-4df1-97b5-ad1f2650a9b9.png)

version used
kubesphere: v3.3.0-rc.1

[2022-06-07 03:19] jioce commented on #2035
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/172288523-a094551e-5424-4018-94d7-6fb71fb4cd57.png)

version used
kubesphere：v3.3.0-rc.1

[2022-06-07 03:23] jioce commented on #2091
issue is still exist
![image](https://user-images.githubusercontent.com/88183150/172288924-ff2b32ca-e0cb-48b4-9c90-977adde77db0.png)

version used
kubesphere: v3.3.0-rc.1

[2022-06-07 03:24] wenxin-01 commented on #2516
Issue fixed in `v3.3.0-rc.1`

![image](https://user-images.githubusercontent.com/68640256/172289126-6b9cb5f9-e834-425c-a9c6-4638c8c86b9f.png)

[2022-06-07 03:24] #2516 closed

[2022-06-07 03:28] wenxin-01 commented on #2526
Issue fixed in `v3.2.1`

![image](https://user-images.githubusercontent.com/68640256/172289488-e8529655-5626-49db-b39c-8b4a02b1db7d.png)

[2022-06-07 03:28] #2526 closed

[2022-06-07 03:32] jioce commented on #2164
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/172290028-bd471a16-db35-428f-b8a0-c0232b6180f8.png)

version used
kubesphere: v3.3.0-rc.1

[2022-06-07 03:43] wenxin-01 commented on #2592
Support search the pod,workload(deployments,statefulsets,daemonsets) ,job,cronjob by the status in cluster and project details.
use ks-version: `v3.3.0-rc.1`
![image](https://user-images.githubusercontent.com/68640256/172289613-39927de0-1fb6-46ac-b413-a6c8283259ab.png)
![image](https://user-images.githubusercontent.com/68640256/172289707-2311e17a-1ddb-4d5b-96c9-6281086b76c9.png)
![image](https://u